<div class="left_icon_tag">
  <% if roles.include?(InventoryManagementSystem::SO_CUSTOMER_REGISTRATION_ADD) %>
    <span id="on_add_customer" addClass="iframe_1024x800"><span class="k-button" style="color: grey; background-color: white; cursor: default;">Add New Customer</span></span>
  <% else %>
    <span class="k-button" style="color: grey; background-color: white; cursor: default;">Add New Customer</span>
  <% end %>
</div>

<div class="icon_tag">
  
    <%= not_link_show %>
    <%= not_link_edit %>
    <%= not_link_kiv %>
    <%= not_link_printable %>
    <%= link_home_button %>

</div>