<h1>Listing packing_quantities</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Per</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @packing_quantities.each do |packing_quantity| %>
  <tr>
    <td><%= packing_quantity.quantity %></td>
    <td><%= packing_quantity.per %></td>
    <td><%= link_to 'Show', packing_quantity %></td>
    <td><%= link_to 'Edit', edit_packing_quantity_path(packing_quantity) %></td>
    <td><%= link_to 'Destroy', packing_quantity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Packing quantity', new_packing_quantity_path %>
