<%= form_for(@payment_received) do |f| %>
  <div id="valid_payment">
    <div class="popup_content">
      <table>
        <tr>
          <td><b>Trade Company</b></td>
          <td>
            <% if @payment_received.trade_company_id.present? %>
              <%= f.select "trade_company_id", options_for_select(trade_company_both_with_code, @payment_received.trade_company_id), { :include_blank => true }, { :class => "mkendo_combobox", :style => "width:400px;", "required validationMessage" => "Please Enter Trade Company" } %>
            <% else %>
              <%= f.select "trade_company_id", options_for_select(trade_company_both_with_code),                                     { :include_blank => true }, { :class => "mkendo_combobox", :style => "width:400px;", "required validationMessage" => "Please Enter Trade Company" } %>
            <% end %>
          </td>
          <td colspan="2"><span class="k-invalid-msg" data-for="payment_received[trade_company_id]"></span></td>
        </tr>
        
        <tr>
          <td><b>Payment Date</b></td>
          <td>
            <% if @payment_received.payment_date.present? %>
              <%= f.text_field :payment_date, :value => @payment_received.payment_date.strftime("%d-%m-%Y"), :class => "mkendo_date" %>
            <% else %>
              <%= f.text_field :payment_date, :value => Date.today.strftime("%d-%m-%Y"), :class => "mkendo_date", "required validationMessage" => "Please Enter Payment Date" %>
            <% end %>
            <span class="k-invalid-msg" data-for="payment_received[payment_date]"></span>
          </td>
        </tr>
        
        <tr>
          <td><b>Bank</b></td>
          <td><%= f.text_field :bank, :class => "k-textbox", "required validationMessage" => "Please Enter Bank" %></td>
        </tr>
        
        <tr>
          <td><b>Place</b></td>
          <td><%= f.text_field :place, :class => "k-textbox", "required validationMessage" => "Please Enter Place" %></td>
        </tr>
        
        <tr>
          <td><b>Cheque No</b></td>
          <td><%= f.text_field :cheque_no, :class => "k-textbox", "required validationMessage" => "Please Enter Cheque No." %></td>
        </tr>
        
        <tr>
          <td><b>Cheque Date</b></td>
          <td>
            <% if @payment_received.cheque_date.present? %>
              <%= f.text_field :cheque_date, :value => @payment_received.cheque_date.strftime("%d-%m-%Y"), :class => "mkendo_date", "required validationMessage" => "Please Enter Cheque Date" %>
            <% else %>
              <%= f.text_field :cheque_date, :value => Date.today.strftime("%d-%m-%Y"), :class => "mkendo_date", "required validationMessage" => "Please Enter Cheque Date" %>
            <% end %>
            <span class="k-invalid-msg" data-for="payment_received[cheque_date]"></span>
          </td>
        </tr>
        
        <tr>
          <td><b>Cheque Amount</b></td>
          <td>
            <%= f.text_field :cheque_amount, :class => "kendo_precision_2", "required validationMessage" => "Please Enter Cheque Amount" %>
            <span class="k-invalid-msg" data-for="payment_received[cheque_amount]"></span>
          </td>
        </tr>
        
        <tr>
          <td><b>Outport Cheque</b></td>
          <td><%= f.check_box :outport_cheque %></td>
        </tr>
        
        <tr>
          <td><b>Third Party Cheque</b></td>
          <td><%= f.check_box :third_party_cheque %></td>
        </tr>
        
        <tr>
          <td><b>Updated By</b></td>
          <td>
            <% if @payment_received.updated_by.present? %>
              <%= updater_name(@payment_received.updated_by) rescue '-' %>
            <% else %>
              <%= current_user.name %>
              <%= f.hidden_field :updated_by, :value => current_user.id %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <%= render "action_payment_received_entry" %>
  </div>
<% end %>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {   
        
        var validator = $("#valid_payment").kendoValidator().data("kendoValidator");
        
        $("#save_button").click(function() {
            var amount = parseFloat($("#payment_received_cheque_amount").val());
            if (amount <= 0.0000){ alert("You should key-in the Cheque Amount."); return false; }
            if (validator.validate()) { busyHours(); }
            else { alert("Invalid Data Form..."); return false; } 
        });
    });
  </script>
<% end %>


