<div id="searching">
  <%= form_for @search, :url => list_period_payment_receiveds_path do |f| %>
    <table>
      <tr>
        <td><b>Payment Date</b></td>
        <td>
          <% if @search.payment_date_gte.present? %>
            <%= f.text_field :payment_date_gte, :value => @search.payment_date_gte.strftime("%d-%m-%Y"), :include_blank => true, :class => "mkendo_date" %>
          <% else %>
            <%= f.text_field :payment_date_gte, :include_blank => true, :class => "mkendo_date" %>
          <% end %>
           - 
          <% if @search.payment_date_lte.present? %>
            <%= f.text_field :payment_date_lte, :value => @search.payment_date_lte.strftime("%d-%m-%Y"), :include_blank => true, :class => "mkendo_date" %>
          <% else %>
            <%= f.text_field :payment_date_lte, :include_blank => true, :class => "mkendo_date" %>
          <% end %>
        </td>
        <td><%= f.submit 'Search', :class => "k-button" %></td>
      </tr>
    </table>
  <% end %>
</div>