<table class="jgrid_popup zebraLight">
  <thead>
    <tr class="header_line">
      <th width="400">[SO No][Product ID][Description]</th>
      <th>SO Date</th>
      <th>Delivery Qty</th>
      <th>Order Qty</th>
      <th>Unit Price</th>
      <th>Balance Qty</th>
      <th>No. of Carton</th>
      <th>Current Stock</th>
      <th>Part No.</th>
      <th>Client's Lot#</th>
      <th>Client's P/O</th>
    </tr>
  </thead>

  <tbody>
    <% if items.present? %>

      <% items.each do |delivery| %>

        <tr class="<%= cycle('odd_line', 'even_line') %>">

          <td>[<%= delivery.sales_order_item.sales_order.sales_order_no rescue '-' %>][<%= delivery.sales_order_item.product.product_combobox.product_code rescue '-' %>][<%= delivery.sales_order_item.product.desc rescue '-' %>]</td>
          <td align="center"><%= delivery.so_date.strftime("%d-%m-%Y") rescue'-' %></td>
          <td align="center"><%= delivery.delivery_qty %></td>
          <td align="center"><%= delivery.order_qty %></td>
          <td align="center"><%= delivery.unit_price %></td>
          <td align="center"><%= delivery.balance_qty %></td>
          <td align="center"><%= delivery.no_of_carton %></td>
          <td align="center"><%= delivery.gen_current_stock %></td>
          <td align="center"><%= delivery.part_no %></td> 
          <td align="center"><%= delivery.client_lot %></td> 
          <td align="center"><%= delivery.client_po %></td> 
        </tr>

      <% end %>

    <% end %>
  </tbody>
</table>