<%= title_head "SHOW DELIVERY ORDER DETAIL" %>

<div class="table_details">
  <table>
    <tr>
      <td width="130"><b>D/O No#</b></td>
      <td><%= @delivery_order.do_no rescue '-' %></td>

      <td width="30"></td>

      <td width="130"><b>D/O Date</b></td>
      <td><%= @delivery_order.do_date.strftime("%d-%m-%Y") rescue '-' %></td>
    </tr>

    <tr>
      <td><b>Customer Company</b></td>
      <td><%= @delivery_order.trade_company.name rescue '-'%></td>
      <td></td>
      <td><b>Sales Tax</b></td>
      <td><%= number_to_percentage(@delivery_order.sales_tax, :precision => 0) rescue '-' %></td>
    </tr>

    <tr>
      <td><b>Type of Sales</b></td>
      <td><%= @delivery_order.type_of_sale.name rescue'-' %></td>
      <td></td>
      <td><b>Transport Charge</b></td>
      <td><%= two_precision(@delivery_order.tport_c) %></td>
    </tr>

    <tr>
      <td><b>Currency</b></td>
      <td><%= @delivery_order.currency.name rescue '-' %></td>
      <td></td>
      <td><b>BK. 2#</b></td>
      <td><%= @delivery_order.bk_two %></td>
    </tr>

    <tr>
      <td><b>Trade Term</b></td>
      <td><%= @delivery_order.trade_term.name rescue '-' %></td>
      <td></td>
      <td><b>Sales Rep.</b></td>
      <td><%= @delivery_order.sales_rep %></td>
      
    </tr>

    <tr>
      <td><b>Transport</b></td>
      <td><%= @delivery_order.transport.name rescue '-' %></td>
      <td></td>
      <td><b>Update By</b></td>
      <td><%= User.find(@delivery_order.updated_by).name rescue '-' %></td>
    </tr>

    <tr>
      <td><b>Sales Tax Exemp. No.</b></td>
      <td><%#= @delivery_order.sales_tax_exemption %></td>
    </tr>
  </table>
</div>

<hr/>
  
<% if @delivery_order.delivery_order_items.present? %>
  <div class="table_background"><%= render "do_items", :items => @delivery_order.delivery_order_items %></div>
<% else %>
  <div class="popup_form_table">Not Record Found</div>
<% end %>
  
<div class="icon_tag">
  <%= link_close_button %>
</div>

