<h1>Listing bill_of_materials</h1>

<table>
  <tr>
    <th>Bom no</th>
    <th>Type</th>
    <th>Sales order item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bill_of_materials.each do |bill_of_material| %>
  <tr>
    <td><%= bill_of_material.bom_no %></td>
    <td><%= bill_of_material.type %></td>
    <td><%= bill_of_material.sales_order_item_id %></td>
    <td><%= link_to 'Show', bill_of_material %></td>
    <td><%= link_to 'Edit', edit_bill_of_material_path(bill_of_material) %></td>
    <td><%= link_to 'Destroy', bill_of_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bill of material', new_bill_of_material_path %>
