<p id="notice"><%= notice %></p>

<p>
  <b>Bom no:</b>
  <%= @bill_of_material.bom_no %>
</p>

<p>
  <b>Type:</b>
  <%= @bill_of_material.type %>
</p>

<p>
  <b>Sales order item:</b>
  <%= @bill_of_material.sales_order_item_id %>
</p>


<%= link_to 'Edit', edit_bill_of_material_path(@bill_of_material) %> |
<%= link_to 'Back', bill_of_materials_path %>
