<p>
  <b>Code:</b>
  <%= @purchase_order_item.code %>
</p>

<p>
  <b>Unit measurement:</b>
  <%= @purchase_order_item.unit_measurement.code rescue '-' %>
</p>

<p>
  <b>Desc:</b>
  <%= @purchase_order_item.desc %>
</p>

<p>
  <b>Color grade:</b>
  <%= @purchase_order_item.color_grade %>
</p>

<p>
  <b>Version:</b>
  <%= @purchase_order_item.version %>
</p>

<p>
  <b>Model:</b>
  <%= @purchase_order_item.model %>
</p>

<p>
  <b>Part no:</b>
  <%= @purchase_order_item.part_no %>
</p>

<p>
  <b>Tariff code:</b>
  <%= @purchase_order_item.tariff_code %>
</p>

<p>
  <b>Part weight:</b>
  <%= @purchase_order_item.part_weight %>
</p>

<p>
  <b>Selling price:</b>
  <%= @purchase_order_item.selling_price %>
</p>

<p>
  <b>Cutoff date:</b>
  <%= @purchase_order_item.cutoff_date %>
</p>

<p>
  <b>Opening stock:</b>
  <%= @purchase_order_item.opening_stock %>
</p>

<p>
  <b>Current stock:</b>
  <%= @purchase_order_item.current_stock %>
</p>


<%= link_to 'Edit', edit_purchase_order_item_path(@purchase_order_item) %> |
<%= link_to 'Back', purchase_order_items_path %>
