<%#*<table>%>
  <% if checkboxes.present? %>
  
    <% if action_name == "show" %>

      <tr>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::TRADE_COMPANY_MENU) %> Trade Company</td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::VENDOR_LISTING) %> Suppliers</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::VENDOR_NEW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::VENDOR_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::VENDOR_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::VENDOR_ACTION_KIV) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::VENDOR_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::VENDOR_KIV) %> Vendors - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::VENDOR_KIV_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::VENDOR_KIV_RECOVER) %></td>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::CUSTOMER_LISTING) %> Customers</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::CUSTOMER_NEW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::CUSTOMER_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::CUSTOMER_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::CUSTOMER_ACTION_KIV) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::CUSTOMER_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>

      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::CUSTOMER_KIV) %> Customers - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::CUSTOMER_KIV_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::CUSTOMER_KIV_RECOVER) %></td>
      </tr>

    <% else %>

      <tr>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::TRADE_COMPANY_MENU) %> Trade Company</td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::VENDOR_LISTING) %> Suppliers</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::VENDOR_NEW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::VENDOR_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::VENDOR_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::VENDOR_ACTION_KIV) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::VENDOR_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::VENDOR_KIV) %> Vendors - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::VENDOR_KIV_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::VENDOR_KIV_RECOVER) %></td>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::CUSTOMER_LISTING) %> Customers</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::CUSTOMER_NEW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::CUSTOMER_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::CUSTOMER_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::CUSTOMER_ACTION_KIV) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::CUSTOMER_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>

      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::CUSTOMER_KIV) %> Customers - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::CUSTOMER_KIV_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::CUSTOMER_KIV_RECOVER) %></td>
      </tr>

    <% end %>
    
  <% else %>
    
      <tr>
        <td></td>
        <td><%= ims_new(InventoryManagementSystem::TRADE_COMPANY_MENU) %> Trade Company</td>
        <td><%= ims_new(InventoryManagementSystem::VENDOR_LISTING) %> Suppliers</td>
        <td align="center"><%= ims_new(InventoryManagementSystem::VENDOR_NEW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::VENDOR_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::VENDOR_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::VENDOR_ACTION_KIV) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::VENDOR_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_new(InventoryManagementSystem::VENDOR_KIV) %> Vendors - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_new(InventoryManagementSystem::VENDOR_KIV_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::VENDOR_KIV_RECOVER) %></td>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_new(InventoryManagementSystem::CUSTOMER_LISTING) %> Customers</td>
        <td align="center"><%= ims_new(InventoryManagementSystem::CUSTOMER_NEW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::CUSTOMER_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::CUSTOMER_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::CUSTOMER_ACTION_KIV) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::CUSTOMER_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>

      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_new(InventoryManagementSystem::CUSTOMER_KIV) %> Customers - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_new(InventoryManagementSystem::CUSTOMER_KIV_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::CUSTOMER_KIV_RECOVER) %></td>
      </tr>
    
  <% end %>
<%#*</table>%>