<%#*<table>%>    
  <% if checkboxes.present? %>
    <% if action_name == "show" %>
  
      <tr>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_MENU) %> Receive Notes</td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %> Receive Notes Data</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_NEW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_KIV) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_PRINTABLE) %></td>
        <% 4.times do |td| %><td></td><% end %>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_COMPLETED_VIEW) %> RN Completed View</td>
        <td></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_COMPLETED_VIEW_SHOW) %></td>
        <% 7.times do |td| %><td></td><% end %>
      </tr>
  
    <% else %>
  
      <tr>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_MENU) %> Receive Notes</td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %> Receive Notes Data</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_NEW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_KIV) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_PRINTABLE) %></td>
        <% 4.times do |td| %><td></td><% end %>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_COMPLETED_VIEW) %> RN Completed View</td>
        <td></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::RECEIVE_NOTE_COMPLETED_VIEW_SHOW) %></td>
        <% 7.times do |td| %><td></td><% end %>
      </tr>
      
    <% end %>
    
  <% else %>
    
      <tr>
        <td></td>
        <td><%= ims_new(InventoryManagementSystem::RECEIVE_NOTE_MENU) %> Receive Notes</td>
        <td><%= ims_new(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %> Receive Notes Data</td>
        <td align="center"><%= ims_new(InventoryManagementSystem::RECEIVE_NOTE_NEW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_KIV) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION_PRINTABLE) %></td>
        <% 4.times do |td| %><td></td><% end %>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td><%= ims_new(InventoryManagementSystem::RECEIVE_NOTE_COMPLETED_VIEW) %> RN Completed View</td>
        <td></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::RECEIVE_NOTE_COMPLETED_VIEW_SHOW) %></td>
        <% 7.times do |td| %><td></td><% end %>
      </tr>
    
  <% end %>
<%#*</table>%>