 <% if checkboxes.present? %>

    <% if action_name == "show" %>
    <tr>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_MENU, checkboxes.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_MENU), :disabled => true %> Purchase Requisition</td>

    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT), :disabled => true %> PR Purchase by Creditors</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_PRINT), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_EXCEL), :disabled => true %></td>
  </tr>

  
  <tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS, checkboxes.include?(InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS), :disabled => true %> PR Monthly Purchase Analyisis</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_SHOW, checkboxes.include?(InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_PRINT, checkboxes.include?(InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_PRINT), :disabled => true %></td>
    
    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_EXCEL, checkboxes.include?(InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_EXCEL), :disabled => true %></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_REQUISITION_REPORT, checkboxes.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT), :disabled => true %> Purchase Requisition Report </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_PRINT), :disabled => true %></td>
    
    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_EXCEL), :disabled => true %></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION), :disabled => true %> PR Purchase Part Transaction</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_PRINT, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_PRINT), :disabled => true %></td>
    
    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_EXCEL, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_EXCEL), :disabled => true %></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR, checkboxes.include?(InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR), :disabled => true %> PR Prod Type Purc By Vendor</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_SHOW, checkboxes.include?(InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_PRINT, checkboxes.include?(InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_PRINT), :disabled => true %></td>
    
    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_EXCEL, checkboxes.include?(InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_EXCEL), :disabled => true %></td>
  </tr>


    <% else %>  <!--  edit part -->


    <tr>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_MENU, checkboxes.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_MENU) %>Purchase Requisition Report</td>

    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT) %> PR Purchase by Creditors</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_SHOW) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_PRINT) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_EXCEL) %></td>
 

  
  <tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS, checkboxes.include?(InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS) %> PR Monthly Purchase Analyisis</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_SHOW, checkboxes.include?(InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_SHOW) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_PRINT, checkboxes.include?(InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_PRINT) %></td>
    
    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_EXCEL, checkboxes.include?(InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_EXCEL) %></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION) %> PR Purchase Part Transaction</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_SHOW) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_PRINT, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_PRINT) %></td>
    
    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_EXCEL, checkboxes.include?(InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_EXCEL) %></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR, checkboxes.include?(InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR) %> PR Prod Type Purc By Vendor</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_SHOW, checkboxes.include?(InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_SHOW) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_PRINT, checkboxes.include?(InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_PRINT) %></td>
    
    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_EXCEL, checkboxes.include?(InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_EXCEL) %></td>
  </tr>

  </tr>
  <% end %>
     <% else %>  <!-- new part -->

    <tr>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_REQUISITION_REPORT %>Purchase Requisition Report</td>

    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT %> PR Purchase by Creditors</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_SHOW %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_PRINT %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_BY_CREDITORS_REPORT_EXCEL %></td>
 

  
  <tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS %> PR Monthly Purchase Analyisis</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_SHOW %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_PRINT %></td>
    
    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MONTHLY_PURCHASE_ANALYSIS_EXCEL %></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION %> PR Purchase Part Transaction</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_SHOW%></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_PRINT %></td>
    
    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PURCHASE_PART_TRANSACTION_EXCEL %></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR %> PR Prod Type Purc By Vendor</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_SHOW %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_PRINT %></td>
    
    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_PROD_TYPE_PURC_BY_VENDOR_EXCEL %></td>
  </tr>

  </tr>
  

<% end %>
        <%# 10.times do |td| %>
  


    <%# elsif action_name == "" %>
    


<!--   LISTING_COMPANY_REPORT                            
  LISTING_PRICE_REPORT                            
  LISTING_CATEGORY_REPORT                           
  LISTING_CUSTOMER_REPORT                           -->