<% if checkboxes.present? %>
  <% if action_name == "show" %>
      <tr>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRICE_CONTROL_MENU) %> Product Price Controls</td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_LISTING) %> Product Price Controls Data - Customers</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_NEW) %></td>
        <% 6.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_HISTORY) %></td>
      </tr>
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRICE_CONTROL_VENDOR_LISTING) %> Product Price Controls Data - Suppliers</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRICE_CONTROL_VENDOR_NEW) %></td>
        <% 6.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRICE_CONTROL_VENDOR_HISTORY) %></td>
      </tr>       
  <% else %>
      <tr>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRICE_CONTROL_MENU) %> Product Price Controls</td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_LISTING) %> Product Price Controls Data - Customers</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_NEW) %></td>
        <% 6.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_HISTORY) %></td>
      </tr>
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRICE_CONTROL_VENDOR_LISTING) %> Product Price Controls Data - Suppliers</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRICE_CONTROL_VENDOR_NEW) %></td>
        <% 6.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRICE_CONTROL_VENDOR_HISTORY) %></td>
      </tr>
  <% end %>
<% else %>
    <tr>
      <td></td>
      <td><%= ims_new(InventoryManagementSystem::PRICE_CONTROL_MENU) %> Product Price Controls</td>
      <td><%= ims_new(InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_LISTING) %> Product Price Controls Data - Customers</td>
      <td align="center"><%= ims_new(InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_NEW) %></td>
      <% 6.times do |td| %><td></td><% end %>
      <td align="center"><%= ims_new(InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_HISTORY) %></td>
    </tr>
    <tr>
      <% 2.times do |td| %><td></td><% end %>
      <td><%= ims_new(InventoryManagementSystem::PRICE_CONTROL_VENDOR_LISTING) %> Product Price Controls Data - Suppliers</td>
      <td align="center"><%= ims_new(InventoryManagementSystem::PRICE_CONTROL_VENDOR_NEW) %></td>
      <% 6.times do |td| %><td></td><% end %>
      <td align="center"><%= ims_new(InventoryManagementSystem::PRICE_CONTROL_VENDOR_HISTORY) %></td>
    </tr>
<% end %>