<%#*<table>%>
  <% if checkboxes.present? %>

    <% if action_name == "show" %>
      
      <!-- NON OPERATION -->
      <tr>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_MENU) %> Product</td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION) %> Open Non Operation</td>
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_COMMON) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_COPY)%></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_KIV) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::KIV_PRODUCT_NON_OPERATION) %> OPEN NON OPERATION KIV</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_RECOVER) %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- OPERATION -->
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION) %> OPEN OPERATION</td>
        
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_GROUP) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_GROUP_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_FILE) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_FILE_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_COMMON) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_COPY) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_KIV) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::KIV_PRODUCT_OPERATION) %> OPEN OPERATION KIV</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_RECOVER) %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- FINISH GOODS -->
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD) %> OPEN FINISH GOODS</td>
        
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_COMMON) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_COPY) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_KIV) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::KIV_PRODUCT_FINISH_GOOD) %> OPEN FINISH GOODS KIV</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_RECOVER) %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>
  
    <% else %> <!-- Edit Function -->
  
      <!-- NON OPERATION -->
      <tr>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_MENU) %> PRODUCT</td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION) %> OPEN NON OPERATION</td>
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_COMMON) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_COPY)%></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_KIV) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::KIV_PRODUCT_NON_OPERATION) %> OPEN NON OPERATION KIV</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_NON_OPERATION_RECOVER) %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- OPERATION -->
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION) %> OPEN OPERATION</td>
        
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_GROUP) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_GROUP_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_FILE) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_FILE_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_COMMON) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_COPY) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_KIV) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::KIV_PRODUCT_OPERATION) %> OPEN OPERATION KIV</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_OPERATION_RECOVER) %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- FINISH GOODS -->
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD) %> OPEN FINISH GOODS</td>
        
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_COMMON) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_COPY) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_KIV) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::KIV_PRODUCT_FINISH_GOOD) %> OPEN FINISH GOODS KIV</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::PRODUCT_FINISH_GOOD_RECOVER) %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>
      
    <% end %>

  <% else %> <!-- Create New -->
    
      <!-- NON OPERATION -->
      <tr>
        <td></td>
        <td><%= ims_new(InventoryManagementSystem::PRODUCT_MENU) %> PRODUCT</td>
        <td><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION) %> OPEN NON OPERATION</td>
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_COMMON) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_COPY)%></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_KIV) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_new(InventoryManagementSystem::KIV_PRODUCT_NON_OPERATION) %> OPEN NON OPERATION KIV</td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_NON_OPERATION_RECOVER) %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- OPERATION -->
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION) %> OPEN OPERATION</td>
        
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_GROUP) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_GROUP_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_FILE) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_FILE_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_COMMON) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_COPY) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_KIV) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_new(InventoryManagementSystem::KIV_PRODUCT_OPERATION) %> OPEN OPERATION KIV</td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_OPERATION_RECOVER) %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- FINISH GOODS -->
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD) %> OPEN FINISH GOODS</td>
        
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_COMMON) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_COPY) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_KIV) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= ims_new(InventoryManagementSystem::KIV_PRODUCT_FINISH_GOOD) %> OPEN FINISH GOODS KIV</td>
        <td align="center"><%= ims_new(InventoryManagementSystem::PRODUCT_FINISH_GOOD_RECOVER) %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>

  <% end %>
<%#*</table>%>