<%#*<table>%>
  <% if checkboxes.present? %>

    <% if action_name == "show" %>
      
      <!-- NON OPERATION -->
      <tr>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_MENU, checkboxes.include?(InventoryManagementSystem::PRODUCT_MENU), :disabled => true %> PRODUCT</td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION), :disabled => true %> OPEN NON OPERATION</td>
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP_EDIT), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP_EDIT), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE_EDIT), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_KIV, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_KIV), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_DELETE, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_DELETE), :disabled => true %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::KIV_PRODUCT_NON_OPERATION, checkboxes.include?(InventoryManagementSystem::KIV_PRODUCT_NON_OPERATION), :disabled => true %> OPEN NON OPERATION KIV</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_RECOVER, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_RECOVER), :disabled => true %></td>
        <% 8.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- OPERATION -->
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION), :disabled => true %> OPEN OPERATION</td>
        
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_GROUP), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_GROUP_EDIT), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP_EDIT), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_FILE, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_FILE), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_FILE_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_FILE_EDIT), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_KIV, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_KIV), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_DELETE, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_DELETE), :disabled => true %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::KIV_PRODUCT_OPERATION, checkboxes.include?(InventoryManagementSystem::KIV_PRODUCT_OPERATION), :disabled => true %> OPEN OPERATION KIV</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_RECOVER, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_RECOVER), :disabled => true %></td>
        <% 8.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- FINISH GOODS -->
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD), :disabled => true %> OPEN FINISH GOODS</td>
        
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP_EDIT), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP_EDIT), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE_EDIT), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_KIV, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_KIV), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_DELETE, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_DELETE), :disabled => true %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::KIV_PRODUCT_FINISH_GOOD, checkboxes.include?(InventoryManagementSystem::KIV_PRODUCT_FINISH_GOOD), :disabled => true %> OPEN FINISH GOODS KIV</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_RECOVER, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_RECOVER), :disabled => true %></td>
        <% 8.times do |td| %><td></td><% end %>
      </tr>
  
    <% else %> <!-- Edit Function -->
  
     <!-- NON OPERATION -->
      <tr>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_MENU, checkboxes.include?(InventoryManagementSystem::PRODUCT_MENU) %> PRODUCT</td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION) %> OPEN NON OPERATION</td>
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP_EDIT) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE_EDIT) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_KIV, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_KIV) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_DELETE, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::KIV_PRODUCT_NON_OPERATION, checkboxes.include?(InventoryManagementSystem::KIV_PRODUCT_NON_OPERATION) %> OPEN NON OPERATION KIV</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_RECOVER, checkboxes.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_RECOVER) %></td>
        <% 8.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- OPERATION -->
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION) %> OPEN OPERATION</td>
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_GROUP) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_GROUP_EDIT) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_FILE, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_FILE) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_FILE_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_FILE_EDIT) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_KIV, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_KIV) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_DELETE, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::KIV_PRODUCT_OPERATION, checkboxes.include?(InventoryManagementSystem::KIV_PRODUCT_OPERATION) %> OPEN OPERATION KIV</td>

        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_RECOVER, checkboxes.include?(InventoryManagementSystem::PRODUCT_OPERATION_RECOVER) %></td>
        <% 8.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- FINISH GOODS -->
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD) %> OPEN FINISH GOODS</td>
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP_EDIT) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP_EDIT) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE_EDIT, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE_EDIT) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_KIV, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_KIV) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_DELETE, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_DELETE) %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::KIV_PRODUCT_FINISH_GOOD, checkboxes.include?(InventoryManagementSystem::KIV_PRODUCT_FINISH_GOOD) %> OPEN FINISH GOODS KIV</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_RECOVER, checkboxes.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_RECOVER) %></td>
        <% 8.times do |td| %><td></td><% end %>
      </tr>
      
    <% end %>

  <% else %> <!-- Create New -->
    
      <!-- NON OPERATION -->
      <tr>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_MENU %> PRODUCT</td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION %> OPEN NON OPERATION</td>
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_SUB_GROUP_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_FILE_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_KIV %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_DELETE %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::KIV_PRODUCT_NON_OPERATION %> OPEN NON OPERATION KIV</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_NON_OPERATION_RECOVER %></td>
        <% 8.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- OPERATION -->
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION %> OPEN OPERATION</td>
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_GROUP %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_GROUP_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_SUB_GROUP_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_FILE %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_FILE_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_KIV %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_DELETE %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::KIV_PRODUCT_OPERATION %> OPEN OPERATION KIV</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_OPERATION_RECOVER %></td>
        <% 8.times do |td| %><td></td><% end %>
      </tr>
      
      <!-- FINISH GOODS -->
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD %> OPEN FINISH GOODS</td>
        <% 1.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_SUB_GROUP_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_FILE_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_KIV %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_DELETE %></td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::KIV_PRODUCT_FINISH_GOOD %> OPEN FINISH GOODS KIV</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_FINISH_GOOD_RECOVER %></td>
        <% 8.times do |td| %><td></td><% end %>
      </tr>

  <% end %>
<%#*</table>%>