<%#*<table>%>
    <% if checkboxes.present? %>
  
      <% if action_name == "show" %>
  
        <tr>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_MODULE, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_MODULE), :disabled => true %> Formulation For All</td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_INDEX, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_INDEX), :disabled => true %> Listing Formulation For all</td>
          <td></td><td><%#= "save" %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_SHOW, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_SHOW), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_EDIT, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_EDIT), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_DROP_KIV, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_DROP_KIV), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_PRINTABLE, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_PRINTABLE), :disabled => true %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <td></td>
          <td></td>
          <td>New Formulation</td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_NEW, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_NEW), :disabled => true %></td>
          <td><%#= "save" %></td>
          <% 10.times do |td| %><td></td><% end %>
        </tr>
        
      <% else %>
        
        <tr>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_MODULE, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_MODULE) %> Formulation For All</td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_INDEX, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_INDEX) %> Listing Formulation For all</td>
          <td></td><td><%#= "save" %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_SHOW, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_SHOW) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_EDIT, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_EDIT) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_DROP_KIV, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_DROP_KIV) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_PRINTABLE, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_PRINTABLE) %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <td></td>
          <td></td>
          <td>New Formulation</td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_NEW, checkboxes.include?(InventoryManagementSystem::FORMULATION_FOR_ALL_NEW) %></td>
          <td><%#= "save" %></td>
          <% 10.times do |td| %><td></td><% end %>
        </tr>
      
      <% end %>
      
    <% else %>
        
        <tr>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_MODULE %> Formulation For All</td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_INDEX %> Listing Formulation For all</td>
          <td></td><td><%#= "save" %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_SHOW %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_EDIT %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_DROP_KIV %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_PRINTABLE %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <td></td>
          <td></td>
          <td>New Formulation</td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::FORMULATION_FOR_ALL_NEW %></td>
          <td><%#= "save" %></td>
          <% 10.times do |td| %><td></td><% end %>
        </tr>

    <% end %>

<%#*</table>%>