<%#*<table>%>
  <% if checkboxes.present? %>
    <% if action_name == "show" %>
  
      <tr>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_MENU, checkboxes.include?(InventoryManagementSystem::INVENTORY_MENU), :disabled => true %> Inventory</td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_NEW, checkboxes.include?(InventoryManagementSystem::INVENTORY_NEW), :disabled => true %> Inventory New</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_NEW_ADD, checkboxes.include?(InventoryManagementSystem::INVENTORY_NEW_ADD), :disabled => true %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION), :disabled => true %> Inventory Transaciton</td>
        <td></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_SHOW), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_EDIT, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_EDIT), :disabled => true %></td>
        <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_KIV , checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_KIV ), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_PRINTABLE, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_PRINTABLE), :disabled => true %></td>
        <% 6.times do |td| %><td></td><% end %>
      </tr>

      <!--tr>
        <td></td>
        <td><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_KIV_VIEW, checkboxes.include?(InventoryManagementSystem::INVENTORY_KIV_VIEW), :disabled => true %> Inventory KIV</td>
        <td></td><td></td><td></td><td></td><td></td>
        <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_KIV_SHOW, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_KIV_SHOW), :disabled => true %></td>
        <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_KIV_RECOVER, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_KIV_RECOVER), :disabled => true %></td>
        <td></td><td></td>
      </tr-->
  
    <% else %>
  
      <tr>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_MENU, checkboxes.include?(InventoryManagementSystem::INVENTORY_MENU) %> Inventory</td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_NEW, checkboxes.include?(InventoryManagementSystem::INVENTORY_NEW) %> Inventory New</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_NEW_ADD, checkboxes.include?(InventoryManagementSystem::INVENTORY_NEW_ADD) %></td>
        <% 10.times do |td| %><td></td><% end %>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION) %> Inventory Transaciton</td>
        <td></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_SHOW) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_EDIT, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_EDIT) %></td>
        <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_KIV , checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_KIV ) %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_PRINTABLE, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_PRINTABLE) %></td>
        <% 6.times do |td| %><td></td><% end %>
      </tr>

      <!--tr>
        <td></td>
        <td><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_KIV_VIEW, checkboxes.include?(InventoryManagementSystem::INVENTORY_KIV_VIEW) %> Inventory KIV</td>
        <td></td><td></td><td></td><td></td><td></td>
        <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_KIV_SHOW, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_KIV_SHOW) %></td>
        <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_KIV_RECOVER, checkboxes.include?(InventoryManagementSystem::INVENTORY_TRANSACTION_KIV_RECOVER) %></td>
        <td></td><td></td>
      </tr-->
      
    <% end %>

  <% else %>
    
    <tr>
      <td></td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_MENU %> Inventory</td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_NEW %> Inventory New</td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_NEW_ADD %></td>
      <% 10.times do |td| %><td></td><% end %>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION %> Inventory Transaciton</td>
      <td></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_SHOW %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_EDIT %></td>
      <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_KIV %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_PRINTABLE %></td>
      <% 6.times do |td| %><td></td><% end %>
    </tr>

    <!--tr>
      <td></td>
      <td><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_KIV_VIEW %> Inventory KIV</td>
      <td></td><td></td><td></td><td></td><td></td>
      <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_KIV_SHOW %></td>
      <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_TRANSACTION_KIV_RECOVER %></td>
      <td></td><td></td>
    </tr-->

  <% end %>
<%#*</table>%>