 <% if checkboxes.present? %>

    <% if action_name == "show" %>
    <tr>
        <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_REQUISITION_REPORT, checkboxes.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT), :disabled => true %> Purchase Requisition Report</td>

    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_REPORT, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_REPORT), :disabled => true %> Purchase order Report</td>

    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PRODUCT_REPORT, checkboxes.include?(InventoryManagementSystem::PRODUCT_REPORT), :disabled => true %> Product Report</td>

    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::INVENTORY_REPORT, checkboxes.include?(InventoryManagementSystem::INVENTORY_REPORT), :disabled => true %> Inventory Report</td>

 		<td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::RECEIVE_NOTE_REPORT, checkboxes.include?(InventoryManagementSystem::RECEIVE_NOTE_REPORT), :disabled => true %> Receive Note Report</td>

 		<td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::DELIVERY_ORDER_REPORT, checkboxes.include?(InventoryManagementSystem::DELIVERY_ORDER_REPORT), :disabled => true %> Delivery Order Report</td>

		<td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SALES_ORDER_REPORT, checkboxes.include?(InventoryManagementSystem::SALES_ORDER_REPORT), :disabled => true %> Sales Order Report</td>

 		<td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::ACCOUNT_REPORT, checkboxes.include?(InventoryManagementSystem::ACCOUNT_REPORT), :disabled => true %> Account Report</td>

  	<td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SALES_TAX_EXEMPTION_REPORT, checkboxes.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_REPORT), :disabled => true %> Sales Tax Exemption Report</td>

   	<td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::LISTING_REPORT, checkboxes.include?(InventoryManagementSystem::LISTING_REPORT), :disabled => true %> Listing Report</td>
        <%# 10.times do |td| %><td></td><% end %>
      </tr>


    <%# elsif action_name == "" %>
    
<% end %>

<!--   LISTING_COMPANY_REPORT                            
  LISTING_PRICE_REPORT                            
  LISTING_CATEGORY_REPORT                           
  LISTING_CUSTOMER_REPORT                           -->