<%#*<table>%>
  <% if checkboxes.present? %>

    <% if action_name == "show" %>

      <tr>
        <td></td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL) %> A/C General</td>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_INDEX) %> JV Debtor</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_ADD) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV_INDEX) %> JV Debtor - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV_RECOVER) %></td>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_INDEX) %> JV Creditor</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_ADD) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV_INDEX) %> JV Creditor - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV_RECOVER) %></td>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_INDEX) %> JV General</td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_ADD) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_EDIT) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_KIV) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_KIV_INDEX) %> JV General - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_KIV_SHOW) %></td>
        <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_KIV_RECOVER) %></td>
      </tr>
  
    <% else %>
      
      <tr>
        <td></td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL) %> A/C General</td>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_INDEX) %> JV Debtor</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_ADD) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV_INDEX) %> JV Debtor - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV_RECOVER) %></td>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_INDEX) %> JV Creditor</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_ADD) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV_INDEX) %> JV Creditor - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV_RECOVER) %></td>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_INDEX) %> JV General</td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_ADD) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_EDIT) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_KIV) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_KIV_INDEX) %> JV General - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_KIV_SHOW) %></td>
        <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::AC_GENERAL_JV_KIV_RECOVER) %></td>
      </tr>
  
    <% end %>

  <% else %> <!-- Create New -->
  
      <tr>
        <td></td>
        <td><%= ims_new(InventoryManagementSystem::AC_GENERAL) %> A/C General</td>
        <td><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_INDEX) %> JV Debtor</td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_ADD) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV_INDEX) %> JV Debtor - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_KIV_RECOVER) %></td>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_INDEX) %> JV Creditor</td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_ADD) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV_INDEX) %> JV Creditor - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_KIV_RECOVER) %></td>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_INDEX) %> JV General</td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_ADD) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_EDIT) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_KIV) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_PRINTABLE) %></td>
        <% 2.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <% 2.times do |td| %><td></td><% end %>
        <td><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_KIV_INDEX) %> JV General - KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_KIV_SHOW) %></td>
        <td align="center"><%= ims_new(InventoryManagementSystem::AC_GENERAL_JV_KIV_RECOVER) %></td>
      </tr>
    
  <% end %>
<%#*</table>%>