<%#*<table>%>    
  <% if checkboxes.present? %>
    <% if action_name == "show" %>
  
        <tr>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_MENU, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_MENU), :disabled => true %> PURCHASE ORDER</td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR), :disabled => true %> Approved From PR</td>
          <td></td><td><%#= "save" %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR_SHOW, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR_SHOW), :disabled => true %></td>
          <% 9.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR), :disabled => true %> New PR-Repair</td>
          <td></td><td><%#= "save" %></td>
          <% 6.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_APPLY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_APPLY), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_SUBMIT_TO, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_SUBMIT_TO), :disabled => true %></td>
          <% 2.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR), :disabled => true %> Proposed Vendor</td>
          <td></td><td><%#= "save" %></td>
          <% 6.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_APPLY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_APPLY), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_SUBMIT_TO, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_SUBMIT_TO), :disabled => true %></td>
          <% 2.times do |td| %><td></td><% end %>
        </tr>

       <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION), :disabled => true %> Vendor Selection</td>
          <td></td><td><%#= "save" %></td>
          <% 6.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION_APPLY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION_APPLY), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION_SUBMIT_TO, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION_SUBMIT_TO), :disabled => true %></td>
          <% 2.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION), :disabled => true %> Vendor Registration</td>
          <td></td><td><%#= "save" %></td>
          <% 6.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION_APPLY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION_APPLY), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION_SUBMIT_TO, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION_SUBMIT_TO), :disabled => true %></td>
          <% 2.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_ENTRY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY), :disabled => true %> PO Entry</td>
          <td></td><td><%#= "save" %></td>
          <% 6.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_ENTRY_APPLY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY_APPLY), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_ENTRY_SUBMIT_TO, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY_SUBMIT_TO), :disabled => true %></td>
          <% 2.times do |td| %><td></td><% end %>
        </tr>

       <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION), :disabled => true %> PO Transactions & Histories</td>
          <td></td><td><%#= "save" %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_PRINTABLE, checkboxes.include?(InventoryManagementSystem::  PURCHASE_ORDER_TRANSACTION_PRINTABLE), :disabled => true %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_KIV_VIEW, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_KIV_VIEW), :disabled => true %> PO Transactions & Histories - KIV</td>
          <td></td><td><%#= "save" %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_PRINTABLE, checkboxes.include?(InventoryManagementSystem::  PURCHASE_ORDER_TRANSACTION_PRINTABLE), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PO_KIV_SHOW, checkboxes.include?(InventoryManagementSystem::PO_KIV_SHOW), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PO_KIV_RECOVER, checkboxes.include?(InventoryManagementSystem::PO_KIV_RECOVER), :disabled => true %></td>
          <% 4.times do |td| %><td></td><% end %>
        </tr>
  
    <% else %>
  
       <tr>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_MENU, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_MENU) %> PURCHASE ORDER</td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR) %> Approved From PR</td>
          <td></td><td><%#= "save" %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR_SHOW, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR_SHOW) %></td>
          <% 9.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR) %> New PR-Repair</td>
          <td></td><td><%#= "save" %></td>
          <% 6.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_APPLY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_APPLY) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_SUBMIT_TO, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_SUBMIT_TO) %></td>
          <% 2.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR) %> Proposed Vendor</td>
          <td></td><td><%#= "save" %></td>
          <% 6.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_APPLY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_APPLY) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_SUBMIT_TO, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_SUBMIT_TO) %></td>
          <% 2.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION) %> Vendor Selection</td>
          <td></td><td><%#= "save" %></td>
          <% 6.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION_APPLY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION_APPLY) %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION_SUBMIT_TO, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION_SUBMIT_TO) %></td>
          <% 2.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION) %> Vendor Registration</td>
          <td></td><td><%#= "save" %></td>
          <% 6.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION_APPLY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION_APPLY) %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION_SUBMIT_TO, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION_SUBMIT_TO) %></td>
          <% 2.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_ENTRY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY) %> PO Entry</td>
          <td></td><td><%#= "save" %></td>
          <% 6.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_ENTRY_APPLY, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY_APPLY) %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_ENTRY_SUBMIT_TO, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY_SUBMIT_TO) %></td>
          <% 2.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION) %> PO Transactions & Histories</td>
          <td></td><td><%#= "save" %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_PRINTABLE, checkboxes.include?(InventoryManagementSystem::  PURCHASE_ORDER_TRANSACTION_PRINTABLE) %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_KIV_VIEW, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_KIV_VIEW) %> PO Transactions & Histories - KIV</td>
          <td></td><td><%#= "save" %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_PRINTABLE, checkboxes.include?(InventoryManagementSystem::  PURCHASE_ORDER_TRANSACTION_PRINTABLE), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PO_KIV_SHOW, checkboxes.include?(InventoryManagementSystem::PO_KIV_SHOW) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PO_KIV_RECOVER, checkboxes.include?(InventoryManagementSystem::PO_KIV_RECOVER) %></td>
          <% 4.times do |td| %><td></td><% end %>
        </tr>
        
    <% end %>
    
  <% else %>
    
    <tr>
      <td></td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_MENU %> PURCHASE ORDER</td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR %> Approved From PR</td>
      <td></td><td><%#= "save" %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR_SHOW %></td>
      <% 9.times do |td| %><td></td><% end %>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR %> New PR-Repair</td>
      <td></td><td><%#= "save" %></td>
      <% 6.times do |td| %><td></td><% end %>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_APPLY %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_SUBMIT_TO %></td>
      <% 2.times do |td| %><td></td><% end %>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR %> Proposed Vendor</td>
      <td></td><td><%#= "save" %></td>
      <% 6.times do |td| %><td></td><% end %>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_APPLY %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_SUBMIT_TO %></td>
      <% 2.times do |td| %><td></td><% end %>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION %> Vendor Selection</td>
      <td></td><td><%#= "save" %></td>
      <% 6.times do |td| %><td></td><% end %>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION_APPLY %></td>
      <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION_SUBMIT_TO %></td>
      <% 2.times do |td| %><td></td><% end %>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION %> Vendor Registration</td>
      <td></td><td><%#= "save" %></td>
      <% 6.times do |td| %><td></td><% end %>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION_APPLY %></td>
      <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION_SUBMIT_TO %></td>
      <% 2.times do |td| %><td></td><% end %>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_ENTRY %> PO Entry</td>
      <td></td><td><%#= "save" %></td>
      <% 6.times do |td| %><td></td><% end %>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_ENTRY_APPLY %></td>
      <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_ENTRY_SUBMIT_TO %></td>
      <% 2.times do |td| %><td></td><% end %>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION %> PO Transactions & Histories</td>
      <td></td><td><%#= "save" %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_PRINTABLE %></td>
      <% 6.times do |td| %><td></td><% end %>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_KIV_VIEW %> PO Transactions & Histories - KIV</td>
      <td></td><td><%#= "save" %></td>
      <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_SHOW), :disabled => true %></td>
      <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_EDIT), :disabled => true %></td>
      <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_KIV), :disabled => true %></td>
      <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION_PRINTABLE, checkboxes.include?(InventoryManagementSystem::  PURCHASE_ORDER_TRANSACTION_PRINTABLE), :disabled => true %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PO_KIV_SHOW %></td>
      <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PO_KIV_RECOVER %></td>
      <% 4.times do |td| %><td></td><% end %>
    </tr>
    
  <% end %>
<%#*</table>%>