<% if checkboxes.present? %>

    <% if action_name == "show" %>
    <tr>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SALES_ORDER_REPORT_MENU, checkboxes.include?(InventoryManagementSystem::SALES_ORDER_REPORT_MENU), :disabled => true %> Sales Order Menu</td>

    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SALES_ORDER_REPORT, checkboxes.include?(InventoryManagementSystem::SALES_ORDER_REPORT), :disabled => true %> Sales Order Report </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_REPORT_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_REPORT_PRINT), :disabled => true %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_REPORT_EXCEL), :disabled => true %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT, checkboxes.include?(InventoryManagementSystem::SO_LISTING_REPORT), :disabled => true %> Sales Order Listing </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_LISTING_REPORT_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::SO_LISTING_REPORT_PRINT), :disabled => true %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_LISTING_REPORT_EXCEL), :disabled => true %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT, checkboxes.include?(InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT), :disabled => true %> Sales Order Analysis </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_PRINT), :disabled => true %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_EXCEL), :disabled => true %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT, checkboxes.include?(InventoryManagementSystem::SO_CUS_SUMMARY_REPORT), :disabled => true %> SO CUS Summary </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_PRINT), :disabled => true %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_EXCEL), :disabled => true %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT, checkboxes.include?(InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT), :disabled => true %> SO Customer PO Detail </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_PRINT), :disabled => true %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_EXCEL), :disabled => true %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT, checkboxes.include?(InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT), :disabled => true %> SO Sales Replenishment </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_SHOW), :disabled => true %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_PRINT), :disabled => true %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_EXCEL), :disabled => true %></td>
  	</tr>

  	<% else %>  <!-- edit part -->

  	<tr>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SALES_ORDER_REPORT_MENU, checkboxes.include?(InventoryManagementSystem::SALES_ORDER_REPORT_MENU) %> Sales Order Menu</td>

    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SALES_ORDER_REPORT, checkboxes.include?(InventoryManagementSystem::SALES_ORDER_REPORT) %> Sales Order Report </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_REPORT_SHOW) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_REPORT_PRINT) %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_REPORT_EXCEL) %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT, checkboxes.include?(InventoryManagementSystem::SO_LISTING_REPORT)%> Sales Order Listing </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_LISTING_REPORT_SHOW) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::SO_LISTING_REPORT_PRINT) %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_LISTING_REPORT_EXCEL) %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT, checkboxes.include?(InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT) %> Sales Order Analysis </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_SHOW) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_PRINT) %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_EXCEL) %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT, checkboxes.include?(InventoryManagementSystem::SO_CUS_SUMMARY_REPORT) %> SO CUS Summary </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_SHOW) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_PRINT) %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_EXCEL) %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT, checkboxes.include?(InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT) %> SO Customer PO Detail </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_SHOW) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_PRINT) %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_EXCEL) %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT, checkboxes.include?(InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT) %> SO Sales Replenishment </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_SHOW, checkboxes.include?(InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_SHOW) %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_PRINT, checkboxes.include?(InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_PRINT) %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_EXCEL, checkboxes.include?(InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_EXCEL) %></td>
  	</tr>

  	<% end %>

  	<% else %>  <!-- new part -->

  	<tr>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SALES_ORDER_REPORT_MENU %> Sales Order Menu</td>

    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SALES_ORDER_REPORT %> Sales Order Report </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_REPORT_SHOW %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_REPORT_SHOW %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_REPORT_EXCEL %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT %> Sales Order Listing </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT_SHOW %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT_PRINT %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_LISTING_REPORT_EXCEL %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT %> Sales Order Analysis </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_SHOW%></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_PRINT %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_ANALYSIS_REPORT_EXCEL %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT %> SO CUS Summary </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_SHOW %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_PRINT %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUS_SUMMARY_REPORT_EXCEL %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT %> SO Customer PO Detail </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_SHOW %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_PRINT %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT_EXCEL %></td>
  	</tr>

  	<tr>
    <td></td>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT %> SO Sales Replenishment </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_SHOW %></td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_PRINT %></td>

    <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::SO_SALES_REPLENISHMENT_REPORT_EXCEL %></td>
  	</tr>

<% end %>