<%#*<table>%>
    <% if checkboxes.present? %>
  
      <% if action_name == "show" %>
  
        <tr>
          <td></td>
          <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::FORMULATION_MENU) %> Unit Measurement Conventor</td>
          <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::FORMULATION_INDEX) %> Listing of Unit Measurement Conventor</td>
          <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::FORMULATION_NEW) %></td>
          <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::FORMULATION_SHOW) %></td>
          <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::FORMULATION_EDIT) %></td>
          <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::FORMULATION_KIV) %></td>
          <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::FORMULATION_PRINTABLE) %></td>
          <% 3.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <% 2.times do |td| %><td></td><% end %>
          <td><%= ims_show_disabled(checkboxes, InventoryManagementSystem::FORMULATION_INDEX_KIV) %> Listing of Unit Measurement Conventor - KIV</td>
          <% 5.times do |td| %><td></td><% end %>
          <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::FORMULATION_KIV_SHOW) %></td>
          <td align="center"><%= ims_show_disabled(checkboxes, InventoryManagementSystem::FORMULATION_KIV_RECOVER) %></td>
          <td></td>
        </tr>
        
      <% else %>
        
        <tr>
          <td></td>
          <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::FORMULATION_MENU) %> Unit Measurement Conventor</td>
          <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::FORMULATION_INDEX) %> Listing of Unit Measurement Conventor</td>
          <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::FORMULATION_NEW) %></td>
          <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::FORMULATION_SHOW) %></td>
          <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::FORMULATION_EDIT) %></td>
          <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::FORMULATION_KIV) %></td>
          <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::FORMULATION_PRINTABLE) %></td>
          <% 3.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <% 2.times do |td| %><td></td><% end %>
          <td><%= ims_edit_checked(checkboxes, InventoryManagementSystem::FORMULATION_INDEX_KIV) %> Listing of Unit Measurement Conventor - KIV</td>
          <% 5.times do |td| %><td></td><% end %>
          <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::FORMULATION_KIV_SHOW) %></td>
          <td align="center"><%= ims_edit_checked(checkboxes, InventoryManagementSystem::FORMULATION_KIV_RECOVER) %></td>
          <td></td>
        </tr>
      
      <% end %>
      
    <% else %>

        <tr>
          <td></td>
          <td><%= ims_new(InventoryManagementSystem::FORMULATION_MENU) %> Unit Measurement Conventor</td>
          <td><%= ims_new(InventoryManagementSystem::FORMULATION_INDEX) %> Listing of Unit Measurement Conventor</td>
          <td align="center"><%= ims_new(InventoryManagementSystem::FORMULATION_NEW) %></td>
          <td align="center"><%= ims_new(InventoryManagementSystem::FORMULATION_SHOW) %></td>
          <td align="center"><%= ims_new(InventoryManagementSystem::FORMULATION_EDIT) %></td>
          <td align="center"><%= ims_new(InventoryManagementSystem::FORMULATION_KIV) %></td>
          <td align="center"><%= ims_new(InventoryManagementSystem::FORMULATION_PRINTABLE) %></td>
          <% 3.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <% 2.times do |td| %><td></td><% end %>
          <td><%= ims_new(InventoryManagementSystem::FORMULATION_INDEX_KIV) %> Listing of Unit Measurement Conventor - KIV</td>
          <% 5.times do |td| %><td></td><% end %>
          <td align="center"><%= ims_new(InventoryManagementSystem::FORMULATION_KIV_SHOW) %></td>
          <td align="center"><%= ims_new(InventoryManagementSystem::FORMULATION_KIV_RECOVER) %></td>
          <td></td>
        </tr>

    <% end %>

<%#*</table>%>