<%#*<table>%>
  <% if checkboxes.present? %>
    <% if action_name == "show" %>
        <tr>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MENU, checkboxes.include?(InventoryManagementSystem::PR_MENU), :disabled => true %> PURCHASE REQUISITION</td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW, checkboxes.include?(InventoryManagementSystem::PR_NEW), :disabled => true %> New & Pending PRs</td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_ADD_ITEMS, checkboxes.include?(InventoryManagementSystem::PR_NEW_ADD_ITEMS), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_SHOW, checkboxes.include?(InventoryManagementSystem::PR_NEW_SHOW), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_EDIT, checkboxes.include?(InventoryManagementSystem::PR_NEW_EDIT), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_KIV, checkboxes.include?(InventoryManagementSystem::PR_NEW_KIV), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_PRINTABLE, checkboxes.include?(InventoryManagementSystem::PR_NEW_PRINTABLE), :disabled => true %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE, checkboxes.include?(InventoryManagementSystem::PR_SIGNATURE), :disabled => true %> PR Approval / Reject Tasks</td>
          <td></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE_SHOW, checkboxes.include?(InventoryManagementSystem::PR_SIGNATURE_SHOW), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE_EDIT, checkboxes.include?(InventoryManagementSystem::PR_SIGNATURE_EDIT), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_KIV), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE_PRINTABLE, checkboxes.include?(InventoryManagementSystem::PR_SIGNATURE_PRINTABLE), :disabled => true %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>

         <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION), :disabled => true %> PR Transactions & Histories</td>
          <td></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_SHOW), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_EDIT, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_EDIT), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_KIV), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_PRINTABLE, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_PRINTABLE), :disabled => true %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>PR Details</td>
          <td></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_DETAILS_SHOW, checkboxes.include?(InventoryManagementSystem::PR_DETAILS_SHOW), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_DETAILS_EDIT, checkboxes.include?(InventoryManagementSystem::PR_DETAILS_EDIT), :disabled => true %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_KIV), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_DETAILS_PRINTABLE, checkboxes.include?(InventoryManagementSystem::PR_DETAILS_PRINTABLE), :disabled => true %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_KIV_VIEW, checkboxes.include?(InventoryManagementSystem::PR_KIV_VIEW), :disabled => true %> PR KIV</td>
          <% 5.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_KIV_SHOW, checkboxes.include?(InventoryManagementSystem::PR_KIV_SHOW), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_KIV_RECOVER, checkboxes.include?(InventoryManagementSystem::PR_KIV_RECOVER), :disabled => true %></td>
          <% 4.times do |td| %><td></td><% end %>
        </tr>      

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_ITEMS_KIV_VIEW, checkboxes.include?(InventoryManagementSystem::PR_ITEMS_KIV_VIEW), :disabled => true %> PR Items KIV</td>
          <% 5.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_ITEMS_KIV_SHOW, checkboxes.include?(InventoryManagementSystem::PR_ITEMS_KIV_SHOW), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_ITEMS_KIV_RECOVER, checkboxes.include?(InventoryManagementSystem::PR_ITEMS_KIV_RECOVER), :disabled => true %></td>
          <% 4.times do |td| %><td></td><% end %>
        </tr>  
        
    <% else %>
        
        <tr>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MENU, checkboxes.include?(InventoryManagementSystem::PR_MENU) %> PURCHASE REQUISITION </td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW, checkboxes.include?(InventoryManagementSystem::PR_NEW) %> New & Pending PRs</td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_ADD_ITEMS, checkboxes.include?(InventoryManagementSystem::PR_NEW_ADD_ITEMS) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_SHOW, checkboxes.include?(InventoryManagementSystem::PR_NEW_SHOW) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_EDIT, checkboxes.include?(InventoryManagementSystem::PR_NEW_EDIT) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_KIV, checkboxes.include?(InventoryManagementSystem::PR_NEW_KIV) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_PRINTABLE, checkboxes.include?(InventoryManagementSystem::PR_NEW_PRINTABLE) %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE, checkboxes.include?(InventoryManagementSystem::PR_SIGNATURE) %> PR Approval / Reject Tasks</td>
          <td></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE_SHOW, checkboxes.include?(InventoryManagementSystem::PR_SIGNATURE_SHOW) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE_EDIT, checkboxes.include?(InventoryManagementSystem::PR_SIGNATURE_EDIT) %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_KIV) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE_PRINTABLE, checkboxes.include?(InventoryManagementSystem::PR_SIGNATURE_PRINTABLE) %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION) %> PR Transactions & Histories</td>
          <td></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_SHOW, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_SHOW) %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_EDIT, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_EDIT) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_KIV) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_PRINTABLE, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_PRINTABLE) %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>
        
        <tr>
          <td></td>
          <td></td>
          <td>PR Details</td>
          <td></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_DETAILS_SHOW, checkboxes.include?(InventoryManagementSystem::PR_DETAILS_SHOW) %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_DETAILS_EDIT, checkboxes.include?(InventoryManagementSystem::PR_DETAILS_EDIT) %></td>
          <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_KIV), :disabled => true %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_DETAILS_PRINTABLE, checkboxes.include?(InventoryManagementSystem::PR_DETAILS_PRINTABLE) %></td>
          <% 6.times do |td| %><td></td><% end %>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_KIV_VIEW, checkboxes.include?(InventoryManagementSystem::PR_KIV_VIEW) %> PR KIV</td>
          <% 5.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_KIV_SHOW, checkboxes.include?(InventoryManagementSystem::PR_KIV_SHOW) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_KIV_RECOVER, checkboxes.include?(InventoryManagementSystem::PR_KIV_RECOVER) %></td>
          <% 4.times do |td| %><td></td><% end %>
        </tr>      

        <tr>
          <td></td>
          <td></td>
          <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_ITEMS_KIV_VIEW, checkboxes.include?(InventoryManagementSystem::PR_ITEMS_KIV_VIEW) %> PR Items KIV</td>
          <% 5.times do |td| %><td></td><% end %>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_ITEMS_KIV_SHOW, checkboxes.include?(InventoryManagementSystem::PR_ITEMS_KIV_SHOW) %></td>
          <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_ITEMS_KIV_RECOVER, checkboxes.include?(InventoryManagementSystem::PR_ITEMS_KIV_RECOVER) %></td>
          <% 4.times do |td| %><td></td><% end %>
        </tr>  
        
    <% end %>

  <% else %>
  
      <tr>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_MENU %> PURCHASE REQUISITION</td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW %> New & Pending PRs</td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_ADD_ITEMS %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_SHOW %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_KIV %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_NEW_PRINTABLE %></td>
        <% 6.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE %> PR Approval / Reject Tasks</td>
        <td></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE_SHOW %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE_EDIT %></td>
        <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_KIV %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_SIGNATURE_PRINTABLE %></td>
        <% 6.times do |td| %><td></td><% end %>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION %> PR Transactions & Histories</td>
        <td></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_SHOW %></td>
        <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_EDIT %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_KIV %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_PRINTABLE %></td>
        <% 6.times do |td| %><td></td><% end %>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td>PR Details</td>
        <td></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_DETAILS_SHOW %></td>
        <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_DETAILS_EDIT %></td>
        <td align="center"><%#= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_TRANSACTION_KIV, checkboxes.include?(InventoryManagementSystem::PR_TRANSACTION_KIV), :disabled => true %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_DETAILS_PRINTABLE %></td>
        <% 6.times do |td| %><td></td><% end %>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_KIV_VIEW %> PR KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_KIV_SHOW %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_KIV_RECOVER %></td>
        <% 4.times do |td| %><td></td><% end %>
      </tr>      

      <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_ITEMS_KIV_VIEW %> PR Items KIV</td>
        <% 5.times do |td| %><td></td><% end %>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_ITEMS_KIV_SHOW %></td>
        <td align="center"><%= check_box_tag "inventory_management_system[]", InventoryManagementSystem::PR_ITEMS_KIV_RECOVER %></td>
        <% 4.times do |td| %><td></td><% end %>
      </tr>  
      
  <% end %>
<%#*</table>%>