<h1>Listing inventory_management_systems</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_management_systems.each do |inventory_management_system| %>
  <tr>
    <td><%= inventory_management_system.name %></td>
    <td><%= inventory_management_system.description %></td>
    <td><%= link_to 'Show', inventory_management_system %></td>
    <td><%= link_to 'Edit', edit_inventory_management_system_path(inventory_management_system) %></td>
    <td><%= link_to 'Destroy', inventory_management_system, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory management system', new_inventory_management_system_path %>
