<%= form_for(@credit_note) do |f| %>
  <div id="valid_credit_note">
    <div class="popup_content">
      <table>
        <tr>
          <% if @credit_note.credit_note_no.present? %>
            <td><b>C/N No #</b></td>
            <td><%= @credit_note.credit_note_no rescue '-' %></td>
          <% else %>
            <td><b>Current C/N No.</b></td>
            <td>
              <%= cn_no = company.sn_credit_note_no + 1 %>
              <%= f.hidden_field "credit_note_no", :value => cn_no  %>
            </td>
          <% end %>
          
          <td><b>C/N Date</b></td>
          <td>
            <% if @credit_note.credit_note_date.present? %>
              <%= f.text_field :credit_note_date, :value => @credit_note.credit_note_date.strftime("%d-%m-%Y"), :class => "mkendo_date", "required validationMessage" => "Please Enter Credit Note Date" %>
            <% else %>
              <%= f.text_field :credit_note_date, :value => Date.today.strftime("%d-%m-%Y"), :class => "mkendo_date", "required validationMessage" => "Please Enter Credit Note Date" %>
            <% end %>
          </td>
        </tr>
        
        <tr>
          <td><b>To Trade Company</b></td>
          <td>
            <% if @credit_note.trade_company_id.present? %>
              <%= f.select "trade_company_id", options_for_select(trade_company_both_with_code, @credit_note.trade_company_id), { :include_blank => true }, { :class => "mkendo_combobox", :style => "width:400px;", "required validationMessage" => "Please Enter Trade Company" } %>
            <% else %>
              <%= f.select "trade_company_id", options_for_select(trade_company_both_with_code),                                { :include_blank => true }, { :class => "mkendo_combobox", :style => "width:400px;", "required validationMessage" => "Please Enter Trade Company" } %>
            <% end %>
          </td>
          <td colspan="2"><span class="k-invalid-msg" data-for="credit_note[trade_company_id]"></span></td>
        </tr>
        
        <tr>
          <td colspan="3">
            <b>Your A/C Has Been Credited For Being</b>&nbsp;
            <%= f.text_field :credit_type, :class=> "k-textbox", :style => "width: 250px;", "required validationMessage" => "Please Enter" %>
          </td>
        </tr>
        
        <tr>
          <td><b>Currency</b></td>
          <td>
            <%= f.select :currency_id, options_from_collection_for_select(currency, 'id', 'name', @credit_note.currency_id), { :include_blank => true }, { :class => "mkendo_combobox", "required validationMessage" => "Please Enter Currency" } %>
            <span class="k-invalid-msg" data-for="credit_note[currency_id]"></span>
          </td>
          <td><b>Updated By</b></td>
          <td>
            <% if @credit_note.updated_by.present? %>
              <%= @credit_note.updater_name rescue '-' %>
            <% else %>
              <%= current_user.name %>
              <%= f.hidden_field :updated_by, :value => current_user.id %>
            <% end %>
          </td>
        </tr>
        
        <tr>
          <td><b>Amount</b></td>
          <td colspan="2">
            <% if @credit_note.amount > 0 %>
              <%= f.text_field :amount, :value => @credit_note.amount, :class => "kendo_precision_4", "required validationMessage" => "Please Enter Amount" %>
            <% else %>
              <%= f.text_field :amount, :class => "kendo_precision_4", "required validationMessage" => "Please Enter Amount" %>
            <% end %>
            <span class="k-invalid-msg" data-for="credit_note[amount]"></span>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;"><b>Remark</b></td>
          <td colspan="2"><%= f.text_area :remark, :rows => 6, :colspan => 80 %></td>
        </tr>
      </table>
    </div>
    <div class="left_icon_tag" style="color: red;">
      <span class="k-invalid-msg" data-for="credit_note[credit_note_date]"></span>
    </div>
    <%= render "action_credit_note_entry" %>
  </div>
<% end %>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {
        var validator = $("#valid_credit_note").kendoValidator().data("kendoValidator");
        
        $("#save_button").click(function() {
            var amount = parseFloat($("#credit_note_amount").val());
            if (amount <= 0){ alert("You should key-in the amount value."); return false; }
            if (validator.validate()) { busyHours(); }
            else { alert("Invalid Data Form..."); return false; } 
        });
    });
  </script>
<% end %>