<table>
  <tr>
    <td><b>C/N No.</b></td>
    <td><%= f.text_field :credit_note_no_contains, :class => "k-textbox" %></td>
  </tr>
  <tr>
    <td><b>C/N Date</b></td>
    <td>
      <% if @search.credit_note_date_gte.present? %>
        <%= f.text_field :credit_note_date_gte, :value => @search.credit_note_date_gte.strftime("%d-%m-%Y"), :include_blank => true, :class => "mkendo_date" %>
      <% else %>
        <%= f.text_field :credit_note_date_gte, :include_blank => true, :class => "mkendo_date" %>
      <% end %>
       - 
      <% if @search.credit_note_date_lte.present? %>
        <%= f.text_field :credit_note_date_lte, :value => @search.credit_note_date_lte.strftime("%d-%m-%Y"), :include_blank => true, :class => "mkendo_date" %>
      <% else %>
        <%= f.text_field :credit_note_date_lte, :include_blank => true, :class => "mkendo_date" %>
      <% end %>
    </td>
  </tr>
</table>
<%= search_button_with_f(f) %>