<%= form_for(@sales_tax_exemption_item) do |f| %>
  <% if @sales_tax_exemption_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_tax_exemption_item.errors.count, "error") %> prohibited this sales_tax_exemption_item from being saved:</h2>

      <ul>
      <% @sales_tax_exemption_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sales_tax_exemption_id %><br />
    <%= f.number_field :sales_tax_exemption_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :remaining_total %><br />
    <%= f.text_field :remaining_total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
