<h1>Listing sales_tax_exemption_items</h1>

<table>
  <tr>
    <th>Sales tax exemption</th>
    <th>Product</th>
    <th>Remaining total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales_tax_exemption_items.each do |sales_tax_exemption_item| %>
  <tr>
    <td><%= sales_tax_exemption_item.sales_tax_exemption_id %></td>
    <td><%= sales_tax_exemption_item.product_id %></td>
    <td><%= sales_tax_exemption_item.remaining_total %></td>
    <td><%= link_to 'Show', sales_tax_exemption_item %></td>
    <td><%= link_to 'Edit', edit_sales_tax_exemption_item_path(sales_tax_exemption_item) %></td>
    <td><%= link_to 'Destroy', sales_tax_exemption_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sales tax exemption item', new_sales_tax_exemption_item_path %>
