<p id="notice"><%= notice %></p>

<p>
  <b>Sales tax exemption:</b>
  <%= @sales_tax_exemption_item.sales_tax_exemption_id %>
</p>

<p>
  <b>Product:</b>
  <%= @sales_tax_exemption_item.product_id %>
</p>

<p>
  <b>Remaining total:</b>
  <%= @sales_tax_exemption_item.remaining_total %>
</p>


<%= link_to 'Edit', edit_sales_tax_exemption_item_path(@sales_tax_exemption_item) %> |
<%= link_to 'Back', sales_tax_exemption_items_path %>
