<%= form_for(@sales_tax_exemption_line) do |f| %>
  <% if @sales_tax_exemption_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_tax_exemption_line.errors.count, "error") %> prohibited this sales_tax_exemption_line from being saved:</h2>

      <ul>
      <% @sales_tax_exemption_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sales_tax_exemption_id %><br />
    <%= f.number_field :sales_tax_exemption_id %>
  </div>
  <div class="field">
    <%= f.label :trade_company_id %><br />
    <%= f.number_field :trade_company_id %>
  </div>
  <div class="field">
    <%= f.label :validate_condition %><br />
    <%= f.check_box :validate_condition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
