<table id="linking_tabify_datatable" class="zebraLight display">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>Description</th>
      <th>Vendor Name</th>
      <th>U/M</th>
      <th>Unit Price</th>
    </tr>
  </thead>
  
  <tbody>
    <% product_id.each do |prod| %>
      <% unless prod.purchase_requisition.status == PurchaseRequisition::KEEP_IN_VIEW %>

        <tr class="<%= cycle('odd_line', 'even_line') %>" controllerName="purchase_requisition_items" rowsId="<%= prod.id %>">
            <td></td>
            <td><%= simple_format(prod.description) rescue '-' %></td>
            <td>[<%= prod.trade_company.code rescue '-' %>] <%= prod.trade_company.name rescue "-" %></td>
            <td align="center"><%= prod.unit_measurement.code rescue '-' %></td>
            <td align="right"><%= four_precision(prod.unit_price) rescue '-' %></td>
        </tr>
        
      <% end %>
    <% end %>
  </tbody>  
</table>