<% if action_name == "printable" %>
  <table id="grid_h360" class="black-line-table" width="100%">
<% else %>
  <table id="grid_h360" class="white-line-table" width="100%">
<% end %>
    
    <thead>
      <tr class="header_line">
          <th style="font-size: 12px;">No.</th>
          <% unless action_name == "printable" %>
            <th style="font-size: 12px;">RN Status</th>
            <th style="font-size: 12px;">PR No.</th>
          <% end %>
          <th style="font-size: 12px;">Product ID</th>
          <th style="font-size: 12px;">Description</th>
          <th style="font-size: 12px;">ETA</th>
          <% if action_name == "new" or action_name == "create" %>
            <th style="font-size: 12px;" width="100">Correct ETA</th>
          <% end %>
          <th style="font-size: 12px;">Quantity</th>
          <th style="font-size: 12px;">U/M</th>
          <th style="font-size: 12px;">Unit Price</th>
          <th style="font-size: 12px;">Amount</th>
          <% if action_name == "new" or action_name == "create" %>
            <th style="font-size: 12px;">Tarif Code</th>
            <th style="font-size: 12px;">Balance Amount</th>
            <th style="font-size: 12px;">Balance</th>
            <th style="font-size: 12px;">Complete Qty</th>
          <% end %>
      </tr>
    </thead>
    
    <tbody>
      <% subtotal = [] %>
      <% a = {} %>
      <% b = {} %>
      
      <% if action_name == "new" or action_name == "create" %>
          <% @barangs = @vendor_id.sales_tax_exemption.sales_tax_exemption_barangs %>
          <% @barangs.each do |brg| %>
            <% if brg.tarif_code.present? %>
              <% a["#{brg.tarif_code}"] = brg.available_qty %>
              <% b["#{brg.tarif_code}"] = brg.complete_qty %>
            <% end %>
          <% end %>
      <% end %>

      <% approved.each_with_index do |k, index| %>
      
        <tr class="<%= cycle("odd_line", "even_line") %>">
          <td align="center"><%= index + 1 %></td>
          <% unless action_name == "printable" %>
            <td align="center">
              <% if k.status == PurchaseRequisitionItem::RECEIVED_PARTIAL %>
                <%= link_to "Received Partial", purchase_order_item_line_path(k.purchase_order_item_line), :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %>
              <% elsif k.status == PurchaseRequisitionItem::RECEIVED_FULL %>
                <%= link_to "Received Full", purchase_order_item_line_path(k.purchase_order_item_line), :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %>
              <% else %>
                <span title="Not Received Yet">N.R</span>
              <% end %>
            </td>
            <td align="center"><%= link_to(k.purchase_requisition.pr_no, purchase_requisition_path(k.purchase_requisition_id), :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" ) %></td>
          <% end %>
          <td align="center">
            <% if k.product.blank? %>
              <%= link_to "Add Product", message_products_path(:pri_id => k.id, :po_desc => k.description, :po_um_id => k.unit_measurement_id, :po_up => k.unit_price, :po_vendor_id => k.trade_company_id), :class => "add_product" %>
            <% else %>
              <% if action_name == "printable" %>
                <%= render "/product_categories/join_product_category", :pc => k %>
              <% else %>
                <%= link_to(product_path(k.product_id), { :class => "show_without_refresh_page_800x450", "data-fancybox-type" => "iframe"}) do %>
                  <%= render "/product_categories/join_product_category", :pc => k %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td><%= simple_format(k.description) %></td>
          <td align="center">
            <% if k.eta < Date.today %>
              <span class="red_alert"><%= k.eta.strftime("%d-%m-%Y") rescue '-' %></span>
            <% else %>
              <%= k.eta.strftime("%d-%m-%Y") rescue '-' %>
            <% end %>
          </td>
          <% if action_name == "new" or action_name == "create" %>
            <td><%= text_field_tag "datarow[#{k.id}][correct_eta]", '' %></td>
          <% end %>
          <td align="center"><%= k.quantity rescue '0' %></td>
          <td align="center"><%= k.unit_measurement.code rescue '-' %></td>
          <td align="right"><%= four_precision(k.unit_price) %></td>
          <td align="right">
            <%= iproduct(k.quantity, k.unit_price) %>
            <% subtotal << k.quantity * k.unit_price %>
          </td>

          <% if action_name == "new" or action_name == "create" %>
            <% @barangs = @vendor_id.sales_tax_exemption.sales_tax_exemption_barangs %>
            
            <% if @barangs.present? && k.product.present? %>
              <% if k.product.tarif_code.present? %>
          
                <% barang = @barangs.find_by_tarif_code(k.product.tarif_code) %>
          
                <td align="center"><%= k.product.tarif_code rescue '-' %></td>
                <% if barang.present? %>
                  <td align="center">
                    <%= a["#{barang.tarif_code}"] rescue '-' %>&nbsp;<%= barang.belongs_to_cal_um.code rescue '-' %>
                    <%#= hidden_field_tag "datarow[#{k.id}][before_available_qty]", a["#{barang.tarif_code}"] %>
                  </td>
                  <td align="center">
                    <%= a["#{barang.tarif_code}"] = a["#{barang.tarif_code}"].to_f - k.quantity.to_f %>
                    <%#= hidden_field_tag "datarow[#{k.id}][after_available_qty]", a["#{barang.tarif_code}"] %>
                  </td>
                  <td align="center">
                    <%= b["#{barang.tarif_code}"] = b["#{barang.tarif_code}"].to_f + k.quantity.to_f %>
                    <%#= hidden_field_tag "datarow[#{k.id}][complete_qty]", b["#{barang.tarif_code}"] %>
                  </td>
                <% else %>
                  <% @barang_missing = PurchaseOrder::MISSING %>
                  <% 3.times.each do |t| %>
                    <td></td>
                  <% end %>
                <% end %>
                
              <% end %>
            <% end %>
          <% end %>
        </tr>
        
      <% end %>  
        
      <% if action_name == "new" or action_name == "create" %>
        <% @barangs = @vendor_id.sales_tax_exemption.sales_tax_exemption_barangs %>
        <% @barangs.each do |brg| %>
          <% if brg.tarif_code.present? %>
            <% if a["#{brg.tarif_code}"] <= 0 %>
              <% @overweight = PurchaseOrder::OVERWEIGHT %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% gt = cal_grandtotal(subtotal.sum(), @purchase_order.tax.to_f) %>

      <tr class="footer_line">
        <% unless action_name == "printable" %>
          <td align="right" colspan="10">Sub-Total</td>
        <% else %>
          <td align="right" colspan="7">Sub-Total</td>
        <% end %>
        <td align="right" title="<%= number_with_precision(subtotal.sum(), :precision => 2) %>" class="po_subtotal"><%= number_with_precision(subtotal.sum(), :precision => 2, :separator => '.', :delimiter => ',') %></td>
      </tr>
      <tr class="footer_line">
        <% unless action_name == "printable" %>
          <td align="right" colspan="10">Add S/Tax <span id="po_percent"><%= @purchase_order.tax rescue '0' %></span>%</td>
        <% else %>
          <td align="right" colspan="7">Add S/Tax <span id="po_percent"><%= @purchase_order.tax rescue '0' %></span>%</td>
        <% end %>
        <td align="right" class="add_s_tax"><%= number_with_precision(@purchase_order.tax.to_f / 100, :precision => 2, :separator => '.', :delimiter => ',') %></td>
      </tr>
      <tr class="footer_line">
        <% unless action_name == "printable" %>
          <td align="right" colspan="10">Grand Total</td>
        <% else %>
          <td align="right" colspan="7">Grand Total</td>
        <% end %>
        <td align="right" class="po_grandtotal"><%= number_with_precision(gt, :precision => 2, :separator => '.', :delimiter => ',') %></td>
      </tr>
    </tbody>
</table>