<%= form_tag "/purchase_orders/create_without_sales_tax_exemption", :method => :post do %>
  <div class="fix_1600x900">
      <table>
        <tr>
          <td width="140"><b>Current PO No.</b></td>
          <td><%= company.sn_purchase_order_no + 1 %></td>
          <td width="50"></td>
          <td width="100"><b>Revision</b></td>
          <td><%= text_field_tag :revision, 0, :required => "true", :validType => "maxLength[5]", :class => "easyui-validatebox", :size => 5 %></td>
        </tr> 

        <tr>
          <td><b>P/O Date</b></td>
          <td>
            <% if action_name == "edit" %>
              <%= text_field_tag :po_date, @purchase_order.po_date.strftime("%d-%m-%Y"), :id => "kendo_date" %>
            <% else %>
              <%= text_field_tag :po_date, Date.today.strftime("%d-%m-%Y"), :id => "kendo_date" %>
            <% end %>
          </td>
          <td></td>
          <td><b>S/Tax</b></td>
          <td><%= text_field_tag :tax, 0, :required => "true", :validType => "maxLength[5]", :class => "easyui-validatebox", :size => 5 %></td>
        </tr>

        <tr>
          <td><b>Vendor</b></td>
          <td>
            <% if action_name == "edit" %>
              [<%= @purchase_order.trade_company.code %>] <%= @purchase_order.trade_company.name %>
            <% else %>
              [<%= @vendor_id.code rescue '-' %>] <%= @vendor_id.name rescue '-' %>
              <%= hidden_field_tag "trade_company_id", @vendor_id.id %>
            <% end %>
          </td>
          <td></td>
          <td><b>Currency</b></td>
          <td><%= select_tag :currency_id, options_from_collection_for_select(currency, 'id', 'name', params[:currency_id]), { :include_blank => true } %></td>
        </tr>

        <tr>
          <td><b>Purchase By</b></td>
          <td>
            <%= current_user.name %>
            <%= hidden_field_tag :purchase_by, current_user.id %>
          </td>
          <td></td>
          <td><b>Trade Term</b></td>
          <% if @vendor_id.trade_term_id.present? %>
            <td><%= select_tag :trade_term_id, options_from_collection_for_select(trade_term, 'id', 'name', @vendor_id.trade_term_id) %></td>
          <% else %>
            <td><%= select_tag :trade_term_id, options_from_collection_for_select(trade_term, 'id', 'name', params[:trade_term_id]), { :include_blank => true } %></td>
          <% end %>
        </tr>

        <tr>
          <td><b>Requested By</b></td>
          <td>
            <% if action_name == "edit" %>
              <% req = User.find(@purchase_order.request_by) %>
              <%= req.name if req.present? %>
            <% else %>
              <% @req = @pri_company.first.purchase_requisition %>
              <% if @req.present? %>
                <%= @req.user.name rescue '-' %>
                <%= hidden_field_tag :request_by, @req.requested_by %>
                <%= hidden_field_tag :purchase_requisition_id, @req.id %>
              <% end %>
            <% end %>
          </td>
          <td></td>
          <td><b>Transport</b></td>
          <td><%= select_tag :transport_id, options_from_collection_for_select(transport, 'id', 'name', params[:transport_id]), { :include_blank => true } %></td>
        </tr>
      </table>

      <%= render "/purchase_orders/view_details_approved_from_purchase_requisition_items_without_ste", :approved => @pri_company %>
  </div>

  <div class="icon_tag">
      <% unless action_name == "edit" %>
        <% @pri_company.each do |k| %>
          <% if k.product.blank? %>
            <% params[:blank_product] = "yes" %>
          <% end %>
        <% end %>
      <% end %>

      <% unless params[:blank_product] == "yes" %>
        <%= link_save_button %>
      <% end %>
      <%= link_close_button %>
  </div>
<% end %>



