<div id="popup_container">
  <%= render "linking" %>
  
  <div class="title_head">
    <strong style="color:white;">TRANSACTIONS & HISTORIES FOR PURCHASE ORDERS</strong>
    <%= search_button %>
  </div>

  <%= render "search_po" %>

  <div class="fix_h450">
    <% if @purchase_orders.present? %>
      <%= render "/purchase_orders/success_approved_from_purchase_requisition_items", :success => @purchase_orders %>
    <% else %>
      No Record Found.
    <% end %>
  </div>

  <%= render "action_purchase_order_transaction" %>
</div>