<%= render "linking" %>

<%= title_head "PR-REPAIR" %>

<%= form_tag add_vendor_purchase_orders_path, :method => :post do %>
  <% if @maintenance.present? %>
    <div class="table_background"><%= render "pr_repair", :maintenance => @maintenance %></div>
  <% else %>
    <div class="linking_content">No Record Found</div>
  <% end %>

  <%= render "action_purchase_order_repair" %>
<% end %>