<div>
  <div style="margin-bottom: 70px;"></div>

  <div><b>PURCHASE ORDER</b></div>

  <table>
    <tr>
      <td style="vertical-align: top;"><%= render "left_table" %></td>
      <td width="30"></td>
      <td style="vertical-align: top;"><%= render "right_table" %></td>
    </tr>
  </table>

  <div>
    <% @pr_company_id = @purchase_order.purchase_requisition_items %>
    <% if ste_no_with_valid.find_by_trade_company_id(@purchase_order.trade_company_id).present? %>
      <%= render "/purchase_orders/view_details_approved_from_purchase_requisition_items_with_ste", :approved => @pr_company_id %>
    <% else %>
      <%= render "/purchase_orders/view_details_approved_from_purchase_requisition_items_without_ste", :approved => @pr_company_id %>
    <% end %>
  </div>

  <br/>

  <table class="black-line-table" width="100%">
    <tr>
      <td style="vertical-align: top;" widtn="50%">
        <font size="1">
          NOTES TO VENDOR :-<br/>
          1. Goods of Inferior Quality will be rejected.<br/>
          2. Please chop, sign & return the attched acknowledge.<br/>
          3. Please quote P/O No. in your invoices & D/Os.<br/>
        </font>
      </td>
      <td style="vertical-align: top;" widtn="50%">
        <font size="1">
         REMARKS :<br/>
         <%= @purchase_order.remark rescue '-' %>
        </font>
      </td>
    </tr>
  </table>

  <%#*<table class="black-line-table" width="100%">%>
    <%#*<tr>%>
      <%#*<td colspan="2">%>
        <table style="border-collapse: collapse;" class="black-line-table">
          <tr>
            <td class="bolder" width="300" align="center">PURCHASED BY</td>
            <td class="bolder" width="300" align="center">REQUESTED BY</td>
            <td class="bolder" width="300" align="center">AUTHORISED BY</td>
          </tr>
          <tr>
            <td height="80"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <% pb = User.find(@purchase_order.purchase_by) %>
              <%= pb.name %>
            </td>
            <td align="center">
              <% rb = User.find(@purchase_order.request_by) %>
              <%= rb.name rescue '-' %>
            </td>
            <td align="center">B Y LIM</td>
          </tr>
          <tr>
            <td colspan="3" align="center">VENDOR'S STAMP & SIGNATURE</td>
          </tr>
        </table>
      <%#*</td>%>
    <%#*</tr>%>
  <%#*</table>%>
</div>

<style>
  
  body {
    background-color: #fff;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      width:100%;
      border-width: 1px;
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table th {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }

  table.black-line-table td {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }
  
</style>