<%= title_head "PURCHASE ORDER NO. [#{@purchase_order.po_no}]" %>

<table class="table_details">
    <tr>
      <td width="100"><b>Vendor</b></td>
      <td>[<%= @purchase_order.trade_company.code %>] <%= @purchase_order.trade_company.name rescue "-" %></td>

      <td width="100"></td>

      <td width="100"><b>P/O Date</b></td>
      <td><%= @purchase_order.po_date.strftime("%d-%m-%Y") rescue '-' %></td>

      <td width="100"></td>

      <td width="100"><b>Remark</b></td>
      <td>
        <% if @purchase_order.remark.present? %>
          <%= @purchase_order.remark %>
        <% else %>
          -
        <% end %>
      </td>
    </tr>

    <tr>
      <td></td>
      <td rowspan="3" style="display: block;">
        <%= simple_format(@purchase_order.trade_company.address_1) rescue '-' %>
        <% if @purchase_order.trade_company.postcode_one.present? %>
          <%= @purchase_order.trade_company.postcode_one rescue '-' %>&nbsp;
        <% end %>
        <% if @purchase_order.trade_company.city_one.present? %>
          <%= @purchase_order.trade_company.city_one rescue '-' %>,&nbsp;
        <% end %>
        <% if @purchase_order.trade_company.state_one.present? %>
          <%= @purchase_order.trade_company.state_one rescue '-' %>,&nbsp;
        <% end %>
        <% if @purchase_order.trade_company.country_one.present? %>
          <%= @purchase_order.trade_company.country_one rescue '-' %>.
        <% end %>
      </td>

      <td></td>

      <td><b>Trade Term</b></td>
      <td><%= @purchase_order.trade_term.name rescue '-' %></td>
    </tr> 

    <tr>
      <td></td>
      <td></td>
      <td><b>Currency</b></td>
      <td><%= @purchase_order.currency.name rescue '-' %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><b>Revision</b></td>
      <td><%= @purchase_order.revision rescue '-' %></td>
    </tr>

    <tr>
      <td><b>Fax #</b></td>
      <td><%= @purchase_order.trade_company.fax_no rescue '-' %></td>
      <td></td>
      <td><b>Transport</b></td>
      <td><%= @purchase_order.transport.name rescue "-" %></td>
    </tr>

    <tr>
      <td><b>Attn.</b></td>
      <td><%= @purchase_order.trade_company.contact_person rescue "-" %></td>
    </tr>

    <tr>
      <td><b>Purchased By</b></td>
      <td>
        <% pb = User.find(@purchase_order.purchase_by) %>
        <%= pb.name rescue '-' %>
      </td>
      <td></td>
      <td title="Sales Tax Exemption No."><b>STE No.</b></td>
      <td><%= @purchase_order.sales_tax_exemption.sales_tax_exemption_no rescue "NO" %></td>
    </tr>
</table>

<hr/>

<div class="table_background">
  <% if @purchase_order.trade_company.sales_tax_exemption.present? %>
    <%= render "/purchase_orders/view_details_approved_from_purchase_requisition_items_with_ste", :approved => @purchase_order.purchase_requisition_items %>
  <% else %>
    <%= render "/purchase_orders/view_details_approved_from_purchase_requisition_items_without_ste", :approved => @purchase_order.purchase_requisition_items %>
  <% end %>
</div>

<div class="icon_tag">
  <%= link_close_button %>
</div>