<%= form_for(@purchase_requisition_item) do |f| %>

  <%= f.hidden_field :user_id, :value => current_user.id %> 

  <!-- Only display when click EDIT -->
  <% if @purchase_requisition_item.temporary_sources.present? %>
    <% if @purchase_requisition_item.temporary_sources.find_by_select_vendor(TRUE).present? %>
      <% source = @purchase_requisition_item.temporary_sources.find_by_select_vendor(TRUE) %>
    <% end %>
  <% end %>

  <div class="popup_content">
    <table width="100%">
      <tr>
        <td width="150"><b>Product ID *</b></td>
        <td><%= f.select :product_id, options_for_select(product_non_operation_n_operation_with_pr_combobox, @purchase_requisition_item.product_id), { :include_blank => true }, { :class => "mkendo_combobox", :onchange => "put_product_description(this)", :style => "width: 600px;", "required validationMessage" => "Please Enter Product ID" } %></td>
      </tr>

      <tr>
        <td><b>Vendor Company *</b></td>
        <td>
          <% if source.present? %>
            <%#= select_tag "company_name", options_for_select(trade_company_vendor_with_code, source.company_name), :class => "mkendo_combobox", :include_blank => true, :style => "width:400px;", :onchange => "getCombo_pr_company(this)", "required validationMessage" => "Please Enter Vendor Company" %>
            <%= select_tag "company_name", options_for_select(trade_company_vendor, source.company_name), :class => "mkendo_combobox", :include_blank => true, :style => "width:600px;", :onchange => "getCombo_pr_company(this)", "required validationMessage" => "Please Enter Vendor Company" %>
          <% else %>
            <%#= select_tag "company_name", options_for_select(trade_company_vendor_with_code),                      :id => "kendo_combobox_two", :include_blank => true, :style => "width:400px;", :onchange => "getCombo_pr_company(this)", "required validationMessage" => "Please Enter Vendor Company" %>
            <%= select_tag "company_name", options_for_select(trade_company_vendor),                      :class => "mkendo_combobox", :include_blank => true, :style => "width:600px;", :onchange => "getCombo_pr_company(this)", "required validationMessage" => "Please Enter Vendor Company" %>
          <% end %>
        </td>
      </tr>

      <tr><td colspan="10"><hr/></td></tr>

      <tr>
        <td><b>Description</b></td>
        <td>
          <% if @purchase_requisition_item.product_id.present? %>
            <span class="get_desc"><%= @purchase_requisition_item.description %></span>
          <% else %>
            <span class="get_desc"></span>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><b>Quantity *</b></td>
        <td>
          <%#= f.text_field :quantity, :size => 10, :required => "true" %>
          <%= f.text_field :quantity, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Quantity" %>
          <span class="k-invalid-msg" data-for="purchase_requisition_item[quantity]"></span>
          <b>U/M:</b>
          <% if @purchase_requisition_item.product_id.present? %>
            <span id="data_um"><%= @purchase_requisition_item.unit_measurement.code rescue '-' %></span>
          <% else %>
            <span id="data_um"></span>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><b>Unit Price *</b></td>
        <td>
          <% if source.present? %>
            <%= text_field_tag :estimated_price, source.unit_price, :class => "kendo_precision_4", "required validationMessage" => "Please Enter Unit Price" %>
          <% else %>
            <%= text_field_tag :estimated_price, params[:estimated_price], :class => "kendo_precision_4", "required validationMessage" => "Please Enter Unit Price" %>
          <% end %>
          <span class="k-invalid-msg" data-for="estimated_price"></span>
        </td>
      </tr>

      <tr>
        <td><b>Total Price</b></td>
        <td id="estimated_total_price">
          <% if source.present? %>
            <%= iproduct(@purchase_requisition_item.quantity, source.unit_price) %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><b>ETA *</b></td>
        <td>
          <% if @purchase_requisition_item.eta.present? %>
            <%= f.text_field :eta, :value => @purchase_requisition_item.eta.strftime("%d-%m-%Y"), :id => "kendo_date" , "required validationMessage" => "Please Enter ETA"%>
          <% else %>
            <%= f.text_field :eta, :value => Date.today.strftime("%d-%m-%Y"), :id => "kendo_date" , "required validationMessage" => "Please Enter ETA" %>
          <% end %>
          <span class="k-invalid-msg" data-for="purchase_requisition_item[eta]"></span>
        </td>
      </tr>

      <tr>
        <td><b>Remark</b></td>
        <td><%= f.text_area :remark, :rows => 2 %></td>
      </tr>
            
      <tr>
        <% unless action_name == "edit" %>
          <td><%= f.hidden_field :status, :value => PurchaseRequisitionItem::PENDING %></td>
        <% end %>
      </tr>
      
      <tr>
        <td><b>Urgent</b></td>
        <td><%= f.check_box :urgent %></td>
      </tr>
      
      <tr>
        <td><b>Regular Vendor</b></td>
        <td><%= f.check_box "skip_to_purchase_order" %></td>
      </tr>
    </table>
  </div>
  
  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>
