<div class="search_engine">
  <%= form_for @search do |f| %>
    <table>
      <tr>
        <td><%= f.label :purchase_requisition_pr_no_equals, "PR No#" %></td>
        <td><%= f.text_field :purchase_requisition_pr_no_equals %></td>
      </tr>
      
      <tr>
        <td>Date: </td>
        <td>
            <%= f.text_field :purchase_requisition_requested_by_date_gte, :include_blank => true %>
           - 
            <%= f.text_field :purchase_requisition_requested_by_date_lte, :include_blank => true %>
        </td>
      </tr>
      
      <tr>
        <td colspan="10" align="right"><%= f.submit 'Search' %></td>
      </tr>
    </table>
  <% end %>
</div>