<div style="background-color:blue"><strong style="color:white;">SHOW PURCHASE REQUISITION ITEM DETAILS</strong></div>

<div class="fix_800x450">
  <% if @purchase_requisition_item.urgent == TRUE %>
    <div style="float:right"><%= image_tag("urgent_time.png", :alt => "Urgent", :title => "Urgent", :class => 'cube35' ) %></div>  
  <% end %>
  
  <% if @purchase_requisition_item.maintenance == FALSE %>
  
      <table>
        <% if @purchase_requisition_item.product_id.present? %>
          <tr>
            <td><b>Product ID</b></td>
            <td><%= render "/product_categories/join_product_category", :pc => @purchase_requisition_item %></td>
          </tr>
        <% end %>
          
        <% if @select_vendor.present? %>
          <tr>
            <td><b>Supplier Name</b></td>
            <td><%= @select_vendor.company_name rescue '-' %></td>
          </tr> 
        <% end %>
          
        <tr width="170">
          <td style="vertical-align: top;"><b>Description</b></td>
          <td><%= raw(@purchase_requisition_item.description.gsub(/\n/, '<br/>')) %></td>
        </tr>
        
        <tr>
          <td><b>Quantity</b></td>
          <td><%= @purchase_requisition_item.quantity %> <%= @purchase_requisition_item.unit_measurement.code rescue '-' %></td>
        </tr>
        
        <tr>
          <td>
            <% if @purchase_requisition_item.product_id.present? %>
              <b>Unit Price</b>
            <% else %>
              <b>Estimated Price</b>
            <% end %>
          </td>
          <td><%= four_precision(@select_vendor.unit_price) %></td>
        </tr>
        
        <tr>
          <td width="200">
            <% if @purchase_requisition_item.product_id.present? %>
              <b>Total Price</b>
            <% else %>
              <b>Estimated Total Price</b>
            <% end %>
          </td>
          <td><%= iproduct(@purchase_requisition_item.quantity, @select_vendor.unit_price) %></td>
        </tr>
        
        <tr>
          <td><b>ETA</b></td>
          <td>
            <% if @purchase_requisition_item.eta < Date.today %>
              <span class="red_alert"><%= @purchase_requisition_item.eta.strftime("%d-%m-%Y") rescue '-' %></span>
            <% else %>
              <%= @purchase_requisition_item.eta.strftime("%d-%m-%Y") rescue '-' %>
            <% end %>
          </td>
        </tr>
        
        <tr>
          <td><b>Remark</b></td>
          <td>
            <% unless @purchase_requisition_item.remark.blank? %>
              <%= @purchase_requisition_item.remark rescue '-' %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
          
      </table>

  <% else %>

      <table> 
        <tr>
          <td width="200"><b>Description</b></td>
          <td><%= raw(@purchase_requisition_item.description.gsub(/\n/, '<br/>')) %></td>
        </tr>
        <tr>
          <td><b>Quantity</b></td>
          <td><%= @purchase_requisition_item.quantity %> <%= @purchase_requisition_item.unit_measurement.code rescue '-' %></td>  
        </tr>
        <tr>
          <td><b>ETA</b></td>
          <td>
            <% if @purchase_requisition_item.eta < Date.today %>
              <span class="red_alert"><%= @purchase_requisition_item.eta.strftime("%d-%m-%Y") rescue '-' %></span>
            <% else %>
              <%= @purchase_requisition_item.eta.strftime("%d-%m-%Y") rescue '-' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><b>Remark</b></td>
          <td>
            <% unless @purchase_requisition_item.remark.blank? %>
              <%= @purchase_requisition_item.remark rescue '-' %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      </table>

  <% end %>
</div>

<div class="icon_tag">
  <%= link_close_button  %>
</div>