<h1>Listing receipt_items</h1>

<table>
  <tr>
    <th>Receipt type</th>
    <th>Document no</th>
    <th>Document date</th>
    <th>Document amount</th>
    <th>Balance amount</th>
    <th>Fp</th>
    <th>Os amount</th>
    <th>Receipt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @receipt_items.each do |receipt_item| %>
  <tr>
    <td><%= receipt_item.receipt_type %></td>
    <td><%= receipt_item.document_no %></td>
    <td><%= receipt_item.document_date %></td>
    <td><%= receipt_item.document_amount %></td>
    <td><%= receipt_item.balance_amount %></td>
    <td><%= receipt_item.fp %></td>
    <td><%= receipt_item.os_amount %></td>
    <td><%= receipt_item.receipt_id %></td>
    <td><%= link_to 'Show', receipt_item %></td>
    <td><%= link_to 'Edit', edit_receipt_item_path(receipt_item) %></td>
    <td><%= link_to 'Destroy', receipt_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Receipt item', new_receipt_item_path %>
