<p>
  <b>Trade company:</b>
  <% tc = TradeCompany.find(@product_price.trade_company_id) %>
  <%= tc.code rescue '-'  %>
</p>

<p>
  <b>Product category:</b>
  <%= @product_price.product_category_id %>
</p>

<p>
  <b>Currency:</b>
  <% cc = Currency.find(@product_price.currency_id) %>
  <%= cc.name rescue '-'  %>
</p>

<p>
  <b>Unit price:</b>
  <%= @product_price.unit_price %>
</p>

<p>
  <b>Price in:</b>
  <%= @product_price.price_in %>
</p>


<%= link_to 'Edit', edit_product_price_path(@product_price) %> |
<%= link_to 'Back', product_prices_path %>
