<h1>Listing selection_die_cuts</h1>

<table>
  <tr>
    <th>Quotation request form</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @selection_die_cuts.each do |selection_die_cut| %>
  <tr>
    <td><%= selection_die_cut.quotation_request_form_id %></td>
    <td><%= selection_die_cut.content %></td>
    <td><%= link_to 'Show', selection_die_cut %></td>
    <td><%= link_to 'Edit', edit_selection_die_cut_path(selection_die_cut) %></td>
    <td><%= link_to 'Destroy', selection_die_cut, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Selection die cut', new_selection_die_cut_path %>
