<p id="notice"><%= notice %></p>

<p>
  <b>Sales tax exemption:</b>
  <%= @ste_customer_history.sales_tax_exemption_id %>
</p>

<p>
  <b>Product:</b>
  <%= @ste_customer_history.product_id %>
</p>

<p>
  <b>Trade company:</b>
  <%= @ste_customer_history.trade_company_id %>
</p>

<p>
  <b>Delivery order item:</b>
  <%= @ste_customer_history.delivery_order_item_id %>
</p>

<p>
  <b>Unit measurement:</b>
  <%= @ste_customer_history.unit_measurement_id %>
</p>

<p>
  <b>Before available qty:</b>
  <%= @ste_customer_history.before_available_qty %>
</p>

<p>
  <b>After available qty:</b>
  <%= @ste_customer_history.after_available_qty %>
</p>

<p>
  <b>Accumulative complete qty:</b>
  <%= @ste_customer_history.accumulative_complete_qty %>
</p>

<p>
  <b>Delivery qty:</b>
  <%= @ste_customer_history.delivery_qty %>
</p>

<p>
  <b>Pc weight:</b>
  <%= @ste_customer_history.pc_weight %>
</p>

<p>
  <b>Used date:</b>
  <%= @ste_customer_history.used_date %>
</p>


<%= link_to 'Edit', edit_ste_customer_history_path(@ste_customer_history) %> |
<%= link_to 'Back', ste_customer_histories_path %>
