<div class="left_icon_tag">
  <% if roles.include?(InventoryManagementSystem::QR_SIGNATURE_COSTING_ADD) %>
    <% if @quotation_requisition.present? %>
      <%= link_to image_tag("add_item_button.png", :alt => "Add New", :title => "Add New", :class => "cube35"), new_costing_sheet_path(:id => @quotation_requisition.id), :class => "iframe_800x600", "data-fancybox-type" => "iframe" %>
    <% else %>
      <!-- it is for error status -->
       <span class="word_opac"><%= not_link_addnew %></span>
    <% end %>
  <% else %>
     <span class="word_opac"><%= not_link_addnew %></span
  <% end %>
      
  <%#= link_to image_tag("add_item_button.png", :alt => "Add New", :title => "Add New", :class => "cube35"), new_costing_sheet_path, :remote => true  %>
  <%#= link_to image_tag("add_item_button.png", :alt => "Add New", :title => "Add New", :class => "cube35"), '#', :onclick => "costing()"  %>
</div>

<div class="icon_tag">
  
  <% if roles.include?(InventoryManagementSystem::QR_SIGNATURE_COSTING_SHOW) %>
    <span id="on_show" showClass="show_without_refresh_page_800x600"  class="k-button"><%= not_link_show %></span>
  <% else %>
    <span class="word_opac"><%= not_link_show %></span>
  <% end %>

  <% if roles.include?(InventoryManagementSystem::QR_SIGNATURE_COSTING_EDIT) %>
    <span id="on_edit" editClass="iframe_800x600"  class="k-button"><%= not_link_edit %></span>
  <% else %>
    <span class="word_opac"><%= not_link_edit %></span>
  <% end %>

  <% if roles.include?(InventoryManagementSystem::QR_SIGNATURE_COSTING_KIV) %>
     <span id="on_kiv"  class="k-button"><%= not_link_kiv %></span>
  <% else %>
    <span class="word_opac"><%= not_link_kiv %></span>
  <% end %>

  <% if roles.include?(InventoryManagementSystem::QR_SIGNATURE_COSTING_PRINTABLE) %>
    <span id="on_printable_cs"  class="k-button"><%= not_link_printable %></span>
  <% else %>
    <span class="word_opac"><%= not_link_printable %></span>
  <% end %>
   
  <%= link_close_button %>

</div>