<div class="icon_tag">
  
  <%#= link_add_1600x900(new__path) %>
  
  <%# if roles.include?(InventoryManagementSystem::PURCHASE_REQUISITION_SHOW) %>
    <span id="on_show" showClass="show_without_refresh_page_800x450"><%= not_link_show %></span>
  <%# else %>
     <!--span class="word_opac"><%#= not_link_show %> </span -->
  <%# end %>

  <%# if roles.include?(InventoryManagementSystem::PURCHASE_REQUISITION_EDIT) %>
    <span id="on_edit" editClass="iframe_800x450" ><%= not_link_edit %></span>
  <%# else %>
     <!--span class="word_opac"><%#= not_link_edit %> </span-- >
  <%# end %>

  <%# if roles.include?(InventoryManagementSystem::PURCHASE_REQUISITION_KIV) %>
     <span id="on_kiv"><%= not_link_kiv %></span>
  <%# else %>
     <!--span class="word_opac"><%#= not_link_kiv %> </span-->
  <%# end %>

  <%# if roles.include?(InventoryManagementSystem::PURCHASE_REQUISITION_PRINTABLE) %>
    <span id="on_printable"><%= not_link_printable %></span>
  <%# else %>
     <!--span class="word_opac"><%#= not_link_printable %> </!span-->
  <%# end %>
   
  <%= link_close_button %>

</div>