<% if pr.present? %>
  <table id="grid_h295" class="white-line-table zebraLight">
    <thead>
      <tr class="header_line">
        <th class="check_highlight"></th>
        <th class="std_no">No.</th>
        <th class="std_item_status">Item Status</th>
        <th class="std_pid">Product ID</th>
        <th class="std_company">Supplier Name</th>
        <th class="std_desc">Description (in Detail)</th>
        <th class="std_eta">ETA</th>
        <th class="std_qty">Qty</th>
        <th class="std_um">U/M</th>
        <th class="std_up">Unit Price</th>
        <th class="std_total">Total</th>
        <th class="std_remark">Remark</th>
      </tr>
    </thead>

    <tbody>
      <% @arr = [] %>

      <% pr.each_with_index do |p, index| %>
      
        <% if p.temporary_sources.present? %> 
          <% if p.temporary_sources.find_by_select_vendor(TRUE).present? %>
            <% source = p.temporary_sources.find_by_select_vendor(TRUE) %>
          <% end %>
        <% end %>
      
        <% if p.urgent == TRUE %>
          <% if p.status == PurchaseRequisitionItem::RECEIVED_FULL %>
            <tr class="<%= cycle("odd_line", "even_line") %>" controllerName="purchase_requisition_items" rowsId="<%= p.id %>">
          <% else %>
            <tr class="<%= cycle("odd_line", "even_line") %> red_urgent" controllerName="purchase_requisition_items" rowsId="<%= p.id %>">
          <% end %>
        <% else %>
          <tr class="<%= cycle("odd_line", "even_line") %>" controllerName="purchase_requisition_items" rowsId="<%= p.id %>">
        <% end %>
            <td></td>
            <td align="center"><%= index + 1 %></td>
            <td align="center"><%= purchase_requisition_item_status(p) %></td>
            <td align="center">
              <% if p.product_id? %>
                <%= link_to(product_path(p.product_id), { :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe"}) do %>
                  <%= render '/product_categories/join_product_category', :pc => p %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% unless p.maintenance == TRUE %>
                <% if source.present? %>
                  <% if company = TradeCompany.find_by_name(source.company_name) %>
                    <%= link_to(trade_company_path(company.id), { :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe"}) do %>
                      <%= source.company_name rescue '-' %>
                    <% end %>
                  <% else %>
                    <span class="red_alert"><%= source.company_name rescue '-' %></span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td><%= simple_format(p.description) %></td>
            <td align="center">
              <% if p.status == PurchaseRequisitionItem::RECEIVED_FULL %>
                <%= p.eta.strftime("%d-%m-%Y") rescue '-' %>
              <% else %>
                <% if p.eta < Date.today %>
                  <span class="red_alert"><%= p.eta.strftime("%d-%m-%Y") rescue '-' %></span>
                <% else %>
                  <%= p.eta.strftime("%d-%m-%Y") rescue '-' %>
                <% end %>
              <% end %>
            </td>
            <td align="center"><%= p.quantity %></td>
            <td align="center"><%= p.unit_measurement.code rescue '-' %></td>
            
            <% if p.maintenance == TRUE %>
              <td></td><td></td>
            <% else %>
              <% if source.present? %>
                <td align="right"><%= four_precision(source.unit_price) %></td>
                <td align="right"><%= iproduct(p.quantity, source.unit_price) %></td>
                <% @arr << p.quantity * source.unit_price %>
              <% end %>
            <% end %>
                
            <% if p.remark.present? %>
              <td><%= p.remark rescue '-' %></td>
            <% else %>
              <td align="center">-</td>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>

  <div align="right" style="margin-right: 10%;"><b>Sub-Total: </b><%= two_precision(@arr.sum) %></div>

<% end %>

<%# unless action_name == "kiv" %>
  <%#*<table width="100%">%>
    <%#*<tfoot>%>
      <%#*<tr class="footer_line">%>
          <%#*<th class="std_no"></th>%>
          <%#*<th class="std_item_status"></th>%>
          <%#*<th class="std_pid"></th>%>
          <%#*<th class="std_company"></th>%>
          <%#*<th class="std_desc"></th>%>
          <%#*<th class="std_eta"></th>%>
          <%#*<th class="std_qty"></th>%>
          <%#*<th class="std_um"></th>%>
          <%#*<th class="std_up">Sub-Total</th>%>
          <!--th class="std_total" align="right"><%#= two_precision(arr.sum) %></th-->
          <%#*<th class="std_remark"></th>%>
          <%#*<th width="17"></th>%>
      <%#*</tr>%>
    <%#*</tfoot>%>
  <%#*</table>%>
<%# end %>