<%= form_for(@purchase_requisition) do |f| %>

  <%= f.hidden_field :pr_no, :value => company.sn_purchase_req_no.to_i + 1 %>

  <%= render "/purchase_requisitions/pending_of_purchase_requisition", :pending => @pending %>

  <div class="pr_check_and_submit">
    <table width="100%">
      <tr>
        <td style="vertical-align: top;">
          <table>
            <tr>
              <td><b>Requested By</b></td>
              <td>
                <% if action_name == "edit" %>
                  <%= @purchase_requisition.requested_by.name rescue '-' %>
                <% else %>
                  <%= current_user.name %>
                  <%= f.hidden_field :requested_by, :value => current_user.id %>
                  <%= f.hidden_field :department_id, :value => current_user.department_id %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><b>Date</b></td>
              <td>
                <% if action_name == "edit" %>
                  <%= @purchase_requisition.requested_by_date.strftime("%d-%m-%Y") rescue '-' %>
                <% else %>
                  <%= Date.today.strftime("%d-%m-%Y") %>
                  <%= f.hidden_field :requested_by_date, :value => Date.today %>
                <% end %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <% if action_name == "edit" %>
      <%= f.submit "Edit", :class => "k-button" %>
    <% else %>
      <% if @pending.present? %>
        <%= f.submit "Submit", :confirm => "Are you sure?", :class => "k-button" %>
      <% end %>
    <% end %>
  </div>

<% end %>