<div id="linking">
  <% if action_name == "index" %>
    <span id="department_location"><b>DEPARTMENT:</b> <%= current_user.department.try(:name) %></span>
  <% end %>
  
  <% if roles.include?(InventoryManagementSystem::PR_MENU) %>
    <table>
      <tr>
        <% if roles.include?(InventoryManagementSystem::PR_TRANSACTION) %>
          <td><%= link_to "Purchase Requisitions Data", purchase_requisitions_path, :class => "k-button"%></td>
        <% else %>
          <td><%= disabled_style "Purchase Requisitions Data" %></td>
        <% end %>

        <td><%= image_tag "arrow-right.png", :width => "30px", :height => "30px" %></td>

        <% if roles.include?(InventoryManagementSystem::PR_SIGNATURE) %>
          <td><%= link_to "Approve / Reject PRs Tasks", signature_report_purchase_requisitions_path, :class => "k-button" %></td>
        <% else %>
          <td><%= disabled_style "Approve / Reject PRs Tasks" %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
</div>

<% content_for :css_style do %>
  <style>
    #department_location { float: right; margin-right: 10px; }
  </style>
<% end %>