<div id="linking">
  <table>
      <tr>

        <% if roles.include?(InventoryManagementSystem::PR_MENU) %>
          <% if roles.include?(InventoryManagementSystem::PR_NEW) %>
            <td width="150"><%= link_to "New & Pending PRs", new_purchase_requisition_path, :class => "k-button" %></td>
          <% else %>
            <td width="150">New & Pending PRs</td>
          <% end %>

          <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

          <% if roles.include?(InventoryManagementSystem::PR_SIGNATURE) %>
            <td width="150"><%= link_to "Approve / Reject PRs Tasks", signature_report_purchase_requisitions_path, :class => "k-button" %></td>
          <% else %>
            <td width="150">Approve / Reject PRs Tasks</td>
          <% end %>

          <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

          <% if roles.include?(InventoryManagementSystem::PR_TRANSACTION) %>
            <td width="150"><%= link_to "PR Transactions & Histories", purchase_requisitions_path, :class => "k-button"%></td>
          <% else %>
            <td width="150">PR Transactions & Histories</td>
          <% end %>
        <% end %>

      </tr>
  </table>
</div>