<% if pending.present? %>
  <table id="jgrid_new_pr" class="zebraLight">
      <thead>
        <tr class="header_line">
          <th class="check_highlight"></th>
          <th>No.</th>
          <th width="50" title="Check & Submit">C & S</th>
          <th>Status</th>
          <th>Urgent</th>
          <th>Product ID</th>
          <th>Description(in Detail)</th>
          <th>Vendor Name</th>
          <th>ETA</th>
          <th>QTY</th>
          <th width="60">U/P</th>
          <th>Total</th>
          <th>Remark</th>
        </tr>
      </thead>

      <tbody>
        
        <% pending.each_with_index do |p, index| %>
        
          <% if p.temporary_sources.present? %> 
            <% if p.temporary_sources.find_by_select_vendor(TRUE).present? %>
              <% source = p.temporary_sources.find_by_select_vendor(TRUE) %>
            <% end %>
          <% end %>
        
          <tr class="<%= cycle("odd_line", "even_line") %>" controllerName="purchase_requisition_items" rowsId="<%= p.id %>">
            <td></td>
            <td align="center"><%= index + 1 %></td>
            <td align="center"><%= check_box_tag "select_items[]", p.id %></td>
            <td align="center"><%= purchase_requisition_item_status(p) %></td>
            <td align="center">
              <% if p.status == PurchaseRequisitionItem::RECEIVED_FULL %>
                NO
              <% else %>
                <%= p.urgent? ? "YES" : "NO" %>
              <% end %>
            </td>
            <td align="center">            
              <% if p.product_id? %>
                <%= link_to(product_path(p.product_id), { :class => "show_without_refresh_page_800x450", "data-fancybox-type" => "iframe"}) do %>
                  <%= p.product.product_combobox.product_code rescue '-' %>
                <% end %>
              <% end %>
            </td>
            <td><%= p.description %></td>
            <td>
              <% unless p.maintenance == TRUE %>
                <% if source.present? %>
                  <% if company = TradeCompany.find_by_name(source.company_name) %>
                    <%= link_to(trade_company_path(company.id), { :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe"}) do %>
                      <%= source.company_name rescue '-' %>
                    <% end %>
                  <% else %>
                    <span class="red_alert"><%= source.company_name rescue '-' %></span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td align="center">
              <% if p.eta < Date.today %>
                <span class="red_alert"><%= p.eta.strftime("%d-%m-%Y") rescue '-' %></span>
              <% else %>
                <%= p.eta.strftime("%d-%m-%Y") rescue '-' %>
              <% end %>
            </td>
            <td align="right"><%= p.quantity %> <%= p.unit_measurement.code rescue '-' %></td>
            <% if p.maintenance == TRUE %>
              <td></td><td></td>
            <% else %>
              <% if source.present? %>
                <td align="right"><%= four_precision(source.unit_price) %></td>
                <td align="right"><%= iproduct(p.quantity, source.unit_price) %></td>
              <% end %>
            <% end %>

            <% if p.remark.present? %>
              <td><%= p.remark rescue '-' %></td>
            <% else %>
              <td align="center">-</td>
            <% end %>
          </tr>

        <% end %>
            
      </tbody>
  </table>
<% end %>