<%= title_head "MANAGE APPROVE / REJECT PURCHASE REQUISITION" %>

<table width="100%" class="header_content">
  <tr>
    <td><h3>Managing PR Items</h3></td>
    <td align="right">
      <table>
        <tr>
          <td><b>PR No # : </b></td>
          <td align="right"><%= @purchase_requisition.pr_no %></td>
        </tr>
        <tr>
          <td><b>PR Date : </b></td>
          <td><%= @purchase_requisition.created_at.strftime("%d-%m-%Y") %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="pr_content">
  <% if @edit_items.present? %>
    <%= render "/purchase_requisitions/details_from_purchase_requisition_items", :pr => @edit_items %>
  <% end %>
</div>

<div class="icon_tag">
  
  <% if @purchase_requisition.requested_by.to_i == current_user.id %>
    <% if @purchase_requisition.tasks == current_user.id %>
      <%= not_link_show %>
      <span id="on_edit" editClass="iframe_800x600"><%= not_link_edit %></span>
      <span id="on_remove"><%= not_link_remove %></span>
      <%= not_link_printable %>
    <% end %>
  <% end %>
  
  <%= link_close_button %>
      
</div>
  
<div id='pr_remark_one' class='easyui-window' title='Remark for Approval(1)' closed='true' minimizable='false' style='width:400px;height:240px;padding:10px;'>
  <%= form_tag no_approval_one_purchase_requisition_path(@purchase_requisition), :method => :put do %>
    <b>Remark:</b><br/>
    <%= text_area_tag :remark, params[:remark], :cols => 46, :rows => 8, "required validationMessage" => "Please Enter Remark" %><br/>
    <div class="icon_tag"><%= submit_tag "Submit", :class => "k-button" %></div>
  <% end %>
</div>

<div id='pr_remark_om' class='easyui-window' title='Remark for Approval(OM)' closed='true' minimizable='false' style='width:400px;height:240px;padding:10px;'>
  <%= form_tag no_approval_om_purchase_requisition_path(@purchase_requisition), :method => :put do %>
    <b>Remark:</b><br/>
    <%= text_area_tag :remark, params[:remark], :cols => 46, :rows => 8, "required validationMessage" => "Please Enter Remark" %><br/>
    <div class="icon_tag"><%= submit_tag "Submit", :class => "k-button" %></div>
  <% end %>
</div>

<div id='pr_remark_three' class='easyui-window' title='Remark for Approval(3)' closed='true' minimizable='false' style='width:400px;height:240px;padding:10px;'>
  <%= form_tag no_approval_three_purchase_requisition_path(@purchase_requisition), :method => :put do %>
    <b>Remark:</b><br/>
    <%= text_area_tag :remark, params[:remark], :cols => 46, :rows => 8, "required validationMessage" => "Please Enter Remark" %><br/>
    <div class="icon_tag"><%= submit_tag "Submit", :class => "k-button" %></div>
  <% end %>
</div>

<%= render "js_purchase_requisition" %>