<%= render "linking" %>

<div class="title_head">
  <strong style="color:white;">PURCHASE REQUISITIONS DATA</strong>
  <%= search_button %>
</div>
<div><%= render "search_purchase_requisition" %></div>

<% if @purchase_requisitions.present? %>
  <%= render "listing_purchase_requisitions", :listing => @purchase_requisitions %>
<% else %>
  <div class="linking_content">Not Record Found</div>
<% end %>

<%= render "action_purchase_requisition" %>  