<div class="title_head"><strong style="color:white;">SHOW PURCHASE REQUISITION DETAIL</strong></div>

<table width="100%" class="header_content">
  <tr>
    <td><h3>Purchase Requisition Detail</h3></td>
    <td align="right">
      <table>
        <tr>
          <td><b>PR No # : </b></td>
          <td align="right"><%= @purchase_requisition.pr_no %></td>
        </tr>
        <tr>
          <td><b>PR Date : </b></td>
          <td><%= @purchase_requisition.created_at.strftime("%d-%m-%Y") %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="pr_content">
  <% if @show_items.present? %>
    <%= render "details_from_purchase_requisition_items", :pr => @show_items %>
  <% end %>
</div>

<div class="icon_tag">
  <%= link_close_button %>
</div>

<%= render "js_purchase_requisition" %>