<%= form_for(@inventory_history) do |f| %>
  <div class="popup_content">
    <div id="valid_inventory">
      <table>
        <% unless action_name == "edit" %>
          <tr>
            <td><b>Type *</b></td>
            <td><%= select_tag "in_out", options_for_select([ "IN", "OUT" ], params[:in_out]), :include_blank => true , :onchange => "getCombo_in_out(this)", :class => "mkendo_combobox", "required validationMessage" => "Please Enter Type" %></td>
          </tr>
        <% end %>

        <% unless action_name == "edit" %>
          <tr>
            <td><b>Product ID *</b></td>
            <td><%= select_tag :product_id, options_for_select(product_all_with_combobox, @inventory_history.product_id), :include_blank => true, :onchange => "getCombo_product(this)", :class => "mkendo_combobox", :style => "width: 600px;", "required validationMessage" => "Please Enter Product ID" %></td>
          </tr>
          <tr>
            <td><b>Current Stock</b></td>
            <td><span id="current_product_stock"></span></td>
          </tr>
        <% end %>

        <% unless action_name == "edit" %>
          <% if params[:in_out] == "IN" or @inventory_history.stock_out == 0 %>
            <tr class="show_in">
              <td><b>Stock In Qty</b></td>
              <td>
                <%= f.text_field :stock_in, :value => 0, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Stock In" %>
                <span class="k-invalid-msg" data-for="inventory_history[stock_in]"></span>
              </td>
            </tr>
          <% else %>
            <tr style="display:none;" class="show_in">
              <td><b>Stock In Qty</b></td>
              <td>
                <%= f.text_field :stock_in, :value => 0, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Stock In" %>
                <span class="k-invalid-msg" data-for="inventory_history[stock_in]"></span>
              </td>
            </tr>
          <% end %>
        <% end %>

        <% unless action_name == "edit" %>
          <% if params[:in_out] == "OUT" or @inventory_history.stock_in == 0 %>
            <tr class="show_out">
              <td><b>Stock Out Qty</b></td>
              <td>
                <%= f.text_field :stock_out, :value => 0, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Stock Out" %>
                <span class="k-invalid-msg" data-for="inventory_history[stock_out]"></span>
              </td>
            </tr>
          <% else %>
            <tr style="display:none;" class="show_out">
              <td><b>Stock Out Qty</b></td>
              <td>
                <%= f.text_field :stock_out, :value => 0, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Stock Out" %>
                <span class="k-invalid-msg" data-for="inventory_history[stock_out]"></span>
              </td>
            </tr>
          <% end %>
        <% end %>

        <tr>
          <td><b>Inventory Issue *</b></td>
          <td><%= f.select :inventory_issue_id, options_from_collection_for_select(InventoryIssue.all, 'id', 'description', @inventory_history.inventory_issue_id.to_i), { :include_blank => true }, { "required validationMessage" => "Please Enter Inventory Issue", :style => "width :300px;" } %></td>
        </tr>
      </table>
    </div>
  </div>

  <%= render "action_inventory_new" %>

<% end %>


<% content_for :jquery_script do %>
  <script>
    
    $(document).ready(function() {
        
        var validator = $("#valid_inventory").kendoValidator().data("kendoValidator");
        
        $("#save_button, #left_save_button").click(function() {
            if (validator.validate()) { busyHours(); }
            else { alert("Invalid Data Form..."); return false; } 
        });
        
    });
    
    function getCombo_in_out(sel) {
        var combo = sel.options[sel.selectedIndex].value; 
        if (combo == "IN"){
            $('.show_in').show();
            $('.show_out').hide();
        } else {
            $('.show_in').hide();
            $('.show_out').show();
        }

        $.ajax({
            dataType: "json",
            url: '/inventory_issues?type_id=' + combo,
            success: function(data){
                $("select#inventory_history_inventory_issue_id").empty();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("select#inventory_history_inventory_issue_id");
                $.each(data, function(i, j){
                    row = "<option value=\"" + j.id + "\">" + j.description + "</option>";
                    $(row).appendTo("select#inventory_history_inventory_issue_id"); 
                });
                $("select#inventory_history_inventory_issue_id").kendoComboBox({filter: "contains"});
            }
        });
    }

    function getCombo_product(sel) {
        var product = sel.options[sel.selectedIndex].value;

        $.ajax({
            dataType: "json",
            cache: false,
            url: '/products/' + product + '/current_stock',
            timeout: 2000,
            success: function(data){
                var vhtml = data.current_stock;
                $("#current_product_stock").html(vhtml);
                $("#stock_value").html(data.current_stock);
                $("#stock_out_um").html(data.um);
                $("#stock_out_unit_measurement_id").val(data.unit_measurement_id);
                $("#stock_out_description").html(data.desc);

                <%#*if (data.current_stock == 0){%>
                    <%#*alert("Current stock has not available now.")%>   
                    <%#*$("#stock_out_save_button").hide();%>
                <%#*}%>
            }
        });
    }
  </script>

<% end %>
