<table id="jgrid_searching" class="zebraLight">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>Date</th>

      <% unless @search.product_id_equals.present? %>
        <th>Product ID</th>
        <th>Description</th>
      <% end %>

      <th>Transaction</th>
      <th>Stock in</th>
      <th>Stock out</th>
      <th>Total</th>
      <th>U/M</th>
    </tr>
  </thead>
  <tbody>
    <% inventory_histories.each do |inventory_history| %>
      
      <tr class="<%= cycle('odd_line', 'even_line') %>" controllerName="<%= controller_name %>" rowsId="<%= inventory_history.id %>">
        <td></td>
        <td align="center"><%= inventory_history.created_at.strftime("%d-%m-%Y") rescue '-' %></td>

        <% unless @search.product_id_equals.present? %>
          <td><%= render "/product_categories/join_product_category", :pc => inventory_history %></td>
          <td><%= inventory_history.product.desc rescue '-' %></td>
        <% end %>
            
        <td align="center">
          <%= inventory_issue_description(inventory_history.inventory_issue_id) rescue '-' %>
          <%#= inventory_history.inventory_issue.description rescue '-' %>
        </td>
        <td align="center"><%= inventory_history.stock_in rescue '0' %></td>
        <td align="center"><%= inventory_history.stock_out rescue '0' %></td>
        <td align="center"><%= inventory_history.amount rescue '0' %></td>
        <td align="center"><%= inventory_history.product.unit_measurement.code rescue '-' %></td>
      </tr>

    <% end %>
  </tbody>
</table>
