<div id="popup_container">

  <div class="title_head">
    <strong style="color:white;">TRANSACTIONS & HISTORIES FOR INVENTORY</strong>
    <%= search_button %>
  </div>
  <div><%= render "search_inventory" %></div>

  <div class="fix_1600x900_h450">
    <% if @inventories.present? %>
      <% if @search.product_code_equals.present? %>
        <%= render "product_details", :inventory_histories => @search %>
      <% else %>
        <%= render "select_inventory", :inventory_histories => @inventories %>
      <% end %>
    <% else %>
      Not Record Found.
    <% end %>
  </div>

  <%= render "action_inventory" %> 
</div>