<%= title_head "SHOW INVENTORY DETAIL" %>

<div class="popup_content">
  <table>
    <tr>
      <td><b>Product ID</b></td>
      <td><%= render "/product_categories/join_product_category", :pc => @inventory_history %></td>
    </tr>
    <tr>
      <td><b>Stock In</b></td>
      <td><%= @inventory_history.stock_in rescue '-' %></td>
    </tr>
    <tr>
      <td><b>Stock Out</b></td>
      <td><%= @inventory_history.stock_out rescue '-' %></td>
    </tr>
    <tr>
      <td><b>Inventory Issue</b></td>
      <td><%= @inventory_history.inventory_issue.description rescue '-' %></td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td><%= @inventory_history.amount rescue '-' %></td>
    </tr>
  </table>
</div>

<div class="icon_tag">
  <%= link_close_button %>
</div>
