<h1>Listing type_of_sales</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_of_sales.each do |type_of_sale| %>
  <tr>
    <td><%= type_of_sale.name %></td>
    <td><%= type_of_sale.description %></td>
    <td><%= link_to 'Show', type_of_sale %></td>
    <td><%= link_to 'Edit', edit_type_of_sale_path(type_of_sale) %></td>
    <td><%= link_to 'Destroy', type_of_sale, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type of sale', new_type_of_sale_path %>
