<h1>Listing sequents</h1>

<table>
  <tr>
    <th>Sequent color</th>
    <th>Quotation request form</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sequents.each do |sequent| %>
  <tr>
    <td><%= sequent.sequent_color %></td>
    <td><%= sequent.quotation_request_form_id %></td>
    <td><%= link_to 'Show', sequent %></td>
    <td><%= link_to 'Edit', edit_sequent_path(sequent) %></td>
    <td><%= link_to 'Destroy', sequent, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sequent', new_sequent_path %>
