<table id="jgrid" class="zebraLight">

  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>Name</th>
      <th>Job Title</th>
      <th>Department</th>
      <th width="100">Level Two</th>
      <th width="100">Level Three</th>
    </tr>
  </thead>

  <tbody>
    <% list_users.each do |user| %>
      <% lv2 = User.find_by_id(user.level_two) %>
      <% lv3 = User.find_by_id(user.level_three) %>

      <tr class="<%= cycle('odd_line', 'even_line') %>" controllerName="<%= controller_name %>" rowsId="<%= user.id %>">
        <td></td>
        <td><%= user.name rescue '-' %></td>
        <td><%= user.job_title rescue '-' %></td>
        <td><%= user.department.name rescue '-' %></td>
        <td><%= lv2.name rescue '-' %></td>
        <td><%= lv3.name rescue '-' %></td>
      </tr>      
    <% end %>
  </tbody>

</table>