<table id="grid_h495" class="white-line-table zebraLight">
  
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>Name</th>
      <th>Job Title</th>
      <th>Department</th>
      <th>Level Two</th>
      <th>Level Three</th>
    </tr>
  </thead>

  <tbody>
    <% list_users.each do |user| %>
      <% lv2 = User.find_by_id(user.level_two) %>
      <% lv3 = User.find_by_id(user.level_three) %>
    
      <tr class="<%= cycle('odd_line', 'even_line') %>" controllerName="<%= controller_name %>" rowsId="<%= user.id %>">
        <td></td>
        <td align="center"><%= user.name rescue '-' %></td>
        <td align="center"><%= user.job_title rescue '-' %></td>
        <td align="center"><%= user.department.name rescue '-' %></td>
        <td align="center"><%= lv2.name rescue '-' %></td>
        <td align="center"><%= lv3.name rescue '-' %></td>
      </tr>
    <% end %>
  </tbody>

</table>