<div style="background-color:blue"><strong style="color:white;">EDIT USER</strong></div>

<%= form_tag @user, :url => edit_user_path(@user), :method => :put do  %>
  <div id="user_strip">
    <ul>
      <li class="k-state-active">User Account</li>
      <li>Inventory Management System</li>
    </ul>
    <div><%= render "edit_user_account" %></div>
    <div><%= render "management" %></div>
  </div>
  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>




