<div class="title_head"><strong style="color:white;">NEW USER</strong></div>

<%= form_tag generator_user_users_path do  %>
  <div class="popup_content">
    <div id="user_strip">
      <ul>
        <li class="k-state-active">User Account</li>
        <li>Inventory Management System</li>
        <li>Inventory Management System II - Product</li>
      </ul>
      <div><%= render "user_account" %></div>
      <div><%= render "management_checkbox" %></div>
      <div><%= render "management_product" %></div>
    </div>
  </div>
  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {
        $("#new_name").keyup(function(){
          var string = $(this).val();
          $("#insert_name").html(string);
          return false;
        });
    });
  </script>
<% end %>