<%= title_head "NEW USER" %>

<%= form_tag generator_user_users_path do %>
  <div id="valid_user_form">
    <div id="user_strip">
      <ul>
        <li class="k-state-active">User Account</li>
        <li>IMS - Purchase Flow</li>
        <li>IMS - Sales Flow</li>
        <li>IMS - Inventory</li>
        <li>IMS - Custom</li>
        <li>IMS - Housekeeping</li>
        <li>IMS - Housekeeping - Product</li>
        <li>IMS - Report I</li>
        <li>IMS - Report II</li>
        <li>IMS - Report III</li>
        <li>IMS - Account</li>
      </ul>
      <div><%= render "new_user_account" %></div>
      <div><%= render "management_purchase_flow" %></div>
      <div><%= render "management_sale_flow" %></div>
      <div><%= render "management_inventory" %></div>
      <div><%= render "management_custom" %></div>
      <div><%= render "management_housekeeping" %></div>
      <div><%= render "management_product" %></div>
      <div><%= render "management_ste_pr_do_report" %></div>
      <div><%= render "management_po_so_listing_report" %></div>
      <div><%= render "management_acc_rn_inven_report" %></div>
      <div><%= render "management_account" %></div>
      <span style="position: absolute; padding: 5px;">*IMS = Inventory Management System</span>
    </div>
  </div>
  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>

<%= render "js_user" %>