<div id="popup_container">
<div style="background-color:blue"><strong style="color:white;">SHOW USER</strong></div>

  <div id="user_strip">
    <ul>
        <li class="k-state-active">
          User Account
        </li>
        <li>
          Inventory Management System
        </li>
        <li>
          Inventory Management System II- Product 
        </li>
    </ul>
    
    <div>
      <table width="100%">
        <tr>
          <td width="150">Name</td>
          <td><%= @user.name rescue '-' %></td>
        </tr>
        <tr>
          <td>Job Title</td>
          <td><%= @user.job_title rescue '-' %></td>
        </tr>
        <tr>
          <td>Department</td>
          <td><%= @user.department.try(:name) %></td>
        </tr>
        <tr>
          <td>Level</td>
          <td><%= @user.level rescue '-' %></td>
        </tr>
        <tr>
          <td>Report To</td>
          <% if @user.direct_report == TRUE %>
            <td>Direct Report To Director</td>
          <% else %>
            <td><%= @user.applicant.name rescue '-' %></td>
          <% end %>
        </tr>
      </table>
    </div>

    <div>
      <%= render "management" %>
    </div>
    <div>
      <div class="user_management">
      <%= render "management_product" %>
    </div>
    </div>
  

<div class="icon_tag">
  <%= link_close_button %>
</div>

</div>