<div class="left_icon_tag">
  <b><%= link_to "New Trade Term", new_trade_term_path, :class => "show_without_refresh_page_800x450 k-button", "data-fancybox-type" => "iframe" %></b>
</div>

<div class="icon_tag">
  <span id="on_show" showClass="show_without_refresh_page_800x450"><%= not_link_show %></span>
  <span id="on_edit" editClass="iframe_800x450"><%= not_link_edit %></span>
  <span id="on_kiv"><%= not_link_kiv %></span>
  <span id="on_printable"><%= not_link_printable %></span>
  <%= link_home_button %>
</div>