<h1>Listing selection_fieldsets</h1>

<table>
  <tr>
    <th>Quotation request form</th>
    <th>Select no</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @selection_fieldsets.each do |selection_fieldset| %>
  <tr>
    <td><%= selection_fieldset.quotation_request_form_id %></td>
    <td><%= selection_fieldset.select_no %></td>
    <td><%= link_to 'Show', selection_fieldset %></td>
    <td><%= link_to 'Edit', edit_selection_fieldset_path(selection_fieldset) %></td>
    <td><%= link_to 'Destroy', selection_fieldset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Selection fieldset', new_selection_fieldset_path %>
