<div style="background-color: gainsboro;">
  <div id="main_pr">  
    <table>
      <tr>
        <th class="block_box" width="150">PURCHASE REQUISITION</th>
        
        <% if roles.include?(InventoryManagementSystem::PR_MENU) %>
        
          <% if roles.include?(InventoryManagementSystem::PR_TRANSACTION) %>
            <td width="150"><%= link_to "Purchase Requisitions Data", purchase_requisitions_path, :class => "k-button"%></td>
          <% else %>
            <td width="150" class="disabled_button">Purchase Requisitions Data</td>
          <% end %>

          <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

          <% if roles.include?(InventoryManagementSystem::PR_SIGNATURE) %>
            <td width="150"><%= link_to "Approve / Reject PRs Tasks", signature_report_purchase_requisitions_path, :class => "k-button" %></td>
          <% else %>
            <td width="150" class="disabled_button">Approve / Reject PRs Tasks</td>
          <% end %>

        <% end %>
      </tr>

      <tr>
        <th><%= image_tag "arrow-bottom.png", :size => '25x25' %></th>
      </tr>

      <tr>
          <th class="block_box" rowspan="2">PURCHASE ORDER</th>

          <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_MENU) %>
            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR) %>
              <td rowspan="2"><%= link_to "Approved From PR", approved_pr_purchase_orders_path,:class => "k-button" %></td>
            <% else %>
              <td rowspan="2" class="disabled_button">Approved From PR</td>
            <% end %>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR) %>
              <td><%= link_to "PR-Repair", maintenance_purchase_orders_path, :class => "k-button" %></td>
            <% else %>
              <td class="disabled_button">PR-Repair</td>
            <% end %>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION) %>
              <td rowspan="2"><%= link_to "Vendor Selection", pending_approval_purchase_orders_path,:class => "k-button" %></td>
            <% else %>
              <td rowspan="2" class="disabled_button">Vendor Selection</td>
            <% end %>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <td width="150">Auto linking vendor if exist</td>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <!-- Start -->
            <td width="150">If Product ID exist</td>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <!-- End -->

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY) %>
              <td rowspan="2" width="100"><%= link_to "PO Entry", make_purchase_order_purchase_orders_path,:class => "k-button" %></td>
            <% else %>
              <td rowspan="2" width="100" class="disabled_button">PO Entry</td>
            <% end %>

            <td rowspan="2"><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION) %>
              <td rowspan="2" width="150"><%= link_to "PO Transactions & Histories", purchase_orders_path, :class => "k-button" %></td>
            <% else %>
              <td rowspan="2" width="150" class="disabled_button">PO Transactions & Histories</td>
            <% end %>
          <% end %>
      </tr>

      <tr>
        <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_MENU) %>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR) %>
              <td><%= link_to "Proposed Vendor", proposed_vendor_purchase_orders_path,:class => "k-button" %></td>
            <% else %>
              <td class="disabled_button">Proposed Vendor</td>
            <% end %>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>
            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION) %>
              <td><%= link_to "Vendor Registration", vendor_purchase_orders_path, :class => "k-button" %></td>
            <% else %>
              <td class="disabled_button">Vendor Registration</td>
            <% end %>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <!-- Start -->
            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PRODUCT_ID_REGISTRATION) %>
              <td><%= link_to "Product ID Registration (Non Operation and Operation)", no_product_id_purchase_orders_path,:class => "k-button" %></td>
            <% else %>
              <td class="disabled_button">Product ID Registration (Non Operation and Operation)</td>
            <% end %>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <!-- End -->

        <% end %>
      </tr>

      <tr>
        <th><%= image_tag "arrow-bottom.png", :width => "30px" %></th>
      </tr>

      <tr>
          <th class="block_box">RECEIVED NOTES</th>

          <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_MENU) %> 
            <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <td><%= link_to "RN Transactions & Histories", receive_notes_path, :class => "k-button" %></td>
            <% else %>
              <td class="disabled_button">RN Transactions & Histories</td>
            <% end %>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_COMPLETED_VIEW) %>
              <td><%= link_to "Received Notes Completed", info_receive_notes_path, :class => "k-button" %></td>
            <% else %>
              <td class="disabled_button">Received Notes Completed</td>
            <% end %>
          <% end %>
      </tr>
    </table>
  </div>

  <div id="main_qr">
    <table>
      <tr>
        <th class="block_box">QUOTATION REQUISITION</th>

        <% if roles.include?(InventoryManagementSystem::QR_MENU) %>

          <% if roles.include?(InventoryManagementSystem::QR_NEW_N_PENDING) %>
            <td><%= link_to 'New & Pending QRs', pending_quotation_quotation_request_forms_path, :class => "k-button"%></td>
          <% else %>
            <td><%= disabled_style("New & Pending QRs") %></td>
          <% end %>

          <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

          <% if roles.include?(InventoryManagementSystem::QR_APPROVED_REJECT) %>
            <td><%= link_to 'Approve / Reject QRs Tasks', signature_quotation_quotation_request_forms_path, :class => "k-button" %></td>
          <% else %>
            <td><%= disabled_style("Approve / Reject QRs Tasks") %></td>
          <% end %>

          <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

          <% if roles.include?(InventoryManagementSystem::QR_TRANSACTION) %>
            <td><%= link_to "QR Transactions & Histories", quotation_request_forms_path, :class => "k-button" %></td>
          <% else %>
            <td><%= disabled_style("QR Transactions & Histories") %></td>
          <% end %>

          <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

          <% if roles.include?(InventoryManagementSystem::QR_CUSTOMER_FEEDBACK) %>
            <td><%= link_to "QR Customer Feedback", feedback_quotation_request_forms_path,:class => "k-button" %></td>
          <% else %>
            <td><%= disabled_style("QR Customer Feedback") %></td>
          <% end %>

          <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

          <% if roles.include?(InventoryManagementSystem::SO_CUSTOMER_REGISTRATION) %>
            <td><%= link_to "Customer Registration", customer_registration_sales_orders_path, :class => "k-button" %></td>
          <% else %>
            <td><%= disabled_style("Customer Registration") %></td>
          <% end %>    

          <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

          <% if roles.include?(InventoryManagementSystem::SO_PRODUCT_ID_REGISTRATION) %>
            <td><%= link_to "Product ID Registration (Finish Goods)", finish_good_products_path, :class => "show_without_refresh_page_1600x900 k-button", "data-fancybox-type" => "iframe" %></td>
          <% else %>
            <td><%= disabled_style("Product ID Registration (Finish Goods)") %></td>
          <% end %>

          <td><%= image_tag "arrow-right.png", :width => "30px" %></td>            
            
          <% if roles.include?(InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_NEW) %>
            <td><%= link_to "New Product Price Control", new_price_control_path, :class => "show_without_refresh_page_1600x900 k-button", "data-fancybox-type" => "iframe" %></td>
          <% else %>
            <td><%= disabled_style("New Product Price Control") %></td>
          <% end %>

        <% end %>
      </tr>

      <tr>
        <th><%= image_tag "arrow-bottom.png", :width => "30px" %></th>
      </tr>

      <tr>
        <th class="block_box">SALES ORDER</th>
        
        <% if roles.include?(InventoryManagementSystem::QR_MENU) %>
          <% if roles.include?(InventoryManagementSystem::SO_TRANSACTION) %>
            <td><%= link_to "Sales Orders Data", sales_orders_path,:class => "k-button" %></td>
          <% else %>
            <td><%= disabled_style("Sales Orders Data") %></td>
          <% end %>
        <% end %>
          
        <!--td><%#= image_tag "arrow-right.png", :width => "30px" %></td-->
          
        <%# if roles.include?(InventoryManagementSystem::SO_TRANSACTION) %>
          <!--td><%#= link_to "Production", production_sales_orders_path,:class => "k-button" %></td-->
        <%# else %>
          <%#*<td>Production</td>%>
        <%# end %>
      </tr>

      <tr>
        <th><%= image_tag "arrow-bottom.png", :width => "30px" %></th>
      </tr>

      <tr>
          <th class="block_box">DELIVERY ORDER</th>
          
          <% if roles.include?(InventoryManagementSystem::DO_MENU) %>
          
            <% if roles.include?(InventoryManagementSystem::DO_TRANSACTION) %>
              <td><%= link_to "Delivery Orders Data", delivery_orders_path,:class => "k-button" %></td>
            <% else %>
              <td><%= disabled_style("Delivery Orders Data") %></td>
            <% end %>
              
          <% end %>
      </tr>      
      
    </table>
  </div>

  <hr/>
  
  <div class="padding_10"><b>QUICK TIPS</b></div>
  <table>
    <tr>
      <td width="60" align="center">
        <% if roles.include?(InventoryManagementSystem::PR_MENU) or roles.include?(InventoryManagementSystem::PURCHASE_ORDER_MENU) or roles.include?(InventoryManagementSystem::RECEIVE_NOTE_MENU) %>
          <%= link_to image_tag("purchase.png", :alt => "Purchase", :title => "Purchase", :class => "cube35"), '#', :id => "show_purchase" %>
        <% else %>
          <%= image_tag("purchase.png", :alt => "Purchase", :title => "Purchase", :class => "opac_icon")  %>
        <% end %>
      </td>

      <td width="60" align="center">
        <% if roles.include?(InventoryManagementSystem::QR_MENU) or roles.include?(InventoryManagementSystem::SO_MENU) or roles.include?(InventoryManagementSystem::DO_MENU) %>
          <%= link_to image_tag("invoice_icon.png", :alt => "Sales", :title => "Sales", :class => "cube35"), '#', :id => "show_sales"  %>
        <% else %>
          <%= image_tag("invoice.png", :alt => "Sales", :title => "Sales", :class => "opac_icon") %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td align="center">PO</td>
      <td align="center">SO</td>
    </tr>
  </table>

  
  <% if user_is_admin? %>
    <div class="padding_10"><b>ACCESS MANAGEMENT (LEVEL 5)</b></div>
    <table>
      <tr>
        <td width="60" align="center">
          <%= link_to image_tag("user_icon.png", :alt => "All Users", :title => "All Users", :class => "cube35"), users_path %><br/>
        </td>
      </tr>
      <tr>
        <td align="center">USERS</td>
      </tr>
    </table>
  <% end %>
  
</div>
