<h2 align="center" style="border: 5px solid blue; width: 800px; padding: 10px;">
  WELCOME TO ETHEOS IMPRINT E-RESOURCE PLANNING SYSTEM
</h2>

<div style="height: 500px;">
  <table>
    
        <tr>
          <th class="block_box">PURCHASE REQUISITION</th>
          
          <% if roles.include?(InventoryManagementSystem::PR_MENU) %>
            <% if roles.include?(InventoryManagementSystem::PR_NEW) %>
              <td><%= link_to "New & Pending PRs", new_purchase_requisition_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
            <% else %>
              <td>New & Pending PRs</td>
            <% end %>
              
            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>
            
            <% if roles.include?(InventoryManagementSystem::PR_SIGNATURE) %>
              <td><%= link_to "Approve / Reject Tasks", signature_report_purchase_requisitions_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
            <% else %>
              <td>Signature & Feedback Tasks</td>
            <% end %>

            <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

            <% if roles.include?(InventoryManagementSystem::PR_TRANSACTION) %>
              <td><%= link_to "PR Transactions & Histories", purchase_requisitions_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
            <% else %>
              <td>PR Transactions & Histories</td>
            <% end %>
          <% end %>
              
        </tr>

        <tr>
          <th><%= image_tag "arrow-bottom.png", :size => '25x25' %></th>
        </tr>
    
        <tr>
            <th class="block_box" rowspan="2">PURCHASE ORDER</th>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_MENU) %>
              <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR) %>
                <td rowspan="2"><%= link_to "Approved From PR", approved_pr_purchase_orders_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe"  %></td>
              <% else %>
                <td rowspan="2">Approved From PR</td>
              <% end %>

              <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

              <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR) %>
                <td><%= link_to "PR-Repair", maintenance_purchase_orders_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
              <% else %>
                <td>PR-Repair</td>
              <% end %>

              <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

              <td rowspan="2">
                <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION) %>
                  <%= link_to "Vendor Selection", pending_approval_purchase_orders_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %> 
                <% else %>
                  Vendor Selection
                <% end %>
              </td>

              <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

              <td>Auto vendor if exist</td>

              <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

              <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY) %>
                <td rowspan="2"><%= link_to "PO Entry", make_purchase_order_purchase_orders_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
              <% else %>
                <td rowspan="2">PO Entry</td>
              <% end %>

              <td rowspan="2"><%= image_tag "arrow-right.png", :width => "30px" %></td>

              <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION) %>
                <td rowspan="2"><%= link_to "PO Transactions & Histories", purchase_orders_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
              <% else %>
                <td rowspan="2">PO Transactions & Histories</td>
              <% end %>
            <% end %>
        </tr>
        
        <tr>
          <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_MENU) %>

              <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

              <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR) %>
                <td><%= link_to "Proposed Vendor", proposed_vendor_purchase_orders_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
              <% else %>
                <td>Proposed Vendor</td>
              <% end %>

              <td><%= image_tag "arrow-right.png", :width => "30px" %></td>
              <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

              <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION) %>
                <td><%= link_to "Vendor Registration", vendor_purchase_orders_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
              <% else %>
                <td>Vendor Registration</td>
              <% end %>

              <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

          <% end %>
        </tr>

        <tr>
          <th><%= image_tag "arrow-bottom.png", :width => "30px" %></th>
        </tr>
    
        <tr>
            <th class="block_box">RECEIVED NOTES</th>

            <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_MENU) %> 
              <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_NEW) %>
                <td><%= link_to "New RNs", new_receive_note_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
              <% else %>
                <td>New RNs</td>
              <% end %>

              <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

              <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
                <td><%= link_to "RN Transactions & Histories", receive_notes_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
              <% else %>
                <td>RN Transactions & Histories</td>
              <% end %>

              <td><%= image_tag "arrow-right.png", :width => "30px" %></td>

              <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_COMPLETED_VIEW) %>
                <td><%= link_to "Received Notes Completed", info_receive_notes_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></td>
              <% else %>
                <td>Received Notes Completed</td>
              <% end %>
            <% end %>
        </tr>
  </table>
</div>



<% if current_user.level == User::LEVEL_FIVE %>
  <hr/>
  
  <div style="font-weight: bold;">Access Management (LEVEL 5)</div>
  
  <div style="width:60px;">
      <%= link_to image_tag("user_icon.png", :alt => "All Users", :title => "All Users", :class => "cube40"), users_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %><br/>
      Listing Users
  </div>
<% end %>



