<%= form_for(@company_profile) do |f| %>
  <div class="popup_content">
    <div id="valid_profile">
      <table>
        <tr>
          <td width="150"><b><%= f.label :name, "Company's Name *"%></b></td>
          <td><%= f.text_field :name, :class => "k-textbox" , "required validationMessage" => "Please Enter Company's Name", :style => "width: 400px;" %></td>
        </tr>
        <tr>
          <td style="vertical-align: top;" width="150"><b><%= f.label :address, "Address *" %></b></td>
          <td><%= f.text_area :address, :rows => 4, :cols => 50, "required validationMessage" => "Please Enter Address"%></td>
        </tr>
      </table>

      <table>
        <tr>
          <td width="150"><b><%= f.label :tel_no_1, "Telephone-1 No. *" %></b></td>
          <td width="150"><%= f.text_field :tel_no_1,:class => "k-textbox", "required validationMessage" => "Please Enter Telephone-1 No." %></td>

          <td width="150"><b><%= f.label :tel_no_2, "Telephone-2 No. *" %></b></td>
          <td width="150"><%= f.text_field :tel_no_2 , :class => "k-textbox", "required validationMessage" => "Please Enter Telephone-2 No." %></td>

          <td width="150"><b><%= f.label :fax_no, "Fax No. *" %></b></td>
          <td width="150"><%= f.text_field :fax_no , :class => "k-textbox", "required validationMessage" => "Please Enter Fax No." %></td>
        </tr>
        <tr>
          <td><b><%= f.label :sales_tax_no, "Sales Tax No. *" %></b></td>
          <td><%= f.text_field :sales_tax_no , :class => "k-textbox", "required validationMessage" => "Please Enter Sales Tax No." %></td>
          <td><b><%= f.label :reg_no, "Reg. No. *" %></b></td>
          <td><%= f.text_field :reg_no , :class => "k-textbox", "required validationMessage" => "Please Enter Reg. No." %></td>
        </tr>
      </table>

      <hr/>

      <table>
        <tr>
          <td><b><%= f.label :sn_purchase_req_no, "Purchase Req No." %></b></td>
          <td>
            <%= f.text_field :sn_purchase_req_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Purchase Req No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_purchase_req_no]"></span>
          </td>
          <td width="50"></td>
          <td><b><%= f.label :sn_quotation_request_no, "Quotation Requisition No." %></b></td>
          <td>
            <%= f.text_field :sn_quotation_request_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Quotation Requisition No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_quotation_request_no]"></span>
          </td>
        </tr>
        <tr>
          <td><b><%= f.label :sn_purchase_order_no, "Purchase Order No." %></b></td>
          <td>
            <%= f.text_field :sn_purchase_order_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Purchase Order No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_purchase_order_no]"></span>
          </td>
          <td></td>
          <td width="150"><b><%= f.label :sn_sales_order_no, "Sales Order No." %></b></td>
          <td width="150">
            <%= f.text_field :sn_sales_order_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Sales Order No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_sales_order_no]"></span>
          </td>
        </tr>
        <tr>
          <td><b><%= f.label :sn_receive_note_no, "Receive Note No." %></b></td>
          <td>
            <%= f.text_field :sn_receive_note_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Receive Note No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_receive_note_no]"></span>
          </td>
          <td></td>
          <td><b><%= f.label :sn_deliver_order_no, "Deliver Order No." %></b></td>
          <td>
            <%= f.text_field :sn_deliver_order_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Delivery Order No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_deliver_order_no]"></span>
          </td>
        </tr>
        <tr>
          <td><b><%= f.label :sn_incoming_reject_no, "Incoming Reject No." %></b></td>
          <td>
            <%= f.text_field :sn_incoming_reject_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Incoming Reject No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_incoming_reject_no]"></span>
          </td>
          <td></td>
          <td><b><%= f.label :sn_outgoing_reject_no, "Outgoing Reject No." %></b></td>
          <td>
            <%= f.text_field :sn_outgoing_reject_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Outgoing Reject No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_outgoing_reject_no]"></span>
          </td>
        </tr>
        <tr>
          <td><b><%= f.label :sn_debit_note_no, "Debit Note No." %></b></td>
          <td>
            <%= f.text_field :sn_debit_note_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Debit Note No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_debit_note_no]"></span>
          </td>
          <td></td>
          <td><b><%= f.label :sn_credit_note_no, "Credit Note No." %></b></td>
          <td>
            <%= f.text_field :sn_credit_note_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Credit Note No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_credit_note_no]"></span>
          </td>
        </tr>
        <tr>
          <td><b><%= f.label :sn_receipt_no, "Receipt No." %></b></td>
          <td>
            <%= f.text_field :sn_receipt_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Receipt No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_receipt_no]"></span>
          </td>
          <td></td>
          <td><b><%= f.label :sn_journal_voucher_no, "Journal Voucher No." %></b></td>
          <td>
            <%= f.text_field :sn_journal_voucher_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Journal Voucher No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_journal_voucher_no]"></span>
          </td>
        </tr>
        <tr>
          <td><b><%= f.label :sn_bankin_slip_no, "Bank-In Slip No." %></b></td>
          <td>
            <%= f.text_field :sn_bankin_slip_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Bank-In Slip No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_bankin_slip_no]"></span>
          </td>
          <td></td>
          <td><b><%= f.label :sn_payment_voucher_no, "Payment Voucher No." %></b></td>
          <td>
            <%= f.text_field :sn_payment_voucher_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Payment Voucher No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_payment_voucher_no]"></span>
          </td>
        </tr>
        <tr>
          <td width="150"><b><%= f.label :sn_transfer_slip_no, "Transfer Slip No." %></b></td>
          <td>
            <%= f.text_field :sn_transfer_slip_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Transfer Slip No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_transfer_slip_no]"></span>
          </td>
          <td></td>
          <td><b><%= f.label :sn_product_price_no, "Product Price No." %></b></td>
          <td>
            <%= f.text_field :sn_product_price_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Product Price No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_product_price_no]"></span>
          </td>
        </tr>
        <tr>
          <td><b><%= f.label :sn_store_voucher_no, "Store Voucher No." %></b></td>
          <td>
            <%= f.text_field :sn_store_voucher_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Store Voucher No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_store_voucher_no]"></span>
          </td>
          <td></td>
          <td><b><%= f.label :sn_job_order_no, "Job Order No." %><b/></td>    
          <td>
            <%= f.text_field :sn_job_order_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Job Order No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_job_order_no]"></span>
          </td>
        </tr>
        <tr>
          <td><b><%= f.label :sn_billing_order_no, "Billing Order No." %></b></td>
          <td>
            <%= f.text_field :sn_billing_order_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Billing Order No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_billing_order_no]"></span>
          </td>
          <td></td>
          <td><b><%= f.label :sn_scrap_sheet_no, "Scrap Sheet No." %></b></td>
          <td>
            <%= f.text_field :sn_scrap_sheet_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Scrap Sheet No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_scrap_sheet_no]"></span>
          </td>
        </tr>
        <tr>
          <td><b><%= f.label :sn_receiving_instr_no, "Receiving Instr No." %></b></td>
          <td>
            <%= f.text_field :sn_receiving_instr_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Receiving Instr No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_receiving_instr_no]"></span>
          </td>
          <td></td>
          <td><b><%= f.label :sn_shipping_instr_no, "Shipping Instr No." %></b></td>
          <td>
            <%= f.text_field :sn_shipping_instr_no, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Shipping Instr No." %>
            <span class="k-invalid-msg" data-for="company_profile[sn_shipping_instr_no]"></span>
          </td>
        </tr>
        <tr>
          <td><b><%= f.label :sn_shipment_schedule, "Shipment Schedule #" %></b></td>
          <td>
            <%= f.text_field :sn_shipment_schedule, :class => "kendo_precision_0", "required validationMessage" => "Please Enter Shipment Schedule #" %>
            <span class="k-invalid-msg" data-for="company_profile[sn_shipment_schedule]"></span>
          </td>
        </tr>
      </table>
    </div>
   </div> 
  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {   
        
        var validator = $("#valid_profile").kendoValidator().data("kendoValidator");
        
        $("#save_button").click(function() {
            if (validator.validate()) {}
            else { alert("Invalid Data Form..."); return false; } 
        });
    });
  </script>
<% end %>
