<p>
  <b>Name:</b>
  <%= @company_profile.name %>
</p>

<p>
  <b>Address:</b>
  <%= @company_profile.address %>
</p>

<p>
  <b>Tel no 1:</b>
  <%= @company_profile.tel_no_1 %>
</p>

<p>
  <b>Tel no 2:</b>
  <%= @company_profile.tel_no_2 %>
</p>

<p>
  <b>Fax no:</b>
  <%= @company_profile.fax_no %>
</p>

<p>
  <b>Sales tax no:</b>
  <%= @company_profile.sales_tax_no %>
</p>

<p>
  <b>Reg no:</b>
  <%= @company_profile.reg_no %>
</p>

<p>
  <b>Sn sales order no:</b>
  <%= @company_profile.sn_sales_order_no %>
</p>

<p>
  <b>Sn purchase order no:</b>
  <%= @company_profile.sn_purchase_order_no %>
</p>

<p>
  <b>Sn deliver order no:</b>
  <%= @company_profile.sn_deliver_order_no %>
</p>

<p>
  <b>Sn receive note no:</b>
  <%= @company_profile.sn_receive_note_no %>
</p>

<p>
  <b>Sn transfer slip no:</b>
  <%= @company_profile.sn_transfer_slip_no %>
</p>

<p>
  <b>Sn store voucher no:</b>
  <%= @company_profile.sn_store_voucher_no %>
</p>

<p>
  <b>Sn incoming reject no:</b>
  <%= @company_profile.sn_incoming_reject_no %>
</p>

<p>
  <b>Sn outgoing reject no:</b>
  <%= @company_profile.sn_outgoing_reject_no %>
</p>

<p>
  <b>Sn credit note no:</b>
  <%= @company_profile.sn_credit_note_no %>
</p>

<p>
  <b>Sn debit note no:</b>
  <%= @company_profile.sn_debit_note_no %>
</p>

<p>
  <b>Sn billing order no:</b>
  <%= @company_profile.sn_billing_order_no %>
</p>

<p>
  <b>Sn purchase req no:</b>
  <%= @company_profile.sn_purchase_req_no %>
</p>

<p>
  <b>Sn product price no:</b>
  <%= @company_profile.sn_product_price_no %>
</p>

<p>
  <b>Sn job order no:</b>
  <%= @company_profile.sn_job_order_no %>
</p>

<p>
  <b>Sn shipment schedule:</b>
  <%= @company_profile.sn_shipment_schedule %>
</p>

<p>
  <b>Sp scrap sheet no:</b>
  <%= @company_profile.sn_scrap_sheet_no %>
</p>

<p>
  <b>Sp receiving instr no:</b>
  <%= @company_profile.sn_receiving_instr_no %>
</p>

<p>
  <b>Sn shipping instr no:</b>
  <%= @company_profile.sn_shipping_instr_no %>
</p>

<p>
  <b>Sn receipt no:</b>
  <%= @company_profile.sn_receipt_no %>
</p>

<p>
  <b>Sn bankin slip no:</b>
  <%= @company_profile.sn_bankin_slip_no %>
</p>

<p>
  <b>Sn journal voucher no:</b>
  <%= @company_profile.sn_journal_voucher_no %>
</p>

<p>
  <b>Sn payment voucher no:</b>
  <%= @company_profile.sn_payment_voucher_no %>
</p>


<%= link_to 'Edit', edit_company_profile_path(@company_profile) %> |
<%= link_to 'Back', company_profiles_path %>
