<%= form_for(@statement_of_account) do |f| %>
  <% if @statement_of_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement_of_account.errors.count, "error") %> prohibited this statement_of_account from being saved:</h2>

      <ul>
      <% @statement_of_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trade_company_id %><br />
    <%= f.number_field :trade_company_id %>
  </div>
  <div class="field">
    <%= f.label :transaction_date %><br />
    <%= f.date_select :transaction_date %>
  </div>
  <div class="field">
    <%= f.label :transaction_type %><br />
    <%= f.text_field :transaction_type %>
  </div>
  <div class="field">
    <%= f.label :debit_note_id %><br />
    <%= f.number_field :debit_note_id %>
  </div>
  <div class="field">
    <%= f.label :credit_note_id %><br />
    <%= f.number_field :credit_note_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
