<h1>Listing selection_varnish_types</h1>

<table>
  <tr>
    <th>Quotation request form</th>
    <th>Varnish type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @selection_varnish_types.each do |selection_varnish_type| %>
  <tr>
    <td><%= selection_varnish_type.quotation_request_form_id %></td>
    <td><%= selection_varnish_type.varnish_type %></td>
    <td><%= link_to 'Show', selection_varnish_type %></td>
    <td><%= link_to 'Edit', edit_selection_varnish_type_path(selection_varnish_type) %></td>
    <td><%= link_to 'Destroy', selection_varnish_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Selection varnish type', new_selection_varnish_type_path %>
