<div id="valid_receive_note">
  <div class="table_details">
    <table>
      <tr>
        <td><b>Current RN No.#</b></td>
        <td><%= company.sn_receive_note_no + 1 %></td>
        <td width="50"></td>
        <td><b>RN Date</b></td>
        <td>
          <%= f.text_field :rn_date, :value => Date.today.strftime("%d-%m-%Y"), :class => "mkendo_date maskDate", "required validationMessage" => "Please Enter RN Date" %>
          <span class="k-invalid-msg" data-for="receive_note[rn_date]"></span>
        </td>
        <td width="50"></td>
        <td><b>Updated By</b></td>
        <td>
          <%= current_user.name %>
          <%= f.hidden_field :updated_by, :value => current_user.id %>
        </td>
      </tr>
      <tr>
        <td><b>Vendor Company</b></td>
        <% if action_name == "edit" %>
          <td>[<%= @receive_note.trade_company.code rescue '-' %>] <%= @receive_note.trade_company.name rescue '-' %></td>
        <% else %>
          <td>
            [<%= @po_no.first.trade_company.code rescue '-' %>] <%= @po_no.first.trade_company.name rescue '-' %>
            <%= f.hidden_field :trade_company_id, :value => @po_no.first.trade_company.id %>
          </td>
        <% end %>
        <td></td>
        <td><b>Vendor's D/O</b></td>
        <td><%= f.text_field :vendor_delivery_no, :class => "k-textbox", "required validationMessage" => "Please Enter Vendor's D/O" %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="table_background"><%= render "/receive_notes/search_from_purchase_order", :po_no => @po_no %></div>
</div>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {   
        $(".numberKey").forceNumeric();
        
        var validator = $("#valid_receive_note").kendoValidator().data("kendoValidator");
        
        $("#save_button").click(function() {
            if (validator.validate()) { busyHours(); }
            else { alert("Invalid Data Form..."); return false; } 
        });
    });
  </script>
<% end %>