<%= render "linking" %>

<div class="title_head">
  <strong style="color:white;">TRANSACTIONS & HISTORIES FOR RECEIVE NOTES</strong>
  <%= search_button %>
</div> 
<div><%= render "search_engine_receive_notes" %></div>

<% if @receive_notes.present? %>
  <div class="table_background"><%= render "/receive_notes/success_rn" %></div>
<% else %>
  <div class="linking_content">Not Record Found</div>
<% end %>

<%= render "action_receive_note" %>