
  <%= render "linking" %>

  <div class="title_head">
    <strong style="color:white;">RECEIVE NOTES COMPLETED</strong>
    <%= search_button %>
  </div> 
  <div><%= render "search_engine_receive_notes_info" %></div>

  
    <% if @po_no.present? %>
      <%= render "info", :po_no => @po_no %>
    <% else %>
      <div class="linking_content">Not Record Found</div>
    <% end %>

  <div class="icon_tag">
    <%= link_home_button %>
  </div>
