<div class="title_head">
  <strong style="color:white;">NEW RECEIVE NOTE</strong>
  <%= search_button %>
</div>
<div><%= render "search_receive_note" %></div>

<%= form_for(@receive_note) do |f| %>
  <% if @po_no.present? %>
    <%= render 'form', :f => f %>
  <% else %>
    <div class="popup_content">Not Record Found</div>
  <% end %>

  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button  %>
  </div>
<% end %>