<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trade_company_id %><br />
    <%= f.number_field :trade_company_id %>
  </div>
  <div class="field">
    <%= f.label :department, "Department *" %><br />
    <%= f.text_field :department, :class => "k-textbox", "required validationMessage" => "Please Enter Deparment " %>
  </div>
  <div class="field">
    <%= f.label :name, "Name *" %><br />
    <%= f.text_field :name , :class => "k-textbox", "required validationMessage" => "Please Enter Name" %>
  </div>
  <div class="field">
    <%= f.label :phone_area_code, "Phone Area Code *" %><br />
    <%= f.text_field :phone_area_code , :class => "k-textbox", "required validationMessage" => "Please Enter Phone Area Code" %>
  </div>
  <div class="field">
    <%= f.label :phone_no, "Phone No. *" %><br />
    <%= f.text_field :phone_no, :class => "k-textbox", "required validationMessage" => "Please Enter Phone No" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email ,:class => "k-textbox", "required data-email-msg='Email format is invalid'" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
