<%= form_for(@bom_material) do |f| %>
  <% if @bom_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bom_material.errors.count, "error") %> prohibited this bom_material from being saved:</h2>

      <ul>
      <% @bom_material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :material_id "material id *"%><br />
    <%= f.number_field :material_id %>
  </div>
  <div class="field">
    <%= f.label :bill_of_material_id "bill of material id *" %><br />
    <%= f.number_field :bill_of_material_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
