<p id="notice"><%= notice %></p>

<p>
  <b>Material:</b>
  <%= @bom_material.material_id %>
</p>

<p>
  <b>Bill of material:</b>
  <%= @bom_material.bill_of_material_id %>
</p>


<%= link_to 'Edit', edit_bom_material_path(@bom_material) %> |
<%= link_to 'Back', bom_materials_path %>
