<table id="tabify_datatable" class="zebraLight display">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>From Value</th>
      <th>From Unit Measurement</th>
      <th>To Value</th>
      <th>To Unit Measurement</th>
    </tr>
  </thead>

  <tbody>
    <% fmts.each do |formulation| %>
      <tr class="<%= cycle('odd_line', 'even_line') %>" controllerName="<%= controller_name %>" rowsId="<%= formulation.id %>">
        <td></td>
        <td align="center"><%= two_precision(formulation.per_value) %></td>
        <td align="center"><%= formulation.belongs_from_um.code rescue '-' %></td>
        <td align="center"><%= two_precision(formulation.convert_value) %></td>
        <td align="center"><%= formulation.belongs_to_um.code rescue '-' %></td>
      </tr>
    <% end %>
  </tbody>
</table>