<%= title_head "SHOW FORMULATION DETAIL" %>

<div class="popup_content">
  <table>
    <tr>
      <td><b>From</b></td>
      <td><%= two_precision(@formulation.per_value) %></td>
      <td><%= @formulation.belongs_from_um.code rescue '-' %></td>
    </tr>
    <td><b>To</b></td>
    <td><%= two_precision(@formulation.convert_value) %></td>
    <td><%= @formulation.belongs_to_um.code rescue '-' %></td>
  </table>
</div>

<div class="icon_tag">
  <%= link_close_button %>
</div>
