<%= render "/layouts/block_scaffolds" %>

<p>
  <b>Per value:</b>
  <%= @formulation.per_value %>
</p>

<p>
  <b>From unit measurement:</b>
  <%= um_code(@formulation.from_unit_measurement_id) %>
</p>

<p>
  <b>Convert value:</b>
  <%= @formulation.convert_value %>
</p>

<p>
  <b>To unit measurement:</b>
  <%= um_code(@formulation.to_unit_measurement_id) %>
  <%#= @formulation.to_unit_measurement_id.code rescue '-' %>
</p>

<%= link_close_button %>
