<div style="background-color:blue"><strong style="color:white;">SHOW FORMULATION DETAILS</strong></div>

<div class="fix_800x450">
  <b>From:</b> <%= two_precision(@formulation.per_value) %> <%= @formulation.belongs_from_um.code rescue '-' %>
  <b>To:</b> <%= two_precision(@formulation.convert_value) %> <%= @formulation.belongs_to_um.code rescue '-' %>
</div>

<div class="icon_tag">
  <%= link_close_button %>
</div>
