<%= form_for(@job_sheet) do |f| %>
  <% if @quotation.present? %>
    <div id="valid_quotation">
      <div class="popup_content">


          <div id="qr_strip">
            <ul>
              <li class="k-state-active">FORM 1</li>
              <li>FORM 2</li>
              <li>FORM 3</li>
            </ul>

            <div><%= render "form_1", f: f %></div>

            <div><%= render "form_2", f: f %></div>

            <div><%= render "form_3", f: f %></div>


        <div height="100px">&nbsp;</div>
      </div>
    </div>
  <% end %>

  <div class="icon_tag">
    <span class="alert_msg"></span>
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {
        $(".numberKey").forceNumeric();
        var validator = $("#valid_quotation").kendoValidator().data("kendoValidator");

        $("#save_button").click(function() {
            if (validator.validate()) { busyHours(); }
            else { alert("Invalid Data Form..."); return false; }
        });
    });

  </script>
<% end %>