<table class="zebraLight jgrid_popup">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th align="center" width="100">Customer PO No#</th>
      <th>QR No.</th>
      <th>Customer Company</th>
      <th>Description</th>
      <th>QRF Date</th>
      <th>Updated By</th>
    </tr>
  </thead>

  <tbody>
    <% quotations.each do |quotation_request_form| %>
      <tr class="<%= cycle("odd_line", "even_line") %>" rowsId="<%= quotation_request_form.id %>">
        <td></td>
        <td align="center"><%= quotation_request_form.customer_po_no rescue '-' %></td>
        <td align="center"><%= quotation_request_form.quotation_request_no rescue '0' %></td>
        <td>  
          <% if quotation_request_form.trade_company_id.present? %>
            <%= quotation_request_form.customer_name rescue '-' %>
          <% else %>
            <span class="red_text"><%= quotation_request_form.customer_name rescue '-' %></span>
          <% end %>
        </td>
        <td><%= quotation_request_form.description rescue '-' %></td>
        <td align="center"><%= quotation_request_form.qrf_date.strftime("%d-%m-%Y") rescue '-' %></td>
        <td align="center"><%= quotation_request_form.user.name rescue '-' %></td>
      </tr>
    <% end %>
  </tbody>
</table>