<table id="tabify_datatable" class="zebraLight display">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>S/O No #</th>
      <th>Trade company</th>
      <th>Customer P/O No</th>
      <th>Sales Rep</th>
      <th>Currency</th>
      <th>Trade Term</th>
      <th>Revision</th>
      <th>Purpose</th>
      <th>Updated By</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% so.each do |sales_order| %>
      <tr class="<%= cycle("odd_line", "even_line") %>" controllerName="<%= controller_name %>" rowsId="<%= sales_order.id %>">
        <td></td>
        <td align="center"><%= sales_order.sales_order_no rescue '-' %></td>
        <td>
          [<%= sales_order.trade_company.code rescue '-' %>] 
          <%= sales_order.trade_company.name rescue '-' %>
        </td>
        <td><%= sales_order.purchase_order_no rescue '-' %></td>
        <td><%= sales_order.sales_rep rescue '-' %></td>
        <td align="center"><%= sales_order.currency.name rescue '-' %></td>
        <td align="center"><%= sales_order.trade_term.name rescue '-' %></td>
        <td align="center"><%= sales_order.revision rescue '-' %></td>
        <td align="center"><%= sales_order.purpose == SalesOrder::SALES ? "SALES" : '-' %></td>
        <td align="center">
          <% updater = User.find(sales_order.updated_by) %>
          <%= updater.name rescue '-' %>
        </td>
        <td align="center">
          <% if sales_order.status == SalesOrder::ACTIVE %>
            ACTIVE
          <% elsif sales_order.status == SalesOrder::COMPLETED %>
            COMPLETED
          <% elsif sale_order.status == SalesOrder::IN_PROGRESS %>
            IN PROGRESS
          <% elsif sales_order.status == SalesOrder::KEEP_IN_VIEW %>
            KIV
          <% else %>
            -
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>