<%= title_head "EDITING GROUP" %>

<%= form_tag edit_group_product_category_path, :method => :put do %>
  <div id="valid_group">
    <div class="popup_content">
      <table>
        <tr>
          <td><b>Code</b></td>
          <td><%= text_field_tag :code, @edit_group.code, :class => "k-textbox", "required validationMessage" => "Please Enter Code" %></td>
        </tr>
        <tr>
          <td><b>Description</b></td>
          <td><%= text_field_tag :desc, @edit_group.desc, :class => "k-textbox", "required validationMessage" => "Please Enter Description" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>

<%= render "js_group" %>