<%= form_for(@color) do |f| %>
  <% if @color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
      <% @color.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color_code %><br />
    <%= f.text_field :color_code %>
  </div>
  <div class="field">
    <%= f.label :quotation_request_form_id %><br />
    <%= f.number_field :quotation_request_form_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
