<table class="jgrid_popup zebraLight">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <% if action_name == "show" %>
        <th>Product ID</th>
      <% end %>
      <th>Old Unit Price</th>
      <th>Old Effective Date</th>
      <th>New Unit Price</th>
      <th>New Effective Date</th>
    </tr>
  </thead>

  <tbody>
    <% p_control.each do |prod_price| %>
        <tr class="<%= cycle("odd_line", "even_line") %>" controllerName="price_control_items" rowsId="<%= prod_price.id %>">
          <td></td>
          <% if action_name == "show" %>
            <td>[<%= prod_price.product.product_combobox.product_code rescue '-' %>] <%= prod_price.product.desc rescue '-' %></td>
          <% end %>
          <% if prod_price.old_unit_price.present? %>
            <td class="t_unit_price"><%= four_precision(prod_price.old_unit_price) rescue '-' %></td>
          <% else %>
            <td align="center">-</td>
          <% end %>
          <td class="t_date"><%= prod_price.old_eff_date.strftime("%d-%m-%Y") rescue '-' %></td>
          <% if prod_price.new_unit_price.present? %>
            <td class="t_unit_price"><%= four_precision(prod_price.new_unit_price) rescue '-' %></td>
          <% else %>
            <td align="center">-</td>
          <% end %>
          <td class="t_date"><%= prod_price.new_eff_date.strftime("%d-%m-%Y") rescue '-' %></td>
        </tr>
    <% end %>
  </tbody>
</table>