<%= title_head "SHOW PRODUCT PRICE CONTROL HISTORIES" %>

<div class="table_details">
  <table>
    <tr>
      <td><b>Product ID</b></td>
      <td><%= @product_detail.product.product_combobox.product_code rescue '-' %></td>
    </tr>
    <tr>
      <td><b>Description</b></td>
      <td><%= @product_detail.product.desc rescue '-' %></td>
    </tr>
  </table>
</div>

<hr/>

<% if @price_control_items.present? %>
  <div class="table_background"><%= render "listing_price_control_histories", :p_control => @price_control_items %></div>
<% else %>
  <div class="popup_form_table">Not Record Found</div>
<% end %>

<div class="icon_tag">
  <%= link_close_button %>
</div>