<div class="centered">
  <fieldset>
    <div class="header_login">
      <div align="right">LOGIN</div>
    </div>
    
    <br/>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <table>
        <tr>
          <td width="80" align="right"><b>NAME</b></td>
          <td><%= f.text_field :name, :class => "k-textbox" %></td>
        </tr>
      
        <tr>
          <td align="right"><b>PASSWORD</b></td>
          <td><%= f.password_field :password, :class => "k-textbox" %></td>
        </tr>
      </table>
    
      
    
      <div align="right" style="padding: 10px;">
        <%= f.submit "Log In", :name => "logging_in", :class => "k-button" %>
      </div>
    
    <% end %>
    
      <div align="center">
        <i><%= version %></i>
      </div>
  
    <%#= render "links" %>
  </fieldset>
</div>