<h1>Listing selection_glueings</h1>

<table>
  <tr>
    <th>Quotation request form</th>
    <th>Glueing</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @selection_glueings.each do |selection_glueing| %>
  <tr>
    <td><%= selection_glueing.quotation_request_form_id %></td>
    <td><%= selection_glueing.glueing %></td>
    <td><%= link_to 'Show', selection_glueing %></td>
    <td><%= link_to 'Edit', edit_selection_glueing_path(selection_glueing) %></td>
    <td><%= link_to 'Destroy', selection_glueing, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Selection glueing', new_selection_glueing_path %>
