<%= form_for(@selection_printing_size) do |f| %>
  <% if @selection_printing_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selection_printing_size.errors.count, "error") %> prohibited this selection_printing_size from being saved:</h2>

      <ul>
      <% @selection_printing_size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quotation_request_form_id %><br />
    <%= f.number_field :quotation_request_form_id %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :ups %><br />
    <%= f.number_field :ups %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
