<p id="notice"><%= notice %></p>

<p>
  <b>Base name:</b>
  <%= @product_running_number.base_name %>
</p>

<p>
  <b>Sub name:</b>
  <%= @product_running_number.sub_name %>
</p>

<p>
  <b>Running no:</b>
  <%= @product_running_number.running_no %>
</p>


<%= link_to 'Edit', edit_product_running_number_path(@product_running_number) %> |
<%= link_to 'Back', product_running_numbers_path %>
