<div class="center_icon_tag">
  <div class="digg_pagination"><%= will_paginate @product_comboboxes, :container => false, :previous_label => '<', :next_label => '>' %></div>
</div>

<div class="icon_tag">
  <span id="on_show" showClass="show_without_refresh_page_800x600"><%= not_link_show %></span>
  <%= not_link_edit %>
  <%= not_link_kiv %>
  <%= not_link_printable %>
  <%= link_home_button %>
</div>