<div class="icon_tag">
  <span id="on_show" showClass="show_without_refresh_page_1600x900"><%= not_link_show %></span>
  <%= not_link_edit %>
  <%= not_link_kiv %>
  <%= not_link_printable %>
  <%= link_home_button %>
</div>