<%= form_for @search do |f| %>
  <table>
    <tr>
      <td><b>Product ID</b></td>
      <td><%= f.text_field :product_code_contains, :class => "k-textbox" %></td>
    </tr>
    <tr>
      <td><b>Description</b></td>
      <td><%= f.text_field :product_desc_contains, :class => "k-textbox" %></td>
    </tr>
    <tr>
      <td><b>Part Code</b></td>
      <td><%= f.text_field :product_part_code_contains , :class => "k-textbox" %></td>
    </tr>
    <tr>
      <td><b>Tarif Code</b></td>
      <td><%= f.text_field :product_tarif_code_contains, :class => "k-textbox" %></td>
    </tr>
    <tr>
      <td><b>Old Product ID</b></td>
      <td><%= f.text_field :old_product_code_contains, :class => "k-textbox" %></td>
    </tr>
  </table>
  <%= search_button_with_f(f) %>
<% end %>