<%= form_for(@price_control) do |f| %>
  <div id="valid_price_control">
    <div class="popup_content">
      <table>
        <tr>
          <td><b>Trade Company *</b></td>
          <td><%= f.select :trade_company_id, options_for_select(trade_company_customer_with_code, @price_control.trade_company_id), { :include_blank => true } , { :class => "mkendo_combobox price_control_trade_company_id", "required validationMessage" => "Please Select Trade Company", :style => "width: 400px;", :onchange => "access_pp_no(this)" }  %></td>
          
          <td width="50"></td>
          
          <td><b>P/P Date *</b></td>
          <td>
            <% if @price_control.pp_date.present? %>
              <%= f.text_field :pp_date , :value => @price_control.pp_date.strftime("%d-%m-%Y"), :class => "mkendo_date maskDate", "required validationMessage" => "Please Select P/P Date" %>
            <% else %>
              <%= f.text_field :pp_date , :value => Date.today.strftime("%d-%m-%Y"), :class => "mkendo_date maskDate", "required validationMessage" => "Please Select P/P Date" %>
            <% end %>
            <span class="k-invalid-msg" data-for="price_control[pp_date]"></span>
          </td>
        </tr>
        
        <tr>
          <% if  @price_control.pp_no.present? %>
            <td width="150"><b>P/P No # </b></td>
            <td><%= @price_control.pp_no rescue '-' %></td>
          <% else %>
            <td width="150"><b>Current P/P No.</b></td>
            <td>
              <span id="generate_pp_no"><%= company.sn_product_price_no + 1 %></span>
              <%= hidden_field_tag :current_pp_no, company.sn_product_price_no + 1 %>
              <%= f.hidden_field :pp_no %>
            </td>
          <% end %>
            
          <td></td>
          
          <td><b>Reference</b></td>
          <td><%= f.text_field :reference, :class => "k-textbox" %></td>
        </tr>

        <tr>
          <td><b>Currency *</b></td>
          <td>
            <%= f.select :currency_id, options_from_collection_for_select(currency, :id, :name, @price_control.currency_id), { :include_blank => true }, { :class => "mkendo_combobox", "required validationMessage" => "Please Enter Currency" }%>
            <span class="k-invalid-msg" data-for="price_control[currency_id]"></span>
          </td>
          <td></td>
          <td><b>Updated By</b></td>
          <td>
            <%= current_user.name %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </td>
        </tr>
      </table>
    
      <hr/>
    
      <%= render "new_price_control_items", :price_control => @price_control %>
    </div>

    <%= render 'action_price_control_new' %>
  </div>
<% end %>
  
<% content_for :jquery_script do %>
  
  <script type="text/javascript">
      $(document).ready(function () {
          $(".numberKey").forceNumeric();

          var validator = $("#valid_price_control").kendoValidator().data("kendoValidator");

          $("#save_button").click(function() {
              if (validator.validate()) { busyHours(); }
              else { alert("Invalid Data Form..."); return false; } 
          });
      });
      
      function price_control_data(sel) {
          var number = sel.name.match(/\[(\d+)\]/);
          var number = parseInt(number[1], 10);
          var product_id = sel.options[sel.selectedIndex].value;
          var company_id = $("select.price_control_trade_company_id option:selected").val();
          var count = 0;

          $('table.target_table tbody').find('[id$="product_id"]').each(function(k, elem) {
              var select_value = $(this).val();
              if (select_value == product_id){ count++; } 
          });

          if (count > 1) {
                clearing_data(number);
                $("#save_button").attr("disabled", true);
                alert("Your selector is duplicate. Please select another one.");
          } else {
                  $("#save_button").attr("disabled", false);
                  if (company_id){
                      $.ajax({
                          type: "GET",
                          dataType: "json",
                          url: '/price_controls/take_old_unit_price_and_eff_date',
                          data: {'company_id' : company_id, 'product_id' : product_id},
                          success: function(data){ 

                              var value_date = '#datarow_' + number + '_old_eff_date';
                              var html_date  = '#old_date_' + number;
                              var value_sellPrice = '#datarow_' + number + '_old_unit_price';
                              var html_sellPrice  = '#old_up_' + number;

                              if (data.jstatus == true){

                                  var myDate = Date.parse(data.eff_date, "yyyy-MM-dd");
                                  var sellPrice = data.selling_price;

                                  if (myDate){
                                      var k_date = myDate.getDate() + '-' + (myDate.getMonth() + 1) + '-' + myDate.getFullYear();
                                      $(value_date).val(k_date);
                                      $(html_date).html(k_date); } 
                                  else {
                                      $(value_date).val(' ');
                                      $(html_date).html('-'); }

                                  if (sellPrice){
                                      var f_num = parseFloat(sellPrice).toFixed(4);  
                                      $(value_sellPrice).val(f_num);
                                      $(html_sellPrice).html(f_num); }
                                  else {
                                      $(value_sellPrice).val(' ');
                                      $(html_sellPrice).html('-'); }

                              } else {
                                  $(value_date).val("");
                                  $(html_date).html('-');
                                  $(value_sellPrice).val("");
                                  $(html_sellPrice).html('-');
                              }

                          }
                      });
                  } else {
                      alert("Trade Company can't blank.");
                  }
          }
      }
      
      function clearing_data(number){
          var value_old_date = '#datarow_' + number + '_old_eff_date';
          var html_old_date  = '#old_date_' + number;
          var value_old_sellPrice = '#datarow_' + number + '_old_unit_price';
          var html_old_sellPrice  = '#old_up_' + number;
          var value_new_date = '#datarow_' + number + '_new_eff_date';
          var value_new_sellPrice = '#datarow_' + number + '_new_unit_price';
          $(value_old_date).val('');
          $(html_old_date).html('');
          $(value_old_sellPrice).val('');
          $(html_old_sellPrice).html('');
          $(value_new_date).val('');
          $(value_new_sellPrice).val('');
      }
  </script>

<% end %>