<div class="icon_tag">

  <% if roles.include?(InventoryManagementSystem::TRANSFER_NOTES_KIV_SHOW) %>
    <span id="on_show_kiv" showClass="show_without_refresh_page_800x450"><%= not_link_binary %></span>
  <% else %>
    <%= not_link_binary %>
  <% end %>

  <% if roles.include?(InventoryManagementSystem::TRANSFER_NOTES_KIV_RECOVER) %>
    <span id="on_recover"><%= not_link_recover %></span>
  <% else %>
    <%= not_link_recover %>
  <% end %>
  
  <%= link_home_button %>

</div>