<%= form_for(@stock_out) do |f| %>
  <div class="fix_800x450">
    <table>
      <tr>
        <td><b>Transfer Note No</b></td>
        <td><%= company.sn_transfer_slip_no + 1 %></td>
      </tr>
      <tr>
        <td><b>Product ID</b></td>
        <td>
          <%= f.select :product_id , options_from_collection_for_select(product_non_operation_n_operation_with_combobox, :product_id, :product_code), { :include_blank => true }, { :onchange => "getCombo_product(this)" }  %>
          <span id="current_product_stock"></span>
          <span id="stock_value" style="display: none;"></span>
        </td>
      </tr>
      <tr>
        <td><b>Amount</b></td>
        <td>
          <%= f.text_field :amount %>
        </td>
      </tr>
      <tr>
        <td><b>Balance</b></td>
        <td><%= f.text_field :balance %></td>
      </tr>
    </table>
  </div>
  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
  
<% end %>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {
        $("#stock_out_amount").keyup(function(){
          var a = $("#stock_value").html();
          var b = $("#stock_out_amount").val();
          balance = a - b;
          $("#stock_out_balance").val(balance);
        });
    });
  </script>
<% end %>
