<h1>Listing stock_outs</h1>

<table class="white-line-table zebraLight" width="100%" border="1"> 
  <tr style="background-color:blue">
   
    <th>Transfer note</th>
    <th>Product</th>
    <th>Amount</th>
    <th>Balance</th>
    <th></th>
    
  </tr>

<% @stock_outs.each do |stock_out| %>
  <tr class="header_line">
   
    <td><%= stock_out.transfer_note %></td>
    <td><%= stock_out.product_id %></td>
    <td><%= stock_out.amount %></td>
    <td><%= stock_out.balance %></td>
    <td><%= link_to 'Show', stock_out , :class => "k-button" %></td>
    <%#= link_to 'Edit', edit_stock_out_path(stock_out) %>
    <%#= link_to 'Destroy', stock_out, method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stock out', new_stock_out_path , :class => "k-button" %>
