
<p>
  <b>Transfer note:</b>
  <%= @stock_out.transfer_note_no  rescue '-'%>

</p>

<p>
  <b>Product:</b>

  <% prod = ProductCombobox.find_by_product_id(@stock_out.product_id) %>
  <%= prod.product_code rescue '-' %>
</p>

<p>
  <b>Quantity:</b>
  <%= @stock_out.quantity %>
</p>

<p>
  <b>Balance:</b>
  <%= @stock_out.balance %>
</p>

<p>
	<b>Collector Name</b>
	<%= @stock_out.collector_name %>
</p>

<p>
	<b>Location</b>
	<%= @stock_out.location %>
</p>

<p>
	<b>Reference No.</b>
	<%= @stock_out.reference_no %>
</p>

<p>
	<b>Issued By</b>
	<%= @stock_out.issued_by %>
</p>
<p>
	<b>Unit Measurement</b>
	<%= @stock_out.unit_measurement.code rescue'-' %>
</p>


<%= link_close_button %>

