<h1>Listing group_running_nos</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Current no</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_running_nos.each do |group_running_no| %>
  <tr>
    <td><%= group_running_no.code %></td>
    <td><%= group_running_no.current_no %></td>
    <td><%= link_to 'Show', group_running_no %></td>
    <td><%= link_to 'Edit', edit_group_running_no_path(group_running_no) %></td>
    <td><%= link_to 'Destroy', group_running_no, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group running no', new_group_running_no_path %>
