<div class="left_icon_tag">
  <% if roles.include?(InventoryManagementSystem::QR_SIGNATURE_COSTING) %>
    <span id="on_cost" costClass="iframe_1600x900"><%= not_link_cost %></span>
  <% else %>
    <%= not_link_cost %>
  <% end %>
</div>

<div class="icon_tag">
  
  <% if roles.include?(InventoryManagementSystem::QR_SIGNATURE_SHOW) %>
    <span id="on_show" showClass="show_without_refresh_page_1600x900"><%= not_link_show %></span>
  <% else %>
    <%= not_link_show %>
  <% end %>

  <% if roles.include?(InventoryManagementSystem::QR_SIGNATURE_EDIT) %>
    <span id="on_edit" editClass="iframe_1600x900"><%= not_link_edit %></span>
  <% else %>
    <%= not_link_edit %>
  <% end %>

  <%= not_link_kiv %>

  <% if roles.include?(InventoryManagementSystem::QR_SIGNATURE_PRINTABLE) %>
    <span id="on_printable_qr"><%= not_link_printable %></span>
  <% else %>
    <%= not_link_printable %>
  <% end %>
   
  <%= link_home_button %>

</div>