<div class="tabbing_h400">
  <fieldset style="width: 700px;">
    <legend>
      <% if @field_sets.present? %>
        <%= check_box_tag "field_set[]", QuotationRequestForm::COLOR_FIELDSET, @field_sets.include?(QuotationRequestForm::COLOR_FIELDSET) %> COLOR
      <% else %>
        <%= check_box_tag "field_set[]", QuotationRequestForm::COLOR_FIELDSET %> COLOR
      <% end %>
    </legend>

    <% if @field_sets.present? %>
      <% if @field_sets.include?(QuotationRequestForm::COLOR_FIELDSET) %>

        <table>
          <tr>
            <td width="120"><b>No of Color</b></td>
            <td><%= f.text_field :color_no, :size => 3, :onblur => "dropdown_colorcode(this)" %></td>
          </tr>

          <tr>
            <td><b>Type of Color</b></td>
            <td>
              <%= f.radio_button("color_type", QuotationRequestForm::PROCESS) %><%= QuotationRequestForm::PROCESS %>
              <%= f.radio_button("color_type", QuotationRequestForm::PANTONE) %><%= QuotationRequestForm::PANTONE %>
            </td>
          </tr>

          <tr>
            <td><b>Color Name</b></td>
            <td>
              <span id="color_name">
                <% if @quotation_request_form.colors.present? %>
                  <% @quotation_request_form.colors.each do |col| %>
                    <%= text_field_tag "color_name[#{col.id}][val]", col.color_name, :size => 8 %>
                  <% end %>
                <% end %>
              </span>
            </td>
          </tr>

          <tr>
            <td><b>Color Code</b></td>
            <td>
              <span id="color_code">
                <% if @quotation_request_form.colors.present? %>
                  <% @quotation_request_form.colors.each do |col| %>
                    <%= text_field_tag "color_code[#{col.id}][val]", col.color_code, :size => 8 %>
                  <% end %>
                <% end %>
              </span>
            </td>
          </tr>

          <tr>
            <td><b>Pre-Print</b></td>
            <td>
              <% if @quotation_request_form.pre_print_types.present? %>
                <%= check_box_tag "pre_print_type[]", QuotationRequestForm::LOT, @pre_print_types.include?(QuotationRequestForm::LOT) %>LOT #
                <%= check_box_tag "pre_print_type[]", QuotationRequestForm::MFG, @pre_print_types.include?(QuotationRequestForm::MFG) %><%= QuotationRequestForm::MFG %>
                <%= check_box_tag "pre_print_type[]", QuotationRequestForm::BARCODE, @pre_print_types.include?(QuotationRequestForm::BARCODE) %><%= QuotationRequestForm::BARCODE %>
                <% pp = @quotation_request_form.pre_print_types.find_by_pre_print(QuotationRequestForm::OTHERS) %>
                <% if pp.present? %>
                  <%= check_box_tag "pre_print_type[]", QuotationRequestForm::OTHERS, @pre_print_types.include?(QuotationRequestForm::OTHERS) %><%= QuotationRequestForm::OTHERS %>: <%= text_field_tag :pre_print_type_other, pp.other, :size => 20 %>
                <% else %>
                  <%= check_box_tag "pre_print_type[]", QuotationRequestForm::OTHERS, @pre_print_types.include?(QuotationRequestForm::OTHERS) %><%= QuotationRequestForm::OTHERS %>: <%= text_field_tag :pre_print_type_other, params[:pre_print_type_other], :size => 20 %>
                <% end %>
              <% else %>
                <%= check_box_tag "pre_print_type[]", QuotationRequestForm::LOT %>LOT #
                <%= check_box_tag "pre_print_type[]", QuotationRequestForm::MFG %><%= QuotationRequestForm::MFG %>
                <%= check_box_tag "pre_print_type[]", QuotationRequestForm::BARCODE %><%= QuotationRequestForm::BARCODE %>
                <%= check_box_tag "pre_print_type[]", QuotationRequestForm::OTHERS %><%= QuotationRequestForm::OTHERS %>: <%= text_field_tag :pre_print_type_other, params[:pre_print_type_other], :size => 20 %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td><b>Barcode</b></td>
            <td>
              <%= f.radio_button "barcode", QuotationRequestForm::EAN13 %><%= QuotationRequestForm::EAN13 %>
              <%= f.radio_button "barcode", QuotationRequestForm::UPCA %><%= QuotationRequestForm::UPCA %>
              <%= f.radio_button "barcode", QuotationRequestForm::CODE128 %><%= QuotationRequestForm::CODE128 %>
              <%= f.radio_button "barcode", QuotationRequestForm::CODE39 %><%= QuotationRequestForm::CODE39 %>
              <%= f.radio_button "barcode", QuotationRequestForm::OTHERS %><%= QuotationRequestForm::OTHERS %>: <%= f.text_field "barcode_other", :id => "other_barcode", :size => 20 %>
            </td>
          </tr>

          <tr>
            <td><b>If shortage</b></td>
            <td>
              <%= f.radio_button "shortage", QuotationRequestForm::STAMPING %><%= QuotationRequestForm::STAMPING %>
              <%= f.radio_button "shortage", QuotationRequestForm::INJETPRINT %><%= QuotationRequestForm::INJETPRINT %>
            </td>
          </tr>
        </table>

      <% else %>

        <%= render "disabled_color", :f => f %>

      <% end %>
    <% else %>

      <%= render "disabled_color", :f => f %>

    <% end %>
  </fieldset>

  <fieldset style="width: 700px;">
    <legend>
      <% if @field_sets.present? %>
        <%= check_box_tag "field_set[]", QuotationRequestForm::SURFACE_FIELDSET, @field_sets.include?(QuotationRequestForm::SURFACE_FIELDSET) %> SURFACE FINISHING
      <% else %>
        <%= check_box_tag "field_set[]", QuotationRequestForm::SURFACE_FIELDSET %> SURFACE FINISHING
      <% end %>
    </legend>

    <% if @field_sets.present? %>
      <% if @field_sets.include?(QuotationRequestForm::SURFACE_FIELDSET) %>
        <table>
          <tr>
            <td width="120"><b>Varnish</b></td>
            <% if @quotation_request_form.varnish == QuotationRequestForm::FULL %>
              <td>
                <%= f.radio_button("varnish", QuotationRequestForm::SPOT) %><%= QuotationRequestForm::SPOT %> <%= f.text_field :surface_remark, :disabled => true %>
                <%= f.radio_button("varnish", QuotationRequestForm::FULL) %><%= QuotationRequestForm::FULL %>
              </td>
            <% else %>
              <td>
                <%= f.radio_button("varnish", QuotationRequestForm::SPOT) %><%= QuotationRequestForm::SPOT %> <%= f.text_field :surface_remark %>
                <%= f.radio_button("varnish", QuotationRequestForm::FULL) %><%= QuotationRequestForm::FULL %>
              </td>
            <% end %>
          </tr>

          <tr>
            <td><b>Type of Varnish</b></td>
            <td>
              <% if @quotation_request_form.selection_varnish_types.present? %>
                <%= check_box_tag("varnish_type[]", QuotationRequestForm::WATERBASED, @varnish_types.include?(QuotationRequestForm::WATERBASED)) %><%= QuotationRequestForm::WATERBASED %>
                <%= check_box_tag("varnish_type[]", QuotationRequestForm::SOLVENT, @varnish_types.include?(QuotationRequestForm::SOLVENT)) %><%= QuotationRequestForm::SOLVENT %>
                <%= check_box_tag("varnish_type[]", QuotationRequestForm::CALENDARING_COAT, @varnish_types.include?(QuotationRequestForm::CALENDARING_COAT)) %><%= QuotationRequestForm::CALENDARING_COAT %>
                <%= check_box_tag("varnish_type[]", QuotationRequestForm::UV_COAT, @varnish_types.include?(QuotationRequestForm::UV_COAT)) %><%= QuotationRequestForm::UV_COAT %>
                <%= check_box_tag("varnish_type[]", QuotationRequestForm::MATT_COAT, @varnish_types.include?(QuotationRequestForm::MATT_COAT)) %><%= QuotationRequestForm::MATT_COAT %>
              <% else %>
                <%= check_box_tag("varnish_type[]", QuotationRequestForm::WATERBASED) %><%= QuotationRequestForm::WATERBASED %>
                <%= check_box_tag("varnish_type[]", QuotationRequestForm::SOLVENT) %><%= QuotationRequestForm::SOLVENT %>
                <%= check_box_tag("varnish_type[]", QuotationRequestForm::CALENDARING_COAT) %><%= QuotationRequestForm::CALENDARING_COAT %>
                <%= check_box_tag("varnish_type[]", QuotationRequestForm::UV_COAT) %><%= QuotationRequestForm::UV_COAT %>
                <%= check_box_tag("varnish_type[]", QuotationRequestForm::MATT_COAT) %><%= QuotationRequestForm::MATT_COAT %>
              <% end %>
            </td>
          </tr>
        </table>
      <% else %>
        <%= render "disabled_surface", :f => f %>
      <% end %>
    <% else %>
      <%= render "disabled_surface", :f => f %>
    <% end %>
  </fieldset>
</div>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {
      // Barcode
      $("#other_barcode").click(function() { $("#quotation_request_form_barcode_others").attr("checked", true); });
      $("#quotation_request_form_barcode_ean13, #quotation_request_form_barcode_upca, #quotation_request_form_barcode_code128, #quotation_request_form_barcode_code39, #quotation_request_form_barcode_other").click(function() { $("#other_barcode").val(''); });
      
      // Surface
      $("#quotation_request_form_varnish_full").click(function() { $("#quotation_request_form_surface_remark").val('').attr("disabled", true); });
      $("#quotation_request_form_varnish_spot").click(function() { $("#quotation_request_form_surface_remark").val('').attr("disabled", false); });
    });
  </script>
<% end %>