<table>
  <tr>
    <td width="150"><b>Type of Stamping</b></td>
    <td>
      <%= check_box_tag("stamping[]", QuotationRequestForm::GOLD, false, :disabled => true) %><%= QuotationRequestForm::GOLD %>
      <%= check_box_tag("stamping[]", QuotationRequestForm::SILVER, false, :disabled => true) %><%= QuotationRequestForm::SILVER %>
      <%= check_box_tag("stamping[]", QuotationRequestForm::OTHERS, false, :disabled => true) %><%= QuotationRequestForm::OTHERS %>: <%= text_field_tag :stamping_other, params[:stamping_other], :disabled => true %>
    </td>
  </tr>
  <tr>
    <td><b>No of Location Per Box</b></td>
    <td><%= f.text_field :stamping_per_box, :size => 3, :class => "two_digit_", :onblur => "generate_stamping_box(this)", :disabled => true %></td>
  </tr>
  <tr>
    <td><b>Stamping Size</b></td>
    <td id="generate_stamping_size"></td>
  </tr>
</table>