<table>
  <tr>
    <td width="150"><b>Window Patching</b></td>
    <td>
      <%= f.radio_button("window_patching", false, :disabled => true) %> NO
      <%= f.radio_button("window_patching", true, :disabled => true) %> YES
    </td>
  </tr>

  <tr>
    <td style="vertical-align: top;"><b>Type of W. Patching</b></td>
    <td>
      <%= f.radio_button("window_patching_type", QuotationRequestForm::OPP_FILM, :disabled => true) %> <%= QuotationRequestForm::OPP_FILM %>
      <%= f.radio_button("window_patching_type", QuotationRequestForm::PLAIN_FILM, :disabled => true) %> <%= QuotationRequestForm::PLAIN_FILM %>
      <%= f.radio_button("window_patching_type", QuotationRequestForm::PLASTIC_SHEET, :disabled => true) %> <%= QuotationRequestForm::PLASTIC_SHEET %><br/>
      <%= f.radio_button("window_patching_type", QuotationRequestForm::PRE_PRINT, :disabled => true) %> <%= QuotationRequestForm::PRE_PRINT %> <%= f.text_field :pre_print_textbox, :class => "k-textbox", :disabled => true %>
      <%= f.radio_button("window_patching_type", QuotationRequestForm::OTHERS, :disabled => true) %> <%= QuotationRequestForm::OTHERS %>: <%= f.text_field "window_patching_type_other", :id => "other_window_patching", :class => "k-textbox", :disabled => true %>
    </td>
  </tr>

  <tr>
    <td><b>Size</b></td>
    <td>
      (W) <%= f.text_field :window_width, :class => "kendo_precision_2", :disabled => true, :style => "width: 80px;" %> 
      (L) <%= f.text_field :window_length, :class => "kendo_precision_2", :disabled => true, :style => "width: 80px;" %>
    </td>
  </tr>

  <tr>
    <td><b>Usage</b></td>
    <td><%= f.text_field :window_usage, :class => "kendo_precision_0", :style => "width: 80px;", :disabled => true %> PCS</td>
  </tr>
</table>