<table>
  <tr>
    <td width="150"><b>No of Design</b></td>
    <td>    
      <%= f.text_field :collating_no, :size => 3, :onblur => "dropdown_sequent(this)", :disabled => true %>
    </td>
  </tr>

  <tr>
    <td><b>Collect Sequence</b></td>
    <td>
      <%= f.radio_button :collect_sequence, QuotationRequestForm::BIN, :disabled => true %><%= QuotationRequestForm::BIN %>
      <%= f.radio_button :collect_sequence, QuotationRequestForm::CARTON, :disabled => true %><%= QuotationRequestForm::CARTON %>
    </td>
  </tr>

  <tr>
    <td><b>Sequent</b></td>
    <td>
      <span id="sequent_no">
        <% if @quotation_request_form.sequents.present? %>
          <% @quotation_request_form.sequents.each_with_index do |se, index| %>
            <%= index + 1 %>/<%= @quotation_request_form.sequents.size %>
            <%= text_field_tag "sequent[]", se.sequent_color, :size => 8 rescue '-'  %>
          <% end %>
        <% end %>
      </span>
    </td>
  </tr>
</table>