<fieldset>
  <legend>
    <% if @field_sets.present? %>
      <%= check_box_tag "field_set[]", QuotationRequestForm::LAMINATION_FIELDSET, @field_sets.include?(QuotationRequestForm::LAMINATION_FIELDSET) %>LAMINATION
    <% else %>
      <%= check_box_tag "field_set[]", QuotationRequestForm::LAMINATION_FIELDSET %>LAMINATION
    <% end %>
  </legend>
  
  <% if @field_sets.present? %>
    <% if @field_sets.include?(QuotationRequestForm::LAMINATION_FIELDSET) %>
      <table>
      <tr>
        <td width="150"><b>Lamination</b></td>
        <td>
          <% if @quotation_request_form.lamination == QuotationRequestForm::FULL %>
            <%= f.radio_button("lamination", QuotationRequestForm::SPOT) %><%= QuotationRequestForm::SPOT %> <%= f.text_field :lamination_remark, :disabled => true %>
            <%= f.radio_button("lamination", QuotationRequestForm::FULL) %><%= QuotationRequestForm::FULL %>
          <% else %>
            <%= f.radio_button("lamination", QuotationRequestForm::SPOT) %><%= QuotationRequestForm::SPOT %> <%= f.text_field :lamination_remark %>
            <%= f.radio_button("lamination", QuotationRequestForm::FULL) %><%= QuotationRequestForm::FULL %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><b>Type of Lamination</b></td>
        <td>
          <%= f.radio_button("lamination_type", QuotationRequestForm::GLOSS) %><%= QuotationRequestForm::GLOSS %>
          <%= f.radio_button("lamination_type", QuotationRequestForm::MATT) %><%= QuotationRequestForm::MATT %>
          <%= f.radio_button("lamination_type", QuotationRequestForm::FLUTE) %><%= QuotationRequestForm::FLUTE %>: <%= f.text_field :lamination_type_joints, :size => 3 %> joints
        </td>
      </tr>

      <% if @quotation_request_form.lamination_type == QuotationRequestForm::GLOSS or @quotation_request_form.lamination_type == QuotationRequestForm::MATT  %>
        <tr>
          <td><b>Type of Flute</b></td>
          <td>
            <%= f.radio_button("flute_type", QuotationRequestForm::B_FLUTE, :disabled => true) %><%= QuotationRequestForm::B_FLUTE %>
            <%= f.radio_button("flute_type", QuotationRequestForm::E_FLUTE, :disabled => true) %><%= QuotationRequestForm::E_FLUTE %>
            <%= f.radio_button("flute_type", QuotationRequestForm::OTHERS, :disabled => true) %><%= QuotationRequestForm::OTHERS %>: <%= f.text_field :flute_type_other, :disabled => true %>
          </td>
        </tr>

        <tr>
          <td><b>Material of Flute</b></td>
          <td>
            <%= f.radio_button("flute_material", "26/26", :disabled => true) %>26/26
            <%= f.radio_button("flute_material", "26/33", :disabled => true) %>26/33
            <%= f.radio_button("flute_material", "33/33", :disabled => true) %>33/33
            <%= f.radio_button("flute_material", QuotationRequestForm::OTHERS, :disabled => true) %><%= QuotationRequestForm::OTHERS %>: <%= f.text_field :flute_material_other, :disabled => true %>
          </td>
        </tr>

        <tr>
          <td><b>Flute Size</b></td>
          <td id="generate_flute_size">
            <% if @quotation_request_form.lamination_type_joints == 0 %>
            
            <% else %>
              <%= text_field_tag "generate_flute_width[1][val]", {}, :disabled => true %>
              <%= text_field_tag "generate_flute_length[2][val]", {}, :disabled => true %>
            <% end %>
          </td>
          <!--td>
            (W)<%#= f.text_field :flute_width, :size => 5, :class => "two_zero_", :disabled => true %>
            (L)<%#= f.text_field :flute_length, :size => 5, :class => "two_zero_", :disabled => true %>
          </td-->
        </tr>
      <% else %>
        <tr>
          <td><b>Type of Flute</b></td>
          <td>
            <%= f.radio_button("flute_type", QuotationRequestForm::B_FLUTE) %><%= QuotationRequestForm::B_FLUTE %>
            <%= f.radio_button("flute_type", QuotationRequestForm::E_FLUTE) %><%= QuotationRequestForm::E_FLUTE %>
            <%= f.radio_button("flute_type", QuotationRequestForm::OTHERS) %><%= QuotationRequestForm::OTHERS %>: <%= f.text_field :flute_type_other %>
          </td>
        </tr>
        <tr>
          <td><b>Material of Flute</b></td>
          <td>
            <%= f.radio_button("flute_material", "26/26") %>26/26
            <%= f.radio_button("flute_material", "26/33") %>26/33
            <%= f.radio_button("flute_material", "33/33") %>33/33
            <%= f.radio_button("flute_material", QuotationRequestForm::OTHERS) %><%= QuotationRequestForm::OTHERS %>: <%= f.text_field :flute_material_other %>
          </td>
        </tr>
        <tr>
          <td><b>Flute Size</b></td>
          <td id="generate_flute_size">
            <% if @quotation_request_form.lamination_type == QuotationRequestForm::FLUTE %>
              <% if @quotation_request_form.selection_flute_sizes.present? %>
                <% @quotation_request_form.selection_flute_sizes.each do |sfs| %>
                  (W)<%= text_field_tag "generate_flute_width[#{sfs.id}][val]", sfs.flute_width, :size => 5 %>
                  (L)<%= text_field_tag "generate_flute_length[#{sfs.id}][val]", sfs.flute_length, :size => 5 %><br/>
                <% end %>
              <% else %>
                (W)<%= text_field_tag "generate_flute_width[1][val]", '', :size => 5 %>
                (L)<%= text_field_tag "generate_flute_length[1][val]", '', :size => 5 %>
              <% end %>
            <% else %>
                (W)<%= text_field_tag "generate_flute_width[1][val]", '', :disabled => true, :size => 5 %>
                (L)<%= text_field_tag "generate_flute_length[1][val]", '', :disabled => true, :size => 5 %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <% else %>
      <%= render "disabled_lamination", :f => f %>
    <% end %>
  <% else %>
    <%= render "disabled_lamination", :f => f %>
  <% end %>
</fieldset>

<fieldset>
  <legend>
    <% if @field_sets.present? %>
      <%= check_box_tag "field_set[]", QuotationRequestForm::STAMPING_FIELDSET, @field_sets.include?(QuotationRequestForm::STAMPING_FIELDSET) %>STAMPING
    <% else %>
      <%= check_box_tag "field_set[]", QuotationRequestForm::STAMPING_FIELDSET %>STAMPING
    <% end %>
  </legend>
  
  <% if @field_sets.present? %>
    <% if @field_sets.include?(QuotationRequestForm::STAMPING_FIELDSET) %>
      <table>
        <tr>
          <td width="150"><b>Type of Stamping</b></td>
          <td>
            <% if @quotation_request_form.selection_stampings.present? %>
              <%= check_box_tag("stamping[]", QuotationRequestForm::GOLD, @stampings.include?(QuotationRequestForm::GOLD)) %><%= QuotationRequestForm::GOLD %>
              <%= check_box_tag("stamping[]", QuotationRequestForm::SILVER, @stampings.include?(QuotationRequestForm::SILVER)) %><%= QuotationRequestForm::SILVER %>
              <%= check_box_tag("stamping[]", QuotationRequestForm::OTHERS, @stampings.include?(QuotationRequestForm::OTHERS)) %><%= QuotationRequestForm::OTHERS %>: 
              <% other = @quotation_request_form.selection_stampings.find_by_stamping_type(QuotationRequestForm::OTHERS) %>
              <% if other.present? %>
                <%= text_field_tag :stamping_other, other.stamping_other %>
              <% else %>
                <%= text_field_tag :stamping_other, params[:stamping_other] %>
              <% end %>
            <% else %>
              <%= check_box_tag("stamping[]", QuotationRequestForm::GOLD) %><%= QuotationRequestForm::GOLD %>
              <%= check_box_tag("stamping[]", QuotationRequestForm::SILVER) %><%= QuotationRequestForm::SILVER %>
              <%= check_box_tag("stamping[]", QuotationRequestForm::OTHERS) %><%= QuotationRequestForm::OTHERS %>: <%= text_field_tag :stamping_other, params[:stamping_other] %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><b>No of Location Per Box</b></td>
          <td><%= f.text_field :stamping_per_box, :size => 3, :class => "two_digit_", :onblur => "generate_stamping_box(this)" %></td>
        </tr>
        <tr>
          <td><b>Stamping Size</b></td>
          <td id="generate_stamping_size">
            <% if @quotation_request_form.selection_stamping_sizes.present? %>
              <% @quotation_request_form.selection_stamping_sizes.each do |sss| %>
                (W)<%= text_field_tag "stamping_width[#{sss.id}][val]", sss.stamping_width, :size => 5 %>
                (L)<%= text_field_tag "stamping_length[#{sss.id}][val]", sss.stamping_length, :size => 5 %><br/>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    <% else %>
      <%= render "disabled_stamping", :f => f  %>
    <% end %>
  <% else %>
    <%= render "disabled_stamping", :f => f  %>
  <% end %>
</fieldset>

<fieldset>
  <legend>
    <% if @field_sets.present? %>
      <%= check_box_tag "field_set[]", QuotationRequestForm::DIE_CUT_FIELDSET, @field_sets.include?(QuotationRequestForm::DIE_CUT_FIELDSET) %>DIE CUT
    <% else %>
      <%= check_box_tag "field_set[]", QuotationRequestForm::DIE_CUT_FIELDSET %>DIE CUT
    <% end %>
  </legend>
  
  <% if @field_sets.present? %>
    <% if @field_sets.include?(QuotationRequestForm::DIE_CUT_FIELDSET) %>
      <table>
        <tr>
          <td width="150"><b>Die Cut</b></td>
          <td>
            <% if @quotation_request_form.selection_die_cuts.present? %>
              <%= check_box_tag "die_cut[]", QuotationRequestForm::BOX_OUTLINE, @die_cut.include?(QuotationRequestForm::BOX_OUTLINE) %><%= QuotationRequestForm::BOX_OUTLINE %>
              <%= check_box_tag "die_cut[]", QuotationRequestForm::TRIMING, @die_cut.include?(QuotationRequestForm::TRIMING) %><%= QuotationRequestForm::TRIMING %>
              <%= check_box_tag "die_cut[]", QuotationRequestForm::WINDOW, @die_cut.include?(QuotationRequestForm::WINDOW) %><%= QuotationRequestForm::WINDOW %>
            <% else %>
              <%= check_box_tag "die_cut[]", QuotationRequestForm::BOX_OUTLINE %><%= QuotationRequestForm::BOX_OUTLINE %>
              <%= check_box_tag "die_cut[]", QuotationRequestForm::TRIMING %><%= QuotationRequestForm::TRIMING %>
              <%= check_box_tag "die_cut[]", QuotationRequestForm::WINDOW %><%= QuotationRequestForm::WINDOW %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td><b>Type of Die Cut</b></td>
          <td>
            <%= f.radio_button("die_cut_type", QuotationRequestForm::INTERLOCK) %><%= QuotationRequestForm::INTERLOCK %>
            <%= f.radio_button("die_cut_type", QuotationRequestForm::FLAT) %><%= QuotationRequestForm::FLAT %>
            <%= f.radio_button("die_cut_type", QuotationRequestForm::BUTTERFLY) %><%= QuotationRequestForm::BUTTERFLY %>
            <%= f.radio_button("die_cut_type", QuotationRequestForm::OTHERS) %><%= QuotationRequestForm::OTHERS %>: <%= f.text_field "die_cut_type_other",  :id => "other_die_cut", :size => 20 %>
          </td>
        </tr>

        <tr>
          <td><b>Window Shape</b></td>
          <td>
            <%= f.radio_button("window_shape", QuotationRequestForm::RECTANGLE) %><%= QuotationRequestForm::RECTANGLE %>
            <%= f.radio_button("window_shape", QuotationRequestForm::KIDNEY) %><%= QuotationRequestForm::KIDNEY %>
            <%= f.radio_button("window_shape", QuotationRequestForm::OVAL) %><%= QuotationRequestForm::OVAL %>
            <%= f.radio_button("window_shape", QuotationRequestForm::TRIANGLE) %><%= QuotationRequestForm::TRIANGLE %><br/>
            <%= f.radio_button("window_shape", QuotationRequestForm::OTHERS) %><%= QuotationRequestForm::OTHERS %>: <%= f.text_field "window_shape_other", :id => "window_shape_other", :size => 13 %>
          </td>
        </tr>
        
        <tr>
          <td><b>Mould No</b></td>
          <td id="mould_no">
            <% if @quotation_request_form.selection_die_cut_moulds.present? %>
              <% @quotation_request_form.selection_die_cut_moulds.each do |sdcm| %>
                <%= text_field_tag "mould_no[#{sdcm.id}][val]", sdcm.mould_no, :size => 10 %>
              <% end %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td><b>Window No</b></td>
          <td id="window_no">
            <% if @quotation_request_form.selection_die_cut_moulds.present? %>
              <% @quotation_request_form.selection_die_cut_moulds.each do |sdcm| %>
                <%= text_field_tag "window_no[#{sdcm.id}][val]", sdcm.window_no, :size => 10 %>
              <% end %>
            <% end %>
          </td>
        </tr>


      </table>
    <% else %>
      <%= render "disabled_die_cut", :f => f  %>
    <% end %>
  <% else %>
    <%= render "disabled_die_cut", :f => f  %>
  <% end %>
</fieldset>


