<%= form_for(@quotation_request_form) do |f| %>

  <% unless action_name == "edit" %>
    <%= f.hidden_field :status, :value => QuotationRequestForm::PENDING %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>

  <div id="valid_quotation_requisition">
    <div class="popup_content">
      <div id="qr_strip">
            <ul>
              <li class="k-state-active">CUSTOM REQUEST</li>
              <li>MATERIAL</li>
              <li>PRINTING PROCESS</li>
              <li>FINISHING PROCESS</li>
              <li>OTHERS</li>
              <li>MOQ</li>
            </ul>
          
            <div><%= render "custom_request", :f => f %></div>

            <div><%= render "material", :f => f %></div>
            
            <div><%= render "color", :f => f %></div>
          
            <div>
              <div class="quotation">
                <table width="100%">
                  <tr>
                    <td width="50%" style="vertical-align: top;"><%= render "finish_process_left", :f => f %></td>
                    <td width="50%" style="vertical-align: top;"><%= render "finish_process_right", :f => f %></td>
                  </tr>
                </table>
              </div>
            </div>
            
            <div><%= render "others", :f => f %></div>
          
            <div><%= render "moq", :f => f %></div>
      </div>
      
      <div class="qr_signature"><%= render "confirmation_signature" %></div>
      
    </div>
  </div>

  <div class="icon_tag">
    <span class="alert_msg"></span>
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>

<div id='qr_remark' class='easyui-window' title='Quotation Request Remark' closed='true' minimizable='false' style='width:400px; height:160px;'>
  <div style="position: absolute; top: 30px; left: 50px;">
    <% if action_name == "edit" %>
      <%= form_tag no_button_quotation_request_form_path(@quotation_request_form), :method => :put do %>
        <b>Remark:</b><br/>
        <%= text_area_tag :status_remark, params[:status_remark], :cols => 40, :rows => 4 %><br/>
        <div class="icon_tag"><%= submit_tag "Submit Remark", :class => "k-button" %></div>
      <% end %>
    <% end %>
  </div>
</div>