<div style="height: 445px; width: 510px;">
  <table>
    <tr>
      <td width="120"><b>Paper Quality *</b></td>
      <td><%= f.text_field :material_gramme, :size => 5, :class => "three_digit_ k-textbox" , "required validationMessage" => "Please Enter Paper Quality" %> GSM</td>
      <% if unit_measurement.find_by_code('GSM').present? %>
        <%= f.hidden_field :unit_measurement_id, :value => unit_measurement.find_by_code('GSM').id, :size => 3 , :class => "k-textbox" , "required validationMessage" => "Please Enter unit measurement id " %>
      <% else %>
        <%= f.hidden_field :unit_measurement_id, :value => 40, :size => 3, :class => "k-textbox" , "required validationMessage" => "Please Enter unit measurement id " %>
      <% end %>
    </tr>

    <tr>
      <td><b>Type of Paper</b></td>
      <td><%= f.text_field :material_type %></td>
    </tr>
    
    <tr>
      <td><b>Remark</b></td>
      <td><%= f.text_field :material_remark %></td>
    </tr>

    <tr>
      <td><b>Paper Size, inch *</b></td>
      <td>
        (W)<%= f.text_field :paper_width, :size => 5, :class => "two_zero_" , :class => "k-textbox" , "required validationMessage" => "Please Enter paper Size , width " %>
        (L)<%= f.text_field :paper_length, :size => 5, :class => "two_zero_" , :class => "k-textbox" , "required validationMessage" => "Please Enter paper size , length " %>  
      </td>

      <td><b>Ratio *</b></td>
      <td>
        <%= f.text_field :ratio, :size => 5, :class => "two_digit_ratio" , :class => "k-textbox" , "required validationMessage" => "Please Enter Ratio" %>
        <span id="run_size">RUN</span>
      </td>
    </tr>
  </table>
  
  <fieldset>
    <legend>Printing Size, inch</legend>
    
    <div>
      <span id="calculate_size">

        <% x = @quotation_request_form.ratio %>

        <% if @quotation_request_form.paper_length.present? and @quotation_request_form.paper_width.present? %>
          <% if @quotation_request_form.selection_printing_sizes.present? %>
            <table>
              <% @quotation_request_form.selection_printing_sizes.each do |sps| %>
                <tr>
                  <td width="100">(W)<%= two_precision(sps.width) %></td>
                  <td width="100">(L)<%= two_precision(sps.length) %></td>
                  <td align="right">UPS:</td> <td><%= sps.ups %></td>
                </tr>
              <% end %>
              <tr>
                <td colspan="2"></td>
                <td>Total UPS:</td>
                <td><%= @quotation_request_form.selection_printing_sizes.sum(&:ups) rescue '0' %></td>
              </tr>
            </table>
          <% end %>
        <% end %>

      </span>
    </div>
    
    <div id="get_size" align="right">Check</div>
  </fieldset>
</div>

<div id="paper_size"></div>
<div id="printing_size"></div>


