<%= render "linking" %>

<div class="title_head"><strong style="color:white;">CUSTOMER FEEDBACK - QUOTATION REQUISITION</strong></div>

<div class="qr_content">
  <% if @quotation_request_forms.present? %>
    <%= form_tag customer_confirm_quotation_request_forms_path do %>
      <%= render "feedback_quotation_request", :quotations => @quotation_request_forms %>
      <div style="padding: 5px;" id="qr_submit">
        <b>Confirmed By</b> <%= current_user.name rescue '-' %><br/>
        <%= hidden_field_tag :confirmed_by, current_user.id %>
        <%= submit_tag "Submit", :confirm => "Are you sure to submit?", :class => "k-button" %>
      </div>
    <% end %>
  <% else %>
    <div style="padding: 0 5px;">No Record Found</div>
  <% end %>
</div>

<%= render "action_quotation_feedback" %>

<%= render "js_adjustment_height" %>