<div class="title_head"><strong style="color:white;">SENDING MAIL</strong></div>

<%= form_tag sending_mail_quotation_request_forms_path(:id => @quotation_request_form.id) do %>
  <div id="valid_mailing">
    <div class="popup_content">
      <table>
        <tr>
          <td><b>Attachment File</b></td>
          <td>
            QR No#<%= @quotation_request_form.quotation_request_no rescue 'none' %>.pdf
            <%= hidden_field_tag :user_pdf_link, printable_quotation_request_form_path(@quotation_request_form, :format => :pdf), :size => 50 %>
          </td>
        </tr>
        <tr>
          <td><b>From</b></td>
          <td><%= text_field_tag :user_from, params[:user_from], :class => 'k-textbox', "required validationMessage" => "Please Enter From Email Address" %></td>
        </tr>
        <tr>
          <td><b>To</b></td>
          <td><%= text_field_tag :user_to, params[:user_to], :class => 'k-textbox', "required validationMessage" => "Please Enter To Email Address" %></td>
        </tr>
        <tr>
          <td><b>Subject</b></td>
          <td><%= text_field_tag :user_subject, params[:user_subject], :class => 'k-textbox', "required validationMessage" => "Please Enter Subject", :style => "width: 500px;" %></td>
        </tr>
        <tr>
          <td style="vertical-align: top;"><b>Message</b></td>
          <td><%= text_area_tag :user_message, params[:user_message], :rows => 15, :cols => 70, "required validationMessage" => "Please Enter Message" %></td>
        </tr>
        <tr>
          <td></td>
          <td><span class="k-invalid-msg" data-for="user_message"></span></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="icon_tag">
    <%= link_mail_button %>
    <%= link_close_button %>
  </div>
<% end %>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {   
        
        var validator = $("#valid_mailing").kendoValidator().data("kendoValidator");
        
        $("#send_button").click(function() {
            if (validator.validate()) {
              
               $('*').css('cursor','progress');   
               $.ajax({  
                 url: "/quotation_request_forms/sending_mail",
                 success: function(){  
                   $('*').css('cursor','default');   
                 }  
               }); 
              
            }
            else { alert("Invalid Data Form..."); return false; } 
        });
          
    });
  </script>
<% end %>