<div class="left_icon_tag">
  <% if action_name == "non_operation" %>
    <% if roles.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION_GROUP) %>
      <%= link_to "Create Group", parent_product_categories_path(:category_type => ProductCategory::NON_OPERATION), :class => "iframe_800x450  k-button opac-icon", "data-fancybox-type" => "iframe" %>
    <% else %>
      <%= not_link_parent_folder %>
    <% end %>
  <% elsif action_name == "operation" %>
    <% if roles.include?(InventoryManagementSystem::PRODUCT_OPERATION_GROUP) %>
      <%= link_to "Create Group", parent_product_categories_path(:category_type => ProductCategory::OPERATION), :class => "iframe_800x450  k-button opac-icon", "data-fancybox-type" => "iframe" %>
    <% else %>
      <%= not_link_parent_folder %>
    <% end %>
  <% elsif action_name == "finish_good" %>
    <% if roles.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD_GROUP) %>
      <%= link_to "Create Group", parent_product_categories_path(:category_type => ProductCategory::FINISH_GOOD), :class => "iframe_800x450  k-button opac-icon", "data-fancybox-type" => "iframe" %>
    <% else %>
      <%= not_link_parent_folder %>
    <% end %>
    <% if roles.include?(InventoryManagementSystem::PRICE_CONTROL_NEW) %>
      <%= link_to "New Product Price Control", new_price_control_path, :class => "iframe_1600x900 k-button", "data-fancybox-type" => "iframe" %>
    <% else %>
      <span class="k-button">New Product Price Control</span>
    <% end %>
  <% else %>
    -
  <% end %>
</div>

<div class="icon_tag">
  <%= link_close_button %>
</div>