<%= form_for(@product) do |f| %>
  <%= hidden_field_tag "add_category_id", params[:add_category_id] %>
  <%= hidden_field_tag "category_type", params[:category_type] %>
  
  <div class="fix_1024x800">
    <% if @field_id.present? %>
      <div><%= render "field_form", :f => f, :fielding => @field_id, :product => @product %></div>
    <% end %>
  </div>
  
  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>
