<%= form_for(@product) do |f| %>
  <%= hidden_field_tag "add_category_id", params[:add_category_id] %>
  <%= hidden_field_tag "category_type",   params[:category_type] %>
  <%= hidden_field_tag "refer_category_id", params[:refer_category_id] %>

  <div class="popup_content">
    <% if @field_id.present? %>
      <div id="valid_product_field"> 
        <%= render "field_form", :f => f, :fielding => @field_id, :product => @product %>
      </div>
    <% end %>
  </div>

  <% unless action_name == "no_product_id" %>
    <div class="left_icon_tag"><%= submit_tag "Next New Product ID", :class => "k-button font_bold", :id => "left_save_button", :name => "save_and_new" %></div>
  <% end %>

  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {   
        
        var validator = $("#valid_product_field").kendoValidator().data("kendoValidator");
        
        $("#save_button, #left_save_button").click(function() {
            if (validator.validate()) { busyHours(); }
            else { alert("Invalid Data Form..."); return false; } 
        });
          
    });
  </script>
<% end %>
  
<% content_for :css_style do %>
  <style>
    .width_100 { width: 100px; }
  </style>
<% end %>