<table>
  <tr>
    <td>Product Type</td>
    <td><%= f.text_field :product_type %></td>
  </tr>
  
  <tr>
    <td>GSM</td>
    <td><%= f.text_field :gsm %> gsm</td>
  </tr>
  
  <tr>
    <td>Width</td>
    <td><%= f.text_field :width %></td>
  </tr>
  
  <tr>
    <td>Length</td>
    <td><%= f.text_field :length %></td>
  </tr>
  
  <tr>
    <td>Height</td>
    <td><%= f.text_field :height %></td>
  </tr>
  
  <tr>
    <td>Tickness</td>
    <td><%= f.text_field :tickness %></td>
  </tr>
  
  <tr>
    <td>Origin</td>
    <td><%= f.text_field :origin %></td>
  </tr>
  
  <tr>
    <td>Brand</td>
    <td><%= f.text_field :brand %></td>
  </tr>
  
  <tr>
    <td>Grade</td>
    <td><%= f.text_field :grade %></td>
  </tr>
</table>