<div class="left_icon_tag">
  <%# if roles.include?(InventoryManagementSystem::PR_TRANSACTION_SHOW) %>
    <%= link_addnew_1600x900(new_receipt_path) %>
  <%# else %>
    <!--span><%#= not_link_show %></span-->
  <%# end %>
</div>

<div class="icon_tag">
  
  <%# if roles.include?(InventoryManagementSystem::PR_TRANSACTION_SHOW) %>
    <span id="on_show" showClass="show_without_refresh_page_800x600"><%= not_link_show %></span>
  <%# else %>
    <!--span><%#= not_link_show %></span-->
  <%# end %>

  <!-- Histories can't EDIT module -->
  <%# if roles.include?(InventoryManagementSystem::PR_TRANSACTION_EDIT) %>
    <span id="on_edit" editClass="iframe_1600x900"><%= not_link_edit %></span>
  <%# else %>
    <!--span><%#= not_link_edit %></span-->
  <%# end %>

  <%# if roles.include?(InventoryManagementSystem::PR_TRANSACTION_KIV) %>
     <span id="on_kiv"><%= not_link_kiv %></span>
  <%# else %>
    <!--span><%#= not_link_kiv %></span-->
  <%# end %>

  <%# if roles.include?(InventoryManagementSystem::PR_TRANSACTION_PRINTABLE) %>
    <span id="on_printable"><%= not_link_printable %></span>
  <%# else %>
    <!--span><%#= not_link_printable %></span-->
  <%# end %>
  
  <%= link_home_button %>

</div>