<%= form_for(@receipt) do |f| %>
  <div id="valid_receipt">
    <div class="popup_content">
      <table>
        <tr>
          <% if @receipt.receipt_no.present? %>
            <td><b>Receipt No #</b></td>
            <td><%= @receipt.receipt_no rescue '-' %></td>
          <% else %>
            <td><b>Current Receipt No.</b></td>
            <td>
              <%= rpt_no = company.sn_receipt_no + 1 %>
              <%= f.hidden_field "receipt_no", :value => rpt_no  %>
            </td>
          <% end %>

          <td><b>Receipt Date</b></td>
          <td>
            <% if @receipt.receipt_date.present? %>
              <%= f.text_field :receipt_date, :value => @receipt.receipt_date.strftime("%d-%m-%Y"), :class => "mkendo_date" %>
            <% else %>
              <%= f.text_field :receipt_date, :value => Date.today.strftime("%d-%m-%Y"), :class => "mkendo_date", "required validationMessage" => "Please Enter Receipt Date" %>
            <% end %>
          </td>
          <td colspan="2"><span class="k-invalid-msg" data-for="receipt[receipt_date]"></span></td>
        </tr>

        <tr>
          <td><b>Customer Company</b></td>
          <td>
            <% if @receipt.trade_company_id.present? %>
              <%= f.select "trade_company_id", options_for_select(trade_company_customer_with_code, @receipt.trade_company_id), { :include_blank => true }, { :class => "mkendo_combobox", :style => "width:400px;", "required validationMessage" => "Please Enter Trade Company" } %>
            <% else %>
              <%= f.select "trade_company_id", options_for_select(trade_company_customer_with_code),                            { :include_blank => true }, { :class => "mkendo_combobox", :style => "width:400px;", "required validationMessage" => "Please Enter Trade Company", :onchange => "loading_cheque(this)" } %>
            <% end %>
            <span class="k-invalid-msg" data-for="receipt[trade_company_id]"></span>
          </td>
          <td><b>Cheque No</b></td>
          <td><%= f.select "payment_received_id", options_from_collection_for_select(@payment_receiveds, :id, :cheque_no), { :include_blank => true }, { "required validationMessage" => "Please Enter Cheque No", :onchange => "loading_cheque_amount(this)" } %></td>
          <%#*:class => "mkendo_combobox",%> 
        </tr>

        <tr>
          <td colspan="2">
            <b>Cash Amount</b>:&nbsp;<%= f.text_field :cash_amount, :class => "kendo_precision_4" %>&nbsp;&nbsp;
            <b>Cheque Amount</b>:&nbsp;<%= f.text_field :cheque_amount, :class => "kendo_precision_4" %>&nbsp;&nbsp;
          </td>
          <td><b>Total Amount</b></td>
          <td colspan="10">
            <span id="total_amount"><%= @receipt.total_amount.present? ? four_precision(@receipt.total_amount) : 0.0000 %></span>
            <span id="remaining_amount" style="display:none;"></span>
          </td>
        </tr>

        <tr>
          <td><b>Journal Voucher No</b></td>
          <td><%= f.text_field :journal_voucher_no, :class => "k-textbox" %></td>
          <td><b>Updated By</b></td>
          <td>
            <% if @receipt.updated_by.present? %>
              <%= updater_name(@receipt.updated_by) rescue '-' %>
            <% else %>
              <%= current_user.name %>
              <%= f.hidden_field :updated_by, :value => current_user.id %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td style="vertical-align: top;"><b>Remark</b></td>
          <td colspan="2">
            <%= f.text_area "remark", :size => "50x3" %>
          </td>
        </tr>
      </table>

      <hr/>

      <%= render "new_receipt_items", :receipt => @receipt %>
    </div>

    <%= render "action_receipt_entry" %>
  </div>
<% end %>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {   
        $(".numberKey").forceNumeric();
        
        $("#receipt_cash_amount, #receipt_cheque_amount").keyup(function(){
            var cash         = +$("#receipt_cash_amount").val();
            var cheque       = +$("#receipt_cheque_amount").val();
            var total        = cash + cheque;
            $("#total_amount").html(total.toFixed(4));
        });
        
        $('input[id$="document_amount"]').blur(function(){
            var host_amount = +$("#total_amount").html();
            $("#remaining_amount").html(host_amount.toFixed(4));
            
            var grandTotal = 0;
            
            $('table.target_table tbody').find('[id$="document_amount"]').each(function(k, elem) {
                var rem_amount  = +$("#remaining_amount").html();
                var number = $(this).attr("name").match(/\[(\d+)\]/);
                var number = parseInt(number[1], 10);
                var balance = "#bal_amount_" + number;
                
                var select_value = +$(this).val();
                console.log(select_value);
                var cal = rem_amount - select_value;
                $(balance).html(cal.toFixed(4));
                $("#remaining_amount").html(cal.toFixed(4));
            });
        });
        
        var validator = $("#valid_receipt").kendoValidator().data("kendoValidator");
        
        $("#save_button").click(function() {          
            if (validator.validate()) { busyHours(); }
            else { alert("Invalid Data Form..."); return false; } 
        });
    });
    
    function loading_cheque(sel){
      var trade_company_id = sel.options[sel.selectedIndex].value;

      $.ajax({
          dataType: "json",
          cache: false,
          url: '/payment_receiveds/cheque_active',
          data: { "trade_company_id": trade_company_id },
          timeout: 2000,
          success: function(data){
              $("select#receipt_payment_received_id").empty();
              var row = "<option value=\"" + "" + "\">" + "" + "</option>";
              $(row).appendTo("select#receipt_payment_received_id");

              $.each(data, function(i, j){
                  row = "<option value=\"" + j.id + "\">" + j.cheque_no + "</option>";  
                  $(row).appendTo("select#receipt_payment_received_id");
              }); 
          }
      });
    }
    
    function loading_cheque_amount(sel){
      var payment_id = sel.options[sel.selectedIndex].value;

      $.ajax({
          dataType: "json",
          cache: false,
          url: '/payment_receiveds/' + payment_id,
          timeout: 2000,
          success: function(data){
            var numerictextbox = $("#receipt_cheque_amount").data("kendoNumericTextBox");
            numerictextbox.value(data.cheque_amount);
          }
      });
    }
  </script>
<% end %>

