<table class="jgrid_popup zebraLight">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>Document No.</th>
      <th>Document Date</th>
      <th>Document Amount</th>
      <th>Balance Amount</th>
      <th>F/P</th>
      <th>O/S Amount</th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr class="<%= cycle('odd_line', 'even_line') %>">
        <td></td>
        <td align="left"><%= StatementOfAccount.transacted(item) %></td>
        <td align="center"><%= StatementOfAccount.transacted_date(item) %></td>
        <td align="right"><%= four_precision(item.document_amount) rescue '-' %>
        <td align="right"><%= four_precision(item.balance_amount) rescue '-' %></td>
        <td align="center"><%= item.fp rescue '-' %></td>
        <td align="right"><%= four_precision(item.os_amount) rescue '-' %></td>
      </tr>
      
      
      
    <% end %>
  </tbody>
  </table>