<div id="receipt_2">
  <div id="listing_statement">
    
    <% if @statement_of_accounts.present? %>
      <table class="white-line-table target_table">
        <thead>
          <tr class="header_line">
            <th>Document No.</th>
            <th>Document Date</th>
            <th>Document Amount</th>
            <th>Balance Amount</th>
            <th>F/P</th>
            <th>O/S Amount</th>
          </tr>
        </thead>

        <tbody>         
            <% @statement_of_accounts.order("balance_amount DESC").each_with_index do |statement| %>
              <tr class="<%= cycle('odd_line', 'even_line') %>">
                <td><%= StatementOfAccount.transacted(statement) %></td>
                <td align="center"><%= StatementOfAccount.transacted_date(statement) %></td>
                <td align="right">
                  <span id="doc_amount_<%= statement.id %>" style="display:none;"><%= StatementOfAccount.transacted_amount(statement) %></span>
                  <%= text_field_tag   "datarow[#{statement.id}][document_amount]", StatementOfAccount.transacted_amount(statement), :class => "numberKey k-textbox ", "required validationMessage" => "Please Enter Document Amount" %>
                </td>
                <td align="right">
                  <span id="bal_amount_<%= statement.id %>"><%= two_precision(statement.balance_amount) %></span>
                  <%= hidden_field_tag "datarow[#{statement.id}][balance_amount]", statement.balance_amount %>
                </td>
                <td align="center"><%= text_field_tag "datarow[#{statement.id}][fp]", statement.fp, :class => "k-textbox", :style => "width: 50px;", "required validationMessage" => "Please Enter F/P" %></td>
                <td align="right">
                  <span id="os_amount_<%= statement.id %>"><%= two_precision(statement.os_amount) %></span>
                  <%= hidden_field_tag "datarow[#{statement.id}][os_amount]", statement.os_amount, :class => "k-textbox" %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    
      <script>
          $(document).ready(function() {
              $(".numberKey").forceNumeric();

              $("#receipt_cash_amount, #receipt_cheque_amount").keyup(function(){
                  var cash         = +$("#receipt_cash_amount").val();
                  var cheque       = +$("#receipt_cheque_amount").val();
                  var total        = cash + cheque;
                  $("#total_amount").html(total.toFixed(4));
              });

              $('input[id$="fp"]').keydown(function(e){
                  if ($(this).val().length <= 1){
                      var key = e.which || e.keyCode;
                      if (!e.shiftKey && !e.altKey && !e.ctrlKey && 
                        // Press "N", "F", "P", Backspace, Tab, Home, End, left and right arrows, DEL
                        key == 78 || key == 70 || key == 80 || key == 8 || key == 9 || key == 35 || key == 36 || key == 37 || key == 39 || key == 46) {
                        if (e.keyCode != 8) {                       

                            var host_amount = +$("#total_amount").html();
                            $("#remaining_amount").html(host_amount.toFixed(4));

                            var grandTotal = 0;

                            $('table.target_table tbody').find('[id$="document_amount"]').each(function(k, elem) {
                                var rem_amount  = +$("#remaining_amount").html();
                                var number = $(this).attr("name").match(/\[(\d+)\]/);
                                var number = parseInt(number[1], 10);
                                var balance = "#bal_amount_" + number;
                                var balance_val = "#datarow_" + number + "_balance_amount";
                                var os_amount = "#datarow_" + number + "_os_amount";
                                var doc_amt_html  = "#doc_amount_" + number;
                                var doc_amt_val   = "#datarow_" + number + "_document_amount";
                                var os_html = "#os_amount_" + number;
                                
                                var answer_ori        = +$(doc_amt_html).html();
                                var answer_ori_entry  = +$(doc_amt_val).val();
                                var select_value = +$(this).val();
                                var cal = rem_amount - select_value;
                                var real_os_amount = answer_ori - answer_ori_entry;
                                $(balance).html(cal.toFixed(4));
                                $("#remaining_amount").html(cal.toFixed(4));
                                $(balance_val).val(cal.toFixed(4));
                                $(os_amount).val(real_os_amount);
                                $(os_html).html(real_os_amount);
                            });

                            $(this).val($(this).val()); 
                        }
                      } else {
                          return false;
                      }
                  } else {
                      $(this).val($.trim($(this).val()).slice(0, -1));
                  }
              }); 

              var validator = $("#valid_receipt").kendoValidator().data("kendoValidator");

              $("#save_button").click(function() {          
                  if (validator.validate()) { busyHours(); }
                  else { alert("Invalid Data Form..."); return false; } 
              });
          });
        </script>
    <% end %>
    
      
  </div>
</div>