  <%= title_head "SHOW RECEIPT DETAIL" %>

  <div class="table_details">
    <table>
      <tr>
        <td><b>Receipt No #</b></td>
        <td><%= @receipt.receipt_no rescue '-' %></td>
        <td><b>Receipt Date</b></td>
        <td><%= @receipt.receipt_date.strftime("%d-%m-%Y") rescue '-' %></td>
      </tr>

      <tr>
        <td><b>Trade Company</b></td>
        <td><%= company_code_and_name(@receipt.trade_company) rescue '-' %></td>
      </tr>

      <tr>
        <td colspan="10">
          <b>Cash Amount</b>:&nbsp;<%= four_precision(@receipt.cash_amount) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <b>Cheque Amount</b>:&nbsp;<%= four_precision(@receipt.cheque_amount) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <b>Total Amount</b>:&nbsp;<%= four_precision(@receipt.total_amount) %>
        </td>
      </tr>

      <tr>
        <td><b>Journal Voucher No</b></td>
        <td>
          <% if @receipt.journal_voucher_no.present? %>
            <%= @receipt.journal_voucher_no rescue '-' %>
          <% else %>
            -
          <% end %>
        </td>
        <td><b>Updated By</b></td>
        <td><%= updater_name(@receipt.updated_by) rescue '-' %></td>
      </tr>

      <tr>
        <td valign="top"><b>Remark</b></td>
        <td colspan="2"><%= @receipt.remark rescue '-' %></td>
      </tr>
    </table>
  </div>

  <hr/>

  <% if @receipt.receipt_items.present? %>
    <div class="table_background"><%= render "listing_receipt_items", :items => @receipt.receipt_items %></div>
  <% else %>
    <div class="popup_form_table">Not Record Found</div>
  <% end %>

  <div class="icon_tag">
    <%= link_close_button %>
  </div>