<div class="left_icon_tag">
  <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_NEW_SUPPLIER) %>
    <%= link_to "New Sales Tax Exemption for Vendor", new_sales_tax_exemption_path, :class => "show_without_refresh_page_800x600 k-button font_bold", "data-fancybox-type" => "iframe" %>
  <% else %>
    <%= disabled_style "New Sales Tax Exemption for Vendor" %>
  <% end %>
  
  <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_SUPPLIER_SHOW_HISTORIES) %>
    <span id="on_show_history"><%= disabled_style "Show Histories For Supplier" %></span>
  <% else %>
    <%= disabled_style "Show Histories For Supplier" %>
  <% end %>
</div>

<div class="icon_tag">
  
  <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_SUPPLIER_VALID_SHOW) %>
    <span id="on_show" showClass="show_without_refresh_page_800x600"><%= not_link_show %></span>
  <% else %>
    <%= not_link_show %>
  <% end %>

  <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_SUPPLIER_VALID_EDIT) %>
    <span id="on_edit" editClass="iframe_800x600"><%= not_link_edit %></span>
  <% else %>
    <%= not_link_edit %>
  <% end %>

  <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_SUPPLIER_VALID_KIV) %>
     <span id="on_kiv"><%= not_link_kiv %></span>
  <% else %>
    <%= not_link_kiv %>
  <% end %>

  <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_SUPPLIER_VALID_PRINTABLE) %>
    <span id="on_printable"><%= not_link_printable %></span>
  <% else %>
    <%= not_link_printable %>
  <% end %>
   
  <%= link_home_button %>

</div>