<%= form_for(@sales_tax_exemption) do |f| %>
  <% unless action_name == "edit" %>
    <% if action_name == "new_customer" %>
      <%= f.hidden_field :company_type, :value => SalesTaxExemption::CUSTOMER %>
    <% else %>
      <%= f.hidden_field :company_type, :value => SalesTaxExemption::SUPPLIER %>
    <% end %>
  <% end %>

  <div class="popup_content">
    <div id ="valid_sales_tax_exemption">
      <table>
        <tr>
          <% if action_name == "edit" %>
            <td width="200"><b>Running No#</b></td>
            <td><%= @sales_tax_exemption.running_no rescue '-' %></td>
          <% else %>
            <td width="200"><b>Current Running No.</b></td>
            <td>
              <%= company.sn_sales_tax_exemption_no.to_i + 1 %>
              <%= f.hidden_field :running_no, :value => company.sn_sales_tax_exemption_no.to_i + 1 %>
            </td>
          <% end %>
        </tr>

        <tr>
          <td><b>Type of Exemption</b></td>
          <td><%= f.text_field :type_of_exemption, :class => "k-textbox"  %></td>
        </tr>

        <tr>
          <td><b><%= f.label :sales_tax_exemption_no, "Sales Tax Exemption No. *" %></b></td>
          <td><%= f.text_field :sales_tax_exemption_no, :class=> "k-textbox", :style => "width: 250px;", "required validationMessage" => "Please Enter Sales Tax Exemption No." %></td>
        </tr>

        <tr>
          <td><b><%= f.label :registration_no, "Registration No." %></b></td>
          <td><%= f.text_field :registration_no, :class => "k-textbox" %></td>
        </tr>

        <% if action_name == "new_customer" %>
          <tr>
            <td><b><%= f.label :trade_company_id, "Customer Company *" %></b></td>
            <td>
              <% if action_name == "edit" %>
               <%= f.select "trade_company_id", options_for_select(trade_company_customer_with_code, @sales_tax_exemption.trade_company_id.to_i), {:include_blank => true}, { :style => "width:400px;", :class => "mkendo_combobox", "required validationMessage" => "Please Enter Trade Company" } %>
              <% else %>
               <%= f.select "trade_company_id", options_for_select(trade_company_customer_with_code), { :include_blank => true }, { :style => "width:400px;", :class => "mkendo_combobox", "required validationMessage" => "Please Enter Trade Company" } %>
              <% end %>
              <span class="k-invalid-msg" data-for="sales_tax_exemption[trade_company_id]"></span>
            </td>
          </tr>
        <% else %>
          <tr>
            <td><b><%= f.label :trade_company_id, "Supplier Company *" %></b></td>
            <td>
              <% if action_name == "edit" %>
               <%= f.select "trade_company_id", options_for_select(trade_company_vendor_with_code, @sales_tax_exemption.trade_company_id.to_i), {:include_blank => true}, { :style => "width:400px;", :class => "mkendo_combobox", "required validationMessage" => "Please Enter Trade Company" } %>
              <% else %>
               <%= f.select "trade_company_id", options_for_select(trade_company_vendor_with_code), { :include_blank => true }, { :style => "width:400px;", :class => "mkendo_combobox", "required validationMessage" => "Please Enter Trade Company" } %>
              <% end %>
              <span class="k-invalid-msg" data-for="sales_tax_exemption[trade_company_id]"></span>
            </td>
          </tr>
        <% end %>
        
        

        <tr>
          <td><b>Period</b></td>
          <td>
            <table style="table-layout: fixed;">
              <tr>
              <% if action_name == "edit" %>
                <td width="150"><%= f.text_field :period_start, :value => @sales_tax_exemption.period_start.strftime("%d-%m-%Y"), :class => "mkendo_date maskDate", "required validationMessage" => "Please Enter Period Start" %><span class="k-invalid-msg" data-for="sales_tax_exemption[period_start]"></span></td>
                <td>-</td>
                <td width="150"><%= f.text_field :period_end, :value => @sales_tax_exemption.period_end.strftime("%d-%m-%Y"), :class => "mkendo_date maskDate", "required validationMessage" => "Please Enter Period End" %><span class="k-invalid-msg" data-for="sales_tax_exemption[period_end]"></span></td>
              <% else %>
                <td width="150"><%= f.text_field :period_start, :class => "mkendo_date maskDate", "required validationMessage" => "Please Enter Period Start" %><span class="k-invalid-msg" data-for="sales_tax_exemption[period_start]"></span></td>
                <td>-</td>
                <td width="150"><%= f.text_field :period_end, :class => "mkendo_date maskDate", "required validationMessage" => "Please Enter Period End" %><span class="k-invalid-msg" data-for="sales_tax_exemption[period_end]"></span></td>
              <% end %>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <hr/>
  
      <table class="white-line-table target_table">
        <thead>
          <tr class="header_line">
            <th>Perihal Barang</th>
            <th>Tarif Code</th>
            <th>Apply Qty</th>
            <th>Origin U/M</th>
            <th>Calculate U/M</th>
            <th>Calculate Part Weight</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% if @sales_tax_exemption.sales_tax_exemption_barangs.present? %>

            <% @sales_tax_exemption.sales_tax_exemption_barangs.each_with_index do |goods, index| %>
              <tr class="<%= cycle('odd_line', 'even_line') %>">
                <td align="center"><%= select_tag       "datarow[#{index}][perihal_barang]", options_for_select(@perihal_barang, goods.perihal_barang), :include_blank => true, :class => "mkendo_combobox", "required validationMessage" => "Please Enter Perihal Barang" %></td>
                <td align="center"><%= text_field_tag   "datarow[#{index}][tarif_code]", goods.tarif_code, :class => "k-textbox", "required validationMessage" => "Please Enter Tarif Code" %></td>
                <td align="center"><%= text_field_tag   "datarow[#{index}][apply_qty]", goods.apply_qty, :class => "numberKey k-textbox", "required validationMessage" => "Please Enter Apply Qty" %>
                <td align="center"><%= select_tag       "datarow[#{index}][unit_measurement_id]", options_from_collection_for_select(unit_measurement, 'id', 'code', goods.unit_measurement_id.to_i), :include_blank => true, :class => "mkendo_combobox", "required validationMessage" => "Please Enter Origin U/M" %></td>        
                <td align="center">
                  <span id="um_code_<%= index %>"><%= goods.available_qty rescue '-' %></span>
                  <%= select_tag "datarow[#{index}][calculate_um_id]", options_from_collection_for_select(unit_measurement, 'id', 'code', goods.calculate_um_id.to_i), :include_blank => true, :class => "mkendo_combobox", :onchange => "calculate_um(this)", "required validationMessage" => "Please Enter Calculate U/M" %>
                </td>
                <td align="center">
                  <%= check_box_tag    "datarow[#{index}][need_part_weight]" %>
                </td>
                <td align="center"><%= remove_row_button %></td>
              </tr>
            <% end %>

          <% else %>

            <tr class="<%= cycle('odd_line', 'even_line') %>">
              <td align="center"><%= select_tag       "datarow[0][perihal_barang]", options_for_select(@perihal_barang), :include_blank => true, :class => "mkendo_combobox", "required validationMessage" => "Please Enter Perihal Barang" %></td>
              <td align="center"><%= text_field_tag   "datarow[0][tarif_code]", '', :class => "k-textbox", "required validationMessage" => "Please Enter Tarif Code" %></td>
              <td align="center"><%= text_field_tag   "datarow[0][apply_qty]", '', :class => "numberKey k-textbox", "required validationMessage" => "Please Enter Apply Qty" %>
              <td align="center"><%= select_tag       "datarow[0][unit_measurement_id]", options_from_collection_for_select(unit_measurement, 'id', 'code'), :include_blank => true, :class => "mkendo_combobox", "required validationMessage" => "Please Enter Origin U/M" %></td>
              <td align="center">
                <span id="um_code_0"></span>
                <%= select_tag "datarow[0][calculate_um_id]", options_from_collection_for_select(unit_measurement, 'id', 'code'), :include_blank => true, :class => 'mkendo_combobox', :onchange => "calculate_um(this)", "required validationMessage" => "Please Enter Calculate U/M" %>
              </td>
              <td align="center"><%= check_box_tag    "datarow[0][need_part_weight]" %></td>
              <td align="center"><%= remove_row_button %></td>
            </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="left_icon_tag">
    <%= add_row_button("Add Item") %>
  </div>

  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button  %>
  </div>
<% end %>

<% content_for :jquery_script do %>
  <script>
    $(document).ready(function() {
        $(".numberKey").forceNumeric();
        
        var validator = $("#valid_sales_tax_exemption").kendoValidator().data("kendoValidator");
        
        $("#save_button").click(function() {
            if (validator.validate()) { busyHours(); }
            else { alert("Invalid Data Form..."); return false; } 
        });
    });
    
    function calculate_um(sel){
        var number = sel.name.match(/\[(\d+)\]/);
        var number = parseInt(number[1], 10);
        var cal_umid = sel.options[sel.selectedIndex].value;

        if (cal_umid){
            var apply_qty   = "#datarow_" + number + "_apply_qty";
            var ask_qty    = $(apply_qty).val();
            var um_from     = "#datarow_" + number + "_unit_measurement_id";
            var ask_um_from = $(um_from).val();
            var um_to       = "#datarow_" + number + "_calculate_um_id";          
            var ask_um_to   = $(um_to).val();
            var result_val  = "#um_code_" + number;
            
            if (ask_qty > 0){
                if (ask_um_from != ask_um_to){
                  $.ajax({             
                      type: "GET",
                      dataType: "json",
                      cache: false,
                      url: '/formulations/output_value',
                      data: { 'from_um' : ask_um_from, 'to_um' : ask_um_to, 'current_value' : ask_qty },
                      success: function(data){ 
                          if (data.jstatus == true){
                            $(result_val).html(data.result);
                            $("#save_button").attr("disabled", false); 
                          } 
                          else if (data.jstatus == false){ 
                            alert("No match. Please create new in Formulations."); 
                            $("#save_button").attr("disabled", true); 
                          }
                      }
                  })
                } else {
                   $(result_val).html(ask_qty);
                   $("#save_button").attr("disabled", false); 
                }
            } else {
              alert("Please enter the apply qty.");
            }
        } else {
            alert("No Match.");
            $("#save_button").attr("disabled", true);
        }
    }
  </script>
<% end %>
