<div style="float:left">
  <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_SUPPLIER_SHOW_HISTORIES) %>
    <span id="on_show_history"><%= "Show Histories for Supplier" %></span>
  <% else %>
    <%= "Show Histories for Supplier" %>
  <% end %>
</div>

<div class="icon_tag">

  <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_SUPPLIER_UNVALID_SHOW) %>
    <span id="on_show" showClass="show_without_refresh_page_800x450"><%= not_link_show %></span>
  <% else %>
    <%= not_link_show %>
  <% end %>

  <%= not_link_edit %>

  <%= not_link_kiv %>
                                                  
  <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_SUPPLIER_UNVALID_PRINTABLE) %>
    <span id="on_printable"><%= not_link_printable %></span>
  <% else %>
    <%= not_link_printable %>
  <% end %>
   
  <%= link_close_button %>

</div>