



<%# count = 0 %>
	<% @detail_invoice_documentation_report.each do |p|%>
<!-- 	<%# if count % 6 == 0 %>  
	<div style="page-break-before: always;">-->

	<% arr = [] %>
	<% array = [] %>
	 

 
	<div>
	<br />
	<br />
	<br />
	<br />
	<table style="width:100%">
		<tr>
			<td style="width:10cm;">
					<div class="part1">
						<p><%= p.trade_company.name rescue'-'%></p>
						<p><%= p.trade_company.address_1 rescue'-'%></p>
						<p><%= p.trade_company.address_2 rescue'-'%></p>
						<p><%= p.trade_company.address_3 rescue'-'%></p>
						<p>Tel :<%= p.trade_company.tel_no_1 rescue'-'%>
						<%= p.trade_company.tel_no_2 rescue'-'%> / 
						Fax :<%= p.trade_company.fax_no rescue'-' %></p>
					</div>

				
				
			</td>
			<td style="width:2cm;"></td>
			<td style="width:8cm;">
				<div>
					<div class="part2" style="margin-left:240px;margin-bottom:60px;">
					<div><%= p.do_no rescue'-' %></div>
					<div><%= p.do_date rescue'-' %></div>
					<div><%= p.trade_term.name rescue'-' %></div>
					<div><%= p.currency.name rescue'-' %></div>
					<div><%= p.sales_rep rescue'-' %></div>
					<div><%= p.transport.name rescue'-' %></div>
				</div>
				</div>
				
			</td>
		</tr>
	</table>
</div>
	

	<br />
	<div style="margin-left:290px;">
		<div>
			
				<% if p.trade_company.present? %>
					<% if p.trade_company.sales_tax_licence_no.present? %>
						<%= p.trade_company.sales_tax_licence_no rescue'-'%>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
			
		</div>
		<div>
				<% if p.sales_tax_exemption.present? %>
					<%= p.sales_tax_exemption rescue'-' %>
				<%else%>
						&nbsp;
				<%end%>
		</div>
		<div>
			
				<% if p.trade_company.present? %>
					<% if p.trade_company.warehouse_licence_no.present? %>
						<%= p.trade_company.warehouse_licence_no rescue'-' %>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
		</div>
		<div>
				<% if p.trade_company.present? %>
					<% if p.trade_company.mfg_warehouse_licence_no.present? %>
						<%= p.trade_company.mfg_warehouse_licence_no rescue'-' %>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
		</div>
	</div>
	
		
	
	<table class="fix_doi_size">	
		<thead>
		<tr>
			<th width="1%"></th>
			<th width="20%"></th>
			<th width="40%"></th>
			<th width="10%"></th>
			<th width="25%"></th>
			<th width="20%"></th>
			<th width="20%"></th>
		</tr>
	</thead>
	<tbody>
		<% p.delivery_order_items.each_with_index do |doi , index| %>
	    <tr> 
	      <td align="center"><%= index + 1 %></td>
	      <td align="center"> 
	      	<p><%= doi.sales_order_item.product.product_combobox.product_code rescue'-' %></p>
	      	<p><%= doi.client_po rescue'-' %></p>
	      	<p><%= doi.client_lot rescue'-' %></p>
	      </td>
	      <td align="center">
	      	<p><%= doi.sales_order_item.product.product_category.desc rescue'-' %></p>
	      	<p><%= doi.sales_order_item.part_no rescue'-' %>
	      	<p><%= doi.sales_order_item.product.desc rescue'-' %> </p>
	      </td>
	      <td align="center"><%= doi.no_of_carton rescue'-' %></td>
	      <td align="center">
	      	<%= doi.delivery_qty rescue'-' %> <%= doi.sales_order_item.unit_measurement.code rescue'-' %></td>
	      	<% array << doi.no_of_carton %>
	      <td align="center"><%= doi.unit_price rescue'-' %></td>
	      	
	      <td align="right"><%= iproduct(doi.delivery_qty, doi.unit_price) %></td>
	      	<% arr << doi.delivery_qty * doi.unit_price %>
	    </tr>

	
      	
        <%# count += 1 %>
        <% end %>

        <%# top until here %>
       
          <tr>
        	<td></td>
        	<td></td>
        	<td align="right">Total :</td>
        	<td align="center">
        		<p>-----------</p>
        		<p><%= no_precision(array.sum) %></p>
        		<p>-----------</p>
        	</td>
        	<td></td>
        	<td align="center">Total :</td>
        	<td align="right">
        		<p>----------</p>
        		<p><%= two_precision(arr.sum) %></p>
        		<p>----------</p>
        	</td>
        </tr>
       <%# @detail_invoice_documentation_report.each do |s|%>
	   <tr>
	   	   <% 5.times do |td| %><td></td><% end %>
           <td align="center">+ S/Tax 0%:</td>      
           <td align="right"><%= p.sales_tax rescue'-' %></td> 
        </tr>
        <tr>
           <% 5.times do |td| %><td></td><% end %>
           <td align="center">+ T/Charges:</td>
           <td align="right"><%= p.tport_c rescue'-' %></td>
           <% arr << p.sales_tax + p.tport_c %>
       </tr>
       <%# end %>
       	
		
       <tr>
        	<% 6.times do |td| %><td></td><% end %>
           <td align="right">
           	<p>----------</p>
           	<p><%= two_precision(arr.sum) %></p>
           	<p>----------</p>
           	</td>
           <% end %>
       </tr>
		</tbody>
	</table>




<style>

table
{
font-family:"Times New Roman";
font-size: 11px;
}
th
{
height:20px;
}

.invoice_layout {
  margin-top: 1.5cm;
  margin-right: 10px;   
  margin-bottom: 10px; 
  margin-left: 10px;
}

.part1 {
  height: 150px;
  /*border-style: solid;*/
  width: 100%;
  margin-left: 2cm;
  margin-bottom: -2cm;
}





.fix_doi_size {
	width:auto;
	 
}

.fix_doi_size th{
	height:50px;
	/*border:1px solid black;*/
}

.line_items {
                page-break-before: always;
        }

</style>