<% if @detail_invoice_documentation_report.present? %>
  <% @detail_invoice_documentation_report.each_with_index do |p, index|%>

    <% arr = [] %>
    <% array = [] %>
	 
    <% if index == 0 %>
      <div style="margin-top: 200px;">
      <%#*<table style="margin-top: 200px;">%>
        <%#*<tr>%>
          <%#*<td>%>
    <% else %>
      <div style="page-break-before: always;">
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
        <br/>
      <%#*<table style="margin-top: 300px; page-break-before:always; ">%>
        <%#*<tr>%>
          <%#*<td>%>
    <% end %>
        
            <table style="width:990px;">
              <tr>
                <td style="width: 60%;margin-left: 50px;" class="part1">
                  <%= p.trade_company.name rescue'-'%><br />
                  <%= p.trade_company.address_1 rescue'-'%><br />

                  <% if p.trade_company.postcode_one.present? %>
                    <%= p.trade_company.postcode_one rescue '-' %>&nbsp;
                  <% end %>
                  <% if p.trade_company.city_one.present? %>
                    <%= p.trade_company.city_one rescue '-' %>,&nbsp;
                  <% end %>
                  <% if p.trade_company.state_one.present? %>
                    <%= p.trade_company.state_one rescue '-' %>,&nbsp;
                  <% end %>
                  <% if p.trade_company.country_one.present? %>
                    <%= p.trade_company.country_one rescue '-' %>.
                  <% end %> 

                  <br/>

                  Tel: <%= p.trade_company.tel_area_code_one rescue '-' %>-<%= p.trade_company.tel_no_1 rescue '-' %>
                  <% unless p.trade_company.tel_no_2.blank? %>
                    / <%= p.trade_company.tel_area_code_two rescue '-' %>-<%= p.trade_company.tel_no_2 rescue '-' %>
                  <% end %><br/>
                  Fax :<%= p.trade_company.fax_no rescue'-' %><br/>
                </td>

                <td style="width: 5%;"></td>

                <td style="width: 35%;">
                  <div style="margin-left: 150px; margin-top:40px;">
                    <%= p.do_no rescue'-' %><br />
                    <%= p.do_date.strftime("%d-%m-%Y") rescue'-' %><br />
                    <%= p.trade_term.name rescue'-' %><br />
                    <%= p.currency.name rescue'-' %><br />
                    <%= p.sales_rep rescue'-' %><br />
                    <%= p.transport.name rescue'-' %>
                  </div>
                </td>
              </tr>
            </table>

            <br />

            <table>
              <tr>
                <td width="290"></td>
                <td>
                  <% if p.trade_company.present? %>
	                  <% if p.trade_company.sales_tax_licence_no.present? %>
                          <%= p.trade_company.sales_tax_licence_no rescue'-'%>
	                  <% else %>
	                      &nbsp;
	                  <% end %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td width="290"></td>
                <td>
                  <% if p.sales_tax_exemption.present? %>
                    <%= p.sales_tax_exemption rescue'-' %>
                  <% else %>
                    &nbsp;
                  <% end %>
                </td>
              </tr>
              <tr>
                <td width="290"></td>
                <td>
                  <% if p.trade_company.present? %>
                    <% if p.trade_company.warehouse_licence_no.present? %>
                      <%= p.trade_company.warehouse_licence_no rescue'-' %>
                    <% else %>
                      &nbsp;
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td width="290"></td>
                <td>
                  <% if p.trade_company.present? %>
                    <% if p.trade_company.mfg_warehouse_licence_no.present? %>
                      <%= p.trade_company.mfg_warehouse_licence_no rescue'-' %>
                    <% else %>
                      &nbsp;
                    <% end %>
                  <% end %>
                </td>
              </tr>
            </table>

            <table class="fix_doi_size">	
  
                <tr>
	                <th style="width:fixed; width: 40px;"></th>
	                <th style="width:fixed; width: 200px;"></th>
	                <th style="width:fixed; width: 370px;"></th>
	                <th style="width:fixed; width: 60px;"></th>
	                <th style="width:fixed; width: 190px;"></th>
	                <th style="width:fixed; width: 127px;"></th>
	                <th style="width:fixed; width: 127px;"></th>
                </tr>
                <% p.delivery_order_items.each_with_index do |doi , index| %>
                  <% array << doi.no_of_carton %>
                  <% arr << doi.delivery_qty * doi.unit_price %>
                  <tr> 
                    <td align="left" style="vertical-align: top;margin-left:10px;"><%= index + 1 %></td>
                    <td align="left" style="vertical-align: top;margin-left:10px;">
                      <%= doi.sales_order_item.product.product_combobox.product_code rescue'-' %><br/>
                      <%= doi.client_po rescue'-' %><br />
                      <%= doi.client_lot rescue'-' %>
                    </td>
                    <td align="left" style="vertical-align:top;">
                      <%# if doi.sales_order_item.present? %>
                        <%# if doi.sales_order_item.product.present? %>
                          <%# if doi.sales_order_item.product.product_category.present? %>
                            <%# if doi.sales_order_item.product.product_category.refer_category_id.present? %>
                              <%# @pc = ProductCategory.find(doi.sales_order_item.product.product_category.refer_category_id) %>
                              <!-- <%#= @pc.code rescue'-' %><br /> -->
                            <%# else %>
                              <!-- - -->
                            <%# end %>
                          <%# end %>
                        <%# end %>
                      <%# end %>
                      <%= doi.sales_order_item.product.product_category.parent.parent.desc rescue'-' %><br/>
                      <%= doi.sales_order_item.product.desc rescue'-' %><br />
                      <%= doi.sales_order_item.part_no rescue'-' %>
                    </td>
                    <td align="right"><%= doi.no_of_carton rescue'-' %></td>
                    <td align="right"><%= doi.delivery_qty rescue'-' %> <%= doi.sales_order_item.unit_measurement.code rescue'-' %></td>
                    <td align="right" style="padding-right: 5px;"><%= four_precision(doi.unit_price) rescue'-' %></td>
                    <td align="right" style="padding-right: 5px;"><%= iproduct(doi.delivery_qty, doi.unit_price) %></td>
                  </tr>
                  <tr>
                    <td height="5px;"></td>
                  </tr>
                <% end %>

                <tr>
                  <td></td>
                  <td></td>
                  <td align="right">Total :</td>
                  <td align="right">
                    --------<br/>
                    <%= no_precision(array.sum) %><br/>
                    --------<br/>
                  </td>
                  <td></td>
                  <td align="right">Total :</td>
                  <td align="right" style="padding-right:5px;">
                    --------<br/>
                    <%= two_precision(arr.sum) %><br/>
                    --------<br/>
                  </td>
                </tr>

                <tr>
                  <% 5.times do |td| %><td></td><% end %>
                  <td align="right">+ S/Tax 0%:</td>      
                  <td align="right"><%= p.sales_tax rescue'-' %></td> 
                </tr>

                <tr>
                  <% 5.times do |td| %><td></td><% end %>
                  <td align="right">+ T/Charges:</td>
                  <td align="right"><%= p.tport_c rescue'-' %></td>
                  <% arr << p.sales_tax + p.tport_c %>
                </tr>

                <tr>
                  <% 6.times do |td| %><td></td><% end %>
                  <td align="right">
                    -------<br/>
                    <%= two_precision(arr.sum) %><br/>
                    -------<br/>
                  </td>
                </tr>

            </table>

        <%#*</td>%>
      <%#*</tr>%>
    <%#*</table>%>
    </div>
  <% end %>
        
<% else %>
  <h2>No Record Found</h2>
<% end %>


	





<style>

table
{
font-family:"Times New Roman";
font-size: 15px;
}
/*th
{
height:20px;
}*/

/*.invoice_layout {
  margin-top: 1.5cm;
  margin-right: 10px;   
  margin-bottom: 10px; 
  margin-left: 10px;
}*/

.part1 {
  <%#*height: 150px;%>
  /*border-style: solid;*/
  <%#*width: 100%;%>
  padding-left: 50px;
  margin-left: 50px;
}



.column_1 {
    width: 50px;
    /*overflow: hidden;*/
    display: inline-block;
    /*white-space: nowrap;*/
}
.column_2 {
    width: 120px;
    /*overflow: hidden;*/
    display: inline-block;
    /*white-space: nowrap;*/
}
.column_3 {
    width: 250px;
    /*overflow: hidden;*/
    display: inline-block;
    /*white-space: nowrap;*/
}
.column_4 {
    width: 70px;
    /*overflow: hidden;*/
    display: inline-block;
    /*white-space: nowrap;*/
}
.column_5 {
    width: 80px;
    /*overflow: hidden;*/
    display: inline-block;
    /*white-space: nowrap;*/
}
.column_6 {
    width: 100px;
    /*overflow: hidden;*/
    display: inline-block;
    /*white-space: nowrap;*/
}
.column_7 {
    width: 100px;
    /*overflow: hidden;*/
    display: inline-block;
    /*white-space: nowrap;*/
}


.fix_doi_size {
	width:fixed;
        width: 970px;
	/*margin-bottom: 150px;*/
	
}

.fix_doi_size th{
	height:70px;
	/*border:1px solid black;*/
}
 

</style>
