<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">Debit Note Report</a></li>
  <li><a href="#tabify_search">Search Engine</a></li>
</ul>       

 
<!-- <input type="checkbox" name="all" id="checkall" />Check All -->
<div id="tabify_listing">
  <div class="fix_1600x900_h450">
          <%= form_tag pdf_debit_note_report_reports_path ,:target=>"_blank" ,:method =>"get" do %>
          
          <table id="jdatatable" class="display" >

                    <thead>
                      <tr>
                        <th><%= check_box_tag 'checkall', :id =>"checkall" %></th>
                        <th>No.</th>
                        <th>Debit Note Date</th>
                        <th>Debit Note No.</th>
                        <th>Amount</th>
                        <th>Trade Company Name</th>
                        <th>Debit Type</th>
                        
                        
                        <%#*<th>Quantity</th>%>
                      </tr>
                    </thead>
                <tbody>
                 
                  <% @show_debit_note_report.each_with_index do |dn , index| %>
          
                      <tr class="<%= cycle("odd_line", "even_line") %>">
                        <td align="center"><%= check_box_tag "dn_ids[]" , dn.id %></td>
                        <td align="center"><%= index + 1 %></td>
                        <td align="center"><%= dn.debit_note_date.strftime("%d-%m-%Y") rescue'-' %></td>
                        <td align="center"><%= dn.debit_note_no rescue'-' %></td>
                        <td align="center"><%= dn.amount rescue'-' %></td>
                        
                        <td align="center"><%= dn.trade_company.name rescue'-' %></td>
                        <td align="center"><%= dn.debit_type rescue'-' %></td>
                        
                             
                              
                      </tr>
                     
          

                          <%# if pri.amount.present? %>
                            <%# arr << pri.amount * pri.amount %>
                          <%# end %>
                        <% end %>
                      <%# end %>
                    </tbody>
                  </table>

         
    </div>
          

    <div class="icon_tag" style="float:left">
      <%# if roles.include?(InventoryManagementSystem::_REPORT_EXCEL) %>
        <span><%#= submit_tag "Excel Report" , :class => "k-button" %>
          <%= not_link_excel %></span>
      <%# else %>
      <%# end %> 
    </div>

    <div class="icon_tag" style="float:right;">
      <% if roles.include?(InventoryManagementSystem::ACCOUNT_CN_DN_REPORT_SHOW) %>
      <span><%#= not_link_show %><%= submit_tag "Show" , :class => "k-button" %></span>
      <% else %>
        <%= not_link_show %>
      <% end %>
      
      <span><%= not_link_edit %></span>
      <span><%= not_link_recover %></span>

      <% if roles.include?(InventoryManagementSystem::ACCOUNT_CN_DN_REPORT_PRINT) %>
        <span><%= submit_tag "PDF Report" , :class => "k-button" %></span>
      <% else %>
        <span><% not_link_printable %></span>
      <% end %>

      <% end %>

      <%= link_home_button %>
    </div>
</div>
   
<div id="tabify_search">

   <table>
    <%= form_for @debit_note_report, :url => inventory_report_reports_path  do |f| %>
        <tr>
          <td>Debit Note Date</td>
          <td><%= f.text_field :debit_note_date_gte , :size => 9 , :class => "mkendo_date" %>
            -
            <%= f.text_field :debit_note_date_lte , :size => 9 , :class => "mkendo_date" %></td>
        </tr>
        <tr>
          <td>Trade Company</td>
          <td><%= f.text_field :trade_company_name_contains , :size => 12  %></td>
        </tr>
        <tr>
                <td><%= submit_tag "Search" %></td>
        </tr>
        <% end %>
    </table>
</div>




