<div id="container">
<h2><u>Sales Order Customer P/O Detail Report</u></h2>


	<% if @excel_so_customer_po_detail_report.present? %>
	<table id="jgrid" class="zebraLight normal_table_black">
		<thead>
		<tr class="header_line">
		<th>No.</th>
		<th>SO #</th>
        <th>Part /Prod ID</th>
        <th>Description</th>
        <th>Date</th>
        <th>Order</th>
        <th>Out sid</th>
        <th>Status</th>
			</tr>
		</thead>

		<tbody>
		<% @excel_so_customer_po_detail_report.each_with_index do |so , index| %>
			<tr>
				<td align="center"><%= index + 1 %></td>
				<td align="center"><%= so.sales_order.sales_order_no rescue'-' %></td>
				<td align="center"><%= render '/product_categories/join_product_category' , :pc => so %></td>
				<td align="center"><%= so.description rescue'-' %></td>
				<td align="center"><%= so.sales_order.so_date.strftime("%d-%m-%Y") rescue'-' %></td>
				<td align="center"><%#=  %></td>
				<td align="center"><%#=  %></td>  
				<td align="center"><%= so.status rescue'-' %></td>      
			</tr>
			
		<% end %>
		</tbody>

		<% else %>
			no report found
		<% end %>
	</table>

</div>


<style>
table {
  width: 100px;
}

</style>