<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">Inventory Report</a></li>
  <li><a href="#tabify_search">Search Engine</a></li>
</ul>  


<!-- <input type="checkbox" name="all" id="checkall" />Check All -->
<div id="tabify_listing">
  <div class="fix_1600x900_h450">
          <%= form_tag pdf_inventory_report_reports_path ,:target=>"_blank" ,:method =>"get" do %>
          <table id="jdatatable" class="display" data-source="<%= inventory_report_reports_path(format: "json") %> ">
                    <thead>
                      <tr>
                        <th><%= check_box_tag 'checkall', :id =>"checkall" %></th>
                        <th>No.</th>
                        <th>Product ID</th>
                        <th>Description</th>
                        <th>Remaining</th>
                        <th>Transaction</th>
                        <%#*<th>Quantity</th>%>
                      </tr>
                    </thead>
                <tbody>
                  <% arr = [] %>

                  <% @show_inventory_report.each_with_index do |inventory , index| %>
                      <tr>
                        <td align="center"><%= check_box_tag "in_ids[]" , inventory.id %></td>
                        <td align="center"><%= index + 1 %></td>
                        <td align="center"><%#= inventory.product.product_combobox.product_code rescue'-' %></td>
                        <td align="center"><%= inventory.product.desc rescue '-' %></td>
                        <td align="center"><%= inventory.amount %></td>
                        <td align="center"><%= inventory_issue_description(inventory.inventory_issue_id) rescue '-' %></td>             
                      </tr>
                          <%# if pri.amount.present? %>
                            <%# arr << pri.amount * pri.amount %>
                          <%# end %>
                           <% end %>
                      <% end %>
                    </tbody>
                  </table>
                  </div>

    <div class="icon_tag" style="float:left">
      <% if roles.include?(InventoryManagementSystem::INVENTORY_REPORT_EXCEL) %>
        <span><%= submit_tag "Excel Report" , :class => "k-button" %></span>
      <% else %>
        <% not_link_excel %>
      <% end %> 
    </div>

    <div class="icon_tag" style="float:right;">
        <% if roles.include?(InventoryManagementSystem::INVENTORY_REPORT_SHOW) %>
      <span><%= submit_tag "Show" , :class => "k-button" %></span>
      <% else %>
        <%= not_link_show %>
      <% end %>
      
      <span><%= not_link_edit %></span>
      <span><%= not_link_recover %></span>

      <% if roles.include?(InventoryManagementSystem::INVENTORY_REPORT_PRINT) %>
        <span><%= submit_tag "PDF Report" , :class => "k-button" %></span>
      <% else %>
        <% not_link_printable %>
      <% end %>

      <%= link_close_button %>
    </div>
</div>

<div id="tabify_search">
<table>
  <%= form_for @inventory_report, :url => inventory_report_reports_path  do |f| %>
      <tr>
        <td>Product ID</td>
        <td><%= f.text_field :product_product_combobox_product_code_contains , :size => 9 %></td>
        <td>Description</td>
        <td><%= f.text_field :inventory_issue_description_contains , :size => 9 %></td>
      </tr>
      <tr>
              <td><%= submit_tag "Search" %></td>
      </tr>
      <% end %>
</table>
</div>





