<div id="container">
<h2>Inventory Report</h2>


	 
	<fieldset>
		<!-- <table style="border:1 cellpadding:3 cellspacing:1 width:100%; "> -->
		<table id="jgrid" class="black-line-table">
			<thead>
				<tr class="header_line">
					<th>No.</th>
					<th>Product ID</th>
	        <th>Description</th>
				  <th>Stock In</th>
					<th>Stock Out</th>
          <th>Remaining</th>
					<th>Transaction</th>
				</tr>
			</thead>

			<%# arr = [] %>

	<% if @detail_inventory_report.present? %>
	 <% @detail_inventory_report.each_with_index do |pri , index| %>

			<tbody>
			<tr>
				<td align="center"><%= index + 1 %></td>
				<td align="center"><%= render '/product_categories/join_product_category' , :pc => pri  rescue'-' %></td>
        <td align="center"><%= pri.product.desc rescue '-' %></td>
				<td align="center"><%= pri.stock_in rescue '-'%></td>
				<td align="center"><%= pri.stock_out rescue '-'%></td>
        <td align="center"><%= pri.amount rescue '-' %></td>
				<td align="center"><%= inventory_issue_description(pri.inventory_issue_id) rescue '-' %></td>
				<!--td><%#= pri.inventory_issue.in_out rescue '-' %></td-->
				<%#= iproduct(pri.amount) rescue '-'%>
			</tr>
			</body>
			<% end %>

		</table>
     <% else %>
   no record found
    <% end %>
  		
      </fieldset>
	
</div>



<style>
  
  body {
    background-color: #fff;
    
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      width:100%;
      border-width: 1px;
      <%#*border-spacing: 0px;%>
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table th {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }

  table.black-line-table td {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }

  tbody tr {
    border-top: 3pt solid white
  }
  thead td {
      /* Introduce a `short' style */
      border-bottom: 5pt short(4pt) solid red
  }

  
</style>
