<div id="container">
<h2><u>Sales Tax Exemption Report</u></h2>


	<% if @detail_sales_tax_exemption_report.present? %>
	<table id="jgrid" class="black-line-table">
		<thead>
			<tr class="header_line">
				<th>No.</th>
				<th>Trade company / Sales Tax Exemption</th>
				<th>Date</th>
				<th>Inv No.</th>
				<th>Tarif Code</th>
				<th>Remaining Total</th>
			</tr>
		</thead>

		<tbody>
		<% @detail_sales_tax_exemption_report.each_with_index do |ste , index| %>
			<tr>
				<td align="center"><%= index + 1 %></td>
				<td align="center"><%= ste.trade_company.name rescue '-' %> / <%= ste.sales_tax_exemption_no %></td>
				<td align="center"><%= ste.period_start rescue '-' %></td>
				<td align="center"><%= ste.ste_no rescue '-' %></td>
				<td align="center"><%= ste.tarif_code rescue '-' %></td>
				<td align="center"><%= ste.remaining_total rescue '-' %></td>

			</tr>
			
		<% end %>
		</tbody>

		
	</table>

  <% else %>
      no report found
    <% end %>

</div>


<style>
table{
    width:100%;
  }
  
  body {
    background-color: #fff;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      width:100%;
      border-width: 1px;
      <%#*border-spacing: 0px;%>
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table th {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }

  table.black-line-table td {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }
   tbody tr {
    border-top: 3pt solid white;
 }
  
</style>
