<!-- <div id="container">
<h2><u>Sales Order Customer P/O Detail Report</u></h2>


	<%# if @detail_so_customer_po_detail_report.present? %>
	<table id="jgrid" class="black-line-table">
		<thead>
			<tr class="header_line">
				<th>SO #</th>
        <th>Part /Prod ID</th>
        <th>Description</th>
        <th>Date</th>
        <th>MGF Date</th>
        <th>Order</th>
        <th>Remaining Qty</th>
        <th>Status</th>
			</tr>
		</thead>


		<tbody>
		<%# @detail_so_customer_po_detail_report.each do |so| %>
       <%# so.sales_order_items.each_with_index do |soi , index | %>
			<tr>
        <%# if index == 0 %>
        <td align="center" rowspan="<%#= so.sales_order_items.count %>">
        <%#= so.sales_order_no rescue'-' %></td>
        <%# end %>
        <td align="center"><%#= soi.part_no rescue'-' %> / 
          <%#= render '/product_categories/join_product_category' , :pc => soi %></td>
        <td align="center"> 
          <%#= soi.product.desc rescue'-' %></td>
        <td align="center"><%#= soi.mgf_date.strftime("%d-%m-%Y") rescue'-' %></td>
        <td align="center"><%#= soi.so_date.strftime("%d-%m-%Y") rescue'-' %></td>
        <td align="center"><%#= soi.quantity rescue'-' %></td>
        <td align="center"><%#= soi.remaining_qty rescue'-' %></td>
        <td align="center"><%#= soi.status rescue'-' %></td>
         <%# end %> 
			</tr>
      <tr style="border-top: 2px solid;">
        <td ></td>
      </tr>
			
		<%# end %> 
		</tbody>

		<%# else %>
			no report found
		<%# end %>
	</table>

</div> -->
<% if @detail_so_customer_po_detail_report.present? %>
   <% @detail_so_customer_po_detail_report.each_with_index do |so , index| %>
<% if index == 0 %>
    <div></div>
      
    <% else %>
      <div style="page-break-before: always;">
      
  <% end %>

<h2><u>Sales Order Customer P/O Detail Report</u></h2>


  
  <table class="table_fix">
    <tr>
      <td align="right">
        Customer :
        <br />
        <br />
      </td>
      <td align="left">
        <% so.trade_company.code rescue'-' %>/
        <%= so.trade_company.address_1 rescue'-' %><br />
        <%= so.trade_company.address_2 rescue'-' %><br />
      </td>
 
      <td align="right">
        Sales Order No. :<br />
        Date            :<br />
        Page            :<br />
        Rev             :<br />
        Term            :<br />
      </td>
      <td align="left">
        <%= so.sales_order_no rescue'-' %> <br />
        <%= so.so_date.strftime("%d-%m-%Y") rescue'-' %> <br />
        <%= index + 1 %> <br />
        <%= so.revision rescue'-' %> <br />
        <%= so.trade_term.name rescue'-' %><br />
      </td>
    </tr>

    <tr>
      <td align="right">Sales Rep : </td>
      <td><%= so.sales_rep rescue'-' %></td>
    </tr>

  </table>
  <% arr = [] %>
  <table class="black-line-table" style="height:1000px;">
    <thead>
     
      <tr class="header_line">
        <th>No.</th>
        <th>Prod Code</th>
        <th>Part no. / Description</th>
        <th>Quantity</th>
        <th>U/P (RM)</th>
        <th>Amount</th>
        <th>ETA Date</th>
        <th>P/O</th>
        <th>Satus</th>
      </tr>
    </thead>

<!-- ======================= do until here ================== -->
    <tbody>
    
       <% so.sales_order_items.each_with_index do |soi , index | %>
      <tr>
        <td align="center"><%= index + 1 %></td>
        <%# if index == 0  ///  rowspan="<%= so.sales_order_items.count %>
        <td align="center"><%= soi.product.product_combobox.product_code rescue'-' %><br />
        <%= soi.lot_no rescue'-' %></td>
        <%# end %>
        <td align="left"><%= soi.product.product_category.parent.parent.desc rescue'-' %><br /> 
          <%= soi.product.desc rescue'-' %><br />
          <%= soi.part_no rescue'-' %></td>
        <td align="center"><%= soi.quantity rescue'-' %></td>
        <td align="center"><%= soi.unit_price rescue'-' %> <%= soi.unit_measurement.code rescue'-' %></td>
        <td align="center"><%= iproduct(soi.quantity , soi.unit_price ) rescue'-' %></td>
        <td align="center"><%= soi.eta.strftime("%d-%m-%Y")  rescue'-' %></td>
        <td align="center"><%= so.purchase_order_no rescue'-' %></td>
        <td align="center"><%= so.status rescue'-' %></td>
        <% arr << soi.quantity * soi.unit_price %>
         <% end %> 
      </tr>
      <tr style="border-top: 1px solid;">
          <td colspan="5" align="right">Total :</td>
          <td align="center"><%= two_precision(arr.sum) %></td>
      </tr>

       <%# end %>
    </tbody>
</table>

  <table>
    <tr>
      <td>Purchase By</td>
      <td>Prepared By</td>
      <td>Authorised By</td>
    </tr>
    <tr>
      <td><br />..............</td>
      <td><br />..............</td>
      <td><br />..............</td>
    </tr>

    <tr>
      <td><% a = User.find(so.updated_by) %>
        <%= a.name rescue'-' %></td>
      <td><% b = User.find(so.updated_by) %>
        <%= b.department.name rescue'-' %></td>
      <td>B Y LIM </td>
    </tr>
    
  </table>    
</div>
  
  <% end %>
  <% else %>
      no report found
  <% end %>




<style>
table{
    width:100%;
  }
  
  body {
    background-color: #fff;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      width:100%;
      border-width: 1px;
      <%#*border-spacing: 0px;%>
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table th {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }

  table.black-line-table td {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }
   tbody tr {
    border-top: 2px solid white;
 }

 /*.table_fix table {
    height:13770px;
    /*width:987px;*/
 }*/
  
</style>