<div id="container">
<h2><u>Receive Note Report</u></h2>
	<% if @detail_receive_note_report.present? %>
		
		<table id="jgrid" class="black-line-table">
			<thead>
			<tr class="header_line">
				<th>No.</th>
				<th>Product Id / Description</th>
				<th>Received Qty</th>
				<th>P/O No.</th>
				<th>Part No.</th>
			</tr>
		</head>

			<%# po_no.each do |po| %>
      		<%# f po.present? %>
		 		<%# po.purchase_requisition_items.each do |item| %>
				<%# @poil = PurchaseOrderItemLine.find_by_purchase_requisition_item_id(item.id) %>
					<%# if item.present? %>
					<%# @rni = ReceiveNoteItem.find_by_purchase_order_item_line_id_and_receive_note_id(@poil.purchase_requisition_item_id, @poil.receive_note_id) %>	

		<%# arr = [] %>
		</tbody>
			

		<tr>
			<% @detail_receive_note_report.each_with_index do |rni , index| %>

			<td align="center"><%= index + 1 %></td>
			<td align="center"><%= render '/product_categories/join_product_category' , :pc => pri rescue'-' %> / 
			<%= rni.purchase_order_item_line.purchase_requisition_item.product.desc rescue'-' %>

				<%#= PurchaseOrderItemLine.purchase_requisition_item_product.desc rescue '-' %></td>
			<%# d.received_note_items.each do |pri| %>
				
                         
			<td align="center"><%= rni.received_qty rescue '-'%></td>

			<td align="center"><%= rni.purchase_order_item_line.purcahse_order.po_no rescue '-' %></td>
			<td align="center"><%= rni.purchase_order_item_line.purchase_requisition_item.product.part_no rescue '-' %></td>
		</tr>
				
		<% end %>
		</tbody>
		</table>
		
		
		<% else %>
		No Report Found
	<% end %>
	
</div>


<style>

table {
	width: 100%;
}
  
  body {
    background-color: #fff;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      width:100%;
      border-width: 1px;
      <%#*border-spacing: 0px;%>
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table th {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }

  table.black-line-table td {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }
  tbody tr {
    border-top:2pt solid white;
 }
  
</style>
