<h2><u>Purchase Requisition Report</u></h2>

<fieldset>
<% if @detail_pr_report.present? %>
  <% @detail_pr_report.each_with_index do |pri , index| %>


      <div style="float:left;">
          <h1>PR.No :
          <u><b><%= f.purchase_requsition_pr_no rescue '-' %></b></u>
          </h1>
      </div>

      <div style="float:right;">
          <h1>Date :
          <b><%= f.purchase_requsition_requested_by_date.strftime("%d-%m-%Y") rescue '-'  %></b>
        </h1>
      </div>
      


      <table border="1" style="width:100%" >
        <thead>
          <tr>
            <th>No.</th>
            <th>Product Code</th>
            <th>Description</th>
            <th>RM</th>
            <th>Vendor</th>
            <th>ORDER QTY</th>
            <th>Amount</th>
          </tr>
        </thead>

            
          <% arr = [] %>

          
            <%# f.each_with_index do |pri, index| %>
        <tbody>
          <tr>
            <td><%= index + 1 %></td>
            <td><%#= pri.product_code rescue '-' %><%= render '/product_categories/join_product_category' , :pc => pri rescue'-' %></td>
            <td><%= pri.description rescue '-'%></td>
            <td><%= pri.unit_price rescue '-' %></td>
            <td><%= pri.trade_company.name rescue '-' %></td>
            <td><%= pri.quantity rescue '-'%></td>
            <td><%= iproduct(pri.quantity, pri.unit_price) %></td>
          </tr>
          
        </tbody>

              <% if iproduct(pri.quantity, pri.unit_price).present? %>
              <% arr << pri.quantity * pri.unit_price %>
              <% end %>

            
            
      
      </table>
      <table>
        <tr style="float:right;">
          <td>Total Amount :</td>
          <td ><%= two_precision(arr.sum) %></td>
        </tr>
      </table>

  <% end %>
    <% else %>
    <div>No record found.</div>
<% end %>
  </fieldset>
