<div class="invoice_layout">

<% if @detail_invoice_documentation_report.present? %>
<% arr = [] %>
<% array = [] %>
<%# count = 0 %>
  


    
<% @detail_invoice_documentation_report.each do |p| %>
  
  s_tax<%= s_tax     = p.sales_tax.to_f %>
  t charges<%= t_charges = p.tport_c.to_f %>      
      
	
<!-- 	<%# if count % 6 == 0 %>  
	<div style="page-break-before: always;">

	 

 -->
	<div>
	<br />
	<br />
	<br />
	
	<table style="width:100%">
		<tr>
			<td style="width:10cm;">
					<div class="part1">
						<%= p.trade_company.name %> /
						<%= p.trade_company.address_1 %>
						<%= p.trade_company.address_2 %>
						<%= p.trade_company.address_3 %>
						<%= p.trade_company.tel_no_1 %>
						<%= p.trade_company.tel_no_2 %>
						<%= p.trade_company.fax_no %>
					</div>
				
				
			</td>
			<td style="width:2cm;"></td>
			<td style="width:8cm;">
				<div>
					<div class="part2" style="margin-left:4.5cm;">
					<div><%= p.do_no rescue'-' %></div>
					<div><%= p.do_date rescue'-' %></div>
					<div><%= p.trade_term.name rescue'-' %></div>
					<div><%= p.currency.name rescue'-' %></div>
					<div><%= p.sales_rep rescue'-' %></div>
					<div><%= p.transport.name rescue'-' %></div>
				</div>
				</div>
				
			</td>
		</tr>
	</table>
</div>
	

	<br />
	<div style="margin-left:6cm;">
		<div>
			
				<% if p.trade_company.present? %>
					<% if p.trade_company.sales_tax_licence_no.present? %>
						<%= p.trade_company.sales_tax_licence_no rescue'-'%>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
			
		</div>
		<div>
				<% if p.sales_tax_exemption.present? %>
					<%= p.sales_tax_exemption rescue'-' %>
				<%else%>
						&nbsp;
				<%end%>
		</div>
		<div>
			
				<% if p.trade_company.present? %>
					<% if p.trade_company.warehouse_licence_no.present? %>
						<%= p..trade_company.warehouse_licence_no rescue'-' %>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
		</div>
		<div>
				<% if p.trade_company.present? %>
					<% if p.trade_company.mfg_warehouse_licence_no.present? %>
						<%= p.trade_company.mfg_warehouse_licence_no rescue'-' %>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
		</div>
	</div>
	
		
	
	<table class="fix_h350_w100_bottom">	
		<thead>
		<tr>
			<th width="10"></th>
			<th width="50"></th>
			<th width="80"></th>
			<th width="20"></th>
			<th width="50"></th>
			<th width="30"></th>
			<th width="30"></th>
		</tr>
	</thead>
	<tbody>
          <% p.delivery_order_items.each_with_index do |doi , index| %>
	    <tr> 
	      <td align="center"><%= index + 1 %></td>
	      <td align="center"><%= doi.client_po %> / <%= doi.client_lot rescue'-' %></td>
	      <td align="center"><%= doi.part_no rescue'-' %> <%= simple_format(doi.sales_order_item.product.desc) rescue'-' %> </td>
	      <td align="center"><%= doi.no_of_carton rescue'-' %></td>
	      <td align="center"><%= doi.delivery_qty rescue'-' %> <%= doi.sales_order_item.unit_measurement.code rescue'-' %></td>
	      	<% array << doi.no_of_carton %>
	      <td align="right"><%= doi.unit_price rescue'-' %></td>
	      	
	      <td align="right"><%= iproduct(doi.delivery_qty, doi.unit_price) %></td>
	      	<% arr << doi.delivery_qty * doi.unit_price %>
	    </tr>

	
      
        <%# count += 1 %>
        <% end %>
    <% end %>
        <tr>
        	<td></td>
        	<td></td>
        	<td align="right">Total :</td>
        	<td><%= two_precision(array.sum) %></td>
        	<td></td>
        	<td></td>
        	<td align="right"><%= two_precision(arr.sum) %></td>
        </tr>

	   <tr>
	   	   <% 5.times do |td| %><td></td><% end %>
           <td align="center">+ S/Tax 0%:</td>
          <% @detail_invoice_documentation_report.each do |e| %>
          <% e.delivery_order_items.each_with_index do |doi , index| %>
           <td align="right"><%= doi.delivery_order.sales_tax rescue'-' %></td>
           
        </tr>
        <tr>
        	<% 5.times do |td| %><td></td><%# end %>
           <td align="center">+ T/Charges:</td>
           <td align="right"><%#= doi.delivery_order.tport_c rescue'-' %></td>
           <% arr << doi.delivery_order.sales_tax + doi.delivery_order.tport_c %>
           <% end %>
          <% end %>
       </tr>
       <tr>
        	<% 6.times do |td| %><td></td><% end %>
           <td align="right"><%= two_precision(arr.sum) %></td>
       </tr>
		</tbody>
	</table>

 
	<% elsif @detail_delivery_order_documentation_report.present? %>
	
	<% array = [] %>
	<% @detail_delivery_order_documentation_report.each_with_index do |p| %>
	
<!-- 	<%# if count % 6 == 0 %>  
	<div style="page-break-before: always;">

	 

 -->
	<div>
	<br />
	<br />
	<br />
	<br />
	<table style="width:100%">
		<tr>
			<td style="width:10cm;">
					<div class="part1">
						<%= p.trade_company.name %> /
						<%= p.trade_company.address_1 %>
						<%= p.trade_company.address_2 %>
						<%= p.trade_company.address_3 %>
						<%= p.trade_company.tel_no_1 %>
						<%= p.trade_company.tel_no_2 %>
						<%= p.trade_company.fax_no %>
					</div>
				
				
			</td>
			<td style="width:2cm;"></td>
			<td style="width:8cm;">
				<div>
					<div class="part2" style="margin-left:4.5cm;">
					<div><%= p.do_no rescue'-' %></div>
					<div><%= p.do_date rescue'-' %></div>
					<div><%= p.trade_term.name rescue'-' %></div>
					<div><%= p.currency.name rescue'-' %></div>
					<div><%= p.sales_rep rescue'-' %></div>
					<div><%= p.transport.name rescue'-' %></div>
				</div>
				</div>
				
			</td>
		</tr>
	</table>
</div>
	

	<br />
	<div style="margin-left:5cm;">
		<div>
			
				<% if p.trade_company.present? %>
					<% if p.trade_company.sales_tax_licence_no.present? %>
						<%= p.trade_company.sales_tax_licence_no rescue'-'%>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
		</div>
		<div>
				<% if p.sales_tax_exemption.present? %>
					<%= p.sales_tax_exemption rescue'-' %>
				<%else%>
						&nbsp;
				<%end%>
		</div>
		<div>
				<% if p.trade_company.present? %>
					<% if p.trade_company.warehouse_licence_no.present? %>
						<%= p.trade_company.warehouse_licence_no rescue'-' %>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
			
		</div>
		<div>
				<% if p.trade_company.present? %>
					<% if p.trade_company.mfg_warehouse_licence_no.present? %>
						<%= p.trade_company.mfg_warehouse_licence_no rescue'-' %>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
		</div>
	</div>
	
	<% p.delivery_order_items.each_with_index do |doi , index| %>
	
	<table class="fix_h350_w100_bottom">	
		<thead>
		<tr>
			<th width="10"></th>
			<th width="50"></th>
			<th width="80"></th>
			<th width="20"></th>
			<th width="50"></th>
			<th width="30"></th>
			<th width="30"></th>
		</tr>
	</thead>
	<tbody>
	    <tr> 
	      <td align="center"><%= index + 1 %></td>
	      <td align="center"><%= doi.client_lot rescue'-' %> / <%= doi.client_po %></td>
	      <td align="center"><%= doi.part_no rescue'-' %> <%= doi.sales_order_item.product.desc rescue'-' %> </td>
	      <td align="center"><%= doi.no_of_carton rescue'-' %></td>
	      <td align="center"><%= doi.delivery_qty rescue'-' %> <%= doi.sales_order_item_id.unit_measurement rescue'-' %></td>
	      	<% array << doi.no_of_carton %>
	      <td align="right"><%#= doi.unit_price rescue'-' %></td>
	      	
	      <td align="right"><%#= iproduct(doi.delivery_qty, doi.unit_price) %></td>
	      	<%# arr << doi.delivery_qty * doi.unit_price %>
	    </tr>

	
      
        <%# count += 1 %>
        <%# end %>
        <% end %>
        <tr>
        	<td></td>
        	<td></td>
        	<td align="right">Total :</td>
        	<td><%= two_precision(array.sum) %></td>
        	
		</tbody>
	</table>
	<% else %>
		
	<div>No Record Found</div>

<% end %>


</div>


<style>

table
{
font-family:"Times New Roman";
}
th
{
height:20px;
}

.invoice_layout {
  margin-top: 1.5cm;
  margin-right: 10px;   
  margin-bottom: 10px; 
  margin-left: 10px;
}

.part1 {
  height: 150px;
  /*border-style: solid;*/
  width: 100%;
  margin-left: 2cm;
  margin-bottom: -2cm;
}

.part2 {
  /*border-bottom: 4px;*/
  /*border-style: solid;*/
  /*height: 120px;
  width: 100%;*/
  margin-bottom: 0cm;
}



.fix_h350_w100_bottom {
    width:100%;
    border-width: 350px;
    
}

.fix_h350_w100_bottom th{
	height:50px;
	
}

</style>
