<div id="container">
<h2>PO Listing Vendor Report</h2>
<% arr = [] %>

    <% if @detail_po_listing_vendor_report.present? %>
      <% @detail_po_listing_vendor_report.each do |po| %>
        
    <div><a> Vendor : <%= po.trade_company.code rescue'-' %> / <%= po.trade_company.name rescue'-' %></a></div>
  	<table class="black-line-table">
  		<thead>
  			<tr class="header_line">
  				<th>P/O #</th>
          <th>Date</th>
          <th>RN Date</th>
  				<th>Product Code / Description</th>
  				<th>Quantity</th>
          <th>Out Standing</th>
          <th>Unit Measurement</th>
  				<th>Unit Price</th>
  				<th>Amount</th>
  			</tr>
  		</thead>
      
    	<tbody>
        <% po.purchase_requisition.purchase_requisition_items.each_with_index do |pri , index| %>
    		<tr>
          <% if index == 0 %>
    			<td align="center" rowspan="<%= pri.purchase_requisition.purchase_requisition_items.count %>"><%= po.po_no rescue'-' %></td>
          <% end %>
          <td align="center"><%= pri.eta.strftime("%d/%m/%Y") rescue'-' %></td>
          

          <% po.purchase_order_item_lines.each do |rn| %>
            <td align="center"><%= rn.receive_note.rn_date.strftime("%d/%m/%Y") %></td>
          <% end %>

    			<td align="center"><%= pri.product.product_combobox.product_code rescue '-' %> / 
            <%= poi.description rescue'-' %></td>
    			<td align="center"><%= pri.quantity rescue'-' %></td>

          <%= iproduct(pri.quantity, pri.receive_note_item.received_qty) %>

          <%# arr << poi.quantity - po.a.received_qty %>
          <td align="center"><%#= two_precision(iproduct) rescue'-' %></td>
          
          <td align="center"><%= pri.unit_measurement.code rescue '-' %></td>
    			<td align="center"><%= pri.unit_price rescue '-' %></td>
          
    			<td align="center"><%= iproduct(pri.quantity, pri.unit_price) %>
                      <% arr << pri.quantity * pri.unit_price %></td>
    		</tr>
        <% end %>
        
        <tr style="border-top: 1px solid;">
          <td colspan="8" align="right">Total :</td>
          <td align="center"><%= two_precision(arr.sum) %></td>
        </tr>
        
    	</tbody>
     
    </table>
    <br />
    <% end %>
    
   
   <% else %>
   no record found
  <% end %>
  
</div>

<style>


  body {
    background-color: #fff;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      width:100%;
      border-width: 1px;
      <%#*border-spacing: 0px;%>
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table th {
          border-width: 1px;
          padding: 1px;
          border-style: solid;

          border-color: black;
          background-color: transparent; }

  table.black-line-table td {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
        }
  tbody tr {
    border-top:2pt solid white;
 }

  
</style>