<h2> Sale Tax Exemption Report</h2>


<div>
	<fieldset>

		<% if @show_sale_tax_exemption_report.present? %>

	<% @show_sale_tax_exemption_report.each_with_index do |pri , index| %>
	<table class="table table-striped" border="1">
	<thead>
		<tr>
			<th>No.</th>
			<th>Trade company / Sales Tax Exemption</th>
			<th>Date</th>
			<th>Inv No.</th>
			<th>Tarif Code</th>
			<th>Remaining Total</th>
		</tr>
	</thead>

	<tbody>
	
		<tr>
			<td><%= index + 1 %></td>
			<td><%= pri.trade_company.name rescue '-'%></td>
			<td><%= pri.period_start rescue '-' %></td>
			<td><%= pri.ste_no rescue '-' %></td>
			<td><%= pri.tarif_code rescue '-' %></td>
			<td><%= pri.remaining_total rescue '-' %></td>

		</tr>
		<% end %>

	
	</tbody>
		
	</table>


	
  	<% end %>
	</fieldset>
</div>
