<div id="container">
<h2>Purchase Order Report</h1>

      <% if @detail_po_report.present? %>
  	<table id="jgrid" class="black-line-table">
  		<thead>
  			<tr class="header_line">
  				<th>PO No.</th>
          <th>Vendor</th>
  				<th>Order date</th>
  				<th>Currency</th>
          <th>Purchase By</th>
          <th>Request By</th>
  				<th>Term</th>
  				<th>Transport</th>
  				
  			</tr>
  		</thead>
      
  	<tbody>
      
      <% @detail_po_report.each do |p| %>
  		<tr>
  			<td align="center"><%= p.po_no rescue'-' %></td>
        <td align="center"><%= p.trade_company.name %></td>
  			<td align="center"><%= p.po_date.strftime("%d-%m-%Y") rescue '-' %></td>
  			<td align="center"><%= p.currency.name rescue '-' %></td>
        <td align="center"><%= User.find_by_id(purchase_by).name rescue '-' %></td>
        <td align="center"><%= User.find_by_id(request_by).name rescue '-' %></td>
  			<td align="center"><%= p.trade_term.name rescue '-' %></td>
  			<td align="center"><%= p.transport.name rescue '-' %></td>
  			 
  		</tr>
      <% end %>
  	</tbody>
  	
    </table>
   
   <% else %>
   no record found
    <% end %>
  
</div>

<style>

  table {
    width: 100px;
  }
  
  body {
    background-color: #fff;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      width:100%;
      border-width: 1px;
      <%#*border-spacing: 0px;%>
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table th {
          border-width: 1px;
          padding: 1px;
          border-style: solid;

          border-color: black;
          background-color: transparent; }

  table.black-line-table td {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
        }
  tbody tr {
    border-top:2pt solid white;
 }

  
</style>