<div class="invoice_layout">

<% if @detail_invoice_documentation_report.present? %>
<% arr = [] %>
<% array = [] %>
<%# count = 0 %>
<% @detail_invoice_documentation_report.each_with_index do |p , index| %>

<!-- 	<%# if count % 6 == 0 %>  
	<div style="page-break-before: always;">

	 

 -->
	<div>
	
	<table style="width:100%">
		<tr>
			<td style="width:10cm;">
					<div class="part1"><%= p.delivery_order.trade_company.name %> /
						<%= p.delivery_order.trade_company.address_1 %>
						<%= p.delivery_order.trade_company.address_2 %>
						<%= p.delivery_order.trade_company.address_3 %>
						<%= p.delivery_order.trade_company.tel_no_1 %>
						<%= p.delivery_order.trade_company.tel_no_2 %>
						<%= p.delivery_order.trade_company.fax_no %>
					</div>
				
				
			</td>
			<td style="width:2cm;"></td>
			<td style="width:8cm;">
				<div>
					<div class="part2" style="margin-left:4.5cm;">
					<div><%= p.delivery_order.do_no rescue'-' %></div>
					<div><%= p.delivery_order.do_date rescue'-' %></div>
					<div><%= p.delivery_order.trade_term.name rescue'-' %></div>
					<div><%= p.delivery_order.currency.name rescue'-' %></div>
					<div><%= p.delivery_order.sales_rep rescue'-' %></div>
					<div><%= p.delivery_order.transport.name rescue'-' %></div>
				</div>
				</div>
				
			</td>
		</tr>
	</table>
</div>
	

	<br />
	<div style="margin-left:5cm;">
		<div>
			<% if p.delivery_order.present? %>
				<% if p.delivery_order.trade_company.present? %>
					<% if p.delivery_order.trade_company.sales_tax_licence_no.present? %>
						<%= p.delivery_order.trade_company.sales_tax_licence_no rescue'-'%>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div>
			<% if p.delivery_order.present? %>
				<% if p.delivery_order.sales_tax_exemption.present? %>
					<%= p.delivery_order.sales_tax_exemption rescue'-' %>
				<%else%>
						&nbsp;
				<%end%>
			<%end%>
		</div>
		<div>
			<% if p.delivery_order.present? %>
				<% if p.delivery_order.trade_company.present? %>
					<% if p.delivery_order.trade_company.warehouse_licence_no.present? %>
						<%= p.delivery_order.trade_company.warehouse_licence_no rescue'-' %>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div>
			<% if p.delivery_order.present? %>
				<% if p.delivery_order.trade_company.present? %>
					<% if p.delivery_order.trade_company.mfg_warehouse_licence_no.present? %>
						<%= p.delivery_order.trade_company.mfg_warehouse_licence_no rescue'-' %>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	
	
	
	<table class="fix_h350_w100_bottom">	
		<thead>
		<tr>
			<th width="10"></th>
			<th width="50"></th>
			<th width="80"></th>
			<th width="20"></th>
			<th width="50"></th>
			<th width="30"></th>
			<th width="30"></th>
		</tr>
	</thead>
	<tbody>
	    <tr> 
	      <td align="center"><%= index + 1 %></td>
	      <td align="center"><%= p.client_lot rescue'-' %> / <%= p.client_po %></td>
	      <td align="center"><%= p.part_no rescue'-' %> <%= p.sales_order_item.product.desc rescue'-' %> </td>
	      <td align="center"><%= p.no_of_carton rescue'-' %></td>
	      <td align="center"><%= p.delivery_qty rescue'-' %> <%= p.sales_order_item_id.unit_measurement rescue'-' %></td>
	      	<% array << p.no_of_carton %>
	      <td align="right"><%= p.unit_price rescue'-' %></td>
	      	
	      <td align="right"><%= iproduct(p.delivery_qty, p.unit_price) %></td>
	      	<% arr << p.delivery_qty * p.unit_price %>
	    </tr>

	
      
        <%# count += 1 %>
        <% end %>
        <tr>
        	<td></td>
        	<td></td>
        	<td align="right">Total :</td>
        	<td><%= two_precision(array.sum) %></td>
        	<td></td>
        	<td></td>
        	<td align="right"><%= two_precision(arr.sum) %></td>
        </tr>

	   <tr>
	   	   <% 5.times do |td| %><td></td><% end %>
           <td align="center">+ S/Tax 0%:</td>
          <% @detail_invoice_documentation_report.each do |e| %>
           <td align="right"><%= e.delivery_order.sales_tax rescue'0.0' %></td>
           
        </tr>
        <tr>
        	<% 5.times do |td| %><td></td><% end %>
           <td align="center">+ T/Charges:</td>
           <td align="right">100<%#= e.delivery_order.tport_c rescue'0.0' %></td>
           <% arr << e.delivery_order.sales_tax + 100 %>
          <% end %>
       </tr>
       <tr>
        	<% 6.times do |td| %><td></td><% end %>
           <td align="right"><%= two_precision(arr.sum) %></td>
       </tr>
		</tbody>
	</table>



	





	
 
	<% elsif @detail_delivery_order_documentation_report.present? %>
	<% @detail_delivery_order_documentation_report.each_with_index do |d , index| %>
	<div>
	<table style="width:100%">
		<tr>
			<td style="width:11cm;">
					<div class="part1" style="margin-left:70px;"><%= d.delivery_order.trade_company.name %> /
						<%= d.delivery_order.trade_company.address_1 %>
						<%= d.delivery_order.trade_company.address_2 %>
						<%= d.delivery_order.trade_company.address_3 %>
						<%= d.delivery_order.trade_company.tel_no_1 %>
						<%= d.delivery_order.trade_company.tel_no_2 %>
						<%= d.delivery_order.trade_company.fax_no %>
					</div>
				
				
			</td>
			<td style="width:1cm;"></td>
			<td style="width:8cm;">
				<div>
					<div style="margin-left:4.5cm;margin-bottom:3cm;">
					<div><%= d.delivery_order.do_no rescue'-' %></div>
					<div><%= d.delivery_order.do_date rescue'-' %></div>
					<div><%= d.delivery_order.trade_term.name rescue'-' %></div>
					<div><%= d.delivery_order.currency.name rescue'-' %></div>
					<div><%= d.delivery_order.sales_rep rescue'-' %></div>
					<div><%= d.delivery_order.transport.name rescue'-' %></div>
				</div>
				</div>
				
			</td>
		</tr>
	</table>
	</div>
	<br />
	<div style="margin-left:5cm;">
		<div>
			<% if d.delivery_order.present? %>
				<% if d.delivery_order.trade_company.present? %>
					<% if d.delivery_order.trade_company.sales_tax_licence_no.present? %>
						<%= d.delivery_order.trade_company.sales_tax_licence_no rescue'-'%>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div>
			<% if d.delivery_order.present? %>
				<% if d.delivery_order.sales_tax_exemption.present? %>
					<%= d.delivery_order.sales_tax_exemption rescue'-' %>
				<%else%>
						&nbsp;
				<%end%>
			<%end%>
		</div>
		<div>
			<% if d.delivery_order.present? %>
				<% if d.delivery_order.trade_company.present? %>
					<% if d.delivery_order.trade_company.warehouse_licence_no.present? %>
						<%= d.delivery_order.trade_company.warehouse_licence_no rescue'-' %>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div>
			<% if d.delivery_order.present? %>
				<% if d.delivery_order.trade_company.present? %>
					<% if d.delivery_order.trade_company.mfg_warehouse_licence_no.present? %>
						<%= d.delivery_order.trade_company.mfg_warehouse_licence_no rescue'-' %>
					<% else %>
						&nbsp;
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<table class="fix_h350_w100_bottom">	
		<tr>
			<th width="10"></th>
			<th width="50"></th>
			<th width="80"></th>
			<th width="20"></th>
			<th width="50"></th>
			<th width="30"></th>
			<th width="30"></th>
		</tr>
	    <tr>
	      <td align="center"><%= index + 1 %></td>
	      <td align="left"><%= d.client_lot rescue'-' %> / <%= d.client_po %></td>
	      <td align="center"><%= d.part_no rescue'-' %></td>
	      <td align="left"><%= d.no_of_carton rescue'-' %></td>
	      <td align="center"><%= d.delivery_qty rescue'-' %></td>
	      <td align="right"><%#= d.unit_price rescue'-' %></td>
	      <td align="right"><%#= iproduct(d.delivery_qty, d.unit_price) %></td>
	    </tr>
	
	</table>



		<% end %>
	<% else %>
		
	<div>No Record Found</div>

<% end %>


</div>


<style>

table
{
font-family:"Times New Roman";
}
th
{
height:20px;
}

.invoice_layout {
  margin-top: 1.5cm;
  margin-right: 10px;   
  margin-bottom: 10px; 
  margin-left: 10px;
}

.center_margin_rigth{
	margin-right: 15cm;

}

/*table.center_margin_rigth td{
	margin-left: 70px;
}*/

.part1 {
  height: 150px;
  /*border-style: solid;*/
  width: 100%;
  margin-left: 2cm;
  margin-top: 1cm;
}

.part2 {
  /*border-bottom: 4px;*/
  /*border-style: solid;*/
  /*height: 120px;
  width: 100%;*/
  margin-bottom: 2cm;
}



.fix_h350_w100_bottom {
    width:100%;
    border-width: 350px;
    
}

.fix_h350_w100_bottom th{
	height:50px;
	border:1px solid black;
}

</style>
