<h2><u>Purchase Requisition Report</u></h2>

<fieldset>
<% if @detail_pr_report.present? %>
  <% @detail_pr_report.each do |pr| %>
  <!-- it will take the choice of purchase requisition which related to pr_no -->


     
      <%#cellpadding:3 cellspacing:1%>
      <table class="black-line-table">
        <thead>
          <tr>
            <th>Pr.No</th>
            <th>Product Code</th>
            <th>Description</th>
            <th>RM</th>
            <th>Date</th>
            <th>Vendor</th>
            <th>ORDER QTY</th>
            <th>Amount</th>
          </tr>
        </thead>

            
          <% arr = [] %>

          
            <%# f.each_with_index do |pri, index| %>
        <tbody>
          <% pr.purchase_requisition_items.each_with_index do |pri, index| %>
            <tr>  
            <% if index == 0 %>
            <td rowspan="<%= pr.purchase_requisition_items.count %>"><%= pr.pr_no rescue '-' %></td>
            <% end %>
            
            <!-- <div style="cellpadding:3 cellspacing:1"> -->
            <td><%#= pri.product_code rescue '-' %><%= render '/product_categories/join_product_category' , :pc => pr.pri rescue'-' %></td>
            <td><%= pri.description rescue '-'%></td>
            <td><%= pri.unit_price rescue '-' %></td>
            <!-- </div> -->
            <% if index == 0 %>
            <td rowspan="<%= pr.purchase_requisition_items.count %>"><%= pr.requested_by_date.strftime("%d-%m-%Y") rescue '-'  %></td>
            <% end %>
            <td><%= pri.trade_company.name rescue '-' %></td>
            <td><%= pri.quantity rescue '-'%></td>
            <td><%= iproduct(pri.quantity, pri.unit_price) %></td>
              <% if iproduct(pri.quantity, pri.unit_price).present? %>
              <% arr << pri.quantity * pri.unit_price %>
              <% end %>
            
          </tr>
          <% end %>
          
        </tbody>
      </table>
      <table>
        <tr style="float:right;">
          <td>Total Amount :</td>
          <td ><%= two_precision(arr.sum) %></td>
        </tr>
      </table>

  <% end %>
    <% else %>
    <div>No record found.</div>
<% end %>
  </fieldset>



<style>

  table{
    width:100%;
  }
  
  body {
    width:100%;
    background-color: #fff;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; 
    
  }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      border-width: 1px;
      <%#*border-spacing: 0px;%>
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table th {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }

  table.black-line-table td {
         
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;

        }
  thead td {
      border-style: none none solid none;
      border-width: thick;
      border-color: red;
      margin: 4pt;
  }
  tbody tr {
    border-top: 2pt transparent;
 }
</style>
