<h2><u>Purchase Requisition Report</u></h2>

<fieldset>
  <% if @detail_pr_report.present? %>
  <% @detail_pr_report.each do |f| %>


  <div style="float:left;">
      <h1>PR.No :
      <u><b><%= f.pr_no rescue '-' %></b></u>
      </h1>
  </div>

  <div style="float:right;">
      <h1>Date :
      <b><%= f.requested_by_date.strftime("%d-%m-%Y") rescue '-'  %></b>
    </h1>
  </div>
  


  <table border="1" >
    <thead>
    <tr>
      <th>No.</th>
      <th>PROD.CODE</th>
      <th>Description</th>
      <th>RM</th>
      <th>Vendor</th>
      <th>ORDER QTY</th>
      <th>Amount</th>
    </tr>
    </thead>

    
  <% arr = [] %>

  
    <% f.purchase_requisition_items.each_with_index do |pri, index| %>
    <tbody>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= pri.product_code %><%#= render '/product_categories/join_product_category' , :pc => pri  %></td>
        <td><%= pri.product.description %></td>
        <td><%= pri.product.unit_price rescue '-' %></td>
        <td><%= pri.product.trade_company.name rescue '-' %></td>
        <td><%= pri.product.quantity%></td>
        <td><%= iproduct(pri.quantity, pri.unit_price) %></td>
      </tr>
      
      </tbody>

      <% if iproduct(pri.quantity, pri.unit_price).present? %>
      <% arr << pri.quantity * pri.unit_price %>
        <% end %>

    <% end %>
    
  
  </table>
  <table>
    <tr style="float:right;">
    <td>Total Amount :</td>
    <td ><%= two_precision(arr.sum) %></td>
    </tr>
  </table>




    <% end %>
    <% else %>
    No record found.
    <% end %>
  </fieldset>
