<div id="container">
<h1>Product ID Report</h1>


	 <% if @detail_product_report.present? %>
	
	

	<table id="jgrid" class="black-line-table" >
			<thead>
			<tr class="header_line">
                          
				<th>No.</th>
        <th>Product ID</th>
        <th>Product Name</th>
				<th>Description</th>
				<th>Part No.</th>
				<th>U/P(RM)</th>
				<th>Current Stock</th>
				<th>Unit Measurement</th>
			</tr>
		</thead>	

	
	<tbody>
	<% @detail_product_report.each_with_index do |pri , index| %>
  <tr>
		<td><%= index + 1 %></td>
    <td align="center"><%= pri.product_code rescue'-' %></td>
    <%#= render '/product_categories/join_product_category' , :pc => pri.product_category %>
    <!--td><%#= pri.product.product_combobox.product_code rescue '-'%></td-->
    <td align="center"><%= pri.product.product_name rescue'-' %></td>
		<td align="center"><%= pri.product.desc rescue '-'%></td>
		<td align="center"><%= pri.product.part_code rescue '-'%></td>
		<td align="right"><%= pri.product.selling_price rescue '-'%></td>
		<td align="right"><%= pri.product.current_stock rescue '-'%></td>
		<td align="center"><%= pri.product.unit_measurement.code rescue '-'%></td>
	</tr>
  <% end %>
	</tbody>
	
	 
	</table>

	<% else %>
	<h1>no record found</h1>
	<% end %>
		

</div>





<%#
      <td width="170"><b>Product ID</b></td>
      <td><%= product_id.product_combobox.product_code if product_id.product_combobox.present? %>



<style>

  table { width: 100px ;
  }
  
  body {
    background-color: #fff;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      width:100%;
      border-width: 1px;
      <%#*border-spacing: 0px;%>
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table th {
          border-width: 1px;
          padding: 1px;
          border-style: solid;

          border-color: black;
          background-color: transparent; }

  table.black-line-table td {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
        }
  tbody tr {
    border-top:2pt solid white;
 }
        </style>