<fieldset>
<h2>Inventory Report</h2>

<div>
	 
	
		<table border="1" width="100%">
			<thead>
			<tr>
				<th>No.</th>
				<th width="200">Product ID</th>
                                <th>Description</th>
				<th>Stock In</th>
				<th>Stock Out</th>
                                <th>Remaining</th>
				<th>Transaction</th>
			
				
			</tr>
		</thead>

			<%# arr = [] %>

	<% if @pdf_inventory_report.present? %>
	 <% @pdf_inventory_report.each_with_index do |pri , index| %>

			<tbody>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= render '/product_categories/join_product_category' , :pc => pri %></td>
                                <td><%= pri.product.desc rescue '-' %></td>
				<td><%= pri.stock_in rescue '-'%></td>
				<td><%= pri.stock_out rescue '-'%></td>
                                <td><%= pri.amount rescue '-' %></td>
				<td><%= inventory_issue_description(pri.inventory_issue_id) rescue '-' %></td>
				<!--td><%#= pri.inventory_issue.in_out rescue '-' %></td-->
				<%#= iproduct(pri.amount) rescue '-'%>
			</tr>
			</body>
			<% end %>

		</table>

	
  		<% end %>
	
</div>
</fieldset>
