<!-- <div id="container">
<h2><u>Sales Order Customer P/O Detail Report</u></h2>


	<%# if @detail_so_customer_po_detail_report.present? %>
	<table id="jgrid" class="black-line-table">
		<thead>
			<tr class="header_line">
				<th>SO #</th>
        <th>Part /Prod ID</th>
        <th>Description</th>
        <th>Date</th>
        <th>MGF Date</th>
        <th>Order</th>
        <th>Remaining Qty</th>
        <th>Status</th>
			</tr>
		</thead>


		<tbody>
		<%# @detail_so_customer_po_detail_report.each do |so| %>
       <%# so.sales_order_items.each_with_index do |soi , index | %>
			<tr>
        <%# if index == 0 %>
        <td align="center" rowspan="<%#= so.sales_order_items.count %>">
        <%#= so.sales_order_no rescue'-' %></td>
        <%# end %>
        <td align="center"><%#= soi.part_no rescue'-' %> / 
          <%#= render '/product_categories/join_product_category' , :pc => soi %></td>
        <td align="center"> 
          <%#= soi.product.desc rescue'-' %></td>
        <td align="center"><%#= soi.mgf_date.strftime("%d-%m-%Y") rescue'-' %></td>
        <td align="center"><%#= soi.so_date.strftime("%d-%m-%Y") rescue'-' %></td>
        <td align="center"><%#= soi.quantity rescue'-' %></td>
        <td align="center"><%#= soi.remaining_qty rescue'-' %></td>
        <td align="center"><%#= soi.status rescue'-' %></td>
         <%# end %> 
			</tr>
      <tr style="border-top: 2px solid;">
        <td ></td>
      </tr>
			
		<%# end %> 
		</tbody>

		<%# else %>
			no report found
		<%# end %>
	</table>

</div> -->

<div id="container">
<h2><u>Sales Order Customer P/O Detail Report</u></h2>


  <% if @detail_so_customer_po_detail_report.present? %>
  <!-- <table>
    <tr>
      <td>
        Customer : Xxxx   Xxxxxxx<br/>
        Xxxxx<br />
        Xxxxx<br />
      </td>

      <td>
        Sales Order No. :Xxxxx <br />
        Date            :Xxxxx <br />
        Page            :Xxxxx <br />
        Rev             :Xxxxx <br />
        Term            :Xxxxx <br />
      </td>
    </tr>

    <tr>
      <td>Sales Rep : Xxxxx</td>
    </tr>

  </table> -->
<% arr = [] %>
  <table id="jgrid" class="black-line-table">
    <thead>
      <% @detail_so_customer_po_detail_report.each do |so| %>
      <tr class="header_line">
        <th>No.</th>
        <th>Prod Code</th>
        <th>Part no. / Description</th>
        <th>Quantity</th>
        <th>U/P (RM)</th>
        <th>Amount</th>
        <th>ETA Date</th>
        <th>P/O</th>
        <th>Satus</th>
      </tr>
    </thead>

<!-- ======================= do until here ================== -->
    <tbody>
    
       <% so.sales_order_items.each_with_index do |soi , index | %>
      <tr>
        <td align="center"><%= index + 1 %></td>
        <%# if index == 0  ///  rowspan="<%= so.sales_order_items.count %>
        <td align="center"><%= soi.product.product_combobox.product_code rescue'-' %><br />
        <%= soi.lot_no rescue'-' %></td>
        <%# end %>
        <td align="left"><%= soi.part_no rescue'-' %> <br /> 
          <%= soi.product.desc rescue'-' %> <br />
          <%= soi.product.product_category.parent.parent.desc rescue'-' %></td>
        <td align="center"><%= soi.quantity rescue'-' %></td>
        <td align="center"><%= soi.unit_price rescue'-' %> <%= soi.unit_measurement.code rescue'-' %></td>
        <td align="center"><%= iproduct(soi.quantity , soi.unit_price ) rescue'-' %></td>
        <td align="center"><%= soi.eta.strftime("%d-%m-%Y")  rescue'-' %></td>
        <td align="center"><%= so.purchase_order_no rescue'-' %></td>
        <td align="center"><%= so.status rescue'-' %></td>
        <% arr << soi.quantity * soi.unit_price %>
         <% end %> 
      </tr>
      <tr style="border-top: 1px solid;">
          <td colspan="7" align="right">Total :</td>
          <td align="center"><%= two_precision(arr.sum) %></td>
      </tr>

       <% end %>
    </tbody>

    
  </table>

  <!-- <p>
        <a align="left"> Prepared & Checked By.</a>
        <a align="center"> Approved By :</a>
        <a align="right"> Received By : </a>
      </p>

      <p>
        <a align="left">___________ </a>
        <a align="center">____________</a>
        <a align="right">___________</a>
      </p> -->
      
    

  
  
  <% else %>
      no report found
    <% end %>

</div>


<style>
table{
    width:100%;
  }
  
  body {
    background-color: #fff;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      width:100%;
      border-width: 1px;
      <%#*border-spacing: 0px;%>
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table th {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }

  table.black-line-table td {
          border-width: 1px;
          padding: 1px;
          border-style: solid;
          border-color: black;
          background-color: transparent; }
   tbody tr {
    border-top: 2px solid white;
 }
  
</style>