<div id="popup_container"> 
  <div class="title_head"><strong style="color:white;">Purchase Order Report</strong></div>
  <div>
    <%= form_for @po_report, :url => po_report_reports_path  do |f| %>
      <table>
        <tr>
          <td>PO No.</td>
          <td><%= f.text_field :po_no_gte, :size => 12 %> To
            <%= f.text_field :po_no_lte, :size => 12 %></td>
          <td>Vendor</td>
          <td><%= f.text_field :trade_company_name_contains, :size => 9 %></td>
        </tr>
        <tr>
          <td>Order Date</td>
          <td><%= f.text_field :po_date_gte, :size => 9 , :id=> "kendo_date" %> To 
          <%= f.text_field :po_date_lte , :size => 9 , :id=> "kendo_date" %></td>
          <td>Term</td>
          <td><%= f.text_field :trade_term_name_contains , :size => 9 %></td>
        </tr>
        
        <tr>
        <td><%= f.submit "Search" %></td>
         </tr>
      </table>
    <% end %>
  </div>


<input type="checkbox" name="all" id="checkall" />Check All

      <div class="fix_1600x900_h450">
        <%= form_tag pdf_po_report_reports_path ,:target=>"_blank" ,:method =>"get" do %>
        	<table id="grid_h495" >
        		<thead>
        			<tr class="header_line">
                <th></th>
        				<th>PO No.</th>
        				<th>vendor</th>
                <th>Order date</th>
                <th>Currency</th>
                <th>Term</th>
                <th>Transport</th>
                <th>Purchase By.</th>
                <th>Requested By.</th>
        			</tr>
        		</thead>

        	<% @show_po_report.each do |p| %>
        	<tbody>
        		<tr class="<%= cycle("odd_line", "even_line") %>">
             
              <td align="center"><%= check_box_tag "po_ids[]" , p.id %></td>
        			<td align="center"><%= p.po_no rescue'-' %></td>
        			<td align="center"><%= p.trade_company.name rescue '-' %></td>
        			<td align="center"><%= p.po_date.strftime("%d-%m-%Y") rescue '-' %></td>
        			<td align="center"><%= p.currency.name rescue '-' %></td>
              <td align="center"><%= p.trade_term.name rescue '-' %></td>
              <td align="center"><%= p.transport.name rescue '-' %></td>
        			<td align="center"><%= p.purchase_by.name rescue '-' %></td>
        			<td align="center"><%= p.request_by.name rescue '-' %></td>
              
        		</tr>
        	</tbody>
        	<% end %>
          </table>
        </fieldset>
      </div>
</div>

    <div class="left_icon_tag">
      <span><%= submit_tag "Excel Report" , :class => "k-button" %><%#= not_link_excel %><%#= link_to "Excel Report", excel_po_report_reports_path(:po_ids => @take_ids,:format=>"xls") , :target=>"_blank", :method => "get" , :class=>"k-button" %></span> 
    </div>

  <div class="icon_tag">

      <span><%= submit_tag "Show" , :class => "k-button" %></span>
      <span><%= not_link_edit %></span><%#= submit_tag "show" , :class => "k-button" %>
      <span><%= not_link_recover %></span>
      <span><%= submit_tag "PDF Report" , :class => "k-button" %></span>
      <% end %>
        <%#= link_to "PDF report" , pdf_po_report_reports_path(:po_ids => @take_ids, :format => "pdf" ), :target=>"_blank" , :method => "get" ,:class =>"k-button" %>

      <%= link_close_button %>
  </div>

