<div id="popup_container">
  <div class="title_head"><strong style="color:white;">Purchase requsition Report</strong></div>
<!-- <div>
  <%#= form_for @pr_report, :url => pr_report_reports_path  do |f| %>
    <table>
      <tr>
        <td>PR No.</td>
        <td><%#= f.text_field :pr_no_gte, :size => 12 %> - 
          <%#= f.text_field :pr_no_lte, :size => 12 %></td>
        <td>Status </td>
        <td><%#= f.text_field :status_starts_with , :size => 10 %></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><%#= f.text_field :requested_by_date_gte, :size => 9 , :id=> "kendo_date" %> To 
        <%#= f.text_field :requested_by_date_lte , :size => 9 , :id=> "kendo_date" %></td>
      </tr>

      <tr>
      <td><%#= f.submit "Search" %></td>
       </tr>
    </table>
  <%# end %>
</div> -->

<input type="checkbox" name="all" id="checkall" />Check All

<div class="fix_1600x900_h450">
    <!-- <fieldset> -->
    <%= form_tag pdf_pr_report_reports_path ,:target=>"_blank" ,:method =>"get" do %>
      <table id="jdatatable" class="display">
        <thead>
          <tr class="header_line">
            <th></th>
            <th>No.</th>
            <th>Pr No.</th>
              <%#= check_box_tag('check_all', 'check_all', false, :onClick => "check(document.myform)") %>
            <th>Status</th>
            <th>Date</th>
            <th>Remark</th>
          </tr>
        </thead>

        <tbody>
          <% @show_pr_report.each_with_index do |pri , index| %>
          <tr class="<%= cycle("odd_line", "even_line") %>">
            
            <td align="center"><%= check_box_tag "pr_ids[]" , pri.id %></td>
            <td align="center"><%= index + 1 %></td>
            <td align="center"><%= pri.pr_no rescue'-' %><%#= render '/product_categories/join_product_category' , :pc => pri rescue'-' %><%#= pri.pr_no %></td>
            <td align="center"><%= pri.status rescue'-' %></td>
            <td align="center"><%= pri.requested_by_date.strftime("%d-%m-%Y") rescue'-' %></td>
            <td align="center"><%= pri.remark rescue '-'%></td>
          </tr>
          <% end %>
        </tbody>

      
        

        
    </table>
  
</div>
  <!-- </fieldset> -->


  <div class="icon_tag" style="float:left">
      <span><%#t_link_excel %><%= submit_tag "Excel Report" , :class => "k-button" %><%#= link_to "Excel Report", excel_pr_report_reports_path(:pr_ids => @take_ids,:format=>"xls") , :target=>"_blank", :method => "get" , :class=>"k-button" %></span> 
  </div>

    <div class="icon_tag" style="float:right;">

      <% if roles.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_SHOW) %>
      <span><%= submit_tag "Show" , :class => "k-button" %></span>
      <% else %>
      <%= not_link_show %>
      <% end %>
      <span><%= not_link_edit %></span><%#= submit_tag "show" , :class => "k-button" %>
      <span><%= not_link_recover %></span>
      <% if roles.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_PRINT) %>
        <span><%= submit_tag "PDF Report",:class => "k-button" %></span>
      <% else %>
      <%= not_link_printable %>
      
      <% end %>
    <% end %>
    


      <%= link_close_button %>
    </div>
</div>
   



