<div id="popup_container">
  <div class="title_head"><strong style="color:white;">Purchase requsition Report</strong></div>
<div>
  <%= form_for @pr_report, :url => pr_report_reports_path  do |f| %>
    <table>
      <tr>
        <td>PR No.</td>
        <td><%= f.text_field :pr_no_gte, :size => 12 %> - 
          <%= f.text_field :pr_no_lte, :size => 12 %></td>
        <td>Status </td>
        <td><%= f.text_field :status_starts_with , :size => 10 %></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><%= f.text_field :requested_by_date_gte, :size => 9 , :id=> "kendo_date" %> To 
        <%= f.text_field :requested_by_date_lte , :size => 9 , :id=> "kendo_date" %></td>
      </tr>

      <tr>
      <td><%= f.submit "Search" %></td>
       </tr>
    </table>
  <% end %>
</div>

<hr />

<div class="fix_1600x900_h450">
    <!-- <fieldset> -->
    <%#= form_tag pdf_pr_report_reports_path ,:name=>"myform",:url =>pdf_pr_report_reports_path ,:target=>"_blank" ,:method =>"get" do %>
      <table id="grid_h495" >
      <thead>
      <tr class="header_line">
        <th class="check_highlight"></th>
        <th></th>
        <th>No.</th>
        
        <th>Pr No.</th>
          <%#= check_box_tag('check_all', 'check_all', false, :onClick => "check(document.myform)") %>
        <th>Status</th>
        <th>Date</th>
        <th>Remark</th>
      </tr>
    </thead>

    

    <% @show_pr_report.each_with_index do |pri , index| %>
        <tbody>
          <tr class="<%= cycle("odd_line", "even_line") %>">
            <td></td>
            <td align="center"><%= check_box_tag "pr_ids[]" , pri.id %></td>
            <td align="center"><%= index + 1 %></td>
            <td align="center"><%= pri.pr_no rescue'-' %><%#= render '/product_categories/join_product_category' , :pc => pri rescue'-' %><%#= pri.pr_no %></td>
            <td align="center"><%= pri.status rescue'-' %></td>
            <td align="center"><%= pri.requested_by_date.strftime("%d-%m-%Y") rescue'-' %></td>
            <td align="center"><%= pri.remark rescue '-'%></td>
          </tr>
        </tbody>

      
        

         <% end %>
    </table>
  
</div>
  <!-- </fieldset> -->


  <div class="icon_tag" style="float:left">
      <span><%= link_to "Excel Report", excel_pr_report_reports_path(:pr_ids => @take_ids,:format=>"xls") , :target=>"_blank", :method => "get" , :class=>"k-button" %></span> 
  </div>

    <div class="icon_tag" style="float:right;">

      <span><%= not_link_show %></span>
      <span><%= not_link_edit %></span><%#= submit_tag "show" , :class => "k-button" %>
      <span><%= not_link_recover %></span>

      
<<<<<<< HEAD
      <span><%= not_link_printable %><%= link_to "PDF Report" , excel_pr_report_reports_path(:pr_ids => @take_ids, :format => "pdf" ), :target=>"_blank" , :method => "get" ,:class =>"k-button" %></span>
=======
      <span><%= not_link_printable %><%#= link_to "PDF Report" , pdf_pr_report_reports_path(:pr_ids => @take_ids, :format => "pdf" ), :target=>"_blank" , :method => "get" ,:class =>"k-button" %></span>
>>>>>>> ab1e81044f9b75a805e2b04a3899e06677ecdbf9

      <%= link_close_button %>
    </div>
</div>
   

 <script type="text/javascript">

 $('#checkall:checkbox').change(function () {
    if($(this).attr("checked")) $('input:checkbox').attr('checked','checked');
    else $('input:checkbox').removeAttr('checked');
});
  </script>



