<!-- <div id="popup_container"> -->
<div class="title_head"><strong style="color:white;">Product Report</strong></div>

<!-- <div>
	<%#= form_for @product_report, :url => product_report_reports_path  do |f| %>
	<table>
		<thead>
		<tr>
			<td>Product ID :</td>
			<td><%#= f.text_field :product_code_contains, :size => 10 %></td>
			<%#= f.text_field :product_category_code_contains ,:size => 12 %>
			<td>Product Name :</td>
			<td><%#= f.text_field :product_product_name_contains, :size => 10 %></td>
			<td>Part No. :</td>
			<td><%#= f.text_field :product_part_code_contains , :size => 10 %></td>
		</tr>
		<tr>
			<td>Tarif Code :</td>
			<td><%#= f.text_field :product_tarif_code_contains, :size => 10 %></td>
			<td>Description :</td>
			<td><%#= f.text_field :product_desc_contains, :size => 10 %></td>
		</tr>
		<tr>
			<td><%#= submit_tag "search" %></td>

		</tr>
		<thead>

	</table>
	<%# end %>

</div> -->

<input type="checkbox" name="all" id="checkall" />Check All

<div class="fix_1600x900_h450">
	
	<%= form_tag pdf_product_report_reports_path ,:target=>"_blank" ,:method =>"get" do %>
	<table id="jdatatable" class="display" data-source="<%= product_report_reports_path(format: "json") %> ">
		<thead>
			<tr>
                <th></th>
				<th>No.</th>
				 <%#= check_box_tag('check_all', 'check_all', false, :onClick => "check(document.myform)") %>
				<th>Product ID</th>
				<th>Description</th>
				<th>Part No.</th>
				<th>Tarif Code</th>
				<th>U/P(RM)</th>
				<th>Current Stock</th>
				<th>Unit Measurement</th>
			</tr>
		</thead>	
		
	
		<tbody>
		<% @show_product_report.each_with_index do |pro , index| %>
			<tr>
		       
		        <td align="center"><%= check_box_tag "pro_ids[]", pro.id %></td>
				<td align="center"><%= index + 1 %></td>
				<%#= render '/product_categories/join_product_category' , :pc => pri.product_category %>
				<td align="center"><%= pro.product_code %></td> <%#= pri.product.product_name rescue '-' %>
				<td align="center"><%= pro.product.desc rescue '-'%></td>
				<td align="center"><%= pro.product.part_code rescue '-'%></td>
				<td align="center"><%= pro.product.part_weight rescue '-' %>
				<td align="right">
				 <% if pro.category_type == ProductCategory::NON_OPERATION or pro.category_type == ProductCategory::OPERATION %>
				    <b style="color:blue;"><%= four_precision(pro.product.product_vendor.unit_price) rescue '-' %></b>
				 <% elsif pro.category_type == ProductCategory::FINISH_GOOD %>
				    <b style="color:green;"><%= four_precision(pro.product.product_customer.selling_price) rescue '-' %></b>
				 <% else %>
				    -
				 <% end %>
				</td>
				<td align="center"><%= pro.product.current_stock rescue '-'%></td>
				<td align="center"><%= pro.product.unit_measurement.code rescue '-'%></td>
			</tr>
			<% end %>
		</tbody>
		
	</table>
	
</div>
	<div class="icon_tag" style="float:left">
		<span><%= submit_tag "Excel Report" , :class=>"k-button"  %><%#= not_link_excel %><%#= submit_tag "Excel", :target => "_blank" ,  %>
			<%#= link_to "Excel", excel_product_report_reports_path( :product_ids => @take_ids,:format=>"xls") , :method => "get" , :class=>"k-button", :target=>"_blank" %></span>

	</div>

	
	<div class="icon_tag" style="float:right;">

		<span><%= submit_tag "Show" , :class => "k-button" %><%#= not_link_show %></span>
		<span><%= not_link_edit %></span><%#= submit_tag "show" , :class => "k-button" %>
		<span><%= not_link_recover %></span>
		
		<span><%= submit_tag "PDF Report" , :class=>"k-button" %></span>
		<% end %>

	 	<%= link_close_button %>
  <%# end %>
	</div>







