
<h1>Product Report</h1>

<div>
	<%= form_for @product_report, :url => product_report_reports_path  do |f| %>
	<table>
		<thead>
		<tr>
			<td>[Group]-[sub-group] :</td>
			<td><%= f.text_field :product_code_contains, :size => 10 %></td>
			<%#= f.text_field :product_category_code_contains ,:size => 12 %>
			<td>Product Name :</td>
			<td><%= f.text_field :product_product_name_contains, :size => 10 %></td>
			<td>Part No. :</td>
			<td><%= f.text_field :product_part_no_contains , :size => 10 %></td>
		</tr>
		<tr>
			<td>Tarif Code :</td>
			<td><%= f.text_field :product_tarif_code_contains, :size => 10 %></td>
			<td>Description :</td>
			<td><%= f.text_field :product_desc_contains, :size => 10 %></td>
		</tr>

		
		<tr>
			<td><%= submit_tag "search" %></td>

		</tr>
		<thead>

	</table>
	<% end %>

</div>

<div>
	<fieldset>
	<%#= form_tag pdf_product_report_reports_path ,:name=>"myform",:url =>
		pdf_product_report_reports_path ,:target=>"_blank" ,:method =>"get" do %>
	<table id="grid_h495">
			<thead>
			<tr class="header_line" >
                
				<th>No.
				<%#= check_box_tag('check_all', 'check_all', false, :onClick => "check(document.myform)") %></th>
				<th>Product ID</th>
				<th>Description</th>
				<th>Part No.</th>
				<th>Tarif Code</th>
				<th>U/P(RM)</th>
				<th>Current Stock</th>
				<th>Unit Measurement</th>
			</tr>
		</thead>	
		
	<% @show_product_report.each_with_index do |pri , index| %>
	<tbody>

	<tr class="<%= cycle("odd_line", "even_line") %>">
        
		<td align="center"><%= index + 1 %>
		<%#= check_box_tag "pri_ids[]" , pri.id %></td>

		<%#= render '/product_categories/join_product_category' , :pc => pri.product_category %>
		<td align="center"><%= pri.product_code rescue '-' %>  <%#= pri.product.product_name rescue '-' %></td>
		<td align="center"><%= pri.product.desc rescue '-'%></td>
		<td align="center"><%= pri.product.part_no rescue '-'%></td>
		<td align="center"><%= pri.product.part_weight rescue '-' %>
		<td align="center"><%= pri.product.selling_price rescue '-'%></td>
		<td align="center"><%= pri.product.current_stock rescue '-'%></td>
		<td align="center"><%= pri.product.unit_measurement.code rescue '-'%></td>
	</tr>
	</tbody>
	<% end %>
	 
	</table>

	</fieldset>
	
<div style="float:right;">

	<span><%#= submit_tag "show" , :class => "k-button" %> </span>

	<span><%= link_to "Excel", excel_product_report_reports_path( :product_ids => @take_ids,:format=>"xls") , :method => "get" , :class=>"k-button" %></span>

	<span><%= link_to "Print PDF" , pdf_product_report_reports_path(:pri_ids => @take_ids, :format => "pdf" ), :target=>"_blank" , :method => "get" ,:class =>"k-button" %></span>

 	<%= link_close_button %>
  <% end %>
</from>
</div>
</div>

  


