<div id="popup_container">
<div class="title_head"><strong style="color:white;">purchase by creditor</strong></div>

<!-- <div>
	<table>
		<%= form_for @purchase_by_creditor, :url =>purchase_by_creditor_report_reports_path  do |f| %>
		<tr>
			<td>Period</td>
			<td><%#= f.text_field :   %></td>
		</tr>
		<tr>
			<td><% f.submit "search" %></td>
		</tr>
		<% end %>
	</table>
</div> -->

	
		<table id="products" class="display">
			<thead>
			<tr>
				<th>No.</th>
				<th>Tarde Company</th>
				<th>Amount</th>
				<th> % </th>
				<th>Quantity</th>
			</tr>
		</thead>


		<% @show_purchase_by_creditor.each_with_index do |p , index| %>
		<tbody>
			<tr>
				<td><% p.index + 1 %></td>
				<td><% p.tarde_company.name %></td>
				<td><% p. %></td>
				<td><% p.index + 1 %></td>
				<td><% p.quantity %></td>
			</tr>
		</tbody>
		<% end %>
		</table>
</div>

	<div class="icon_tag" style="float:left">
		<span><%= not_link_excel %><%#= submit_tag "Excel", :target => "_blank" ,  %>
			<%#= link_to "Excel", excel_product_report_reports_path( :product_ids => @take_ids,:format=>"xls") , :method => "get" , :class=>"k-button", :target=>"_blank" %></span>

	</div>

	
	<div class="icon_tag" style="float:right;">

		<span><%#= submit_tag "Show" , :class => "k-button" %><%= not_link_show %></span>
		<span><%= not_link_edit %></span><%#= submit_tag "show" , :class => "k-button" %>
		<span><%= not_link_recover %></span>
		
		<span><%#= submit_tag "PDF Report" , :class=>"k-button" %></span>
		<% end %>

	 	<%= link_close_button %>
  <%# end %>
	</div>