

<ul id="j_tabify" class="class_tabify" >
  <li class="active"><a href="#tabify_listing">Receive Note Report</a></li>
  <li><a href="#tabify_search">Search Engine</a></li>
</ul>
		
		<!-- <input type="checkbox" name="all" id="checkall" />Check All -->
<div id="tabity_listing">
		<div class="fix_1600x900_h450">
			
			<%= form_tag pdf_receive_note_report_reports_path , :method => "get" , :target => "_blank" do %>
			<table id="jdatatable" class="display">
				<thead>
				<tr class="header_line">
					
					<th><%= check_box_tag 'checkall', :id =>"checkall" %></th>
					<th>No.</th>
					<th>Date</th>
					<th>Received From</th> <!--  (trade company) -->
					<th>Vendor's D/O</th>
					<th>Update By</th>
				</tr>
			</thead>
			</tbody>
				<% @show_receive_note_report.each_with_index do |pri , index| %>
				<tr class="<%= cycle("odd_line", "even_line") %>">
					
					<td align="center"><%= check_box_tag "rn_ids[]", pri.id %></td>
					<td align="center"><%= index + 1 %></td>
					<td align="center"><%= pri.rn_date rescue '-' %></td>

					<td align="center"><%= pri.trade_company.code rescue '-'%> / 
						<%= pri.trade_company.name rescue '-' %></td>

					<td align="center"><%= pri.vendor_delivery_no rescue '-' %></td>
					<td align="center"><%= pri.update_by rescue '-' %></td>
				</tr>
				<% end %>
			</tbody>
			</table>
		

		</div>
</div>

	<div class="icon_tag" style="float:left">
		<span><%= submit_tag "Excel Report" , :class => "k-button" %><%#= not_link_excel %><%#= link_to "Excel", excel_product_report_reports_path( :sales_ids => @take_ids,:format=>"xls") 	, :method => "get" , :class=>"k-button", :target=>"_blank" %></span>
	</div>

	<div class="icon_tag" style="float:right;">

			<span><%#= not_link_show %><%= submit_tag "Show" , :class => "k-button" %></span>

			<span><%= not_link_edit %></span><%#= submit_tag "show" , :class => "k-button" %>

			<span><%= not_link_recover %></span>

		   <span><%= submit_tag "PDF Report" , :class => "k-button" %><%#= not_link_printable %></span>

		   <% end %>

		   <%= link_close_button %>
	</div>



<div id="tabify_search">
	<table>
		<%= form_for @receive_note_report, :url => receive_note_report_reports_path  do |f| %>
		<tr>
			<td>Receive Note :</td>
			<td><%= f.text_field :receive_note_no_gte ,:size => 9 %> - <%= f.text_field :receive_note_no_lte , :size => 9 %> </td>
			<td></td>
		</tr>
		<tr>
			<td>Vendor's D/O :</td>
			<td><%= f.text_field :vendor_delivery_no_contains ,:size => 9 %></td>
		</tr>
		<tr>
			<td><%= f.submit "Search" %></td>
		</tr>
		<% end %>
	</table>
</div>
	


