<div class="title_head"><strong style="color:white;">RN (Part Summary) </strong></div>

<div>
    <%= form_for @rn_part_summary_report, :url => rn_part_summary_report_reports_path  do |f| %>
      <table>
        <tr>
          <td>Part Code :</td>
          <td><%#= f.text_field :, :size => 12 %> -
            <%#= f.text_field :, :size => 12 %></td>
          <td>Tarif Code </td>
          <td><%#= f.text_field :tarif_code_sw , :size => 10 %></td>
        </tr>
        <tr>
          <td>Invoice Period</th>
          <td><%#= f.text_field :period_start_gte, :size => 9 , :id=> "kendo_date" %> To 
          <%#= f.text_field :period_end_lte , :size => 9 , :id=> "kendo_date" %></td>
        </tr>
        
        <tr>
        <td><%= f.submit "Search" %></td>
         </tr>
      </table>
  <% end %>
</div>

<input type="checkbox" name="all" id="checkall" />Check All

<div class="fix_1600x900_h450">
	<fieldset>
	<table id="grid_h495" class="white-line-table zebraLight">
	<thead>
		<tr class="header_line">
			<th class="check_highlight"></th>
			<th></th>
			<th>No.</th>
			<th>P/O No.</th>
			<th>Ref Doc</th>
			<th>Qty</th>
			<th>U/M</th>
			<th>U/P</th>
			<th>Amount</th>
			
		</tr>
	</thead>
	
	<tbody>
	<% @show_sale_tax_exemption_report.each_with_index do |pri , index| %>
		<tr class="<%= cycle("odd_line", "even_line") %>">
			<td></td>
			<td><%= check_box_tag "sales_ids[]", pri.id %></td>
			<td align="center"><%= index + 1 %></td>
			<td align="center"><%= pri.trade_company.name rescue '-'%></td>
			<td align="center"><%= pri.sales_exemption_no rescue'-' %></td>
			<td align="center"><%= pri.tarif_code rescue '-' %></td>
			<td align="center"><%= pri.ste_no rescue '-' %></td>
			<td align="center"><%= pri.remaining_total rescue '-' %></td>
			<td align="center"><%= pri.period_start rescue '-' %></td>
		</tr>
		<% end %>
	</tbody>
		
	</table>
	

	</fieldset>
</div>

	<div style="float:left">
		<span><%= not_link_excel %><%#= link_to "Excel", excel_product_report_reports_path( :sales_ids => @take_ids,:format=>"xls") 	, :method => "get" , :class=>"k-button", :target=>"_blank" %></span>
	</div>

	<div style="float:right;">

			<span><%= not_link_show %></span>

			<span><%= not_link_edit %></span><%#= submit_tag "show" , :class => "k-button" %>

			<span><%= not_link_recover %></span>

		   <span><%= not_link_printable %><%#= link_to "PDF report" , pdf_sale_tax_exemption_report_reports_path(:sales_ids => @take_ids, :format => "pdf" ), :method => "get", :class=>"k-button", :target=>"_blank" %></span>

		   <%= link_close_button %>
	</div>
