<div id="popup_container">
<div class="title_head"><strong style="color:white;">sales cj5 summary co</strong></div>

<div>

	<%= form_for @sales_cj5_summary_co , :url => sales_cj5_summary_co_reports_path do %>
	<table>
		<tr>
			<td>Trade Company<td>
			<td><%=f.text_field :trade_company, :size => 12 %></td>
			<td>List form</td>
			<td><%= f.text_field :list_form_gte %> To 
				<%= f.text_field :list_form_lte %>
			</td>
		</tr>

	</table>
	<% end %>
</div>
<hr />
<% @sales_cj5_summary_co_report.each_with_index do |p , index| %>

	
	<table>
		<tr>
			<td>Pengilang :</td>
			<td>Etheos Imprint Technology SDN BHD</td>
			<td>pembeling :</td>
			<td><% p.trade_company.name %></td>
		</tr>
	</table>

	<fieldset>
		<table>
			<thead>
			<tr>
				<th>Tarikh</th>
				<th>Inbosis</th>
				<th>perihal barang</th>
				<th>Kuantiti</th>
				<th>harga/Unit</th>
				<th>Amaunt (RM)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%#= p. %></td>
				<td><%#= p. %></td>
				<td><%= p.perihal_barang %></td>
				<td><%#= p. %></td>
				<td><%#= p. %></td>
				<td><%#= p. %></td>
			</tr>
		</tbody>
		</table>

	</fieldset>


</div>
<% end %>

<div class="icon_tag" style="float:left">
		<span><%= not_link_excel %><%#= link_to "Excel", excel_product_report_reports_path( :sales_ids => @take_ids,:format=>"xls") 	, :method => "get" , :class=>"k-button", :target=>"_blank" %></span>
	</div>

	<div class="icon_tag" style="float:right;">

			<span><%= not_link_show %></span>

			<span><%= not_link_edit %></span><%#= submit_tag "show" , :class => "k-button" %>

			<span><%= not_link_recover %></span>

		   <span><%= not_link_printable %><%#= link_to "PDF report" , pdf_sale_tax_exemption_report_reports_path(:sales_ids => @take_ids, :format => "pdf" ), :method => "get", :class=>"k-button", :target=>"_blank" %></span>

		   <%= link_close_button %>
	</div>

