<div id="popup_container">
  <div class="title_head"><strong style="color:white;">INVENTORY REPORT</strong></div>

 
          <!-- <table>
            <%#= form_for @inventory_report, :url => inventory_report_reports_path  do |f| %>
            <tr>
                    <td>Product ID :
                    <%#= f.text_field :product_code_contains , :size => 9 %></td>
                    <td>Description : 
                    <%#= f.text_field :inventory_issue_description_contains , :size => 12 %></td>
                    <td><%#= f.text_field :inventory_histories_inventory_issues_description_contains , :size => 9 %></td>
                    <td>Transaction
                      <%#= f.text_field :inventory_issue_description_contains , :size => 10 %></td>

            </tr>
            <tr>
                    <td><%= submit_tag "Search" %></td>
            </tr>
            <%# end %>
          </table>

  <hr />
 -->
<input type="checkbox" name="all" id="checkall" />Check All

  <div class="fix_1600x900_h450">
          <%= form_tag pdf_sales_order_listing_report_reports_path ,:target=>"_blank" ,:method =>"get" do %>
          <%#= form_tag pdf_inventory_report_reports_path ,:name=>"myform" ,:target=>"_blank" ,:method =>"get" do %>
          <%#*<fieldset>%>
          <table id="jdatatable" class="display" data-source="<%= sales_order_listing_report_reports_path(format: "json") %> ">
                    <thead>
                      <tr class="header_line">
                        <th></th>
                        <th>No.</th>
                        <th>Customer P/O</th>
                        <th>Description</th>
                        <th>Status</th>
                        
                        <%#*<th>Quantity</th>%>
                      </tr>
                    </thead>
                <tbody>
                  <% arr = [] %>

                  <% @show_sales_order_listing_report.each_with_index do |pri , index| %>
          
                      <tr class="<%= cycle("odd_line", "even_line") %>">
                       
                        <td align="center"><%= check_box_tag "in_ids[]" , pri.id %></td>
                        <td align="center"><%= index + 1 %></td>
                        <td align="center"><%= pri.customer_po rescue'-' %></td>
                        <td align="center"><%= pri.description rescue '-' %></td>
                        <td align="center"><%= pri.status rescue'-' %></td>
                              
                      </tr>
                        <% end %>
                    </tbody>
                  </table>

          <%#*<table>%>
    <%#*<div style="float:right;">%>
              <%#*<tr >%>
              <%#*<td>%>
                <%#*Total Quantity :%>
    <%#*</td>%>
              <%#*<td >%>
<%#= two_precision(arr.sum) %>
    <%#*</td>%>
              <%#*</tr>%>
              <%#*</div>%>
          <%#*</table>%>
    </div>

</div>
          <%#*</fieldset>%>

    <div class="icon_tag" style="float:left">
       <% if roles.include?(InventoryManagementSystem::INVENTORY_REPORT_EXCEL) %>
      <span><%= not_link_excel %><%#= submit_tag "Excel Report" , :class => "k-button" %><%#= not_link_excel %><%#= link_to "Excel Report", excel_inventory_report_reports_path(:inventory_ids => @take_ids,:format=>"xls") , :target=>"_blank", :method => "get" , :class=>"k-button" %></span> 
      <% else %>
      <%= not_link_excel %>
      <% end %>
    </div>

    <div class="icon_tag" style="float:right;">
       <% if roles.include?(InventoryManagementSystem::INVENTORY_REPORT_EXCEL) %>
        <span><%= not_link_show %><%#= submit_tag "Show" , :class => "k-button" %></span>
      <% else %>
        <%= not_link_show %>
      <% end %>
      
      <span><%= not_link_edit %></span>
      <span><%= not_link_recover %></span>

       <% if roles.include?(InventoryManagementSystem::INVENTORY_REPORT_EXCEL) %>
      <span><%#= submit_tag "PDF Report" , :class => "k-button" %></span>
      <% else %>
        <%= not_link_excel %>
      <% end %>

      <% end %>

      <%= link_close_button %>
    </div>

