<div class="title_head"><strong style="color:white;">Sales tax exemption </strong></div>

<div>
    <%= form_for @sales_tax_exemption, :url => sales_tax_exemption_report_reports_path  do |f| %>
      <table>
        <tr>
          <td>Sales Tax Exemption :</td>
          <td><%= f.text_field :sales_tax_exemption_no_sw, :size => 12 %> To
            <%= f.text_field :sales_tax_exemption_no_ew, :size => 12 %></td>
          <td>Tarif Code </td>
          <td><%= f.text_field :tarif_code_sw , :size => 10 %></td>
        </tr>
        <tr>
          <td>Invoice Period</th>
          <td><%= f.text_field :period_start_gte, :size => 9 , :id=> "kendo_date" %> To 
          <%= f.text_field :period_end_lte , :size => 9 , :id=> "kendo_date" %></td>
        </tr>
        
        <tr>
        <td><%= f.submit "Search" %></td>
         </tr>
      </table>
  <% end %>
</div>

<input type="checkbox" name="all" id="checkall" />Check All

<div class="fix_1600x900_h450">
	<fieldset>
	<%= form_tag pdf_sales_tax_exemption_report_reports_path ,:target=>"_blank" ,:method =>"get" do %>
	<table id="grid_h495">
	<thead>
		<tr class="header_line">
			<th></th>
			<th>No.</th>
			<th>Trade company</th>
			<th>Sales Tax Exemption</th>
			<th>Tarif Code</th>
			<th>Inv No.</th>
			<th>Amount</th>
			<th>Date</th>
			
		</tr>
	</thead>
	
	<tbody>
	<% @show_sales_tax_exemption_report.each_with_index do |p , index| %>
		<tr class="<%= cycle("odd_line", "even_line") %>">
			<td align="center"><%= check_box_tag "ste_ids[]", p.id %></td>
			<td align="center"><%= index + 1 %></td>
			<td align="center"><%= p.trade_company.name rescue '-'%></td>
			<td align="center"><%= p.sales_tax_exemption_no rescue'-' %></td>
			<td align="center"><%= p.tarif_code rescue '-' %></td>
			<td align="center"><%= p.ste_no rescue '-' %></td>
			<td align="center"><%= p.remaining_total rescue '-' %></td>
			<td align="center"><%= p.period_start rescue '-' %></td>
		</tr>
		<% end %>
	</tbody>
		
	</table>
	

	</fieldset>
</div>

	<div class="icon_tag" style="float:left">
		<span><%= submit_tag "Excel Report" , :class => "k-button" %><%#= not_link_excel %><%#= link_to "Excel", excel_product_report_reports_path( :sales_ids => @take_ids,:format=>"xls") 	, :method => "get" , :class=>"k-button", :target=>"_blank" %></span>
	</div>

	<div class="icon_tag" style="float:right;">
		<span><%#= not_link_show %><%= submit_tag "Show" , :class => "k-button" %></span>
		<span><%= not_link_edit %></span><%#= submit_tag "show" , :class => "k-button" %>
		<span><%= not_link_recover %></span>
		<span><%#= not_link_printable %><%#= link_to "PDF report" , pdf_sale_tax_exemption_report_reports_path(:sales_ids => @take_ids, :format => "pdf" ), :method => "get", :class=>"k-button", :target=>"_blank" %>
		   	<%= submit_tag "PDF Report" , :class => "k-button" %></span>
		   	<% end %>
		   <%= link_close_button %>
	</div>


