<%= form_for(@sales_order) do |f| %>
  <div id="valid_sales_order">
    <div class="popup_content">
      <table>
        <tr>
          <% if @sales_order.sales_order_no.present? %>
            <td width="150"><b>S/O No # </b></td>
            <td><%= @sales_order.sales_order_no rescue '-' %></td>
          <% else %>
            <td width="150"><b>Current S/O No.</b></td>
            <td>
              <%= company.sn_sales_order_no + 1 %>
              <%= f.hidden_field :sales_order_no, :value => company.sn_sales_order_no + 1 %>
            </td>
          <% end %>

          <td width="50"></td>

          <td width="100"><b>SO Date *</b></td>
          
          <% if @sales_order.so_date.present? %>
            <td>
              <%= f.text_field :so_date, :value => @sales_order.so_date.strftime("%d-%m-%Y"), :class => "mkendo_date", "required validationMessage" => "Please Enter SO Date" %>
              <span class="k-invalid-msg" data-for="sales_order[so_date]"></span>
            </td>
          <% else %>
            <td>
              <%= f.text_field :so_date, :value => Date.today.strftime("%d-%m-%Y"), :class => "mkendo_date", "required validationMessage" => "Please Enter SO Date" %>
              <span class="k-invalid-msg" data-for="sales_order[so_date]"></span>
            </td>
          <% end %>

          <td width="50"></td>

          <td width="100"><b>Lot No</b></td>
          <td><%= f.text_field :lot_no, :class => "k-textbox" %></td>
        </tr>

        <tr>
          <td><b>Customer Company *</b></td>
          <td><%= f.select :trade_company_id, options_for_select(trade_company_customer_with_code, @sales_order.trade_company_id), { :include_blank => true }, { :class => "sales_order_trade_company_id mkendo_combobox", "required validationMessage" => "Please Enter Customer Company" , :style => "width: 400px;", :onchange => "sales_order_company_change(this)" } %></td>

          <td></td>

          <td><b>Revision *</b></td>
          <td><%= f.text_field :revision, :value => 0, :class => "k-textbox", "required validationMessage" => "Please Enter Revision"  %></td>

          <td></td>

          <td><b>Mfg Date</b></td>
          <td>
            <% if @sales_order.mfg_date.present? %>
              <%= f.text_field :mfg_date, :value => @sales_order.mfg_date.strftime("%d-%m-%Y"), :class => "mkendo_date" %>
            <% else %>
              <%= f.text_field :mfg_date, :class => "mkendo_date" %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td><b>Customer P/O #</b></td>
          <td><%= f.text_field :purchase_order_no, :class => "k-textbox" %></td>

          <td></td>

          <td><b>Purpose *</b></td>
          <td><%= f.select :purpose, options_for_select({ "SALES" => SalesOrder::SALES }, @sales_order.purpose), { :include_blank => true }, { :class => "mkendo_combobox", "required validationMessage" => "Please Enter Purpose" } %></td>

          <td></td>

          <td><b>Exp Date</b></td>
          <td>
            <% if @sales_order.exp_date.present? %>
              <%= f.text_field :exp_date, :value => @sales_order.exp_date.strftime("%d-%m-%Y"), :class => "mkendo_date" %>
            <% else %>
              <%= f.text_field :exp_date, :class => "mkendo_date" %>
            <% end %>
          </td>
        </tr>
        
        <tr>
          <td><b>Sales Rep.</b></td>
          <td><%= f.text_field :sales_rep, :class => "k-textbox" %></td>
          <td></td>
          <td><b>Currency *</b></td>
          <td><%= f.select :currency_id, options_from_collection_for_select(currency, "id", "name", @sales_order.currency_id),{ :include_blank => true }, { :class => "mkendo_combobox", "required validationMessage" => "Please Enter Currency" } %></td>
        </tr>

        <tr>
          <td><b>Updated By</b></td>
          <td>
            <%= current_user.name %>
            <%= f.hidden_field :updated_by, :value => current_user.id %>
          </td>
          <td></td>
          <td><b>Trade Term *</b></td>
          <td><%= f.select :trade_term_id, options_from_collection_for_select(trade_term, "id", "name", @sales_order.trade_term_id), { :include_blank => true }, { :class => "mkendo_combobox", "required validationMessage" => "Please Enter Trade Term" } %></td>
        </tr>
      </table>
      
      <hr/>
  
      <%= render "new_sales_order_items", :sales_order => @sales_order %>
    </div>
    <%= render "action_sales_order_entry" %>
  </div>
<% end %>
  
<%= render "js_sales_order" %>
  
