<table class="white-line-table target_table">
  <thead>
    <tr style="background-color: gainsboro;">
      <th>Product ID</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>ETA Date</th>
      <th>Customer's P/O</th>
      <th>Part No.</th>
    </tr>
  </thead>

  <tbody>
    <% if sales_order.sales_order_items.present? %>
    

    <% else %>
      
      <tr class="<%= cycle('odd_line', 'even_line') %>">
      
        <td align="center" width="400"><%= select_tag "datarow[0][product_id]", options_for_select(product_finish_goods_with_combobox), :include_blank => true, :style => "width: 400px;", :onchange => "product_customer_data(this)" %></td>
        <td align="center" width="150"><%= text_field_tag "datarow[0][quantity]" %></td>
        <td align="center" width="150">
          <span id="unit_price_0"></span>
          <%= hidden_field_tag "datarow[0][unit_price]", '' %>
        </td>
        <td align="center" width="150"><%= text_field_tag "datarow[0][eta_date]", '', :placeholder => "dd-mm-yyyy" %></td>
        <td align="center" width="150"><%= text_field_tag "datarow[0][customer_po]", '' %></td>
        <td align="center" width="150"><%= text_field_tag "datarow[0][part_no]", '' %></td>        
        
      </tr>
      
    <% end %>
  </tbody>
</table>
