<table class="jgrid_popup zebraLight">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>Status</th>
      <th>Product ID</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Selling Price</th>
      <th>ETA Date</th>
      <!--th>Customer P/O</th-->
      <th>Part No</th>
      <th>Lot No.</th>
      <th>MFG Date</th>
      <th>EXP Date</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% array = [] %>

    <% items.each do |sales_order_item| %>
      <tr class="<%= cycle("odd_line", "even_line") %>" controllerName="sales_order_items" rowsId="<%= sales_order_item.id %>">
        <td></td>
        <td align="center"><%= SalesOrderItem.do_case(sales_order_item) %></td>
        <td class="t_product"><%= render "/product_categories/join_product_category", :pc => sales_order_item %></td>
        <td><%= sales_order_item.product.desc rescue '-' %></td>
        <td align="right"><%= no_precision(sales_order_item.quantity) rescue '-' %> <%= sales_order_item.unit_measurement.code rescue '-' %></td>
        <td align="right"><%= four_precision(sales_order_item.unit_price) %></td>
        <td align="center"><%= sales_order_item.eta.strftime("%d-%m-%Y") rescue '-' %></td>
        <!--td align="center"><%#= sales_order_item.customer_po rescue '-' %></td-->
        <td align="center"><%= sales_order_item.part_no rescue '-' %></td>
        <td align="center"><%= sales_order_item.lot_no rescue '-' %></td>
        <td align="center"><%= sales_order_item.mfg_date rescue '-' %></td>
        <td align="center"><%= sales_order_item.exp_date rescue '-' %></td>
        <td align="right"><%= iproduct(sales_order_item.unit_price, sales_order_item.quantity) %></td>
      </tr>
      <% array << sales_order_item.unit_price * sales_order_item.quantity %>
    <% end %>
      
    <tr class="footer_line">
      <td></td>
      <td colspan="10" align="right"><b>Total:</b></td>
      <td align="right"><%= two_precision(array.sum) %></td>
    </tr>
      
  </tbody>
</table>
  
  
  