<table id="grid_h495" class="white-line-table zebraLight">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>Sales Order No</th>
      <th>Trade company</th>
      <th>Updated By</th>
    </tr>
  </thead>

  <tbody>
    <% so.each do |sales_order| %>
      <tr class="<%= cycle("odd_line", "even_line") %>" controllerName="<%= controller_name %>" rowsId="<%= sales_order.id %>">
        <td></td>
        <td align="center"><%= sales_order.sales_order_no rescue '-' %></td>
        <td>[<%= sales_order.trade_company.code rescue '-' %>] <%= sales_order.trade_company.name rescue '-' %></td>
        <td align="center">
          <% updater = User.find(sales_order.updated_by)  %>
          <%= updater.name rescue '-' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>