<table id="grid_h495" class="white-line-table zebraLight">
  <thead>
    <tr class="header_line">
      <th>QR No.</th>
      <th>Status</th>
      <th>Customer company</th>
      <th>QRF date</th>
      <th>Description</th>
      <th>U/M</th>
      <th>Updated By</th>
    </tr>
  </thead>

  <tbody>
    
    <% quotations.each do |quotation_request_form| %>
      <% unless quotation_request_form.trade_company_id.blank? %>
        <% unless quotation_request_form.product.present? %>
          <tr class="<%= cycle("odd_line", "even_line") %>" controllerName="<%= controller_name %>" rowsId="<%= quotation_request_form.id %>">
            <td align="center"><%= quotation_request_form.quotation_request_no rescue '0' %></td>
            <td align="center">
              <% if quotation_request_form.status == QuotationRequestForm::PENDING %>
                PENDING
              <% elsif quotation_request_form.status == QuotationRequestForm::IN_PROCESS %>
                IN PROCESS
              <% elsif quotation_request_form.status == QuotationRequestForm::APPROVED %>
                APPROVED
              <% elsif quotation_request_form.status == QuotationRequestForm::KEEP_IN_VIEW %>
                KEEP IN VIEW
              <% elsif quotation_request_form.status == QuotationRequestForm::CONFIRMED %>
                CONFIRMED
              <% else %>
                -
              <% end %>
            </td>
            <td><%= quotation_request_form.trade_company.name rescue '-' %></td>
            <td align="center"><%= quotation_request_form.qrf_date.strftime("%d-%m-%Y") rescue '-' %></td>
            <td><%= quotation_request_form.description %></td>
            <td align="center"><%= quotation_request_form.unit_measurement.code rescue '-' %></td>
            <td align="center"><%= quotation_request_form.user.name rescue '-' %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
      
  </tbody>
</table>
