<ul id="k_menu">
  <li>
    Home (<strong><%= current_user.name %></strong>)
    <ul>
      <li style = "width:150px;"><%= link_to "Main", root_url %></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </li>

  <li>
    Purchase Management
    <ul>

      <!-- Purchase Flow - Purchase Requisition -->
      <% if roles.include?(InventoryManagementSystem::PR_MENU) %>
        <li style="width:150px;">
          Purchase Requisitions
          <ul>
            <% if roles.include?(InventoryManagementSystem::PR_TRANSACTION) %>
              <li><%= link_to "Purchase Requisitions Data", purchase_requisitions_path %></li>
            <% else %>
              <li class="disabled_menu">Purchase Requisitions Data</li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::PR_SIGNATURE) %>
              <li><%= link_to "Approve / Reject PRs Tasks", signature_report_purchase_requisitions_path %></li>
            <% else %>
              <li class="disabled_menu">Approve / Reject PRs Tasks</li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::PR_KIV_VIEW) %>
              <li><%= link_to "Purchase Requisitions Data - KIV", kiv_purchase_requisitions_path %></li>
            <% else %>
              <li class="disabled_menu">Purchase Requisitions Data - KIV</li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::PR_ITEMS_KIV_VIEW) %>
              <li><%= link_to "Purchase Requisition Items Data - KIV", kiv_purchase_requisition_items_path %></li>
            <% else %>
              <li class="disabled_menu">Purchase Requisition Items Data - KIV</li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_MENU) %>
        <li style="width:150px;">
          Purchase Orders
          <ul>
            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_TRANSACTION) %>
              <li><%= link_to "PO Transactions & Histories", purchase_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "PO Transactions & Histories" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_APPROVED_FROM_PR) %>
              <li><%= link_to "Approved From PR", approved_pr_purchase_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Approved From PR" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR) %>
              <li><%= link_to "PR-Repair", maintenance_purchase_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "PR-Repair" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR) %>
              <li><%= link_to "Proposed Vendor", proposed_vendor_purchase_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Proposed Vendor" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_SELECTION) %>
              <li><%= link_to "Vendor Selection", pending_approval_purchase_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Vendor Selection" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_VENDOR_REGISTRATION) %>
              <li><%= link_to "Vendor Registration", vendor_purchase_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Vendor Registration" %></li>
            <% end %>
          
            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PRODUCT_ID_REGISTRATION) %>
              <li><%= link_to "Product ID Registration (Non Operation and Operation)", no_product_id_purchase_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Product ID Registration (Non Operation and Operation)" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY) %>
              <li><%= link_to "PO Entry", make_purchase_order_purchase_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "PO Entry" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_KIV_VIEW) %>
              <li><%= link_to "Listing Purchase Orders - KIV", kiv_purchase_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Listing Purchase Orders - KIV" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_MENU) %>
        <li style="width:150px;">
          Received Notes
          <ul>
            <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <li><%= link_to "RN Transactions & Histories", receive_notes_path %></li>
            <% else %>
              <li><%= disabled_menu_style "RN Transactions & Histories" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_COMPLETED_VIEW_SHOW) %>
              <li><%= link_to "Received Notes Completed", info_receive_notes_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Received Notes Completed" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <li style="width:150px;">
            Purchase Report
            <ul>     
              <% if roles.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_MENU) %>
                  <% if roles.include?(InventoryManagementSystem::PURCHASE_REQUISITION_REPORT_MENU) %>
                <li><%= link_to "Purchase requisitions Report", pr_report_reports_path %></li>
                <% else %>
                  <li class="text_gray">Purchase Requisition Report</li> %>
                  <% end %>
                <li><%#= link_to "Monthly Purchae Analysis", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

                <li><%#= link_to "Purchase by Creditors", purchase_by_creditor_report_reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

              <li><%#= link_to "Purchase Part Transactions", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

              <li><%#= link_to "Prod Type Pure By Vendor", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

            <% end %>
            </ul>
        </li>  

        <li style="width:150px;">
            Purchase Order Report
            <ul>
               <%# if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_REPORT_MENU) %>
                  <%# if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_REPORT) %>
                <li><%#= link_to "Purchase Order Report", po_report_reports_path %></li>
                 
                <%# else %>
                <!-- <li class="text_gray">Purchase Order</li> -->
                <%# end %>
                <%# if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_REPORT_MENU) %>
                <li><%= link_to "Pruchase order Report", purchase_order_report_reports_path %></li>
                <li><%= link_to "Listing - Vendor Report", po_listing_vendor_report_reports_path %></li>


              <%# end %>
            </ul>
          </li>   

          <li style="width:150px;">
            Received Note Report
            <ul>
              <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_REPORT_MENU) %>
              <% if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_REPORT) %>
                <li><%= link_to "Received Note Report", receive_note_report_reports_path %></li>
                <% else %>
                <li class="text_gray">Received Note Report</li>
                <% end %>
                <li><%#= link_to "RN Part Summary Report", rn_part_summary_report_reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
                <% end %>
            </ul>
          </li>

      <%#*<li>%>
        <%#*Incoming Reject%>
        <%#*<ul>%>
          <%# if roles.include?(InventoryManagementSystem::INCOMING_REJECT_TRANSACTION) %>
            <%#*<li><%= link_to "Transactions", incoming_rejects_path %>
    <%#*</li>%>  
          <%# end %>

          <%# if roles.include?(InventoryManagementSystem::INCOMING_REJECT_NEW) %>
            <%#*<li><%= link_to "New", new_incoming_reject_path %>
    <%#*</li>%>
          <%# end %>
        <%#*</ul>%>
      <%#*</li>%>
    </ul>
  </li>

  <li>
    Sale Management
    <ul>
      <% if roles.include?(InventoryManagementSystem::QR_MENU) %>
        <li style="width:150px;">
          Quotation Requisition
          <ul>
            <% if roles.include?(InventoryManagementSystem::QR_TRANSACTION) %>
              <li><%= link_to "QR Transactions & Histories", quotation_request_forms_path %></li>
            <% else %>
              <li class="text_gray">QR Transactions & Histories</li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::QR_APPROVED_REJECT) %>
              <li><%= link_to 'Approve / Reject QRs Tasks', signature_quotation_quotation_request_forms_path %></li>
            <% else %>
              <li class="text_gray">Approve / Reject QRs Tasks</li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::QR_NEW_N_PENDING) %>
              <li><%= link_to 'New & Pending QRs', pending_quotation_quotation_request_forms_path %></li>
            <% else %>
              <li class="text_gray">New & Pending QRs</li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::QR_KIV) %>
              <li><%= link_to 'Listing Quotation Request - KIV', kiv_quotation_request_forms_path %></li>
            <% else %>
              <li class="text_gray">Listing Quotation Request - KIV</li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::QR_SIGNATURE_COSTING_KIV_MENU) %>
              <li><%= link_to 'Costing Sheet - KIV', kiv_costing_sheets_path %></li>
            <% else %>
              <li class="text_gray">Costing Sheet - KIV</li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::QR_CUSTOMER_FEEDBACK) %>
              <li><%= link_to "QR Customer Feedback", feedback_quotation_request_forms_path %></li>
            <% else %>
              <li class="text_gray">QR Customer Feedback</li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if roles.include?(InventoryManagementSystem::SO_MENU) %>
        <li style="width:150px;">
          Sales Order
          <ul>
            <% if roles.include?(InventoryManagementSystem::SO_TRANSACTION) %>
              <li><%= link_to "Sales Orders Data", sales_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Sales Orders Data" %></li>
            <% end %>
              
            <% if roles.include?(InventoryManagementSystem::SO_KIV) %>
              <li><%= link_to "Sales Orders Data - KIV", kiv_sales_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Sales Orders Data - KIV" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if roles.include?(InventoryManagementSystem::DO_MENU) %>
        <li style="width:150px;">
          Delivery Order
          <ul>
            <% if roles.include?(InventoryManagementSystem::DO_TRANSACTION) %>
              <li><%= link_to "Delivery Orders Data", delivery_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Delivery Orders Data" %></li>
            <% end %>
              
            <% if roles.include?(InventoryManagementSystem::DO_KIV) %>
              <li><%= link_to "Delivery Orders Data - KIV", kiv_delivery_orders_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Delivery Orders Data - KIV" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <li style="width:150px;">
          Sales Order Report
          <ul>

          <% if roles.include?(InventoryManagementSystem::SALES_ORDER_REPORT_MENU) %>
              <% if roles.include?(InventoryManagementSystem::SO_CUS_SUMMARY_REPORT) %>
            <li><%= link_to "Cus Summary Report", so_summary_report_reports_path %></li>
            <% else %>
              <li class="text_gray">Cus Summary Report</li>
            <% end %>

              <% if roles.include?(InventoryManagementSystem::SO_CUSTOMER_PO_DETAIL_REPORT) %>
            <li><%= link_to "Customer P/O Report", so_customer_po_detail_report_reports_path%></li>
            <% else %>
              <li class="text_gray">Cus P/O Report</li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::SO_LISTING_REPORT) %>
            <li><%= link_to "Sales Order Listing Report", so_listing_report_reports_path %></li>
            <% else %>
              <li class="text_gray">SO Listing Report</li>
            <% end %>
          <% end %>

          </ul>
        </li>

        <li style="width:150px;">
          Delivery Order Report
          <ul>
          <% if roles.include?(InventoryManagementSystem::DELIVERY_ORDER_REPORT_MENU) %>
              
            <% if roles.include?(InventoryManagementSystem::DO_INVOICE_DOCUMENTATION_REPORT) %>
            <li><%= link_to "Print D/O, Invoice", do_so_documentation_report_reports_path %></li>
            <% else %>
             <li><%= disabled_menu_style "Print D/O, Invoice" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::DO_SUMMARY_REPORT) %>

            <li><%= link_to "D/O Summary Report", do_summary_report_reports_path %></li>
              <% else %>
            <li><%= disabled_menu_style "D/O Summary Report" %></li>

            <% end %>

            <%# if roles.include?(InventoryManagementSystem::DO_INVOICE_DOCUMENTATION_REPORT) %>
            <li><%= link_to "Print Invoice History", history_invoices_path %></li>
            <%# else %>
             <!-- <li class="text_gray">Print D/O,Invoice Report</li> -->
            <%# end %>
          
            <% end %>
          </ul>


        </li>
        
    </ul>
  </li>

  <li>
    Stock Management
    <ul>

      <% if roles.include?(InventoryManagementSystem::INVENTORY_MENU) %>
        <li style="width:150px;">
          Inventories
          <ul>
            <% if roles.include?(InventoryManagementSystem::INVENTORY_TRANSACTION) %>
              <li><%= link_to "Inventories Data", inventory_histories_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Inventories Data" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::TRANSFER_NOTES) %>  
              <li><%= link_to "Transfer Notes Data", stock_outs_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Transfer Notes Data" %></li>
            <% end %>
              
            <% if roles.include?(InventoryManagementSystem::TRANSFER_NOTES_KIV_LISTING) %>  
              <li><%= link_to "Transfer Notes Data - KIV", kiv_stock_outs_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Transfer Notes Data - KIV" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <li style="width:150px;">
          Inventory Report
          <ul>
             <li><%= link_to "Inventory", inventory_report_reports_path %></li>
          </ul>
        </li>

    </ul>
  </li>
  
  <li>
    Custom
    <ul>
      <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_MENU) %>
        <li style="width:180px;">
          Sales Tax Exemption
          <ul>
            <!-- For Suppliers -->   
            <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_SUPPLIER) %>
              <li><%= link_to "Listing Sales Tax Exemption for Vendors", sales_tax_exemptions_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Listing Sales Tax Exemption for Vendors" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_SUPPLIER_INDEX_KIV) %>
              <li><%= link_to "Listing Sales Tax Exemption for Vendors - KIV", kiv_supplier_sales_tax_exemptions_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Listing Sales Tax Exemption for Vendors - KIV" %></li>
            <% end %>

            <li><hr/></li>

            <!-- For Customers -->
            <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_CUSTOMER) %>
              <li><%= link_to "Listing Sales Tax Exemption for Customers", customer_sales_tax_exemptions_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Listing Sales Tax Exemption for Customers" %></li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_CUSTOMER_INDEX_KIV) %>
              <li><%= link_to "Lisiting Sales Tax Exemption for Customers - KIV", kiv_customer_sales_tax_exemptions_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Listing Sales Tax Exemption for Customer - KIV" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if roles.include?(InventoryManagementSystem::FORMULATION_MENU) %>
        <li style="width:180px;">
          Unit Measurement Conventor
          <ul>
            <% if roles.include?(InventoryManagementSystem::FORMULATION_INDEX) %>
              <li><%= link_to "Listing Unit Measurement Conventor", formulations_path %></li>
            <% else %>
              <%= disabled_menu_style "Listing Unit Measurement Conventor" %>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::FORMULATION_INDEX_KIV) %>
              <li><%= link_to "Listing Unit Measurement Conventor - KIV", kiv_formulations_path %></li>
            <% else %>
              <li><%= disabled_menu_style "Listing Unit Measurement Conventor - KIV" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if roles.include?(InventoryManagementSystem::FORMULATION_FOR_COSTING_MENU) %>
        <li style="width:180px;">
          Costing Sheet
          <ul>
            <% if roles.include?(InventoryManagementSystem::FORMULATION_FOR_COSTING_SHOW) %>
              <li><%= link_to "Formulation", costing_sheet_formulations_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
            <% else %>
              <li class="text_gray">Formulation</li>
            <% end %>

            <%# if roles.include?(InventoryManagementSystem::FORMULATION_FOR_COSTING_SHOW) %>
              <li><%= link_to "KIV", kiv_costing_sheet_formulations_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
            <%# else %>
              <%#*<li class="text_gray">Formulation</li>%>
            <%# end %>
          </ul>
        </li>
      <% end %>

      <%# if roles.include?(InventoryManagementSystem::FORMULATION_FOR_COSTING_MENU) %>
        <!--li style="width:200px;">
          Subcon
          <ul>
            <%# if roles.include?(InventoryManagementSystem::FORMULATION_FOR_COSTING_SHOW) %>
              <li><%#= link_to "Listing Subcons", subcons_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
            <%# else %>
              <%#*<li class="text_gray">Formulation</li>%>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::FORMULATION_FOR_COSTING_SHOW) %>
              <li><%#= link_to "New Subcons", new_subcon_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
            <%# else %>
              <%#*<li class="text_gray">Formulation</li>%>
            <%# end %>
          </ul>
        </li-->
      <%# end %>

      <li style="width:180px;">
            Report
            <ul>
              <% if roles.include?(InventoryManagementSystem::CUSTOM_SALES_TAX_EXEMPTION_REPORT_MENU) %>
              <% if roles.include?(InventoryManagementSystem::CUSTOM_EXEMPTION_SUMMARY_REPORT) %>
             <li><%= link_to "Sales Tax Exemptions Report", sales_tax_exemption_report_reports_path %></li>
             <% else %>
              <li class="text_gray">Exemption Summary Report</li>
              <% end %>
              <%# if roles.include?(InventoryManagementSystem::CUSTOM_EXEMPTION_SUMMARY_REPORT) %>
             <li><%#= link_to "Sales Tax Exemptions Report", sales_tax_exemption_report_reports_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
             <%# else %>
              <!-- <li class="text_gray">Exemption Summary Report</li> -->
              <%# end %>
             <% end %>              

            </ul>
            
                        
      </li>

    </ul>
  </li>

  <li>
    Housekeeping
    <ul>
      <% if roles.include?(InventoryManagementSystem::COMPANY_PROFILE_MENU) %>
        <li><%= link_to "Company Profile", company_profiles_path %></li>
      <% else %>
        <li><%= disabled_menu_style("Company Profile") %></li>
      <% end %>

      <% if user_is_admin? %>
        <li>
          User
          <ul>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Users - KIV", kiv_users_path %></li>
            <!--li><%#= link_to "Clearing Database", clear_database_users_path, :confirm => "Are you sure to clear database?" %></li-->
          </ul>
        </li>
      <% end %>

      <% if roles.include?(InventoryManagementSystem::TRADE_COMPANY_MENU) %>
          <li>
            Trade Company
            <ul>
              <% unless action_name == "vendor" %>
                  <% if roles.include?(InventoryManagementSystem::VENDOR_LISTING) %>
                    <li><%= link_to "Suppliers", trade_companies_path %></li>
                  <% else %>
                    <li><%= disabled_menu_style("Suppliers") %></li>
                  <% end %>

                  <% if roles.include?(InventoryManagementSystem::VENDOR_KIV) %>
                    <li><%= link_to 'Suppliers - KIV', kiv_vendors_trade_companies_path %></li>
                  <% else %>
                    <li><%= disabled_menu_style("Suppliers - KIV") %></li>
                  <% end %>
              <% end %>

              <% if roles.include?(InventoryManagementSystem::CUSTOMER_LISTING) %>
                <li><%= link_to "Customers", customer_trade_companies_path %></li>
              <% else %>
                <li><%= disabled_menu_style("Customers") %></li>
              <% end %>

              <% if roles.include?(InventoryManagementSystem::CUSTOMER_KIV) %>
                <li><%= link_to 'Customers - KIV', kiv_customers_trade_companies_path %></li>
              <% else %>
                <li><%= disabled_menu_style("Customers - KIV") %></li>
              <% end %>
            </ul>
          </li>
      <% end %>

      <% if roles.include?(InventoryManagementSystem::PRODUCT_MENU) %>
        <li>
          Product ID
          <ul>
              <% if roles.include?(InventoryManagementSystem::LISTING_PRODUCT_ID) %>
                <li><%= link_to "Listing Product ID", product_comboboxes_path %></li>
              <% else %>
                <li><%= disabled_menu_style "Listing Product ID" %></li>
              <% end %>
            
              <% unless action_name == "no_product_id" %>
                <% if roles.include?(InventoryManagementSystem::PRODUCT_NON_OPERATION) %>
                  <li><%= link_to "Non Operation", non_operation_products_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
                <% else %>
                  <li><%= disabled_menu_style "Non Operation" %></li>
                <% end %>

                <% if roles.include?(InventoryManagementSystem::PRODUCT_OPERATION) %>
                  <li><%= link_to "Operation", operation_products_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
                <% else %>
                  <li><%= disabled_menu_style "Operation" %></li>
                <% end %>
              <% end %>
                
              <% if roles.include?(InventoryManagementSystem::PRODUCT_FINISH_GOOD) %>
                <li><%= link_to "Finish Goods", finish_good_products_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
              <% else %>
                <li><%= disabled_menu_style "Finish Goods" %></li>
              <% end %>

              <% if roles.include?(InventoryManagementSystem::KIV_PRODUCT_NON_OPERATION) %>
                <li><%= link_to "KIV Non Operation", kiv_non_operation_products_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
              <% else %>
                <li><%= disabled_menu_style "KIV Non Operation" %></li>
              <% end %>

              <% if roles.include?(InventoryManagementSystem::KIV_PRODUCT_OPERATION) %>
                <li><%= link_to "KIV Operation", kiv_operation_products_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
              <% else %>
                <li><%= disabled_menu_style "KIV Operation" %></li>
              <% end %>

              <% if roles.include?(InventoryManagementSystem::KIV_PRODUCT_FINISH_GOOD) %>
                <li><%= link_to "KIV Finish Goods", kiv_finish_good_products_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
              <% else %>
                <li><%= disabled_menu_style "KIV Finish Goods" %></li>
              <% end %>
          </ul>
        </li>
      <% end %>

      <% if user_is_admin? %>
        <li>
          General Term
          <ul>
            <li>
              Unit Measurements
              <ul>
                <li><%= link_to "Listing UM", unit_measurements_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
                <li><%= link_to "New UM", new_unit_measurement_path, :class => "show_without_refresh_page_800x450", "data-fancybox-type" => "iframe" %></li>
                <li><%= link_to "KIV UM", kiv_unit_measurements_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
              </ul>
            </li>
            <li>
              Currencies
              <ul>
                <li><%= link_to "Listing Currency", currencies_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
                <li><%= link_to "New Currency", new_currency_path, :class => "show_without_refresh_page_800x450", "data-fancybox-type" => "iframe" %></li>
                <li><%= link_to "KIV Currency", kiv_currencies_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
              </ul>
            </li>
            <li>
              Departments
              <ul>
                <li><%= link_to "Listing Departments", departments_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
                <li><%= link_to "New Department", new_department_path, :class => "show_without_refresh_page_800x450", "data-fancybox-type" => "iframe" %></li>
                <li><%= link_to "KIV Department", kiv_departments_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
              </ul>
            </li>
            <li>
              Trade Terms
              <ul>
                <li><%= link_to "Listing Trade Terms", trade_terms_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
                <li><%= link_to "New Trade Term", new_trade_term_path, :class => "show_without_refresh_page_800x450", "data-fancybox-type" => "iframe" %></li>
                <li><%= link_to "KIV Trade Term", kiv_trade_terms_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
              </ul>
            </li>
            <li>
              Transports
              <ul>
                <li><%= link_to "Listing Transports", transports_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
                <li><%= link_to "New Transport", new_transport_path, :class => "show_without_refresh_page_800x450", "data-fancybox-type" => "iframe" %></li>
                <li><%= link_to "KIV Transports", kiv_transports_path, :class => "show_without_refresh_page_800x600", "data-fancybox-type" => "iframe" %></li>
              </ul>
            </li>
          </ul>
        </li>
      <% end %>

      <!-- Housekeeping - Product Price Control -->
      <% if roles.include?(InventoryManagementSystem::PRICE_CONTROL_MENU) %>
        <li>
          Product Price Controls
          <ul>
            <% if roles.include?(InventoryManagementSystem::PRICE_CONTROL_CUSTOMER_LISTING) %>
              <li><%= link_to "Product Price Controls Data - Customers", product_customers_path %></li>
            <% else %>
              <li><%= disabled_menu_style("Product Price Controls Data - Customers") %></li>
            <% end %>

            <%# if roles.include?(InventoryManagementSystem::PRICE_CONTROL_LISTING_KIV) %>
              <!--li><%#= link_to "Product Price Controls Data - KIV", kiv_price_controls_path %></li-->
            <%# else %>
              <!--li class="disabled_menu">Product Price Controls Data - KIV</li-->
            <%# end %>
          </ul>
        </li>
      <% end %>

      <li>
        <%#*Change Status / Coding%>
        Change Coding
        <ul>
          <li><%= link_to "Listing Change Company Coding", change_company_codes_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
          <li><%= link_to "New Change Company Code", new_change_company_code_path, :class => "show_without_refresh_page_800x450", "data-fancybox-type" => "iframe" %></li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
      Report
      <ul>

          <li style="width:150px;">
            Listing Report
            <ul>
              <% if roles.include?(InventoryManagementSystem::LISTING_REPORT_MENU) %>
              <li><%#= link_to "Company", company_report_reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

              <li><%#= link_to "Category", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

              <li><%#= link_to "Sub-category", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

              <% if roles.include?(InventoryManagementSystem::LISTING_PRODUCT_ID_REPORT) %>
              <li><%= link_to "Product ID", product_report_reports_path %></li>
              <% else %>
              <li class="text_gray">Product ID</li>
              <% end %>

              <% if roles.include?(InventoryManagementSystem::LISTING_PRICE_REPORT) %>
              <li><%= link_to "Price", price_report_reports_path %></li>
               <% else %>
              <li class="text_gray">Listing Price</li>
              <% end %>

              <li><%#= link_to "Product - customer", customer_report_reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

              <% end %>
            </ul>
          </li>

          <li style="width:150px;">
            Stock Flow Tracking
            <ul>
                <li><%#= link_to "FG Transaction C/W U/P", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
                <li><%#= link_to "FG Transaction", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

            </ul>
          </li>

          <li style="width:150px;">
            Sales Report
            <ul>
                <li><%#= link_to "Daily Turnover", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

                <li><%#= link_to "Monthly Turnover", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

                <li><%#= link_to "sales Summary by S/Rep", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

                <li><%#= link_to "Daily Turnover By Product", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

                <li><%#= link_to "Monthly Turnover By Co.", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

                <li><%#= link_to "Customer Sales Analysis", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

              <li><%#= link_to "Prod Type Sales Analysis", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

              <li><%#= link_to "Sales Transactions By Prod(C/P)", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
            </ul>
          </li>

          <li style="width:150px;">
            Production Report
            <ul>
                <li><%#= link_to "A", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

                <li><%#= link_to "B", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>

              <li><%#= link_to "C", reports_path,:class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %></li>
            </ul>
          </li>

      </ul>
  </li>

  <li>
    Accounts
    <ul>

      <% if roles.include?(InventoryManagementSystem::AC_RECEIVABLE) %>
        <li style="width:150px;">
          A/C Receivable
          <ul>
            <%# if roles.include?(InventoryManagementSystem::PR_TRANSACTION) %>
              <!--li><%#= link_to "Sales Journal" %></li-->
            <%# else %>
              <li><%= disabled_menu_style "Sales Journal" %></li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::PR_SIGNATURE) %>
              <!--li><%#= link_to "Debtor Ledger" %></li-->
            <%# else %>
              <li><%= disabled_menu_style "Debtor Ledger" %></li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::PR_NEW) %>
              <!--li><%#= link_to "A/C Statement" %></li-->
            <%# else %>
              <li><%= disabled_menu_style "A/C Statement" %></li>
            <%# end %>

            <li>
              Payment Processing

              <ul>
                <% if roles.include?(InventoryManagementSystem::PAYMENT_RECEIVED_INDEX) %>
                  <li><%= link_to "Payment Received Record", payment_receiveds_path %></li>  
                <% else %>
                  <li><%= disabled_menu_style "Payment Received Record" %></li>
                <% end %>
                  
                <% if roles.include?(InventoryManagementSystem::PAYMENT_RECEIVED_KIV_INDEX) %>
                  <li><%= link_to "Payment Received Record - KIV", kiv_payment_receiveds_path %></li>
                <% else %>
                  <li><%= disabled_menu_style "Payment Received Record - KIV" %></li>
                <% end %>
                
                <% if roles.include?(InventoryManagementSystem::RECEIPT_INDEX) %>
                  <li><%= link_to "Receipts Record", receipts_path %></li>
                <% else %>
                  <li><%= disabled_menu_style "Receipts Record" %></li>
                <% end %>

                <% if roles.include?(InventoryManagementSystem::RECEIPT_KIV_INDEX) %>
                  <li><%= link_to "Receipts Record - KIV (Receipt Cancellation)", kiv_receipts_path %></li>
                <% else %>
                  <li><%= disabled_menu_style "Receipts Record - KIV (Receipt Cancellation)" %></li>
                <% end %>
                  
                <li><hr/></li>
                
                <li><%= link_to "Listing Payment Received By Debtor", list_debtor_payment_receiveds_path %></li>
                  
                <li><%= link_to "Listing Payment Received By Period", list_period_payment_receiveds_path %></li>
              </ul>
            </li>
            
            <li>
              Transaction Processing
              <ul>
                <% if roles.include?(InventoryManagementSystem::CREDIT_NOTE_INDEX) %>
                  <li><%= link_to "Credit Notes Data", credit_notes_path %></li>
                <% else %>
                  <li><%= disabled_menu_style "Credit Notes Data" %></li>
                <% end %>

                <% if roles.include?(InventoryManagementSystem::CREDIT_NOTE_KIV_INDEX) %>
                  <li><%= link_to "Credit Notes Data - KIV", kiv_credit_notes_path %></li>
                <% else %>
                  <li><%= disabled_menu_style "Credit Notes Data - KIV" %></li>
                <% end %>

                <% if roles.include?(InventoryManagementSystem::DEBIT_NOTE_INDEX) %>
                  <li><%= link_to "Debit Notes Data", debit_notes_path %></li>
                <% else %>
                  <li><%= disabled_menu_style "Debit Notes Data" %></li>
                <% end %>

                <% if roles.include?(InventoryManagementSystem::DEBIT_NOTE_KIV_INDEX) %>
                  <li><%= link_to "Debit Notes Data - KIV", kiv_debit_notes_path %></li>
                <% else %>
                  <li><%= disabled_menu_style "Debit Notes Data - KIV" %></li>
                <% end %>
              </ul>
            </li>

          </ul>
        </li>
      <% end %>

      <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_MENU) %>
        <li style="width:150px;">
          A/C Payable
          <ul>
            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Purchase Journal" %></li-->
            <%# else %>
              <li class="text_gray">Purchase Journal</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Creditors Ledger" %></li-->
            <%# else %>
              <li class="text_gray">Creditors Ledger</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Purchase Billing" %></li-->
            <%# else %>
              <li class="text_gray">Purchase Billing</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Payment Processing" %></li-->
            <%# else %>
              <li class="text_gray">Payment Processing</li>
            <%# end %>
          </ul>
        </li>
      <%# end %>

      <% if roles.include?(InventoryManagementSystem::AC_GENERAL) %>
        <li style="width:150px;">
          A/C General
          <ul>
            <li>
              General Journal
              <ul>
                <% if roles.include?(InventoryManagementSystem::AC_GENERAL_JV_DEBTOR_INDEX) %>
                  <li><%= link_to "Journal Voucher Data - Debtor", journal_vouchers_path %></li>
                <% else %>
                  <li><%= disabled_menu_style "Journal Voucher Data - Debtor" %></li>
                <% end %>
                  
                <% if roles.include?(InventoryManagementSystem::AC_GENERAL_JV_CREDITOR_INDEX) %>
                  <li><%= link_to "Journal Voucher Data - Creditor" %></li>
                <% else %>
                  <li><%= disabled_menu_style "Journal Voucher Data - Creditor" %></li>
                <% end %>
                  
                <% if roles.include?(InventoryManagementSystem::AC_GENERAL_JV_INDEX) %>
                  <li><%= link_to "Journal Voucher Data - General" %></li>
                <% else %>
                  <li><%= disabled_menu_style "Journal Voucher Data - General" %></li>
                <% end %>
              </ul>
            </li>
            
            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "General Ledger" %></li-->
            <%# else %>
              <li class="text_gray">General Ledger</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Posting G/L" %></li-->
            <%# else %>
              <li class="text_gray">Posting G/L</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Balance B/F" %></li-->
            <%# else %>
              <li class="text_gray">Balance B/F</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Trial Balance" %></li-->
            <%# else %>
              <li class="text_gray">Trial Balance</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Balance Sheet" %></li-->
            <%# else %>
              <li class="text_gray">Balance Sheet</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Trading And P&L A/C" %></li-->
            <%# else %>
              <li class="text_gray">Trading And P&L A/C</li>
            <%# end %>
          </ul>
        </li>
      <% end %>

      <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_MENU) %>
        <li style="width:150px;">
          Housekeeping
          <ul>
            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "A/C Sub Code" %></li-->
            <%# else %>
              <li class="text_gray">A/C Sub Code</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "A/C ID" %></li-->
            <%# else %>
              <li class="text_gray">A/C ID</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Company Profile" %></li-->
            <%# else %>
              <li class="text_gray">Company Profile</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Customer / Vendor Profile" %></li-->
            <%# else %>
              <li class="text_gray">Customer / Vendor Profile</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Bank" %></li-->
            <%# else %>
              <li class="text_gray">Bank</li>
            <%# end %>
          </ul>
        </li>
      <%# end %>

      <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_MENU) %>
        <li style="width:150px;">
          Listing
          <ul>
            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "A/C Sub Code" %></li-->
            <%# else %>
              <li class="text_gray">A/C Sub Code</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "A/C Coding" %></li-->
            <%# else %>
              <li class="text_gray">A/C Coding</li>
            <%# end %>

            <%# if roles.include?(InventoryManagementSystem::RECEIVE_NOTE_TRANSACTION) %>
              <!--li><%#= link_to "Creditors / Debtors" %></li-->
            <%# else %>
              <li class="text_gray">Creditors / Debtors</li>
            <%# end %>
          </ul>
        </li>

         <li style="width:150px;">
          Account Report

          <ul>
          <% if roles.include?(InventoryManagementSystem::ACCOUNT_REPORT_MENU) %>
            <% if roles.include?(InventoryManagementSystem::ACCOUNT_CN_DN_REPORT) %>
              <li><%= link_to "Debit Note Report" , debit_note_report_reports_path %></li>
            <% else %>
              <li class="text_gray">Debit Note Report</li>
            <% end %>

            <% if roles.include?(InventoryManagementSystem::ACCOUNT_CN_DN_REPORT) %>
             <li><%= link_to "Credit Note Report" , credit_note_report_reports_path %></li>
            <% else %>
              <li class="text_gray">Credit Note Report</li> 
            <% end %>

            <% if roles.include?(InventoryManagementSystem::ACCOUNT_DEBTOR_SALES_JOURNAL_REPORT) %>
              <li><%= link_to "Journal Sales Report" , journal_sales_report_reports_path %></li>
            <% else %>
              <li class="text_gray">Journel Sales Report</li>
            <% end %>

             <% if roles.include?(InventoryManagementSystem::ACCOUNT_PAYMENT_RECEIVED_REPORT) %>
              <li><%= link_to "Payment Received Report" , payment_received_report_reports_path %></li>
            <% else %>
              <li class="text_gray">Payment Received Report</li>
            <% end %>
          <% end %>
          </ul>
        </li>
      <%# end %>
    </ul>
  </li>
</ul>

<!--li><%#= link_to "Setting", settings_url %></li-->
<!--li><%#= link_to "Backup", backup_users_path, :confirm => "Are you sure you want to run backup now ?" %></li-->
<!--li><%#= link_to "Profile", profile_user_path(current_user.id) %></li-->
